/*
 * Copyright 1996 Bang Jun Young
 * Copyright 2005,2006,2007,2010 YunSong Hwang
 * Copyright 2006 Byeong-Sik Jeon 
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "cdlg.h"
#include "filedlgbrowser.h"

/*
 * WARNING: DO NOT CHANGE THE SIZE OF THE STANDARD DIALOG TEMPLATES.
 */

#pragma code_page(65001)

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

OPEN_FILE DIALOG 36, 24, 275, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "열기"
FONT 9, "MS Shell Dlg"
{
 LTEXT "파일 이름(&N):", stc3, 6, 6, 76, 9
 EDITTEXT edt1, 6, 16, 90, 12, ES_AUTOHSCROLL | ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
 LISTBOX lst1, 6, 32, 90, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "디렉토리(&D):", -1, 110, 6, 92, 9
 LTEXT "", stc1, 110, 18, 92, 9, SS_NOPREFIX | WS_GROUP
 LISTBOX lst2, 110, 32, 92, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "파일 형식 목록(&T):", stc2, 6, 104, 90, 9
 COMBOBOX cmb1, 6, 114, 90, 36, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "드라이브(&V):", stc4, 110, 104, 92, 9
 COMBOBOX cmb2, 110, 114, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "열기", IDOK, 208, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "취소", IDCANCEL, 208, 24, 56, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "도움말(&H)", pshHelp, 208, 46, 56, 14, WS_GROUP | WS_TABSTOP
 CHECKBOX "읽기 전용(&R)", chx1, 208, 68, 50, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


SAVE_FILE DIALOG 36, 24, 275, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "다른 이름으로 저장..."
FONT 9, "MS Shell Dlg"
{
 LTEXT "파일 이름(&N):", stc3, 6, 6, 76, 9
 EDITTEXT edt1, 6, 16, 90, 12, ES_AUTOHSCROLL | ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
 LISTBOX lst1, 6, 32, 90, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "디렉토리(&D):", -1, 110, 6, 92, 9
 LTEXT "", stc1, 110, 18, 92, 9, SS_NOPREFIX | WS_GROUP
 LISTBOX lst2, 110, 32, 92, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "파일 형식 목록(&T):", stc2, 6, 104, 90, 9
 COMBOBOX cmb1, 6, 114, 90, 36, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "드라이브(&V):", stc4, 110, 104, 92, 9
 COMBOBOX cmb2, 110, 114, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "다른 이름으로 저장", IDOK, 197, 6, 68, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "취소", IDCANCEL, 208, 24, 56, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "도움말(&H)", pshHelp, 208, 46, 56, 14, WS_GROUP | WS_TABSTOP
 CHECKBOX "읽기 전용(&R)", chx1, 208, 68, 50, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


PRINT DIALOG 36, 24, 264, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "인쇄"
FONT 9, "MS Shell Dlg"
{
 LTEXT "프린터:", stc1, 6, 6, 40, 9
 LTEXT "", stc2, 60, 6, 150, 9
 GROUPBOX "인쇄 범위", grp1, 6, 30, 160, 65, BS_GROUPBOX
 RADIOBUTTON "모두(&A)", rad1, 16, 45, 60, 12
 RADIOBUTTON "선택(&E)", rad2, 16, 60, 60, 12
 RADIOBUTTON "쪽(&P)", rad3, 16, 75, 60, 12
 DEFPUSHBUTTON "인쇄", IDOK, 206, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "취소", IDCANCEL, 206, 24, 56, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "설정(&S)", psh1, 206, 46, 56, 14, WS_GROUP | WS_TABSTOP
 LTEXT "시작(&F):", stc3, 60, 80, 30, 9
 LTEXT "끝(&T):", stc4, 120, 80, 30, 9
 LTEXT "인쇄 품질(&Q):", stc5, 6, 100, 76, 9
 COMBOBOX cmb1, 80, 100, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 CHECKBOX "파일로 인쇄(&L)", chx1,9, 116, 67, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "폭이 좁게", chx2, 181, 103, 51, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


PRINT_SETUP DIALOG 36, 24, 264, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "인쇄 설정"
FONT 9, "MS Shell Dlg"
{
 GROUPBOX "프린터", grp1, 6, 10, 180, 65, BS_GROUPBOX
 RADIOBUTTON "기본 프린터(&D)", rad1, 16, 20, 80, 12
 LTEXT "[없음]", stc1, 35, 35, 120, 9
 RADIOBUTTON "선택한 프린터(&P)", rad2, 16, 50, 80, 12
 COMBOBOX cmb1, 83, 50, 98, 19, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "확인", IDOK, 206, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "취소", IDCANCEL, 206, 24, 56, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "설정(&S)", psh1, 206, 46, 56, 14, WS_GROUP | WS_TABSTOP
 GROUPBOX "방향", grp2, 6, 85, 100, 50, BS_GROUPBOX
 RADIOBUTTON "세로(&R)", rad3, 50, 100, 40, 12
 RADIOBUTTON "가로(&L)", rad4, 50, 115, 40, 12
 ICON "LANDSCAP", stc10, 10, 95, 32, 32
 ICON "PORTRAIT", stc11, 10, 95, 32, 32
 GROUPBOX "종이", grp3, 120, 85, 180, 50, BS_GROUPBOX
 LTEXT "크기(&Z)", stc2, 130, 95, 30, 9
 LTEXT "원본(&S)", stc3, 130, 110, 30, 9
 COMBOBOX cmb2, 155, 95, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 COMBOBOX cmb3, 155, 110, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
}

 
CHOOSE_FONT DIALOG  13, 54, 264, 147
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "글꼴"
FONT 9, "MS Shell Dlg"
{
    LTEXT           "글꼴(&F):",stc1 ,6,3,40,9
    COMBOBOX        cmb1, 6,13,94,54,  CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE
    LTEXT           "글꼴 스타일(&Y):",stc2 ,108,3,59,9
    COMBOBOX        cmb2,108,13,64,54, CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE
    LTEXT           "크기(&S):",stc3,179,3,30,9
    COMBOBOX        cmb3,179,13,32,54, CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE | CBS_SORT
    DEFPUSHBUTTON   "확인",IDOK,218,6,40,14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "취소",IDCANCEL,218,23,40,14,WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "더하기(&A)", psh3,218,40,40,14,WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "도움말(&H)" , pshHelp,218,57,40,14,WS_GROUP | WS_TABSTOP
    GROUPBOX        "효과",grp1,6,72,84,34,WS_GROUP
    CHECKBOX	    "취소선(&K)", chx1, 10,82,50,10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX 	    "밑줄(&U)", chx2, 10,94,50,10, BS_AUTOCHECKBOX
    LTEXT           "색상(&C):", stc4 ,6,110,30,9
    COMBOBOX        cmb4,6,120,84,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS |
		    CBS_AUTOHSCROLL |  WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "샘플",grp2,98,72,120,36,WS_GROUP
    CTEXT           "AaBbYyZz",stc5,103,80,109,24,SS_NOPREFIX | NOT WS_VISIBLE
    LTEXT           "스크립트(&I):",stc7 ,98,114,40,9
    COMBOBOX        cmb5,98,124,120,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS |
		    CBS_AUTOHSCROLL |   WS_VSCROLL | WS_TABSTOP
}


CHOOSE_COLOR DIALOG 36, 24, 300, 185
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "색상"
FONT 9, "MS Shell Dlg"
{
 LTEXT "기본 색상(&B):",   stc1, 4,    4,  140, 10
 LTEXT "사용자 정의 색상(&C):",  stc2, 4,   106, 140, 10
 LTEXT "색상 | 단색(&I)",  stc3, 150, 151,  48, 10
 LTEXT   "빨강(&R):", 726 /*1094*/,249,126,27,10
 EDITTEXT 706, 277,124,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT   "녹색(&G):",727/*1095*/,249,140,27,10
 EDITTEXT 707, 277,138,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT   "파랑(&B):",728 /*1096*/,249,154,27,10
 EDITTEXT 708, 277,152,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "색상(&H):" ,723 /*1091*/,197,126,31,10
 EDITTEXT 703, 226,124,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "채도(&S):" ,724 /*1092*/,197,140,31,10
 EDITTEXT 704, 226,138,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "명도(&L):" ,725 /*1093*/,197,154,31,10
 EDITTEXT 705, 226,152,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 CONTROL "" ,720,"STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP,4,14,140,86
 CONTROL "" ,721,"STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP,4,116,140,28
 CONTROL "" ,710,"STATIC",WS_BORDER|SS_SIMPLE|WS_TABSTOP|WS_GROUP, 152,4,118,116
 CONTROL "" ,702,"STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP, 278,4,8,116
 CONTROL "" ,709,"STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP, 152,124,40,26
 DEFPUSHBUTTON "확인",  IDOK,  4, 166, 44, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "취소", IDCANCEL, 52, 166, 44, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "도움말", pshHelp,100,166, 44, 14
 PUSHBUTTON "사용자 정의 색상에 더하기(&A)",    712/*1024*/, 152, 166, 142, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "사용자 정의 색상 결정(&D) >>", 719/*1025*/,   4, 150, 142, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON  "&i",713,300,200,4,14   /* just a dummy:  'i' is  like  &i  in "sol&id"  */
}


FINDDLGORD DIALOG 36, 24, 236, 62
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "찾기"
FONT 9, "MS Shell Dlg"
{
 LTEXT "찾을 내용(&N):", -1, 4, 8, 42, 8
 EDITTEXT edt1, 47, 7, 128, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 CHECKBOX "단어 단위로(&W)", chx1, 4, 26, 100, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "대/소문자 구분(&C)", chx2, 4, 42, 74, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX "방향", grp1, 107, 26, 68, 28
 CONTROL "위로(&U)", rad1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 111, 38, 24, 12
 CONTROL "아래로(&D)", rad2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 38, 30, 12

 DEFPUSHBUTTON "다음 찾기(&F)", IDOK, 182,  5, 50, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "취소", IDCANCEL	 , 182, 23, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "도움말(&H)", pshHelp	 , 182, 45, 50, 14, WS_GROUP | WS_TABSTOP
}


REPLACEDLGORD DIALOG 36, 24, 230, 94
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "바꾸기"
FONT 9, "MS Shell Dlg"
{
 LTEXT "찾을 내용(&N):", -1, 4, 9, 48, 8
 EDITTEXT edt1, 54, 7, 114, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT "바꿀 내용(&P):", -1, 4, 26, 48, 8
 EDITTEXT edt2, 54, 24, 114, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 CHECKBOX "단어 단위로(&W)", chx1, 5, 46, 104, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "대/소문자 구분(&C)", chx2, 5, 62, 74, 12, BS_AUTOCHECKBOX | WS_TABSTOP

 DEFPUSHBUTTON "다음 찾기(&F)", IDOK, 174,  4, 50, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "바꾸기(&R)", psh1	 , 174, 21, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "모두 바꾸기(&A)", psh2 , 174, 38, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "취소", IDCANCEL	 , 174, 55, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "도움말(&H)", pshHelp	 , 174, 75, 50, 14, WS_GROUP | WS_TABSTOP
}


PRINT32 DIALOG  32, 32, 288, 186
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
      DS_CONTEXTHELP | DS_3DLOOK
CAPTION "인쇄"
FONT 9, "MS Shell Dlg"
{
    DEFPUSHBUTTON   "확인",     IDOK,     180,164, 48,14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "취소", IDCANCEL, 232,164, 48,14, WS_GROUP
    PUSHBUTTON      "도움말(&H)",  pshHelp,  50, 161, 48,14, WS_GROUP

    GROUPBOX        "프린터",        grp4,   8,  4, 272,84, WS_GROUP
    CONTROL         "파일로 인쇄(&L)", chx1, "Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,212,70,64,12
    PUSHBUTTON      "속성(&P)",    psh2, 212, 17,  60,14, WS_GROUP
    LTEXT           "이름(&N):",         stc6,  16, 20,  36,8
    COMBOBOX                          cmb4,  52, 18, 152,152,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "상태:",        stc8,  16, 36,  36,10, SS_NOPREFIX
    LTEXT           "더미 상태",    stc12, 52, 36, 224,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "형식:",          stc7,  16, 48,  36,10, SS_NOPREFIX
    LTEXT           "더미 형식",     stc11, 52, 48, 224,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "위치:",         stc10, 16, 60,  36,10, SS_NOPREFIX
    LTEXT           "더미 위치", stc14, 52, 60, 224,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "설명:",       stc9,  16, 72,  36,10, SS_NOPREFIX
    LTEXT           "더미 설명",   stc13, 52, 72, 152,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP

    GROUPBOX        "복사본",         grp2, 160, 92, 120,64, WS_GROUP
    LTEXT           "복사본 갯수(&C):",stc5,168,108,68,8
    ICON            "",               ico3, 162,124,  76,24, WS_GROUP | SS_CENTERIMAGE
    CONTROL         "정렬(&O)",       chx2,"Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,240,130,36,12
    EDITTEXT                          edt3, 240,106,  32,12, WS_GROUP | ES_NUMBER

    GROUPBOX        "인쇄 범위",    grp1,   8,92,  144,64, WS_GROUP
    CONTROL         "모두(&A)",           rad1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,16,106,64,12
    CONTROL         "페이지(&G)",         rad3,"Button",BS_AUTORADIOBUTTON,16,122,45,12
    CONTROL         "선택 영역(&S)",     rad2,"Button",BS_AUTORADIOBUTTON,16,138,64,12
    EDITTEXT                          edt1,  74,122,  26,12, WS_GROUP | ES_NUMBER
    EDITTEXT                          edt2, 118,122,  26,12, WS_GROUP | ES_NUMBER
    RTEXT           "시작(&F):",         stc2,  73,113,  27,8
    RTEXT           "끝(&T):",           stc3, 120,113,  22,8
}

PRINT32_SETUP DIALOG  32, 32, 288, 178
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
      DS_CONTEXTHELP | DS_3DLOOK
CAPTION "프린터 설정"
FONT 9, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,180,156,48,14,WS_GROUP
    PUSHBUTTON      "취소",IDCANCEL,232,156,48,14
/*    PUSHBUTTON      "네트워크...", psh5, 284,156,48,14 */

    GROUPBOX        "프린터",        grp4,   8,  4, 272,84, WS_GROUP
    PUSHBUTTON      "속성(&P)",    psh2, 212, 17,  60,14, WS_GROUP
    LTEXT           "이름(&N):",         stc6,  16, 20,  36,8
    COMBOBOX                          cmb1,  52, 18, 152,152,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "상태:",        stc8,  16, 36,  36,10, SS_NOPREFIX
    LTEXT           "더미 상태",    stc12, 52, 36, 224,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "형식:",          stc7,  16, 48,  36,10, SS_NOPREFIX
    LTEXT           "더미 형식",     stc11, 52, 48, 224,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "위치:",         stc10, 16, 60,  36,10, SS_NOPREFIX
    LTEXT           "더미 위치", stc14, 52, 60, 224,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "설명:",       stc9,  16, 72,  36,10, SS_NOPREFIX
    LTEXT           "더미 설명",   stc13, 52, 72, 224,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP

    GROUPBOX        "종이",          grp2,   8, 92, 164,56, WS_GROUP
    LTEXT           "크기(&Z):",         stc2,  16,108,  36, 8
    COMBOBOX                          cmb2,  52,106, 112,112,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "원본(&S):",       stc3,  16,128,  36, 8
    COMBOBOX                          cmb3,  52,126, 112,112,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP

    GROUPBOX        "방향",    grp1, 180, 92, 100,56, WS_GROUP
    ICON            "",               ico1, 195,112,  18,20, WS_GROUP
    CONTROL         "세로(&O)",      rad1,"Button",BS_AUTORADIOBUTTON | WS_GROUP |WS_TABSTOP,224,106,52,12
    CONTROL         "가로(&A)",     rad2,"Button",BS_AUTORADIOBUTTON,224,126,52,12
END

PAGESETUPDLGORD DIALOG 32, 32, 240, 240
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "페이지 설정"
FONT 9, "MS Shell Dlg"
BEGIN
  CONTROL "", rct1, "Static", SS_WHITERECT, 80, 8, 80, 80
  CONTROL "", rct2, "Static", SS_GRAYRECT, 160, 12, 4, 80
  CONTROL "", rct3, "Static", SS_GRAYRECT,  84, 88, 80, 4
  GROUPBOX "종이", grp2, 8, 96, 224, 56, BS_GROUPBOX
  LTEXT "크기(&S):", stc2, 16, 112, 36, 8
  COMBOBOX cmb2, 64, 110, 160, 160, CBS_SIMPLE|CBS_DROPDOWN|CBS_SORT|WS_GROUP|WS_TABSTOP|WS_VSCROLL
  LTEXT "트레이(&T):", stc3, 16, 132, 36, 8
  COMBOBOX cmb3, 64, 130, 160, 160, CBS_SIMPLE|CBS_DROPDOWN|CBS_SORT|WS_GROUP|WS_TABSTOP|WS_VSCROLL
  GROUPBOX "방향", grp1, 8, 156, 64, 56, BS_GROUPBOX
  AUTORADIOBUTTON "세로(&P)", rad1, 16, 170, 52, 12, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "가로(&L)", rad2, 16, 190, 52, 12, BS_AUTORADIOBUTTON
  GROUPBOX "가장자리", grp4, 80, 156, 152, 56, BS_GROUPBOX
  LTEXT "왼쪽(&E):", stc15, 82, 173, 28, 8
  EDITTEXT edt4, 111, 170, 39, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "오른쪽(&R):", stc16, 151, 172, 34, 8
  EDITTEXT edt6, 187, 170, 39, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "위(&O):", stc17, 88, 192, 21, 8
  EDITTEXT edt5, 111, 190, 39, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "아래(&B):", stc18, 154, 191, 31, 8
  EDITTEXT edt7, 187, 190, 39, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  DEFPUSHBUTTON "확인", IDOK, 71, 220, 50, 14, BS_PUSHBUTTON
  PUSHBUTTON "취소", IDCANCEL, 126, 220, 50, 14
  PUSHBUTTON "프린터(&R)...", psh3, 184, 220, 48, 14
END

NEWFILEOPENORD DIALOG 0, 0, 280, 164
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "열기"
FONT 9, "MS Shell Dlg"
{
    LTEXT	"보기(&I):",IDC_LOOKINSTATIC,4,6,43,8, SS_NOTIFY
    COMBOBOX	IDC_LOOKIN,49,3,132,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

    LTEXT	"" , IDC_TOOLBARSTATIC, 181, 2, 102, 17, NOT WS_GROUP | NOT WS_VISIBLE
    LISTBOX	IDC_SHELLSTATIC,4,20,272,85, LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | WS_HSCROLL | NOT WS_VISIBLE

    LTEXT	"파일 이름(&N):",IDC_FILENAMESTATIC,5,112,46,8, SS_NOTIFY
    EDITTEXT	IDC_FILENAME,54,110,155,12,ES_AUTOHSCROLL

    LTEXT	"파일 형식(&T):",IDC_FILETYPESTATIC,5,128,42,8, SS_NOTIFY
    COMBOBOX	IDC_FILETYPE,54,126,155,53,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL	"읽기 전용으로 열기(&R)",IDC_OPENREADONLY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,54,145,100,10

    DEFPUSHBUTTON	"열기(&O)",		 IDOK,222,110,50,14
    PUSHBUTTON		"취소",		 IDCANCEL,222,128,50,14
    PUSHBUTTON		"도움말(&H)",		 pshHelp,222,145,50,14
}

NEWFILEOPENV3ORD DIALOG 0, 0, 440, 300
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN |
      WS_THICKFRAME
CAPTION "열기"
FONT 8, "MS Shell Dlg"
{
    LTEXT           "파일 이름:", IDC_FILENAMESTATIC, 160, 240, 60, 9, SS_RIGHT
    EDITTEXT        IDC_FILENAME, 226, 240, 100, 12,  WS_CHILD | WS_VISIBLE | WS_TABSTOP

    LTEXT           "파일 형식:", IDC_FILETYPESTATIC, 160, 256, 60, 9, SS_RIGHT
    COMBOBOX        IDC_FILETYPE, 226, 256, 100, 12,  WS_CHILD | WS_VISIBLE | WS_TABSTOP |
                    CBS_HASSTRINGS | CBS_DROPDOWNLIST

    DEFPUSHBUTTON   "열기(&O)",  IDOK,     350, 240, 40, 14, WS_GROUP
    PUSHBUTTON      "취소", IDCANCEL, 395, 240, 40, 14
    PUSHBUTTON      "도움말(&H)",  pshHelp,  350, 272, 40, 14
}
