/*
 *  Task Manager
 *  German Language Support
 *
 *  Copyright 2005 Henning Gerhardt
 *
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

/*
 Menu
*/

IDR_TASKMANAGER MENU DISCARDABLE
BEGIN
    POPUP "&Datei"
    BEGIN
        MENUITEM "&Neuen Task (Ausf¸hren...)",          ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "B&eende Task Manager",          ID_FILE_EXIT
    END
    POPUP "&Optionen"
    BEGIN
        MENUITEM "&Immer im Vordergrund",              ID_OPTIONS_ALWAYSONTOP
        , CHECKED
        MENUITEM "&Minimieren nach Start",            ID_OPTIONS_MINIMIZEONUSE
        , CHECKED
        MENUITEM "&Verstecken, wenn minimiert",        ID_OPTIONS_HIDEWHENMINIMIZED
        , CHECKED
        MENUITEM "&Zeige 16-bit Tasks an",          ID_OPTIONS_SHOW16BITTASKS
        , CHECKED
    END
    POPUP "&Ansicht"
    BEGIN
        MENUITEM "Aktualisiere &jetzt",                ID_VIEW_REFRESH
        POPUP "&Aktualisierungsgeschwindigkeite"
        BEGIN
            MENUITEM "&Hoch",                       ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Normal",                     ID_VIEW_UPDATESPEED_NORMAL
            , CHECKED
            MENUITEM "Nie&drig",                        ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&Angehalten",                     ID_VIEW_UPDATESPEED_PAUSED

        END
        MENUITEM SEPARATOR
        MENUITEM "&Groﬂe Symbole",                ID_VIEW_LARGE
        MENUITEM "&Kleine Symbole",                ID_VIEW_SMALL
        MENUITEM "&Details",                    ID_VIEW_DETAILS, CHECKED
        MENUITEM "&W‰hle Spalten...",          ID_VIEW_SELECTCOLUMNS
        POPUP "&CPU Verlauf"
        BEGIN
            MENUITEM "&Ein Graph, Alle CPUs",        ID_VIEW_CPUHISTORY_ONEGRAPHALL

            MENUITEM "Ein Graph &pro CPU",          ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU
            , CHECKED
        END
        MENUITEM "&Zeige Kernel Zeiten an",          ID_VIEW_SHOWKERNELTIMES
    END
    POPUP "&Fenster"
    BEGIN
        MENUITEM "&‹bereinander",          ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "&Nebeneinander",            ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimieren",                   ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximieren",                   ID_WINDOWS_MAXIMIZE
        MENUITEM "Hinter&einander",                    ID_WINDOWS_CASCADE
        MENUITEM "&In der Vordergrund holen",             ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "&Hilfe"
    BEGIN
        MENUITEM "Task Manager &Hilfe Themen",   ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&‹ber Task Manager",         ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU DISCARDABLE
BEGIN
    MENUITEM "&‹bereinander",          ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "&Nebeneinander",            ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&Minimieren",                   ID_WINDOWS_MINIMIZE
    MENUITEM "Ma&ximieren",                   ID_WINDOWS_MAXIMIZE
    MENUITEM "Hinter&einander",                    ID_WINDOWS_CASCADE
    MENUITEM "&In den Vordergrund holen",             ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU DISCARDABLE
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Neuen Task (Ausf¸hren...)",          ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Groﬂe Symbole",                ID_VIEW_LARGE
        MENUITEM "&Kleine Symbole",                ID_VIEW_SMALL
        MENUITEM "&Details",                    ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU DISCARDABLE
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Wechsle zu",                  ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "&In den Vordergrund bringen",             ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "&‹bereinander",          ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "&Nebeneinander",            ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimieren",                   ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximieren",                   ID_WINDOWS_MAXIMIZE
        MENUITEM "Hinter&einander",                    ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "Task &beenden",                   ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Gehe zu Prozeﬂ",              ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU DISCARDABLE
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Wiederherstellen",               ID_RESTORE
        MENUITEM "&Schlieﬂen",                      ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Immer im Vordergrund",           ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU DISCARDABLE
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "Prozeﬂ &beenden",                ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "Beende Prozeﬂ&baum",           ID_PROCESS_PAGE_ENDPROCESSTREE

        MENUITEM "&Debuggen",                      ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "Setze &Priorit‰t"
        BEGIN
            MENUITEM "&Echtzeit",                   ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Hoch",                       ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "&Hˆher als Normal",                ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&Normal",                     ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "N&iedriger als Normal",                ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "Nie&drig",                        ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "Setze Affinit‰t...",            ID_PROCESS_PAGE_SETAFFINITY
	      MENUITEM "Editiere Debug &Kan‰le...",	ID_PROCESS_PAGE_DEBUGCHANNELS
    END
END

/*
 Dialog
*/

IDD_ABOUTBOX DIALOG DISCARDABLE  22, 17, 259, 210
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "‹ber Task Manager"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Task Manager v1.0\nCopyright (C) 1999 - 2001\nby Brian Palmer (brianp@reactos.org)",
                    IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,53,28,
                    122,26
    DEFPUSHBUTTON   "OK",IDOK,183,189,44,14,WS_GROUP
    ICON            IDI_TASKMANAGER,IDC_STATIC,19,30,20,20
    EDITTEXT        IDC_LICENSE_EDIT,53,63,174,107,ES_MULTILINE |
                    ES_READONLY | WS_VSCROLL
END

IDD_TASKMGR_DIALOG DIALOG DISCARDABLE  0, 0, 264, 246
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
    WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU |
    WS_THICKFRAME
CAPTION "Task Manager"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Tab1",IDC_TAB,"SysTabControl32",WS_TABSTOP,3,3,257,228
END

IDD_APPLICATION_PAGE DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_APPLIST,"SysListView32",LVS_REPORT |
                    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,7,233,177
    PUSHBUTTON      "&Neuer Task...",IDC_NEWTASK,187,189,53,14
    PUSHBUTTON      "&Wechsle zu",IDC_SWITCHTO,131,189,53,14,WS_DISABLED
    PUSHBUTTON      "&Beende Task",IDC_ENDTASK,75,189,53,14,WS_DISABLED
END

IDD_PROCESS_PAGE DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_PROCESSLIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_OWNERDATA |
                    WS_BORDER | WS_TABSTOP,7,7,233,177
    PUSHBUTTON      "&Beende Prozess",IDC_ENDPROCESS,171,189,69,14
    CONTROL         "&Zeige Prozesse aller Benutzern an",IDC_SHOWALLPROCESSES,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,191,121,10
END

/*IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210*/
IDD_PERFORMANCE_PAGE DIALOGEX DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "CPU-Auslastung",IDC_CPU_USAGE_FRAME,5,5,60,54,WS_TABSTOP, WS_EX_TRANSPARENT
    GROUPBOX        "Speicherausl.",IDC_MEM_USAGE_FRAME,5,63,60,54,BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX        "Insgesamt",IDC_TOTALS_FRAME,5,122,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "Commit Charge (K)",IDC_COMMIT_CHARGE_FRAME,5,166,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "Physikalischer Speicher (K)",IDC_PHYSICAL_MEMORY_FRAME,131,122,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "Kernel Speicher (K)",IDC_KERNEL_MEMORY_FRAME,131,166,111,39,0,WS_EX_TRANSPARENT
    LTEXT           "Handles",IDS_TOTALS_HANDLE_COUNT,12,131,27,8
    LTEXT           "Threads",IDS_TOTALS_THREAD_COUNT,12,140,27,8
    LTEXT           "Prozesse",IDS_TOTALS_PROCESS_COUNT,12,149,34,8
    EDITTEXT        IDC_TOTALS_HANDLE_COUNT,65,131,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_TOTALS_THREAD_COUNT,65,140,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_TOTALS_PROCESS_COUNT,65,149,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "Insgesamt",IDS_COMMIT_CHARGE_TOTAL,12,175,37,8
    LTEXT           "Limit",IDS_COMMIT_CHARGE_LIMIT,12,184,15,8
    LTEXT           "Spitze",IDS_COMMIT_CHARGE_PEAK,12,193,34,8
    EDITTEXT        IDC_COMMIT_CHARGE_TOTAL,65,174,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_COMMIT_CHARGE_LIMIT,65,184,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_COMMIT_CHARGE_PEAK,65,193,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "Insgesamt",IDS_PHYSICAL_MEMORY_TOTAL,137,131,37,8
    LTEXT           "Durchschnittlich",IDS_PHYSICAL_MEMORY_AVAILABLE,137,140,60,8
    LTEXT           "System Cache",IDS_PHYSICAL_MEMORY_SYSTEM_CACHE,137,149,46,8
    EDITTEXT        IDC_PHYSICAL_MEMORY_TOTAL,185,131,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_PHYSICAL_MEMORY_AVAILABLE,205,140,28,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_PHYSICAL_MEMORY_SYSTEM_CACHE,185,149,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "Insgesamt",IDS_KERNEL_MEMORY_TOTAL,137,174,37,8
    LTEXT           "Ausgelagert",IDS_KERNEL_MEMORY_PAGED,137,184,21,8
    LTEXT           "Nichtausgelagert",IDS_KERNEL_MEMORY_NONPAGED,137,193,64,8
    EDITTEXT        IDC_KERNEL_MEMORY_TOTAL,185,174,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_KERNEL_MEMORY_PAGED,185,184,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_KERNEL_MEMORY_NONPAGED,195,193,38,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    GROUPBOX        "Verlauf der CPU-Auslastung",IDC_CPU_USAGE_HISTORY_FRAME,74,5,168,54,0,WS_EX_TRANSPARENT
    GROUPBOX        "Verlauf der Speicherauslastung",IDC_MEMORY_USAGE_HISTORY_FRAME,74,63,168,54,0,WS_EX_TRANSPARENT
    PUSHBUTTON      "CPU-Auslastung Anzeige",IDC_CPU_USAGE_GRAPH,12,17,47,37,0,
		    WS_EX_CLIENTEDGE
    PUSHBUTTON      "Speicherauslastung Anzeige",IDC_MEM_USAGE_GRAPH,12,75,47,37,0,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "CPU-Auslastungsverlauf",IDC_CPU_USAGE_HISTORY_GRAPH,81,17,
                    153,37,0,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Speicherauslastungsverlauf",IDC_MEM_USAGE_HISTORY_GRAPH,81,75,
                    153,37,0,WS_EX_CLIENTEDGE
END

IDD_DEBUG_CHANNELS_DIALOG DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Debug Kan‰le"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_DEBUG_CHANNELS_LIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP |
		    LVS_SORTASCENDING,7,7,233,177
    PUSHBUTTON      "Schlieﬂen",IDOK,171,189,69,14
END

IDD_AFFINITY_DIALOG DIALOG DISCARDABLE  0, 0, 231, 154
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Prozessor Affinit‰t"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,120,133,50,14
    PUSHBUTTON      "Abbrechen",IDCANCEL,174,133,50,14
    LTEXT           "Die Prozessor Affinit‰t Einstellung kontrolliert, auf welchen CPU's der Prozeﬂ, die Erlaubnis hat, ausgef¸hrt werden zu kˆnnen.",
                    IDC_STATIC,5,5,220,16
    CONTROL         "CPU 0",IDC_CPU0,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    11,28,37,10
    CONTROL         "CPU 1",IDC_CPU1,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,41,37,10
    CONTROL         "CPU 2",IDC_CPU2,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,54,37,10
    CONTROL         "CPU 3",IDC_CPU3,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,67,37,10
    CONTROL         "CPU 4",IDC_CPU4,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,80,37,10
    CONTROL         "CPU 5",IDC_CPU5,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,93,37,10
    CONTROL         "CPU 6",IDC_CPU6,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,106,37,10
    CONTROL         "CPU 7",IDC_CPU7,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,119,37,10
    CONTROL         "CPU 8",IDC_CPU8,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,61,28,37,10
    CONTROL         "CPU 9",IDC_CPU9,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,61,41,37,10
    CONTROL         "CPU 10",IDC_CPU10,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,54,41,10
    CONTROL         "CPU 11",IDC_CPU11,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,67,41,10
    CONTROL         "CPU 12",IDC_CPU12,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,80,41,10
    CONTROL         "CPU 13",IDC_CPU13,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,93,41,10
    CONTROL         "CPU 14",IDC_CPU14,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,106,41,10
    CONTROL         "CPU 15",IDC_CPU15,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,119,41,10
    CONTROL         "CPU 16",IDC_CPU16,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,28,41,10
    CONTROL         "CPU 17",IDC_CPU17,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,41,41,10
    CONTROL         "CPU 18",IDC_CPU18,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,54,41,10
    CONTROL         "CPU 19",IDC_CPU19,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,67,41,10
    CONTROL         "CPU 20",IDC_CPU20,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,80,41,10
    CONTROL         "CPU 21",IDC_CPU21,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,93,41,10
    CONTROL         "CPU 22",IDC_CPU22,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,106,41,10
    CONTROL         "CPU 23",IDC_CPU23,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,119,41,10
    CONTROL         "CPU 24",IDC_CPU24,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,28,41,10
    CONTROL         "CPU 25",IDC_CPU25,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,41,41,10
    CONTROL         "CPU 26",IDC_CPU26,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,54,41,10
    CONTROL         "CPU 27",IDC_CPU27,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,67,41,10
    CONTROL         "CPU 28",IDC_CPU28,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,80,41,10
    CONTROL         "CPU 29",IDC_CPU29,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,93,41,10
    CONTROL         "CPU 30",IDC_CPU30,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,106,41,10
    CONTROL         "CPU 31",IDC_CPU31,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,119,41,10
END

IDD_COLUMNS_DIALOG DIALOG DISCARDABLE  0, 0, 245, 199
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "W‰hle Spalten"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,84,178,50,14
    PUSHBUTTON      "Abbrechen",IDCANCEL,138,178,50,14
    LTEXT           "W‰hle die Spalten aus, die auf der Prozeﬂ-Seite des Task Managers erscheinen sollen",     
                    IDC_STATIC,7,7,181,17
    CONTROL         "&Name",IDC_IMAGENAME,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,7,28,56,10
    CONTROL         "&PID (Prozeﬂ-ID)",IDC_PID,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,39,88,10
    CONTROL         "&CPU-Auslastung",IDC_CPUUSAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,50,90,10
    CONTROL         "CPU Z&eit",IDC_CPUTIME,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,61,48,10
    CONTROL         "S&peicherauslastung",IDC_MEMORYUSAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,72,95,10
    CONTROL         "&Ver‰nd. der Speicherauslastung",IDC_MEMORYUSAGEDELTA,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,83,115,10
    CONTROL         "&Maximale Speicherauslastung",IDC_PEAKMEMORYUSAGE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,94,115,10
    CONTROL         "Seiten&fehler",IDC_PAGEFAULTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,105,53,10
    CONTROL         "&Benutzer-Objekte",IDC_USEROBJECTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,116,90,10
    CONTROL         "I/O (Lesen)",IDC_IOREADS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,127,49,10
    CONTROL         "I/O - Bytes (Lesen)",IDC_IOREADBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,138,75,10
    CONTROL         "&Sitzungs-ID",IDC_SESSIONID,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,149,50,10
    CONTROL         "Benutzer&name",IDC_USERNAME,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,160,80,10
    CONTROL         "Ver‰n&d. der Seitenfehler",IDC_PAGEFAULTSDELTA,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,28,72,10
    CONTROL         "&Grˆﬂe des virt. Speichers",IDC_VIRTUALMEMORYSIZE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,39,105,10
    CONTROL         "Aus&gelagerter Pool",IDC_PAGEDPOOL,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,50,90,10
    CONTROL         "Nich&tausgelagerter Pool",IDC_NONPAGEDPOOL,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,61,105,10
    CONTROL         "Basisp&riorit‰t",IDC_BASEPRIORITY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,72,55,10
    CONTROL         "&Handle-Anzahl",IDC_HANDLECOUNT,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,83,59,10
    CONTROL         "&Thread-Anzahl",IDC_THREADCOUNT,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,94,59,10
    CONTROL         "GDI-Objekte",IDC_GDIOBJECTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,105,90,10
    CONTROL         "I/O (Schreiben)",IDC_IOWRITES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,116,90,10
    CONTROL         "I/O - Bytes (Schreiben)",IDC_IOWRITEBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,127,105,10
    CONTROL         "I/O (Andere)",IDC_IOOTHER,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,138,90,10
    CONTROL         "I/O - Bytes (Andere)",IDC_IOOTHERBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,149,105,10
END

/*
 String Table
*/

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_TITLE           "Task Manager"
    IDC_TASKMGR             "Task Manager"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_FILE_NEW                   "Starte ein neues Programm"
    ID_OPTIONS_ALWAYSONTOP        "Der Task Manager bleibt immer mit seinen gesamten Fenstern im Vordergrund, bis er minimiert wird"
    ID_OPTIONS_MINIMIZEONUSE      "Der Task Manager minimiert sich, wenn eine 'Wechsle zu' Operation ausgef¸hrt wird"
    ID_OPTIONS_HIDEWHENMINIMIZED  "Verstecke den Task Manager, wenn er minimiert ist"
    ID_VIEW_REFRESH               "Zwinge den Task Manager zu einer Aktualisierung, unabh‰nig von der Aktualisierungsgeschwindigkeit"
    ID_VIEW_LARGE                 "Zeige Tasks mit groﬂen Symbolen an"
    ID_VIEW_SMALL                 "Zeige Tasks mit kleinen Symbolen an"
    ID_VIEW_DETAILS               "Zeige detailierte Informationen ¸ber jeden einzelnen Task an"
    ID_VIEW_UPDATESPEED_HIGH      "Aktualisiert die Anzeige zweimal pro Sekunde"
    ID_VIEW_UPDATESPEED_NORMAL    "Aktualisiert die Anzeige aller 2 Sekunden"
    ID_VIEW_UPDATESPEED_LOW       "Aktualisiert die Anzeige aller 4 Sekunden"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED        "Nicht automatisch Aktualisieren"
    ID_WINDOWS_TILEHORIZONTALLY       "Stelle die Fenster ¸bereinander auf dem Desktop dar"
    ID_WINDOWS_TILEVERTICALLY         "Stelle die Fenster nebeneinander auf dem Desktop dar"
    ID_WINDOWS_MINIMIZE               "Minimiere die Fenster"
    ID_WINDOWS_MAXIMIZE               "Maximiere die Fenster"
    ID_WINDOWS_CASCADE                "Stelle die Fenster hintereinander auf dem Desktop dar"
    ID_WINDOWS_BRINGTOFRONT           "Hole das Fenster in den Vordergrund, aber wechsle nicht zu diesem"
    ID_HELP_TOPICS                    "Zeige die Hilfethemen des Task Managers an"
    ID_HELP_ABOUT                     "Zeige Programminformationen, Versionsnummer und Copyright an"
    ID_FILE_EXIT                      "Beende die Task Manager Anwendung"   
    ID_OPTIONS_SHOW16BITTASKS         "Zeige 16-bit Tasks under der Verwendung von ntvdm.exe an"
    ID_VIEW_SELECTCOLUMNS             "W‰hle, welche Spalten auf der Prozeﬂ-Seite sichtbar sein sollen"
    ID_VIEW_SHOWKERNELTIMES           "Zeige die Kernel-Zeiten im Leistungsgraphen an"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL    "Ein einzelner Verlaufsgraph zeigt die gesamte CPU-Auslastung an"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Jede CPU hat ihren eigenen Verlaufsgraphen"
    ID_APPLICATION_PAGE_SWITCHTO      "Holt den Task in den Vordergrund und wechselt den Fokus auf den Task"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_ENDTASK                              "Weist die ausgew‰hlten Tasks an, sich zu beenden"
    ID_GOTOPROCESS                          "Wechselt den Fokus zu dem Prozeﬂ des ausgew‰hlten Tasks"
    ID_RESTORE                              "Stellt den Task Manager von seiner versteckten Status wieder her"
    ID_PROCESS_PAGE_ENDPROCESS              "Entfernt den Prozeﬂ vom System"
    ID_PROCESS_PAGE_ENDPROCESSTREE          "Entfernt den Prozeﬂ und all seine Kindprozesse vom System"
    ID_PROCESS_PAGE_DEBUG                   "Heftet den Debugger an diesen Prozeﬂ an"
    ID_PROCESS_PAGE_SETAFFINITY             "Kontrolliert, auf welche Prozessoren ein Prozeﬂ ausgef¸hrt werden darf"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME    "Setzt den Prozeﬂ in die ECHTZEIT-Priorit‰tsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH        "Setzt den Prozeﬂ in die HOCH-Priorit‰tsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Setzt den Prozeﬂ in die H÷HER ALS NORMAL-Priorit‰tsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL      "Setzt den Prozeﬂ in die NORMAL-Priorit‰tsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Setzt den Prozeﬂ in die NIEDRIGER ALS NORMAL-Priorit‰tsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_LOW         "Setzt den Prozeﬂ in die NIEDRIG-Priorit‰tsklasse"
    IDS_LICENSE                             "This program is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.\r\n\r\nYou should have received a copy of the GNU Lesser General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA."
END
