/*
 *  Task Manager
 *
 *  Copyright 1999-2001 Brian Palmer
 *  Copyright 2005 YunSong Hwang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_KOREAN, SUBLANG_NEUTRAL

/*
 Menu
*/

IDR_TASKMANAGER MENU DISCARDABLE
BEGIN
    POPUP " 파일(&F)"
    BEGIN
        MENUITEM "새 작업(&N)( 실행...)",          ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "작업 관리자 나가기(&x)",          ID_FILE_EXIT
    END
    POPUP "옵션(&O)"
    BEGIN
        MENUITEM "항상 위에(&A)",              ID_OPTIONS_ALWAYSONTOP
        , CHECKED
        MENUITEM "최소화 상태로 사용(&M)",            ID_OPTIONS_MINIMIZEONUSE
        , CHECKED
        MENUITEM "최소화 상태일 때 숨기기(&H)",        ID_OPTIONS_HIDEWHENMINIMIZED
        , CHECKED
        MENUITEM "16-bit 작업 보여주기(&S)",          ID_OPTIONS_SHOW16BITTASKS
        , CHECKED
    END
    POPUP "보기l(&V)"
    BEGIN
        MENUITEM "지금 새로 읽기(&R)",                ID_VIEW_REFRESH
        POPUP "속도 업데이트(&U)"
        BEGIN
            MENUITEM "높음(&H)",                       ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "정상(&N)",                     ID_VIEW_UPDATESPEED_NORMAL
            , CHECKED
            MENUITEM "낮음(&L)",                        ID_VIEW_UPDATESPEED_LOW
            MENUITEM "정지(&P)",                     ID_VIEW_UPDATESPEED_PAUSED

        END
        MENUITEM SEPARATOR
        MENUITEM "큰 아이콘(&g)",                ID_VIEW_LARGE
        MENUITEM "작은 아이콘(&m)",                ID_VIEW_SMALL
        MENUITEM "상세히(&D)",                    ID_VIEW_DETAILS, CHECKED
        MENUITEM "세로 칸 선택(&S)...",          ID_VIEW_SELECTCOLUMNS
        POPUP "&CPU 기록"
        BEGIN
            MENUITEM "모든  CPU에 하나의 그래프",        ID_VIEW_CPUHISTORY_ONEGRAPHALL

            MENUITEM "각각의 CPU마따 하나의 그래프(&P)",          ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU
            , CHECKED
        END
        MENUITEM "커널 시간 보이기(&S)",          ID_VIEW_SHOWKERNELTIMES
    END
    POPUP "창(&W)"
    BEGIN
        MENUITEM "가로 바둑판 정렬(&H)",          ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "세로 바둑판 정렬(&V)",            ID_WINDOWS_TILEVERTICALLY
        MENUITEM "최소화(&M)",                   ID_WINDOWS_MINIMIZE
        MENUITEM "최대화(&x)",                   ID_WINDOWS_MAXIMIZE
        MENUITEM "정렬(&C)",                    ID_WINDOWS_CASCADE
        MENUITEM "앞으로 가져오기(&B)",             ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "도움말(&H)"
    BEGIN
        MENUITEM "작업 관리자 도움말 목차(&H)",   ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "작업관리자 정보(&A)",         ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU DISCARDABLE
BEGIN
    MENUITEM "가로 바둑판 정렬(&H)",          ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "세로 바둑판 정렬(&V)",            ID_WINDOWS_TILEVERTICALLY
    MENUITEM "최소화(&M)",                   ID_WINDOWS_MINIMIZE
    MENUITEM "최대화(&x)",                   ID_WINDOWS_MAXIMIZE
    MENUITEM "정렬(&C)",                    ID_WINDOWS_CASCADE
    MENUITEM "앞으로 가져오기(&B)",             ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU DISCARDABLE
BEGIN
    POPUP "더미"
    BEGIN
        MENUITEM "새 작업(&N) (실행...)",          ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "큰 아이콘(&g)",                ID_VIEW_LARGE
        MENUITEM "작은 아이콘(&m)",                ID_VIEW_SMALL
        MENUITEM "상세히(&D)",                    ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU DISCARDABLE
BEGIN
    POPUP "더미"
    BEGIN
        MENUITEM "전환(&S)",                  ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "앞으로 가져오기;(&B)",             ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "가로 바둑판으로 정렬(&H)",          ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "세로 바둑판으로 정렬(&V)",            ID_WINDOWS_TILEVERTICALLY
        MENUITEM "최소화(&M)",                   ID_WINDOWS_MINIMIZE
        MENUITEM "최대화(&x)",                   ID_WINDOWS_MAXIMIZE
        MENUITEM "정렬(&C)",                    ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "작업 끝(&E)",                   ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "프로세스로 가기(&G)",              ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU DISCARDABLE
BEGIN
    POPUP "더미"
    BEGIN
        MENUITEM "복구(&R)",                    ID_RESTORE
        MENUITEM "닫기(&C)",                      ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "항상 위에(&A)",              ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU DISCARDABLE
BEGIN
    POPUP "더미"
    BEGIN
        MENUITEM "작업 끝(&E)",                ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "작업 트리 끝(&T)",           ID_PROCESS_PAGE_ENDPROCESSTREE

        MENUITEM "디버그(&D)",                      ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "우선순위 설정(&P)"
        BEGIN
            MENUITEM "실시간(&R)",                   ID_PROCESS_PAGE_SETPRIORITY_REALTIME

            MENUITEM "높음(&H)",                       ID_PROCESS_PAGE_SETPRIORITY_HIGH

            MENUITEM "보통보다 위(&A)",                ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL

            MENUITEM "보통(&N)",                     ID_PROCESS_PAGE_SETPRIORITY_NORMAL

            MENUITEM "보통보다 아래(&B)",                ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL

            MENUITEM "낮음(&L)",                        ID_PROCESS_PAGE_SETPRIORITY_LOW

        END
        MENUITEM "친화도 설정(&A)...",            ID_PROCESS_PAGE_SETAFFINITY
	MENUITEM "디버그 채널 편집(&C)...",	ID_PROCESS_PAGE_DEBUGCHANNELS
    END
END

/*
 Dialog
*/

IDD_ABOUTBOX DIALOG DISCARDABLE  22, 17, 259, 210
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "작업 관리자 정보"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "작업 관리자 v1.0\nCopyright (C) 1999 - 2001\nby Brian Palmer (brianp@reactos.org)",
                    IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,53,28,
                    122,26
    DEFPUSHBUTTON   "확인",IDOK,183,189,44,14,WS_GROUP
    ICON            IDI_TASKMANAGER,IDC_STATIC,19,30,20,20
    EDITTEXT        IDC_LICENSE_EDIT,53,63,174,107,ES_MULTILINE |
                    ES_READONLY | WS_VSCROLL
END

IDD_TASKMGR_DIALOG DIALOG DISCARDABLE  0, 0, 264, 246
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
    WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU |
    WS_THICKFRAME
CAPTION "작업 관리자"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Tab1",IDC_TAB,"SysTabControl32",WS_TABSTOP,3,3,257,228
END

IDD_APPLICATION_PAGE DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_APPLIST,"SysListView32",LVS_REPORT |
                    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,7,233,177
    PUSHBUTTON      "새 작업(&N)...",IDC_NEWTASK,187,189,53,14
    PUSHBUTTON      "전환(&S)",IDC_SWITCHTO,131,189,53,14,WS_DISABLED
    PUSHBUTTON      "작업 끝냄(&E)",IDC_ENDTASK,75,189,53,14,WS_DISABLED
END

IDD_PROCESS_PAGE DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_PROCESSLIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_OWNERDATA |
                    WS_BORDER | WS_TABSTOP,7,7,233,177
    PUSHBUTTON      "작업 끝(&E)",IDC_ENDPROCESS,171,189,69,14
    CONTROL         "모든 사용자의 작업 보여주기(&S)",IDC_SHOWALLPROCESSES,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,191,111,10
END

/*IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210*/
IDD_PERFORMANCE_PAGE DIALOGEX DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "CPU 사용",IDC_CPU_USAGE_FRAME,5,5,60,54,WS_TABSTOP, WS_EX_TRANSPARENT
    GROUPBOX        "MEM 사용",IDC_MEM_USAGE_FRAME,5,63,60,54,BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX        "합계",IDC_TOTALS_FRAME,5,122,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "가상 메모리 (K)",IDC_COMMIT_CHARGE_FRAME,5,166,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "물리적 메모리 (K)",IDC_PHYSICAL_MEMORY_FRAME,131,122,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "커널 메모리 (K)",IDC_KERNEL_MEMORY_FRAME,131,166,111,39,0,WS_EX_TRANSPARENT
    LTEXT           "핸들",IDS_TOTALS_HANDLE_COUNT,12,131,27,8
    LTEXT           "쓰레드",IDS_TOTALS_THREAD_COUNT,12,140,27,8
    LTEXT           "작업",IDS_TOTALS_PROCESS_COUNT,12,149,34,8
    EDITTEXT        IDC_TOTALS_HANDLE_COUNT,65,131,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_TOTALS_THREAD_COUNT,65,140,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_TOTALS_PROCESS_COUNT,65,149,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "합계",IDS_COMMIT_CHARGE_TOTAL,12,175,27,8
    LTEXT           "제한",IDS_COMMIT_CHARGE_LIMIT,12,184,15,8
    LTEXT           "피크",IDS_COMMIT_CHARGE_PEAK,12,193,34,8
    EDITTEXT        IDC_COMMIT_CHARGE_TOTAL,65,174,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_COMMIT_CHARGE_LIMIT,65,184,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_COMMIT_CHARGE_PEAK,65,193,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "합계",IDS_PHYSICAL_MEMORY_TOTAL,137,131,27,8
    LTEXT           "가능한 양",IDS_PHYSICAL_MEMORY_AVAILABLE,137,140,30,8
    LTEXT           "시스템 캐쉬",IDS_PHYSICAL_MEMORY_SYSTEM_CACHE,137,149,46,8
    EDITTEXT        IDC_PHYSICAL_MEMORY_TOTAL,185,131,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_PHYSICAL_MEMORY_AVAILABLE,185,140,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_PHYSICAL_MEMORY_SYSTEM_CACHE,185,149,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "합계",IDS_KERNEL_MEMORY_TOTAL,137,174,27,8
    LTEXT           "페이지된",IDS_KERNEL_MEMORY_PAGED,137,184,21,8
    LTEXT           "페이지안된",IDS_KERNEL_MEMORY_NONPAGED,137,193,34,8
    EDITTEXT        IDC_KERNEL_MEMORY_TOTAL,185,174,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_KERNEL_MEMORY_PAGED,185,184,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_KERNEL_MEMORY_NONPAGED,185,193,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    GROUPBOX        "CPU 사용 기록",IDC_CPU_USAGE_HISTORY_FRAME,74,5,168,54,0,WS_EX_TRANSPARENT
    GROUPBOX        "메모리 사용 보여주기",IDC_MEMORY_USAGE_HISTORY_FRAME,74,63,168,54,0,WS_EX_TRANSPARENT
    PUSHBUTTON      "CPU 사용 보여주기",IDC_CPU_USAGE_GRAPH,12,17,47,37,0,
		    WS_EX_CLIENTEDGE
    PUSHBUTTON      "MEM 사용 보여주기",IDC_MEM_USAGE_GRAPH,12,75,47,37,0,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "CPU 사용 기록",IDC_CPU_USAGE_HISTORY_GRAPH,81,17,
                    153,37,0,WS_EX_CLIENTEDGE
    PUSHBUTTON      "MEM 사용 기록",IDC_MEM_USAGE_HISTORY_GRAPH,81,75,
                    153,37,0,WS_EX_CLIENTEDGE
END

IDD_DEBUG_CHANNELS_DIALOG DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "디버그 채널"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_DEBUG_CHANNELS_LIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP |
		    LVS_SORTASCENDING,7,7,233,177
    PUSHBUTTON      "닫기",IDOK,171,189,69,14
END

IDD_AFFINITY_DIALOG DIALOG DISCARDABLE  0, 0, 231, 154
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "프로세서 친화도"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,120,133,50,14
    PUSHBUTTON      "취소",IDCANCEL,174,133,50,14
    LTEXT           "프로세서 친화도 설정은 어떤 CPU가 프로세스를 실행시킬 지를 제어한다.",
                    IDC_STATIC,5,5,220,16
    CONTROL         "CPU 0",IDC_CPU0,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    11,28,37,10
    CONTROL         "CPU 1",IDC_CPU1,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,41,37,10
    CONTROL         "CPU 2",IDC_CPU2,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,54,37,10
    CONTROL         "CPU 3",IDC_CPU3,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,67,37,10
    CONTROL         "CPU 4",IDC_CPU4,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,80,37,10
    CONTROL         "CPU 5",IDC_CPU5,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,93,37,10
    CONTROL         "CPU 6",IDC_CPU6,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,106,37,10
    CONTROL         "CPU 7",IDC_CPU7,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,119,37,10
    CONTROL         "CPU 8",IDC_CPU8,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,61,28,37,10
    CONTROL         "CPU 9",IDC_CPU9,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,61,41,37,10
    CONTROL         "CPU 10",IDC_CPU10,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,54,41,10
    CONTROL         "CPU 11",IDC_CPU11,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,67,41,10
    CONTROL         "CPU 12",IDC_CPU12,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,80,41,10
    CONTROL         "CPU 13",IDC_CPU13,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,93,41,10
    CONTROL         "CPU 14",IDC_CPU14,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,106,41,10
    CONTROL         "CPU 15",IDC_CPU15,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,119,41,10
    CONTROL         "CPU 16",IDC_CPU16,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,28,41,10
    CONTROL         "CPU 17",IDC_CPU17,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,41,41,10
    CONTROL         "CPU 18",IDC_CPU18,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,54,41,10
    CONTROL         "CPU 19",IDC_CPU19,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,67,41,10
    CONTROL         "CPU 20",IDC_CPU20,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,80,41,10
    CONTROL         "CPU 21",IDC_CPU21,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,93,41,10
    CONTROL         "CPU 22",IDC_CPU22,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,106,41,10
    CONTROL         "CPU 23",IDC_CPU23,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,119,41,10
    CONTROL         "CPU 24",IDC_CPU24,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,28,41,10
    CONTROL         "CPU 25",IDC_CPU25,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,41,41,10
    CONTROL         "CPU 26",IDC_CPU26,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,54,41,10
    CONTROL         "CPU 27",IDC_CPU27,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,67,41,10
    CONTROL         "CPU 28",IDC_CPU28,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,80,41,10
    CONTROL         "CPU 29",IDC_CPU29,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,93,41,10
    CONTROL         "CPU 30",IDC_CPU30,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,106,41,10
    CONTROL         "CPU 31",IDC_CPU31,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,119,41,10
END

IDD_COLUMNS_DIALOG DIALOG DISCARDABLE  0, 0, 195, 199
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "세로줄 선택"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,84,178,50,14
    PUSHBUTTON      "취소",IDCANCEL,138,178,50,14
    LTEXT           "세로줄 선택은 작업 관리자의 작업 페이지에 나타날것입니다.",
                    IDC_STATIC,7,7,181,17
    CONTROL         "이미지 이름(&I)",IDC_IMAGENAME,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,7,28,56,10
    CONTROL         "&PID (작업 식별자)",IDC_PID,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,39,88,10
    CONTROL         "&CPU 사용",IDC_CPUUSAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,50,53,10
    CONTROL         "CPU 시간(&e)",IDC_CPUTIME,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,61,48,10
    CONTROL         "메모리 사용(&M)",IDC_MEMORYUSAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,72,63,10
    CONTROL         "메모리 사용 델타(&D)",IDC_MEMORYUSAGEDELTA,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,83,82,10
    CONTROL         "피크 메모리 사용(&k)",IDC_PEAKMEMORYUSAGE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,94,82,10
    CONTROL         "페이지 실패(&F)",IDC_PAGEFAULTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,105,53,10
    CONTROL         "사용자 객체(&U)",IDC_USEROBJECTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,116,62,10
    CONTROL         "I/O 읽기",IDC_IOREADS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,127,49,10
    CONTROL         "I/O 읽기 바이트",IDC_IOREADBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,138,65,10
    CONTROL         "세션 ID(&S)",IDC_SESSIONID,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,149,50,10
    CONTROL         "사용자 이름(&N)",IDC_USERNAME,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,160,51,10
    CONTROL         "페이지 실패 델타(&a)",IDC_PAGEFAULTSDELTA,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,107,28,72,10
    CONTROL         "가상 메모리 크기(&V)",IDC_VIRTUALMEMORYSIZE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,107,39,77,10
    CONTROL         "페이지 풀(&g)",IDC_PAGEDPOOL,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,107,50,53,10
    CONTROL         "비 페이지 풀(&o)",IDC_NONPAGEDPOOL,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,107,61,67,10
    CONTROL         "기본 우선권(&r)",IDC_BASEPRIORITY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,107,72,55,10
    CONTROL         "핸들 카운트(&H)",IDC_HANDLECOUNT,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,107,83,59,10
    CONTROL         "쓰레드 카운트(&T)",IDC_THREADCOUNT,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,107,94,59,10
    CONTROL         "GDI 객체",IDC_GDIOBJECTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,107,105,55,10
    CONTROL         "I/O 쓰기",IDC_IOWRITES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,107,116,49,10
    CONTROL         "I/O 쓰기 바이트",IDC_IOWRITEBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,107,127,65,10
    CONTROL         "I/O 기타",IDC_IOOTHER,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,107,138,46,10
    CONTROL         "I/O 기타 바이트",IDC_IOOTHERBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,107,149,65,10
END

/*
 String Table
*/

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_TITLE           "작업 관리자"
    IDC_TASKMGR             "작엄 관리자"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_FILE_NEW             "새 풀그림 실행"
    ID_OPTIONS_ALWAYSONTOP  "작업관리자는 최소화 되지 않는 한 다른 창 앞에 있게 됩니다"
    ID_OPTIONS_MINIMIZEONUSE
                            "작엄관리자는 전환 작업이 완료될 때 최소화됩니다"
    ID_OPTIONS_HIDEWHENMINIMIZED "작업관리자가 최소하 될 때 숨기기"
    ID_VIEW_REFRESH         "업데이트 속도 설정과는 상관없이 작업관리자 강제로 업데이트"
    ID_VIEW_LARGE           "큰 아이콘 사용해서 작업 관리자 보여줌"
    ID_VIEW_SMALL           "작은 아이콘 사용해서 작업 관리자 보여줌"
    ID_VIEW_DETAILS         "각각의 작업 정보 보여줌"
    ID_VIEW_UPDATESPEED_HIGH "1초에 2번 디스플레이 새로 고침"
    ID_VIEW_UPDATESPEED_NORMAL "2초마다 디스플레이 새로 고침"
    ID_VIEW_UPDATESPEED_LOW "4초마다 디스플레이 새로 고침"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "자동으로 업데이트 할 수 없습니다"
    ID_WINDOWS_TILEHORIZONTALLY
                            "데스크탑에 창 가로 바둑판 정렬"
    ID_WINDOWS_TILEVERTICALLY "데스크탑에 창 세로 바둑판 정렬"
    ID_WINDOWS_MINIMIZE     "창 최소화"
    ID_WINDOWS_MAXIMIZE     "창 최대화"
    ID_WINDOWS_CASCADE      "데스크탑에 창 대각선으로 정렬"
    ID_WINDOWS_BRINGTOFRONT "차을 앞으로 옮기나, 전환하지는 않음"
    ID_HELP_TOPICS          "작엄 관리자 도움물 목차 보여주기"
    ID_HELP_ABOUT           "풀그림 정보,버젼 그리고 저작권 보여주기"
    ID_FILE_EXIT            "작엄 관리자 풀그림 나가기"
    ID_OPTIONS_SHOW16BITTASKS
                            " ntvdm.exe 연결 밑의 16비트 작업 보여주기"
    ID_VIEW_SELECTCOLUMNS   "세로줄 선택은 작업페이지의 보여주게 될 것입니다"
    ID_VIEW_SHOWKERNELTIMES "성능 그래프의 커널 타입 보여주기"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL
                            "모든 CPU  사용을 하나의 기록 그래프로 보여주기"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "각각 CPU를  각자의 기록 그래프로 보여주기"
    ID_APPLICATION_PAGE_SWITCHTO
                            "작업을 앞으로 가져오고, 초점을 그 작업으로 이동"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_ENDTASK              "선택한 작업을 닫으라고 말하기"
    ID_GOTOPROCESS          "선택된 태스크의 작업으로 초점 전환"
    ID_RESTORE              "숨은 상태에서 작업관리자 복귀"
    ID_PROCESS_PAGE_ENDPROCESS "시스템에서 작업 제거"
    ID_PROCESS_PAGE_ENDPROCESSTREE
                            "작업과 시스템으로부터의 모든 자식 프로세스를 제거"
    ID_PROCESS_PAGE_DEBUG   "프로세스에 디버거 부착"
    ID_PROCESS_PAGE_SETAFFINITY
                            "각각의 프로세서를 제어하는 것은 작업이 실행되도록 허용할 것입니다"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME
                            "작업을 실시간 순위 클래스로 설정"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "작업을 높은 순위 클래스로 설정"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
                            "작업을 보통보다 높은 순위 클래스로 설정"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL
                            "작업을 보통 순위 클래스로 설정"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
                            "작업을 보통보다 낮은 순위 클래스로 설정"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "작업을 낮은 순위 클래스로 설정"
    IDS_LICENSE             "This program is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.\r\n\r\nYou should have received a copy of the GNU Lesser General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA."
END
