/*
 *  Task Manager
 *  Dutch Language Support
 *
 *  Copyright 2005 Hans Leidekker
 *
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL

/*
 Menu
*/

IDR_TASKMANAGER MENU DISCARDABLE
BEGIN
    POPUP "&Bestand"
    BEGIN
        MENUITEM "&Nieuwe taak (Uitvoeren...)",     ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "B&eëindig Task Manager",          ID_FILE_EXIT
    END
    POPUP "&Opties"
    BEGIN
        MENUITEM "&Altijd op de voorgrond",              ID_OPTIONS_ALWAYSONTOP
        , CHECKED
        MENUITEM "&Minimaliseren bij de start",          ID_OPTIONS_MINIMIZEONUSE
        , CHECKED
        MENUITEM "&Verbergen, indien geminimaliseerd",   ID_OPTIONS_HIDEWHENMINIMIZED
        , CHECKED
        MENUITEM "&Toon 16-bit taken",                   ID_OPTIONS_SHOW16BITTASKS
        , CHECKED
    END
    POPUP "&Beeld"
    BEGIN
        MENUITEM "Ververs &nu",                     ID_VIEW_REFRESH
        POPUP "&Verversingstempo"
        BEGIN
            MENUITEM "&Hoog",                       ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Normaal",                    ID_VIEW_UPDATESPEED_NORMAL
            , CHECKED
            MENUITEM "&Laag",                       ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&Pause",                      ID_VIEW_UPDATESPEED_PAUSED

        END
        MENUITEM SEPARATOR
        MENUITEM "&Grote symbolen",         ID_VIEW_LARGE
        MENUITEM "&Kleine symbolen",        ID_VIEW_SMALL
        MENUITEM "&Details",                ID_VIEW_DETAILS, CHECKED
        MENUITEM "&Selecteer rijen...",     ID_VIEW_SELECTCOLUMNS
        POPUP "&CPU historie"
        BEGIN
            MENUITEM "&Eén grafiek, alle CPUs",     ID_VIEW_CPUHISTORY_ONEGRAPHALL

            MENUITEM "Eén grafiek &per CPU",        ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU
            , CHECKED
        END
        MENUITEM "&Toon kerneltijden",              ID_VIEW_SHOWKERNELTIMES
    END
    POPUP "&Venster"
    BEGIN
        MENUITEM "&Boven elkaar",               ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "&Naast elkaar",               ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimaliseren",              ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&xmimaliseren",             ID_WINDOWS_MAXIMIZE
        MENUITEM "&Achter elkaar",              ID_WINDOWS_CASCADE
        MENUITEM "Naar de &voorgrond halen",    ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Task Manager &helponderwerpen",   ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Over Task Manager",              ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU DISCARDABLE
BEGIN
    MENUITEM "&Boven elkaar",               ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "&Naast elkaar",               ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&Minimaliseren",              ID_WINDOWS_MINIMIZE
    MENUITEM "Ma&ximaliseren",              ID_WINDOWS_MAXIMIZE
    MENUITEM "&Achter elkaar",              ID_WINDOWS_CASCADE
    MENUITEM "Naar de &voorgrond halen",    ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU DISCARDABLE
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Nieuwe taak (uitvoeren...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Grote symbolen",             ID_VIEW_LARGE
        MENUITEM "&Kleine symbolen",            ID_VIEW_SMALL
        MENUITEM "&Details",                    ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU DISCARDABLE
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Wissel naar",                ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "Naar de &voorgrond brengen",  ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "&Boven elkaar",               ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "&Naast elkaar",               ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimaliseren",              ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximaliseren",              ID_WINDOWS_MAXIMIZE
        MENUITEM "&Achter elkaar",              ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "Taak &beëindigen",            ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Ga naar proces",             ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU DISCARDABLE
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Herstellen",                 ID_RESTORE
        MENUITEM "&Sluiten",                    ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Altijd op de voorgrond",     ID_OPTIONS_ALWAYSONTOP, CHECKED
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU DISCARDABLE
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "Proces &beëindigen",              ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "&Beëindig procesboom",            ID_PROCESS_PAGE_ENDPROCESSTREE

        MENUITEM "&Debuggen",                       ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "&Prioriteit zetten"
        BEGIN
            MENUITEM "&Realtime",                   ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Hoog",                       ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "H&oger dan normaal",          ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&Normaal",                    ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "&Lager dan normaal",          ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "L&aag",                       ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "&Affiniteit instellen...",        ID_PROCESS_PAGE_SETAFFINITY
	      MENUITEM "Debug&kanalen instellen...",	ID_PROCESS_PAGE_DEBUGCHANNELS
    END
END

/*
 Dialog
*/

IDD_ABOUTBOX DIALOG DISCARDABLE  22, 17, 259, 210
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Over Task Manager"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Task Manager v1.0\nCopyright (C) 1999 - 2001\nby Brian Palmer (brianp@reactos.org)",
                    IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,53,28,
                    122,26
    DEFPUSHBUTTON   "OK",IDOK,183,189,44,14,WS_GROUP
    ICON            IDI_TASKMANAGER,IDC_STATIC,19,30,20,20
    EDITTEXT        IDC_LICENSE_EDIT,53,63,174,107,ES_MULTILINE |
                    ES_READONLY | WS_VSCROLL
END

IDD_TASKMGR_DIALOG DIALOG DISCARDABLE  0, 0, 264, 246
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
    WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU |
    WS_THICKFRAME
CAPTION "Task Manager"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Tab1",IDC_TAB,"SysTabControl32",WS_TABSTOP,3,3,257,228
END

IDD_APPLICATION_PAGE DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_APPLIST,"SysListView32",LVS_REPORT |
                    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,7,233,177
    PUSHBUTTON      "&Nieuwe taak...",IDC_NEWTASK,187,189,53,14
    PUSHBUTTON      "&Wissel naar",IDC_SWITCHTO,131,189,53,14,WS_DISABLED
    PUSHBUTTON      "&Beëindig taak",IDC_ENDTASK,75,189,53,14,WS_DISABLED
END

IDD_PROCESS_PAGE DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_PROCESSLIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_OWNERDATA |
                    WS_BORDER | WS_TABSTOP,7,7,233,177
    PUSHBUTTON      "&Beëindig proces",IDC_ENDPROCESS,171,189,69,14
    CONTROL         "&Toon processen van alle gebruikers",IDC_SHOWALLPROCESSES,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,191,121,10
END

/*IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210*/
IDD_PERFORMANCE_PAGE DIALOGEX DISCARDABLE  0, 0, 247, 210
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "CPU-gebruik",IDC_CPU_USAGE_FRAME,5,5,60,54,WS_TABSTOP, WS_EX_TRANSPARENT
    GROUPBOX        "Geheugengebruik",IDC_MEM_USAGE_FRAME,5,63,60,54,BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX        "Totaal",IDC_TOTALS_FRAME,5,122,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "Commit Charge (K)",IDC_COMMIT_CHARGE_FRAME,5,166,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "Fysiek geheugen (K)",IDC_PHYSICAL_MEMORY_FRAME,131,122,111,39,0,WS_EX_TRANSPARENT
    GROUPBOX        "Kernel geheugen (K)",IDC_KERNEL_MEMORY_FRAME,131,166,111,39,0,WS_EX_TRANSPARENT
    LTEXT           "Handles",IDS_TOTALS_HANDLE_COUNT,12,131,27,8
    LTEXT           "Threads",IDS_TOTALS_THREAD_COUNT,12,140,27,8
    LTEXT           "Processen",IDS_TOTALS_PROCESS_COUNT,12,149,34,8
    EDITTEXT        IDC_TOTALS_HANDLE_COUNT,65,131,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_TOTALS_THREAD_COUNT,65,140,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_TOTALS_PROCESS_COUNT,65,149,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "Totaal",IDS_COMMIT_CHARGE_TOTAL,12,175,37,8
    LTEXT           "Limiet",IDS_COMMIT_CHARGE_LIMIT,12,184,15,8
    LTEXT           "Piek",IDS_COMMIT_CHARGE_PEAK,12,193,34,8
    EDITTEXT        IDC_COMMIT_CHARGE_TOTAL,65,174,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_COMMIT_CHARGE_LIMIT,65,184,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_COMMIT_CHARGE_PEAK,65,193,45,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "Totaal",IDS_PHYSICAL_MEMORY_TOTAL,137,131,37,8
    LTEXT           "Gemiddeld",IDS_PHYSICAL_MEMORY_AVAILABLE,137,140,60,8
    LTEXT           "Systeemcache",IDS_PHYSICAL_MEMORY_SYSTEM_CACHE,137,149,46,8
    EDITTEXT        IDC_PHYSICAL_MEMORY_TOTAL,185,131,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_PHYSICAL_MEMORY_AVAILABLE,205,140,28,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_PHYSICAL_MEMORY_SYSTEM_CACHE,185,149,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    LTEXT           "Totaal",IDS_KERNEL_MEMORY_TOTAL,137,174,37,8
    LTEXT           "In swap",IDS_KERNEL_MEMORY_PAGED,137,184,21,8
    LTEXT           "Niet in swap",IDS_KERNEL_MEMORY_NONPAGED,137,193,64,8
    EDITTEXT        IDC_KERNEL_MEMORY_TOTAL,185,174,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_KERNEL_MEMORY_PAGED,185,184,48,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    EDITTEXT        IDC_KERNEL_MEMORY_NONPAGED,195,193,38,8,ES_RIGHT |
                    ES_READONLY | ES_NUMBER | NOT WS_BORDER
    GROUPBOX        "Historie van het CPU-gebruik",IDC_CPU_USAGE_HISTORY_FRAME,74,5,168,54,0,WS_EX_TRANSPARENT
    GROUPBOX        "Historie van het geheugengebruik",IDC_MEMORY_USAGE_HISTORY_FRAME,74,63,168,54,0,WS_EX_TRANSPARENT
    PUSHBUTTON      "CPU-gebruik",IDC_CPU_USAGE_GRAPH,12,17,47,37,0,
		    WS_EX_CLIENTEDGE
    PUSHBUTTON      "Geheugengebruik",IDC_MEM_USAGE_GRAPH,12,75,47,37,0,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "Historie van het CPU-gebruik",IDC_CPU_USAGE_HISTORY_GRAPH,81,17,
                    153,37,0,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Historie van het geheugengebruik",IDC_MEM_USAGE_HISTORY_GRAPH,81,75,
                    153,37,0,WS_EX_CLIENTEDGE
END

IDD_DEBUG_CHANNELS_DIALOG DIALOG DISCARDABLE  0, 0, 247, 210
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Debugkanalen"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List2",IDC_DEBUG_CHANNELS_LIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP |
		    LVS_SORTASCENDING,7,7,233,177
    PUSHBUTTON      "Sluiten",IDOK,171,189,69,14
END

IDD_AFFINITY_DIALOG DIALOG DISCARDABLE  0, 0, 231, 154
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Processoraffiniteit"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,120,133,50,14
    PUSHBUTTON      "Annuleren",IDCANCEL,174,133,50,14
    LTEXT           "De processoraffiniteit regelt op welke CPU's het proces uitgevoerd mag worden.",
                    IDC_STATIC,5,5,220,16
    CONTROL         "CPU 0",IDC_CPU0,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    11,28,37,10
    CONTROL         "CPU 1",IDC_CPU1,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,41,37,10
    CONTROL         "CPU 2",IDC_CPU2,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,54,37,10
    CONTROL         "CPU 3",IDC_CPU3,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,67,37,10
    CONTROL         "CPU 4",IDC_CPU4,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,80,37,10
    CONTROL         "CPU 5",IDC_CPU5,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,93,37,10
    CONTROL         "CPU 6",IDC_CPU6,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,106,37,10
    CONTROL         "CPU 7",IDC_CPU7,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,11,119,37,10
    CONTROL         "CPU 8",IDC_CPU8,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,61,28,37,10
    CONTROL         "CPU 9",IDC_CPU9,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,61,41,37,10
    CONTROL         "CPU 10",IDC_CPU10,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,54,41,10
    CONTROL         "CPU 11",IDC_CPU11,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,67,41,10
    CONTROL         "CPU 12",IDC_CPU12,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,80,41,10
    CONTROL         "CPU 13",IDC_CPU13,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,93,41,10
    CONTROL         "CPU 14",IDC_CPU14,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,106,41,10
    CONTROL         "CPU 15",IDC_CPU15,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,61,119,41,10
    CONTROL         "CPU 16",IDC_CPU16,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,28,41,10
    CONTROL         "CPU 17",IDC_CPU17,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,41,41,10
    CONTROL         "CPU 18",IDC_CPU18,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,54,41,10
    CONTROL         "CPU 19",IDC_CPU19,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,67,41,10
    CONTROL         "CPU 20",IDC_CPU20,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,80,41,10
    CONTROL         "CPU 21",IDC_CPU21,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,93,41,10
    CONTROL         "CPU 22",IDC_CPU22,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,106,41,10
    CONTROL         "CPU 23",IDC_CPU23,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,116,119,41,10
    CONTROL         "CPU 24",IDC_CPU24,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,28,41,10
    CONTROL         "CPU 25",IDC_CPU25,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,41,41,10
    CONTROL         "CPU 26",IDC_CPU26,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,54,41,10
    CONTROL         "CPU 27",IDC_CPU27,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,67,41,10
    CONTROL         "CPU 28",IDC_CPU28,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,80,41,10
    CONTROL         "CPU 29",IDC_CPU29,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,93,41,10
    CONTROL         "CPU 30",IDC_CPU30,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,106,41,10
    CONTROL         "CPU 31",IDC_CPU31,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,175,119,41,10
END

IDD_COLUMNS_DIALOG DIALOG DISCARDABLE  0, 0, 245, 199
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Selecteer kolommen"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,84,178,50,14
    PUSHBUTTON      "Annuleren",IDCANCEL,138,178,50,14
    LTEXT           "Selecteer de kolommen die op de procespagina van de Task Manager moeten verschijnen",     
                    IDC_STATIC,7,7,181,17
    CONTROL         "&Naam",IDC_IMAGENAME,"Button",BS_AUTOCHECKBOX |
                    WS_DISABLED | WS_TABSTOP,7,28,56,10
    CONTROL         "&PID (Proces-ID)",IDC_PID,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,39,88,10
    CONTROL         "&CPU-gebruik",IDC_CPUUSAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,50,90,10
    CONTROL         "CPU-&tijd",IDC_CPUTIME,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,61,48,10
    CONTROL         "&Geheugengebruik",IDC_MEMORYUSAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,72,95,10
    CONTROL         "&Delta van het geheugengebruik",IDC_MEMORYUSAGEDELTA,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,83,115,10
    CONTROL         "&Maximale geheugengebruik",IDC_PEAKMEMORYUSAGE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,94,115,10
    CONTROL         "Page &faults",IDC_PAGEFAULTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,105,53,10
    CONTROL         "&USER-objecten",IDC_USEROBJECTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,116,90,10
    CONTROL         "I/O (Lezen)",IDC_IOREADS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,127,49,10
    CONTROL         "I/O - Bytes (Lezen)",IDC_IOREADBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,138,75,10
    CONTROL         "&Session-ID",IDC_SESSIONID,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,149,50,10
    CONTROL         "Gebruikers&naam",IDC_USERNAME,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,7,160,80,10
    CONTROL         "Delta van de &page faults",IDC_PAGEFAULTSDELTA,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,28,72,10
    CONTROL         "&Grootte van het virtuele geheugen",IDC_VIRTUALMEMORYSIZE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,39,105,10
    CONTROL         "&Paged Pool",IDC_PAGEDPOOL,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,50,90,10
    CONTROL         "Non&paged Pool",IDC_NONPAGEDPOOL,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,61,105,10
    CONTROL         "Basisp&rioriteit",IDC_BASEPRIORITY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,72,55,10
    CONTROL         "Aantal &handles",IDC_HANDLECOUNT,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,83,59,10
    CONTROL         "Aantal &threads",IDC_THREADCOUNT,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,94,59,10
    CONTROL         "GDI-objecten",IDC_GDIOBJECTS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,105,90,10
    CONTROL         "I/O (Schrijven)",IDC_IOWRITES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,116,90,10
    CONTROL         "I/O - Bytes (Schrijven)",IDC_IOWRITEBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,127,105,10
    CONTROL         "I/O (Anders)",IDC_IOOTHER,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,132,138,90,10
    CONTROL         "I/O - Bytes (Anders)",IDC_IOOTHERBYTES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,132,149,105,10
END

/*
 String Table
*/

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_TITLE           "Task Manager"
    IDC_TASKMGR             "Task Manager"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_FILE_NEW                   "Start een nieuw programma"
    ID_OPTIONS_ALWAYSONTOP        "De Task Manager blijft altijd met alle vensters op de voorgrond, totdat hij geminimaliseerd wordt"
    ID_OPTIONS_MINIMIZEONUSE      "De Task Manager minimaliseerd zich als een 'Wissel naar' operatie uitgevoerd wordt"
    ID_OPTIONS_HIDEWHENMINIMIZED  "Verberg de Task Manager als hij geminimaliseerd is"
    ID_VIEW_REFRESH               "Forceer een verversing, onafhankelijk van het verversingstempo"
    ID_VIEW_LARGE                 "Toon taken met grote symbolen"
    ID_VIEW_SMALL                 "Toon taken met kleine symbolen"
    ID_VIEW_DETAILS               "Toon gedetailleerde informatie over iedere taak"
    ID_VIEW_UPDATESPEED_HIGH      "Ververs de weergave tweemaal per seconde"
    ID_VIEW_UPDATESPEED_NORMAL    "Ververs de weergave elke 2 seconden"
    ID_VIEW_UPDATESPEED_LOW       "Ververs de weergave elke 4 seconden"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED        "Niet automatisch verversen"
    ID_WINDOWS_TILEHORIZONTALLY       "Plaats de vensters boven elkaar op de desktop"
    ID_WINDOWS_TILEVERTICALLY         "Plaats de vensters naast elkaar op de desktop"
    ID_WINDOWS_MINIMIZE               "Minimaliseer de vensters"
    ID_WINDOWS_MAXIMIZE               "Maximaliseer de vensters"
    ID_WINDOWS_CASCADE                "Plaats de vensters achter elkaar op de desktop"
    ID_WINDOWS_BRINGTOFRONT           "Haal het venster naar de voorgrond, maar wissel er niet naartoe"
    ID_HELP_TOPICS                    "Toon de helponderwerpen van de Task Manager"
    ID_HELP_ABOUT                     "Toon programmainformatie, versienummer en copyright"
    ID_FILE_EXIT                      "Beëindig de Task Manager applicatie"
    ID_OPTIONS_SHOW16BITTASKS         "Toon 16-bit taken onder de bijbehorende ntvdm.exe"
    ID_VIEW_SELECTCOLUMNS             "Selecteer de kolommen die op de procespagina zichtbaar moeten zijn"
    ID_VIEW_SHOWKERNELTIMES           "Toon de kerneltijden in prestatiegrafieken"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL    "Een enkele historiegrafiek toont het totale CPU-gebruik"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Elke CPU heeft zijn eigen historiegrafiek"
    ID_APPLICATION_PAGE_SWITCHTO      "Brengt de taak naar de voorgrond en wisselt focus naar de taak"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_ENDTASK                              "Zeg de geselecteerde taken zich te beëindigen"
    ID_GOTOPROCESS                          "Wissel de focus naar het proces van de geselecteerde taak"
    ID_RESTORE                              "Herstel de Task Manager vanuit zijn verborgen status"
    ID_PROCESS_PAGE_ENDPROCESS              "Verwijder het proces van het systeem"
    ID_PROCESS_PAGE_ENDPROCESSTREE          "Verwijder het proces en al zijn kindprocessen van het systeem"
    ID_PROCESS_PAGE_DEBUG                   "Verbind de debugger met dit proces"
    ID_PROCESS_PAGE_SETAFFINITY             "Bepaal op welke processoren een proces uitgevoerd mag worden"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME    "Zet het proces in de REALTIME-prioriteitsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH        "Zet het proces in de HOGE-prioriteitsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Zet het proces in de HOGER DAN NORMAAL-prioriteitsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL      "Zet het proces in de NORMAAL-prioriteitsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Zet het proces in de LAGER DAN NORMAAL-prioriteitsklasse"
    ID_PROCESS_PAGE_SETPRIORITY_LOW         "Zet het proces in de LAGE-prioriteitsklasse"
    IDS_LICENSE                             "This program is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.\r\n\r\nYou should have received a copy of the GNU Lesser General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA."
END
