/*
 * Copyright 2003 Marcelo Duarte
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

PAPER DIALOG LOADONCALL MOVEABLE DISCARDABLE 5, 43, 227, 215
STYLE  WS_POPUP | WS_CAPTION | WS_CLIPSIBLINGS | WS_VISIBLE
CAPTION "Papel"
FONT 8, "MS Shell Dlg"
{
 LTEXT "&Tamanho do papel:", -1, 10, 6, 100, 8
 LISTBOX IDD_PAPERS, 10, 15, 200, 45, LBS_STANDARD | LBS_HASSTRINGS |
	 WS_TABSTOP
 GROUPBOX "Orientação", -1, 10, 80, 200, 50
 CONTROL "&Retrato", IDD_ORIENT_PORTRAIT, "Button", BS_AUTORADIOBUTTON |
	WS_TABSTOP, 20, 90, 60, 10
 CONTROL "&Paisagem", IDD_ORIENT_LANDSCAPE, "Button", BS_AUTORADIOBUTTON,
	 20, 110, 60, 10
 LTEXT "Duplex:", IDD_DUPLEX_NAME, 10, 140, 100, 8
 COMBOBOX IDD_DUPLEX, 10, 151, 200, 20, CBS_DROPDOWNLIST | CBS_HASSTRINGS |
        WS_TABSTOP
}
