Adam Sacarny <magicbox@bestweb.net>
Albert den Haan <albertd@corel.ca>
Alexander Nicolaysen Sørnes <alex@thehandofagony.com>
Alexander Nicolaysen Sørnes <alexsornes@gmail.com>
Alexandru Balut <alexandru.balut@gmail.com>
Américo José Melo <mmodem00@gmail.com>
András Kovács <andras@csevego.net>
Andreas Rosenberg <andreas.rosenberg@apis.de>
Andrew Johnston <johnstonam@logica.com>
Antonio Codazzi <f_sophia@libero.it>
Bang Jun-Young <junyoung@mogua.com>
Bernhard Rosenkränzer <bero@lindev.ch>
Bernhard Übelacker <bernhardu@mailbox.org>
Byeong-Sik Jeon <bsjeon@hanmail.net>
Carlos Lozano <clozano@andago.com>
Caron Wills <caron@codeweavers.com>
Charles Davis <cdavis@codeweavers.com>
Charles Davis <cdavis5x@gmail.com>
Christopher Gautier <krys@via.ecp.fr>
David A. Cuthbert <dacut@ece.cmu.edu>
David Heidelberger <david@ixit.cz>
Dennis Björklund <db@zigo.dhs.org>
Dennis Björklund <dennisb@cs.chalmers.se>
Dimitrie O. Paun <dimi@bigfoot.com>
Dimitrie O. Paun <dimi@lattica.com>
EA Durbin <eadurbin@freebsd.org>
Eduardo García <eduardo.garcia@gmx.com>
Erich Hoover <erich.e.hoover@gmail.com>
Erich Hoover <erich.e.hoover@wine-staging.com>
Erwin Wolff <erwinwolffnl@microformatica.com>
Esme Povirk <vincent@codeweavers.com>
Evgeny Putin <evcalipt@etersoft.ru>
Fan WenJie <fanwj@mail.ustc.edu.cn>
Fatih Aşıcı <fasici@linux-sevenler.org>
Fernando Martins <fernando@cmartins.nl>
François Gouget <fgouget@codeweavers.com>
François Gouget <fgouget@free.fr>
François Gouget <fgouget@multimania.com>
François Gouget <fgouget@psn.net>
Gerhard W. Gruber <sparhawk@gmx.at>
Gerold Jens Wucherpfennig <gjwucherpfennig@gmx.net>
Ge van Geldorp <ggeldorp@vmware.com>
Gregory M. Turner <gmturner007@ameritech.net>
Gustavo Noronha Silva <kov@debian.org>
Guy Albertelli <galberte@neo.lrun.com>
Guy Albertelli <guy@codeweavers.com>
György 'Nog' Jeney <nog@sdf.lonestar.org>
Henri Verbeet <hverbeet@gmail.com>
Hermès Bélusca-Maïto <hermes.belusca@sfr.fr>
Hervé Chanal <chanal_herve@yahoo.fr>
Hirofumi Katayama <katayama.hirofumi.mz@gmail.com>
Hiroshi Tanabe <hirokun_dayomon@infoseek.to>
Huw D. M. Davies <daviesh@abacus.physics.ox.ac.uk>
Huw D. M. Davies <daviesh@huw-davies-computer.local>
Huw D. M. Davies <h.davies1@physics.ox.ac.uk>
Huw D. M. Davies <h.davies@codeweavers.com>
Huw D. M. Davies <hdavies@codeweavers.com>
Huw D. M. Davies <hdavies@codeweavwers.com>
Huw D. M. Davies <huw@codewavers.com>
Huw D. M. Davies <huw@codeweavers>
Huw D. M. Davies <huw@codeweavers.com>
Hwang YunSong (황윤성) <hys545@dreamwiz.com>
Ivan de Saedeleer <Ivands@sympatico.ca>
Ivan Leo Puoti <ivanleo@gmail.com>
Ivan Leo Puoti <puoti@inwind.it>
Ivan Sinitsin <ivan@etersoft.ru>
J A Gow <J.A.Gow@furrybubble.co.uk>
Jan Djarv <Jan.Djarv@mbox200.swipnet.se>
Jason Edmeades <jason@edmeades.me.uk>
Jean Labrousse <jlabrous@altern.org>
Jeff Latimer <jeffl@defcen.gov.au>
Jérôme Gardou <jerome.gardou@gmail.com>
John Klehm <cjohn@klehm.net>
John R. Sheets <jsheets@codeweavers.com>
Jörg Höhle <Joerg-Cyril.Hoehle@t-systems.com>
Jörg Mayer <jmayer@loplof.de>
Jörg Mayer <jmayer@telesun2.telemation.de>
Jose Marcos López Caravaca <jose.lopez@upcnet.upc.es>
Joshua Thielen <thielen@netprince.net>
Józef Kucia <joseph.kucia@gmail.com>
Julio César Gázquez <jgazquez@dld.net>
Kevin Puetz <PuetzKevinA@JohnDeere.com>
Kirill K. Smirnov <Kirill.K.Smirnov@star.math.spbu.ru>
Kirill K. Smirnov <kirill.k.smirnov@gmail.com>
Kolbjørn Fredheim <hightower@tregt.net>
Lawson Whitney <lawson_whitney@juno.com>
Lionel Debroux <Lionel_Debroux@pc-debroux>
Louis Lenders <xerox_xerox2000@yahoo.co.uk>
Lucas Fialho Zawacki <lfzawacki@gmail.com>
Luis Carlos Busquets Pérez <luis.busquets@ilidium.com>
Luis Carlos Busquets Pérez <luiscar2001@yahoo.es>
Mariusz Pluciński <vshader@gmail.com>
Mark G. Adams <mark@transgaming.com>
Markus Gömmel <m.goemmel@compulab.de>
Martin Storsjö <martin@martin.st>
Matej Špindler <matej.spindler@gmail.com>
Matej Špindler <spindler.matej@gmail.com>
Matthew Finnicum <mattfinn@gmail.com>
Maxime Bellengé <maxime.bellenge@gmail.com>
Max TenEyck Woodbury <max@mtew.isa-geek.net>
Michael McCormack <mike@codeweavers.com>
Michael McCormack <mike_mccormack@looksmart.com.au>
Michael McCormack <mike_mccormack@start.com.au>
Michael McCormack <mikem@codeweavers.com>
Michael Müller <michael@fds-team.de>
Michael Veksler <mveksler@techunix.technion.ac.il>
Michael Wetherell <mike.wetherell@ntlworld.com>
Mikołaj Zalewski <mikolajz@google.com>
Mounir Idrassi <mounir.idrassi@idrix.fr>
Nathan Gallaher <ngallaher@deepthought.org>
Nathan Zorich <wfilardo@fuse.net>
Niclas Karlsson <nkarlsso@ra.abo.fi>
Nicolas Brouard <nicolas.brouard@libertysurf.fr>
Norman Stevens <norman@arcady.u-net.com>
Oldřich Jedlička <oldium.pro@seznam.cz>
Ove Kåven <ovehk@ping.uio.no>
Ove Kåven <ovek@arcticnet.no>
Ove Kåven <ovek@transgaming.com>
Panagiotis Christeas <p_christ@hol.gr>
Peter Ganten <peter@ganten.org>
Piotr Pawłow <pp@siedziba.pl>
Qingdoa Daoo <qingdao33122@yahoo.com>
Ragnvald Maartmann-Moe IV <despair@adelphia.net>
Reece H. Dunn <msclrhd@gmail.com>
Reece H. Dunn <msclrhd@googlemail.com>
Robert 'Admiral' Coeyman <admiral@corner.net>
Robert Riggs <rriggs@tesser.com>
Robert Shearman <rob@codeweavers.com>
Robert Shearman <robertshearman@gmail.com>
Roman Pišl <rpisl@seznam.cz>
Sato Kazuyuki <kazus@sunfish.suginami.tokyo.jp>
Sergei Ivanov <sergei@corel.ca>
Sergei Ivanov <sergei@corel.com>
Sergey Turchanov <plumber@print.vlad.ru>
Sergey Turchanov <turchanov@otvprim.ru>
Sergey Turchanov <turchanov@usa.net>
Stefan Dösinger <stefan@codeweavers.com>
Stephan Beuze <fbiggun@hotmail.com>
Stéphane Loeuillet <leroutier@gmail.com>
Stephen Langasek <vorlon@dodds.net>
Sunil Mohan Adapa <sunilmohan@fsf.org.in>
Sylvain St-Germain <sylvain@macadamian.com>
Sylvain St-Germain <sylvain@macadamian.com.epfl.ch>
Thomas Spear <speeddymon@gmail.com>
Thomas Weidenmüller <info@w3seek.de>
Thomas Weidenmüller <thomas@reactsoft.com>
Thomas Weidenmüller <w3seek@reactos.com>
Thomas Weidenmüller <w3seek@reactos.org>
Thomas Weidenmüller <wine-patches@reactsoft.com>
Tomasz Jezierski <developers@tefnet.pl>
Victor Martinez Calvo <vmartinez@reactos.org>
Vikram Kumar <vik@zone81.com>
Vladimir Bespalov <vlad.botanic@gmail.com>
Wei Xie <xiewei@linuxdeepin.com>
William Poetra Yoga Hadisoesen <williampoetra@yahoo.com>
Won Kyu Park <wkpark@kldp.org>
Yuri Kozlov <yuriy.kozlov@gmail.com>
Zachary Brown <zac@zacbrown.org>
Zebediah Figura <zfigura@codeweavers.com>
Zoltan Nagy <nagyzoli@drotposta.hu>
unidentified <9700584@cs.stadia.fi>
unidentified <develop@stueben.com>
unidentified <f.gockel@t-online.de>
unidentified <ghutchis@cisco.com>
unidentified <hamish_nospam@yahoo.com>
unidentified <jimregan@litsu.ie>
unidentified <jodaman@cegt201.bradley.edu>
unidentified <larstiq@larstiq.dyndns.org>
unidentified <ma@technoprint.ch>
unidentified <mirq@ziemniak.ustronie.pw.edu.pl>
unidentified <o112w8r02@sneakemail.com>
unidentified <orin@pinhead.cc>
unidentified <pofis@portugalmail.pt>
unidentified <smil@mechatronika.hu>
unidentified <therapy@endorphin.org>
unidentified <TTarrant@Etnoteam.It>
unidentified <wine@frotz.org>
unidentified <wine@gc2.kloepfer.org>
unidentified <wine.larry.engholm@xoxy.net>
unidentified <zombi82@hot.ee>
