INCLUDES = -I$(TOP)/include -I$(TOP)

XCOMM Imake rules go here

/*
 * WineRelocatableTarget - generate rules to produce a relocatable object
 * file instead of a library.  
 */
#ifndef WineRelocatableTarget
#define WineRelocatableTarget(objname,objlist,depobj)				@@\
AllTarget(objname.o)							@@\
									@@\
objname.o: depobj							@@\
	$(RM) $@							@@\
	$(LD) $(LDCOMBINEFLAGS) objlist depobj -o $@
#endif /* WineRelocatableTarget */

