/*
 * Resources for mfplat test suite.
 *
 * Copyright 2018 Sven Baars
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "windef.h"

/* @makedep: test.mp4 */
test.mp4 RCDATA test.mp4

/* gst-launch-1.0 videotestsrc num-buffers=5 ! video/x-raw,format=I420 ! videoconvert ! x264enc ! mp4mux ! filesink location=test-h264.mp4 */
/* @makedep: test-h264.mp4 */
test-h264.mp4 RCDATA test-h264.mp4

/* gst-launch-1.0 audiotestsrc num-buffers=5 ! audioconvert ! avenc_aac ! mp4mux ! filesink location=test-aac.mp4 */
/* @makedep: test-aac.mp4 */
test-aac.mp4 RCDATA test-aac.mp4

/* gst-launch-1.0 videotestsrc num-buffers=5 ! videoconvert ! avenc_wmv1 ! asfmux ! filesink location=test-wmv1.wmv */
/* @makedep: test-wmv1.wmv */
test-wmv1.wmv RCDATA test-wmv1.wmv

/* gst-launch-1.0 audiotestsrc num-buffers=5 ! audioconvert ! avenc_wmav2 ! asfmux ! filesink location=test-wma2.wmv */
/* @makedep: test-wma2.wmv */
test-wma2.wmv RCDATA test-wma2.wmv

/* gst-launch-1.0 audiotestsrc num-buffers=5 ! audioconvert ! lamemp3enc ! mp4mux ! filesink location=test-mp3.mp4 */
/* @makedep: test-mp3.mp4 */
test-mp3.mp4 RCDATA test-mp3.mp4

/* gst-launch-1.0 videotestsrc num-buffers=5 ! video/x-raw,format=I420,width=32,height=24 ! avimux ! filesink location=test-i420.avi */
/* @makedep: test-i420.avi */
test-i420.avi RCDATA test-i420.avi
