/*
 * Clock (Danish resources)
 *
 * Copyright 1998 Henrik Olsen <henrik@iaeste.dk>
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 * Copyright 2008 Jens Albretsen <jens@albretsen.dk>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&Instillinger" {
  MENUITEM "&Analog", IDM_ANALOG
  MENUITEM "&Digital", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "&Skrifttype...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "Skjul Titel&linie", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "Se&kunder", IDM_SECONDS
  MENUITEM "Da&to", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Altid øverst", IDM_ONTOP
 }
 POPUP "Inf&o" {
  MENUITEM "&Om Ur...", IDM_ABOUT
 }
}

STRINGTABLE
{
IDS_CLOCK, "Ur"
}
