/*
 * Clock (Danish resources)
 *
 * Copyright 1998 Henrik Olsen <henrik@iaeste.dk>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

#define LANGUAGE_ID                  Da
#define LANGUAGE_NUMBER              6


/* System Menu */

#define MENU_ON_TOP                  "&Altid øverst"


/* Window Menu */

#define MENU_PROPERTIES              "&Instillinger"
#define MENU_ANALOG                  "&Analog"
#define MENU_DIGITAL                 "&Digital"
#define MENU_FONT                    "&Skrifttype..."
#define MENU_WITHOUT_TITLE           "Skjul Titel&linje"

#define MENU_SECONDS                 "Se&kunder"
#define MENU_DATE                    "Da&to"

#define MENU_LANGUAGE                "S&prog"
#define LANGUAGE_MENU_ITEM           "&Dansk"

#define MENU_INFO                    "Inf&o..."
#define MENU_INFO_LICENSE            "&Licens"
#define MENU_INFO_NO_WARRANTY        "&NO WARRANTY"
#define MENU_INFO_ABOUT_WINE         "&Om Ur..."


/* Window Caption */

#define STRING_CLOCK                 "Ur"


#include "clock.rc"
