/*
 * Clock (English resources)
 *
 * Copyright 1998 Marcel Baur <mbaur@g26.ethz.ch>
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

MAIN_MENU MENU 
{
 POPUP "&Properties" {
  MENUITEM "Ana&log", 0x100
  MENUITEM "Digi&tal", 0x101
  MENUITEM SEPARATOR
  MENUITEM "&Font...", 0x103
  MENUITEM SEPARATOR
  MENUITEM "&Without Titlebar", 0x105
  MENUITEM SEPARATOR
  MENUITEM "&Seconds", 0x107
  MENUITEM "&Date", 0x108
 }
 POPUP "Inf&o..." {
  MENUITEM "&License", 0x109
  MENUITEM "&NO WARRANTY", 0x10A
  MENUITEM "&About Clock... ", 0x10B
 }
}

STRINGTABLE DISCARDABLE
{
CLOCK,		"Clock"
MENU_ON_TOP,	"&Always on Top"
}
