/*
 *  Clock (French resources)
 *
 * Copyright 1998 Robert Pouliot <krynos@clic.net>
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

MAIN_MENU MENU LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
{
 POPUP "&Propriétés" {
  MENUITEM "Ana&logue", 0x100
  MENUITEM "&Numérique", 0x101
  MENUITEM SEPARATOR
  MENUITEM "&Police...", 0x103
  MENUITEM SEPARATOR
  MENUITEM "Sans &barre de titre", 0x105
  MENUITEM SEPARATOR
  MENUITEM "&Secondes", 0x107
  MENUITEM "&Date", 0x108
 }
 POPUP "Inf&o..." {
  MENUITEM "&Licence", 0x109
  MENUITEM "AUCUNE &GARANTIE", 0x10A
  MENUITEM "&A propos de Horloge", 0x10B
 }
}

STRINGTABLE DISCARDABLE LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
{
CLOCK,		"Horloge"
MENU_ON_TOP,	"&Toujours visible"
}
