/*
 * Clock (Hebrew resources)
 *
 * Copyright 1998 Marcel Baur <mbaur@g26.ethz.ch>
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 * Copyright 2010 Yaron Shahrabani <sh.yaron@gmail.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

#pragma code_page(65001)

LANGUAGE LANG_HEBREW, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&מאפיינים" {
  MENUITEM "&אנלוגי", IDM_ANALOG
  MENUITEM "&דיגיטלי", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "&גופן...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "&ללא שורת כותרת", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "&שניות", IDM_SECONDS
  MENUITEM "&תאריך", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "תמיד &עליון", IDM_ONTOP
 }
 POPUP "&פרטים" {
  MENUITEM "על &אודות השעון...", IDM_ABOUT
 }
}

STRINGTABLE
{
IDS_CLOCK, "שעון"
}
