/*
 * Clock (Lithuanian resources)
 *
 * Copyright 2009 Aurimas Fišeras <aurimas@gmail.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_LITHUANIAN, SUBLANG_NEUTRAL

MAIN_MENU MENU
{
 POPUP "&Savybės" {
  MENUITEM "Ana&loginis", IDM_ANALOG
  MENUITEM "Skai&tmeninis", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "&Šriftas...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "&Be lango antraštės juostos", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "S&ekundės", IDM_SECONDS
  MENUITEM "&Data", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Visada viršuje", IDM_ONTOP
 }
 POPUP "&Informacija" {
  MENUITEM "&Apie laikrodį...", IDM_ABOUT
 }
}

STRINGTABLE
{
IDS_CLOCK, "Laikrodis"
}
