/*
 * Clock (Dutch resources)
 *
 * Copyright 2003 Hans Leidekker
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL

MAIN_MENU MENU 
{
 POPUP "&Eigenschappen" {
  MENUITEM "&Analoog", IDM_ANALOG
  MENUITEM "&Digitaal", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "&Lettertype...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "&Zonder titelbalk", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "&Seconden", IDM_SECONDS
  MENUITEM "Da&tum", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Altijd op de voorgrond", IDM_ONTOP
 }
 POPUP "Inf&o" {
  MENUITEM "&Over Klok...", IDM_ABOUT
 }
}

STRINGTABLE
{
IDS_CLOCK, "Klok"
}
