/*
 * Clock (Dutch resources)
 *
 * Copyright 2003 Hans Leidekker
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL

MAIN_MENU MENU 
{
 POPUP "&Eigenschappen" {
  MENUITEM "&Analoog", IDM_ANALOG
  MENUITEM "&Digitaal", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "&Lettertype...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "&Zonder titelbalk", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "&Seconden", IDM_SECONDS
  MENUITEM "Da&tum", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Altijd op de voorgrond", IDM_ONTOP
 }
 POPUP "Inf&o" {
  MENUITEM "&Licentie...", IDM_LICENSE
  MENUITEM "&GEEN GARANTIE...", IDM_NOWARRANTY
  MENUITEM "&Over Klok...", IDM_ABOUT
 }
}

STRINGTABLE DISCARDABLE LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
{
IDS_LICENSE_CAPTION,            "LICENTIE"
IDS_LICENSE,
"Dit is vrij beschikbare software; u kunt dit verspreiden en/of \
aanpassen onder de voorwaarden van de GNU Lesser General Public \
License zoals gepubliceerd door de Free Software Foundation; zowel \
versie 2.1 van de Licentie, of een latere versie.\n\
Deze software wordt verspreid in de hoop dat het bruikbaar is, \
maar ZONDER ENIGE GARANTIE; zonder zelfs een impliciete garantie van \
VERKOOPBAARHEID of GESCHIKHEID VOOR PARTICULIERE DOELEINDEN.  Zie de GNU \
Lesser General Public License voor meer details.\n\
U heeft een kopie van de GNU Lesser General Public \
License ontvangen samen met dit programma; zoniet, schrijf dan naar de \
Free Software Foundation, 51 Franklin St, Fifth Floor, \
Boston, MA  02110-1301  USA"

IDS_WARRANTY_CAPTION, "GEEN GARANTIE"
IDS_WARRANTY,
"Deze software wordt verspreid in de hoop dat het bruikbaar is, \
maar ZONDER ENIGE GARANTIE; zonder zelfs een impliciete garantie van \
VERKOOPBAARHEID of GESCHIKHEID VOOR PARTICULIERE DOELEINDEN.  Zie de GNU \
Lesser General Public License voor meer details."
}

STRINGTABLE DISCARDABLE
{
IDS_CLOCK, "Klok"
}
