/*
 * Clock (Norwegian Bokmål resources)
 *
 * Copyright 2005-2006 Alexander N. Sørnes <alex@thehandofagony.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL

MAIN_MENU MENU 
{
 POPUP "&Egenskaper" {
  MENUITEM "Ana&log", IDM_ANALOG
  MENUITEM "Digi&tal", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "Skri&ft...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "&Uten tittellinje", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "&Sekunder", IDM_SECONDS
  MENUITEM "&Dato", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Alltid øverst", IDM_ONTOP
 }
 POPUP "Inf&ormasjon" {
  MENUITEM "&Om Klokke...", IDM_ABOUT
 }
}

STRINGTABLE
{
IDS_CLOCK, "Klokke"
}
