/*
 * Clock (Polish resources)
 *
 * Copyright 1998 Marcel Baur <mbaur@g26.ethz.ch>
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 * Copyright 2004 LO3 Translation team
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

MAIN_MENU MENU 
{
 POPUP "&Ustawienia" {
  MENUITEM "Ana&logowy", IDM_ANALOG
  MENUITEM "C&yfrowy", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "&Czcionka...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "&Bez paska tytu³owego", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "&Sekundy", IDM_SECONDS
  MENUITEM "&Data", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Zawsze na wierzchu", IDM_ONTOP
 }
 POPUP "In&fo" {
  MENUITEM "&O zegarze...", IDM_ABOUT
 }
}

STRINGTABLE
{
IDS_CLOCK, "Zegar"
}
