/*
 * Clock (Slovenian resources)
 *
 * Copyright 2002-2003 Rok Mandeljc <rok.mandeljc@gimb.org>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

MAIN_MENU MENU LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT
{
 POPUP "&Lastnosti" {
  MENUITEM "Ana&logna ura", 0x100
  MENUITEM "Digi&talna ura", 0x101
  MENUITEM SEPARATOR
  MENUITEM "&Pisava ...", 0x103
  MENUITEM SEPARATOR
  MENUITEM "&Brez naslovne vrstice", 0x105
  MENUITEM SEPARATOR
  MENUITEM "&Sekunde", 0x107
  MENUITEM "&Datum", 0x108
 }
 POPUP "Inf&ormacije ..." {
  MENUITEM "&Licenèna pogodba", 0x109
  MENUITEM "&BREZ GARANCIJE", 0x10A
  MENUITEM "&O Uri", 0x10B
 }
}

STRINGTABLE DISCARDABLE LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT
{
CLOCK,		"Ura"
MENU_ON_TOP,	"&Vedno na vrhu"
}
