/*
 * Clock (Slovak resources)
 *
 * Copyright 1998 Marcel Baur <mbaur@g26.ethz.ch>
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 * FIXME: Weak translation !
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&Vlastnosti" {
  MENUITEM "Ana&lógové", IDM_ANALOG
  MENUITEM "Digi&tálne", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "&Font...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "&Bez titulkového pruhu", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "&Sekundy", IDM_SECONDS
  MENUITEM "&Dátum", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Vždy na vrchu", IDM_ONTOP
 }
 POPUP "Inf&o" {
  MENUITEM "&O hodinách...", IDM_ABOUT
 }
}

STRINGTABLE
{
IDS_CLOCK, "Hodiny"
}
