/*
 * Clock (Thai resources)
 *
 * Copyright 2003 Jon Griffiths
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

LANGUAGE LANG_THAI, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "ปรับแต่งนาฬิกา" {
  MENUITEM "ธรรมดา", IDM_ANALOG
  MENUITEM "ดิจิตัล", IDM_DIGITAL
  MENUITEM SEPARATOR
  MENUITEM "รูปแบบต้วอักษร...", IDM_FONT
  MENUITEM SEPARATOR
  MENUITEM "แสดงแทบเมนู", IDM_NOTITLE
  MENUITEM SEPARATOR
  MENUITEM "วินาที", IDM_SECONDS
  MENUITEM "วันที่", IDM_DATE
  MENUITEM SEPARATOR
  MENUITEM "ยูบนสุดเสมอ", IDM_ONTOP
 }
 POPUP "รายละเอียด" {
  MENUITEM "เกี่ยวกับนาฬิกา...", IDM_ABOUT
 }
}

STRINGTABLE
{
IDS_CLOCK, "นาฬิกา"
}
