/*
 * Clock ( Simplified Chinese resources)
 *
 * Copyright 2002 liuspider <liuspider@yahoo.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

MAIN_MENU MENU LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
{
 POPUP "属性（&P）" {
  MENUITEM "模拟时钟（&L）", 0x100
  MENUITEM "数组时钟（&T）", 0x101
  MENUITEM SEPARATOR
  MENUITEM "字体（&F）...", 0x103
  MENUITEM SEPARATOR
  MENUITEM "无标题栏（&W）", 0x105
  MENUITEM SEPARATOR
  MENUITEM "秒（&）", 0x107
  MENUITEM "日期（&D）", 0x108
 }
 POPUP "资料信息（&O）..." {
  MENUITEM "用户许可协议（&L）", 0x109
  MENUITEM "责任无关（&N）", 0x10A
  MENUITEM "关于 Wine（&A）... ", 0x10B
 }
}

STRINGTABLE DISCARDABLE LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
{
CLOCK,		"时钟"
MENU_ON_TOP,	"总是在最前面（&A）"
}
