/*
 * Top level resource file for wineps
 *
 */

#include "windef.h"
#include "winuser.h"
#include "winnls.h"
#include "psdlg.h"

/*
 * Everything that does not depend on language,
 * like textless bitmaps etc, go into the
 * neutral language. This will prevent them from
 * being duplicated for each language.
 */
#include "wps_xx.rc"

/*
 * Everything specific to any language goes
 * in one of the specific files.
 * Note that you can and may override resources
 * which also have a neutral version. This is to
 * get localized bitmaps for example.
 */
#include "wps_En.rc"
