LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

PAPER DIALOG LOADONCALL MOVEABLE DISCARDABLE 5, 43, 227, 215
STYLE  WS_POPUP | WS_CAPTION | WS_CLIPSIBLINGS | WS_VISIBLE
CAPTION "Papier"
FONT 8, "Helv"
{
 LTEXT "&Veækosù papiera:", -1, 10, 6, 100, 8
 LISTBOX IDD_PAPERS, 10, 15, 200, 45, LBS_STANDARD | LBS_HASSTRINGS |
	 WS_TABSTOP
 GROUPBOX "Orient·cia", -1, 10, 80, 200, 50
 CONTROL "Na v˝ö&ku", IDD_ORIENT_PORTRAIT, "Button", BS_AUTORADIOBUTTON | 
	WS_TABSTOP, 20, 90, 60, 10
 CONTROL "&Na öÌrku", IDD_ORIENT_LANDSCAPE, "Button", BS_AUTORADIOBUTTON,
	 20, 110, 60, 10
}
