/* Russian strings in cp1251 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

PAPER DIALOG LOADONCALL MOVEABLE DISCARDABLE 5, 43, 227, 215
STYLE  WS_POPUP | WS_CAPTION | WS_CLIPSIBLINGS | WS_VISIBLE
CAPTION "Бумага"
FONT 8, "Helv"
{
 LTEXT "&Размер бумаги:", -1, 10, 6, 100, 8
 LISTBOX IDD_PAPERS, 10, 15, 200, 45, LBS_STANDARD | LBS_HASSTRINGS |
	 WS_TABSTOP
 GROUPBOX "Ориентация", -1, 10, 80, 200, 50
 CONTROL "&Книжная", IDD_ORIENT_PORTRAIT, "Button", BS_AUTORADIOBUTTON | 
	WS_TABSTOP, 20, 90, 60, 10
 CONTROL "&Альбомная", IDD_ORIENT_LANDSCAPE, "Button", BS_AUTORADIOBUTTON,
	 20, 110, 60, 10
}
