/*
 * German resources for the Internet control panel applet
 *
 * Copyright 2010 Detlef Riekenberg
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

#include "inetcpl.h"

#pragma code_page(65001)

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

STRINGTABLE DISCARDABLE
BEGIN
    IDS_CPL_NAME        "Internet Einstellungen"
    IDS_CPL_INFO        "Wine Internet Browser und zugehörige Einstellungen anpassen." 
END

/* "General" propsheet */
IDD_GENERAL DIALOG  0, 0, 320, 220
STYLE WS_CAPTION | WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
CAPTION "Allgemein"
BEGIN

    GROUPBOX    " Startseite ", IDC_STATIC, 4, 4, 312, 52
    LTEXT       "Sie können eine Addresse wählen, die als Startseite verwendet wird.",
                IDC_STATIC, 58, 10, 252, 10
    EDITTEXT    IDC_HOME_EDIT, 58, 22, 252, 12, WS_VISIBLE | ES_AUTOHSCROLL
    PUSHBUTTON  "A&ktuelle Seite", IDC_HOME_CURRENT, 58, 36, 80, 14
    PUSHBUTTON  "&Standardseite", IDC_HOME_DEFAULT, 144, 36, 80, 14
    PUSHBUTTON  "&Leere Seite", IDC_HOME_BLANK, 230, 36, 80, 14

END


/* "Content" propsheet */
IDD_CONTENT DIALOG  0, 0, 320, 220
STYLE WS_CAPTION | WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
CAPTION "Inhalte"
BEGIN

    GROUPBOX    " Zertifikate ", IDC_STATIC, 4, 4, 312, 50
    LTEXT       "Zertifikate werden benutzt, um sich persönlich, Zertifizierungsstellen und Herausgeber von Zertifikaten zu identifizieren.",
                IDC_STATIC, 58, 14, 252, 18
    PUSHBUTTON  "Zertifikate...", IDC_CERT, 146, 34, 80, 14
    PUSHBUTTON  "Herausgeber...", IDC_CERT_PUBLISHER, 230, 34, 80, 14

END
