/*
 * Cards dll resources
 *
 * Copyright (C) 2004 Sami Nopanen
 *
 * Card bitmaps copied from http://www.jfitz.com/cards/index.html
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

/* @makedep: c1.bmp */
0 BITMAP c1.bmp

/* @makedep: d1.bmp */
1 BITMAP d1.bmp

/* @makedep: h1.bmp */
2 BITMAP h1.bmp

/* @makedep: s1.bmp */
3 BITMAP s1.bmp

/* @makedep: c2.bmp */
4 BITMAP c2.bmp

/* @makedep: d2.bmp */
5 BITMAP d2.bmp

/* @makedep: h2.bmp */
6 BITMAP h2.bmp

/* @makedep: s2.bmp */
7 BITMAP s2.bmp

/* @makedep: c3.bmp */
8 BITMAP c3.bmp

/* @makedep: d3.bmp */
9 BITMAP d3.bmp

/* @makedep: h3.bmp */
10 BITMAP h3.bmp

/* @makedep: s3.bmp */
11 BITMAP s3.bmp

/* @makedep: c4.bmp */
12 BITMAP c4.bmp

/* @makedep: d4.bmp */
13 BITMAP d4.bmp

/* @makedep: h4.bmp */
14 BITMAP h4.bmp

/* @makedep: s4.bmp */
15 BITMAP s4.bmp

/* @makedep: c5.bmp */
16 BITMAP c5.bmp

/* @makedep: d5.bmp */
17 BITMAP d5.bmp

/* @makedep: h5.bmp */
18 BITMAP h5.bmp

/* @makedep: s5.bmp */
19 BITMAP s5.bmp

/* @makedep: c6.bmp */
20 BITMAP c6.bmp

/* @makedep: d6.bmp */
21 BITMAP d6.bmp

/* @makedep: h6.bmp */
22 BITMAP h6.bmp

/* @makedep: s6.bmp */
23 BITMAP s6.bmp

/* @makedep: c7.bmp */
24 BITMAP c7.bmp

/* @makedep: d7.bmp */
25 BITMAP d7.bmp

/* @makedep: h7.bmp */
26 BITMAP h7.bmp

/* @makedep: s7.bmp */
27 BITMAP s7.bmp

/* @makedep: c8.bmp */
28 BITMAP c8.bmp

/* @makedep: d8.bmp */
29 BITMAP d8.bmp

/* @makedep: h8.bmp */
30 BITMAP h8.bmp

/* @makedep: s8.bmp */
31 BITMAP s8.bmp

/* @makedep: c9.bmp */
32 BITMAP c9.bmp

/* @makedep: d9.bmp */
33 BITMAP d9.bmp

/* @makedep: h9.bmp */
34 BITMAP h9.bmp

/* @makedep: s9.bmp */
35 BITMAP s9.bmp

/* @makedep: c10.bmp */
36 BITMAP c10.bmp

/* @makedep: d10.bmp */
37 BITMAP d10.bmp

/* @makedep: h10.bmp */
38 BITMAP h10.bmp

/* @makedep: s10.bmp */
39 BITMAP s10.bmp

/* @makedep: cj.bmp */
40 BITMAP cj.bmp

/* @makedep: dj.bmp */
41 BITMAP dj.bmp

/* @makedep: hj.bmp */
42 BITMAP hj.bmp

/* @makedep: sj.bmp */
43 BITMAP sj.bmp

/* @makedep: cq.bmp */
44 BITMAP cq.bmp

/* @makedep: dq.bmp */
45 BITMAP dq.bmp

/* @makedep: hq.bmp */
46 BITMAP hq.bmp

/* @makedep: sq.bmp */
47 BITMAP sq.bmp

/* @makedep: ck.bmp */
48 BITMAP ck.bmp

/* @makedep: dk.bmp */
49 BITMAP dk.bmp

/* @makedep: hk.bmp */
50 BITMAP hk.bmp

/* @makedep: sk.bmp */
51 BITMAP sk.bmp

/* @makedep: free.bmp */
52 BITMAP free.bmp

#define unused1 53
/* @makedep: b1fv.bmp */
unused1 BITMAP b1fv.bmp

#define weave1 54
/* @makedep: b2fv.bmp */
weave1 BITMAP b2fv.bmp

#define weave2 55
/* @makedep: b1fv.bmp */
weave2 BITMAP b1fv.bmp

#define robot 56
/* @makedep: b2fv.bmp */
robot BITMAP b2fv.bmp

#define flowers 57
/* @makedep: b1fv.bmp */
flowers BITMAP b1fv.bmp

#define vine1 58
/* @makedep: b2fv.bmp */
vine1 BITMAP b2fv.bmp

#define vine2 59
/* @makedep: b1fv.bmp */
vine2 BITMAP b1fv.bmp

#define fish1 60
/* @makedep: b2fv.bmp */
fish1 BITMAP b2fv.bmp

#define fish2 61
/* @makedep: b1fv.bmp */
fish2 BITMAP b1fv.bmp

#define shells 62
/* @makedep: b2fv.bmp */
shells BITMAP b2fv.bmp

#define castle 63
/* @makedep: b1fv.bmp */
castle BITMAP b1fv.bmp

#define island 64
/* @makedep: b2fv.bmp */
island BITMAP b2fv.bmp

#define cardhand 65
/* @makedep: b1fv.bmp */
cardhand BITMAP b1fv.bmp

#define unused2 66
/* @makedep: b2fv.bmp */
unused2 BITMAP b2fv.bmp

/* @makedep: thex.bmp */
67 BITMAP thex.bmp

/* @makedep: theo.bmp */
68 BITMAP theo.bmp
