/*
 * Copyright 2001 Dmitry Timoshkov
 * Copyright 2004 Ivan Leo Puoti
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#if 0
#pragma makedep header
#endif

#ifdef WINE_FILEVERSION
#define VER_PRODUCTVERSION WINE_FILEVERSION
#endif

#ifdef WINE_FILEDESCRIPTION_STR
#define VER_FILEDESCRIPTION_STR WINE_FILEDESCRIPTION_STR
#else
#define VER_FILEDESCRIPTION_STR "Wine core dll"
#endif

#ifdef WINE_FILENAME
#define VER_INTERNALNAME_STR WINE_FILENAME
#else
#define VER_INTERNALNAME_STR ""
#endif

#ifdef WINE_FILENAME_STR
#define VER_ORIGINALFILENAME_STR WINE_FILENAME_STR
#endif

#ifdef WINE_FILETYPE
#define VER_FILETYPE WINE_FILETYPE
#endif

#ifdef WINE_EXTRAVALUES
#define VER_OLESELFREGISTER
#endif

#include "common.ver"
