/*
 * Copyright 2009 Aurimas Fišeras <aurimas@gmail.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "wordpad.h"

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_LITHUANIAN, SUBLANG_NEUTRAL

IDD_DATETIME DIALOG 30, 20, 130, 80
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Data ir laikas"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT        "Galimi formatai",-1,3,2,100,15
    LISTBOX      IDC_DATETIME,3,12,80,65,LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    PUSHBUTTON   "&Gerai",IDOK,87,12,40,12
    PUSHBUTTON   "&Atsisakyti",IDCANCEL,87,26,40,12
END

IDD_NEWFILE DIALOG 30, 20, 140, 80
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Naujas"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT        "Naujo dokumento tipas",-1,3,2,100,15
    LISTBOX      IDC_NEWFILE,3,12,90,65,LBS_NOINTEGRALHEIGHT
    PUSHBUTTON   "&Gerai",IDOK,97,12,40,12
    PUSHBUTTON   "&Atsisakyti",IDCANCEL,97,26,40,12
END

IDD_PARAFORMAT DIALOG 30, 20, 200, 110
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Pastraipos formatas"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Įtrauka", -1, 10, 10, 120, 68
    LTEXT "Iš kairės", -1, 15, 22, 45, 13
    EDITTEXT IDC_PARA_LEFT, 60, 20, 55, 13
    LTEXT "Iš dešinės", -1, 15, 40, 45, 13
    EDITTEXT IDC_PARA_RIGHT, 60, 38, 55, 13
    LTEXT "Pirmoji eilutė", -1, 15, 58, 45, 13
    EDITTEXT IDC_PARA_FIRST, 60, 56, 55, 13
    LTEXT "Lygiuotė", -1, 15, 87, 40, 13
    COMBOBOX IDC_PARA_ALIGN, 55, 85, 60, 60, CBS_DROPDOWNLIST
    PUSHBUTTON "&Gerai", IDOK, 137, 15, 50, 15
    PUSHBUTTON "&Atsisakyti", IDCANCEL, 137, 33, 50, 15
END

IDD_TABSTOPS DIALOG 30, 20, 200, 110
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Tabuliavimo žymės"
FONT 8, "MS SHell DLg"
BEGIN
    GROUPBOX "Tabuliavimo pozicija", -1, 10, 10, 120, 90
    COMBOBOX IDC_TABSTOPS, 20, 20, 100, 60, CBS_SIMPLE
    DEFPUSHBUTTON "&Pridėti", ID_TAB_ADD, 20, 80, 45, 15
    PUSHBUTTON "Pa&šalinti", ID_TAB_DEL, 72, 80, 45, 15
    PUSHBUTTON "&Gerai", IDOK, 137, 15, 50, 15
    PUSHBUTTON "&Atsisakyti", IDCANCEL, 137, 33, 50, 15
    PUSHBUTTON "Pašalinti &visas", ID_TAB_EMPTY, 137, 51, 50, 15
END

IDD_FORMATOPTS DIALOG 0, 0, 280, 110
STYLE DS_SYSMODAL
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Eilutės skaidymas", -1, 10, 10, 130, 85
    RADIOBUTTON "&Eilutės neskaidomos", IDC_PAGEFMT_WN, 18, 25, 117, 15
    RADIOBUTTON "Skaidyti tekstą prie lango &rėmelio", IDC_PAGEFMT_WW, 18, 45, 117, 15
    RADIOBUTTON "Skaidyti tekstą prie &paraštės", IDC_PAGEFMT_WM, 18, 65, 117, 15
    GROUPBOX "Įrankių juostos", -1, 150, 10, 120, 85
    CHECKBOX "Įran&kių juosta", IDC_PAGEFMT_TB, 160, 20, 80, 15
    CHECKBOX "&Formatų juosta", IDC_PAGEFMT_FB, 160, 38, 80, 15
    CHECKBOX "&Liniuotė", IDC_PAGEFMT_RU, 160, 56, 80, 15
    CHECKBOX "&Būsenos juosta", IDC_PAGEFMT_SB, 160, 74, 80, 15
    LTEXT "", IDC_PAGEFMT_ID, 0,0,0,0
END
