/*
 * Copyright 2006 by Phil Krylov
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "wordpad.h"

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

IDD_DATETIME DIALOG 30, 20, 130, 80
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Дата и время"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT        "Доступные форматы",-1,3,2,100,15
    LISTBOX      IDC_DATETIME,3,12,80,65,LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    PUSHBUTTON   "&ОК",IDOK,87,12,40,12
    PUSHBUTTON   "О&тмена",IDCANCEL,87,26,40,12
END

IDD_NEWFILE DIALOG 30, 20, 140, 80
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Новый документ"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT        "Тип создаваемого документа",-1,3,2,100,15
    LISTBOX      IDC_NEWFILE,3,12,90,65,LBS_NOINTEGRALHEIGHT
    PUSHBUTTON   "&ОК",IDOK,97,12,40,12
    PUSHBUTTON   "О&тмена",IDCANCEL,97,26,40,12
END

IDD_PARAFORMAT DIALOG 30, 20, 200, 110
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Абзац"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Отступ", -1, 10, 10, 120, 68
    LTEXT "Слева", -1, 15, 22, 40, 13
    EDITTEXT IDC_PARA_LEFT, 55, 20, 60, 13
    LTEXT "Справа", -1, 15, 40, 40, 13
    EDITTEXT IDC_PARA_RIGHT, 55, 38, 60, 13
    LTEXT "Первая строка", -1, 15, 58, 40, 13
    EDITTEXT IDC_PARA_FIRST, 55, 56, 60, 13
    LTEXT "Выравнивание", -1, 15, 87, 40, 13
    COMBOBOX IDC_PARA_ALIGN, 55, 85, 60, 60, CBS_DROPDOWNLIST
    PUSHBUTTON "&ОК", IDOK, 137, 15, 50, 15
    PUSHBUTTON "О&тмена", IDCANCEL, 137, 33, 50, 15
END

IDD_TABSTOPS DIALOG 30, 20, 200, 110
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Табуляция"
FONT 8, "MS SHell DLg"
BEGIN
    GROUPBOX "Позиции табуляции", -1, 10, 10, 120, 90
    COMBOBOX IDC_TABSTOPS, 20, 20, 100, 60, CBS_SIMPLE
    DEFPUSHBUTTON "&Установить", ID_TAB_ADD, 20, 80, 45, 15
    PUSHBUTTON "О&чистить", ID_TAB_DEL, 72, 80, 45, 15
    PUSHBUTTON "&ОК", IDOK, 137, 15, 50, 15
    PUSHBUTTON "О&тмена", IDCANCEL, 137, 33, 50, 15
    PUSHBUTTON "Очистить &все", ID_TAB_EMPTY, 137, 51, 50, 15
END

IDD_FORMATOPTS DIALOG 0, 0, 280, 110
STYLE DS_SYSMODAL
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Перенос по словам", -1, 10, 10, 130, 85
    RADIOBUTTON "Не переносить", IDC_PAGEFMT_WN, 18, 25, 117, 15
    RADIOBUTTON "В границах &окна", IDC_PAGEFMT_WW, 18, 45, 117, 15
    RADIOBUTTON "В границах &полей", IDC_PAGEFMT_WM, 18, 65, 117, 15
    GROUPBOX "Панели", -1, 150, 10, 120, 85
    CHECKBOX "&Инструментов", IDC_PAGEFMT_TB, 160, 20, 80, 15
    CHECKBOX "&Форматирования", IDC_PAGEFMT_FB, 160, 38, 80, 15
    CHECKBOX "&Линейка", IDC_PAGEFMT_RU, 160, 56, 80, 15
    CHECKBOX "&Строка состояния", IDC_PAGEFMT_SB, 160, 74, 80, 15
    LTEXT "", IDC_PAGEFMT_ID, 0,0,0,0
END
