/*
 * Copyright 2024 Michele Dionisio <michele.dionisio@gmail.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "timeout.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
{
    STRING_USAGE,               "Usage: timeout /T <timeout> [</NOBREAK>]\n"
    STRING_BAD_COMMAND_LINE,    "TIMEOUT: Bad command line\n"
    STRING_WAITING_SINCE,       "waiting since %d sec. "
    STRING_PRESS_CTRLC,         "press CTRL+C..."
    STRING_PRESS_KEY,           "press a key to continue..."
    STRING_ERROR_REDIRECT,      "ERROR: not possible to redirect input\n"
    STRING_TIMEOUT_INVALID,     "ERROR: Timeout value out of range or invalid number. Valid range is -1 to 99999.\n"
}
