/*
 * Copyright 2008 Mikolaj Zalewski
 * Copyright 2010 Claudia Cotună
 *                Michael Stefaniuc
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resource.h"

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

#pragma code_page(65001)

IDM_DEBUG_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Depanează", ID_DEBUG
    END
END

IDD_CRASH_DLG DIALOGEX 100, 100, 273, 175
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Eroare de program"
FONT 8, "Tahoma"
BEGIN
    LTEXT           "",IDC_STATIC_BG,0,0,273,52,WS_BORDER,0
    LTEXT           "Programul %s a întâmpinat o problemă gravă și trebuie să \
                     se închidă. Ne cerem scuze pentru neplăcerile create.",
                    IDC_STATIC_TXT1,27,10,224,30
    LTEXT           "Cauza poate fi o problemă în program sau o deficiență în \
                     Wine. Puteți consulta http://appdb.winehq.org pentru \
                     sugestii privind executarea acestei aplicații.\n\n\
                     Dacă această problemă nu este prezentă în Windows și nu a \
                     fost raportată încă, o puteți raporta la \
                     http://bugs.winehq.org.",IDC_STATIC_TXT2,27,60,224,100
    DEFPUSHBUTTON   "Închide", IDOK, 205, 151, 60, 16, WS_TABSTOP
END

STRINGTABLE
BEGIN
    IDS_AUTO_CAPTION     "Avarie program Wine"
    IDS_INVALID_PARAMS   "Erori interne - s-au recepționat parametri nevalizi"
    IDS_UNIDENTIFIED     "(neidentificat)"
END
