/authors.c
/cdrom.ico
/delete.ico
/desktop.ico
/document.ico
/drive.ico
/floppy.ico
/folder.ico
/folder_open.ico
/libshell32.def
/mycomputer.ico
/mydocs.ico
/netdrive.ico
/netdrive2.ico
/printer.ico
/ramdisk.ico
/searching.avi
/shortcut.ico
/shres.res
/version16.res
