/*
 * Copyright 2005 Kimmo Myllyvirta
 * Copyright 2010 Lauri Kenttä
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "shresdef.h"

LANGUAGE LANG_FINNISH, SUBLANG_DEFAULT

MENU_001 MENU
BEGIN
	MENUITEM "&Suuret kuvakkeet",		FCIDM_SHVIEW_BIGICON
	MENUITEM "&Pienet kuvakkeet",		FCIDM_SHVIEW_SMALLICON
	MENUITEM "&Lista",			FCIDM_SHVIEW_LISTVIEW
	MENUITEM "&Tiedot",			FCIDM_SHVIEW_REPORTVIEW
END

/*
 shellview background menu
*/
MENU_002 MENU
BEGIN
	POPUP ""
	BEGIN
	  POPUP "&Näkymä"
	  BEGIN
	    MENUITEM "&Pienet kuvakkeet",	FCIDM_SHVIEW_BIGICON
	    MENUITEM "&Suuret kuvakkeet",	FCIDM_SHVIEW_SMALLICON
	    MENUITEM "&Lista",			FCIDM_SHVIEW_LISTVIEW
	    MENUITEM "&Tiedot",			FCIDM_SHVIEW_REPORTVIEW
	  END
	  MENUITEM SEPARATOR
	  POPUP "&Järjestä kuvakkeet"
	  BEGIN
	    MENUITEM "&Nimen mukaan",		0x30	/* column 0 */
	    MENUITEM "&Tyypin mukaan",		0x32	/* column 2 */
	    MENUITEM "&Koon mukaan",		0x31	/* ... */
	    MENUITEM "&Päivämäärän mukaan",	0x33
	    MENUITEM SEPARATOR
	    MENUITEM "Järjestä &automaattisesti", FCIDM_SHVIEW_AUTOARRANGE
	  END
	  MENUITEM "Järjestä kuvakkeet riviin",	FCIDM_SHVIEW_SNAPTOGRID
	  MENUITEM SEPARATOR
	  MENUITEM "Päivitä",			FCIDM_SHVIEW_REFRESH
	  MENUITEM SEPARATOR
	  MENUITEM "Liitä",			FCIDM_SHVIEW_INSERT
	  MENUITEM "Liitä linkiksi",		FCIDM_SHVIEW_INSERTLINK
	  MENUITEM SEPARATOR
	  POPUP "Uusi"
	  BEGIN
	    MENUITEM "Uusi &kansio",		FCIDM_SHVIEW_NEWFOLDER
	    MENUITEM "Uusi &linkki",		FCIDM_SHVIEW_NEWLINK
	    MENUITEM SEPARATOR
	  END
	  MENUITEM SEPARATOR
	  MENUITEM "Ominaisuudet",		FCIDM_SHVIEW_PROPERTIES
	END
END

/*
 shellview item menu
*/
MENU_SHV_FILE MENU
BEGIN
	POPUP ""
	BEGIN
	  MENUITEM "&Valitse"			FCIDM_SHVIEW_OPEN
	  MENUITEM "&Selaa",			FCIDM_SHVIEW_EXPLORE
	  MENUITEM "&Avaa",			FCIDM_SHVIEW_OPEN
	  MENUITEM SEPARATOR
	  MENUITEM "&Leikkaa",			FCIDM_SHVIEW_CUT
	  MENUITEM "&Kopioi",			FCIDM_SHVIEW_COPY
	  MENUITEM SEPARATOR
	  MENUITEM "Lu&o linkki",		FCIDM_SHVIEW_CREATELINK
	  MENUITEM "&Poista",			FCIDM_SHVIEW_DELETE
	  MENUITEM "&Nimeä uudelleen",		FCIDM_SHVIEW_RENAME
	  MENUITEM SEPARATOR
	  MENUITEM "&Ominaisuudet",		FCIDM_SHVIEW_PROPERTIES
	END
END

MENU_CPANEL MENU
BEGIN
    POPUP "&Tiedosto"
    BEGIN
        MENUITEM SEPARATOR
        MENUITEM "S&ulje", IDM_CPANEL_EXIT
    END

    POPUP "&Näytä"
    BEGIN
        MENUITEM "&Suuret kuvakkeet", FCIDM_SHVIEW_BIGICON
        MENUITEM "&Pienet kuvakkeet", FCIDM_SHVIEW_SMALLICON
        MENUITEM "&Lista", FCIDM_SHVIEW_LISTVIEW
        MENUITEM "T&iedot", FCIDM_SHVIEW_REPORTVIEW
    END

    POPUP "&Ohje"
    BEGIN
        MENUITEM "Ti&etoja Ohjauspaneelista...", IDM_CPANEL_ABOUT
    END
END

SHBRSFORFOLDER_MSGBOX DIALOG 15, 40, 188, 192
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | DS_SETFONT | DS_3DLOOK
CAPTION "Valitse kansio"
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON "OK", 1, 80, 176, 50, 12, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Peruuta", 2, 134, 176, 50, 12, WS_GROUP | WS_TABSTOP
 LTEXT "", IDD_TITLE, 4, 4, 180, 12
 LTEXT "", IDD_STATUS, 4, 25, 180, 12
 CONTROL "", IDD_TREEVIEW, "SysTreeView32",
 	TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT |
	WS_BORDER | WS_TABSTOP,
	4, 40, 180, 120
}

SHNEWBRSFORFOLDER_MSGBOX DIALOG 15, 40, 218, 196
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX | DS_MODALFRAME | DS_SETFONT | DS_3DLOOK
CAPTION "Valitse kansio"
FONT 8, "MS Shell Dlg"
{
 LTEXT "", IDD_TITLE, 10, 8, 198, 24
 LTEXT "", IDD_STATUS, 10, 25, 198, 12
 LTEXT "Kansio:", IDD_FOLDER, 10, 156, 40, 12
 CONTROL "", IDD_TREEVIEW, "SysTreeView32",
	TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT |
	WS_BORDER | WS_TABSTOP,
	12, 38, 194, 105
 EDITTEXT IDD_FOLDERTEXT, 46, 150, 160, 14, WS_BORDER | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Luo uusi kansio", IDD_MAKENEWFOLDER, 12, 174, 70, 14, WS_GROUP | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 102, 174, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Peruuta", IDCANCEL, 156, 174, 50, 14, WS_GROUP | WS_TABSTOP
}

SHELL_YESTOALL_MSGBOX DIALOG 200, 100, 280, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Viesti"
FONT 8, "MS Shell Dlg"
{
    DEFPUSHBUTTON "&Kyllä", IDYES, 34, 69, 53, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Kyllä k&aikkiin", IDD_YESTOALL, 92, 69, 65, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "&Ei", IDNO, 162, 69, 53, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "&Peruuta", IDCANCEL, 220, 69, 53, 14, WS_GROUP | WS_TABSTOP
    ICON "", IDD_ICON, 10, 10, 16, 16
    LTEXT "", IDD_MESSAGE, 40, 10, 238, 52, 0
}

SHELL_ABOUT_MSGBOX DIALOG 15, 40, 220, 152
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Tietoja ohjelmasta %s"
FONT 10, "MS Shell Dlg"
{
 DEFPUSHBUTTON "OK", IDOK, 153, 133, 60, 12, WS_TABSTOP
 PUSHBUTTON "Winen &lisenssi...", IDC_ABOUT_LICENSE, 153, 113, 60, 12, WS_TABSTOP
 LISTBOX IDC_ABOUT_LISTBOX, 8, 65, 137, 82, LBS_NOTIFY | WS_VSCROLL | WS_BORDER
 ICON "", stc1, 10, 10, 30, 30
 LTEXT "", IDC_ABOUT_STATIC_TEXT1, 40, 10, 170, 10
 LTEXT "", IDC_ABOUT_STATIC_TEXT2, 40, 22, 170, 10
 LTEXT "Käytössä on versio %s", IDC_ABOUT_STATIC_TEXT3, 42, 34, 170, 10
 LTEXT "Winen ovat tehneet:", IDC_ABOUT_WINE_TEXT, 8, 54, 204, 10
}

SHELL_RUN_DLG DIALOG 0, 0, 227, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Shell Dlg"
{
 ICON "", 12297, 7, 11, 18, 20, WS_VISIBLE
 LTEXT "Anna ohjelma, dokumentti tai Internet-osoite, niin Wine avaa sen.", 12289, 36, 11, 182, 18
 LTEXT "&Avaa:", 12305, 7, 39, 24, 10
 CONTROL "", 12298, "COMBOBOX", WS_TABSTOP | WS_GROUP | WS_VSCROLL | WS_VISIBLE | CBS_DISABLENOSCROLL | CBS_AUTOHSCROLL | CBS_DROPDOWN, 36, 37, 183, 100
 DEFPUSHBUTTON "OK", IDOK, 62, 63, 50, 14, WS_TABSTOP
 PUSHBUTTON "Peruuta", IDCANCEL, 116, 63, 50, 14, WS_TABSTOP
 PUSHBUTTON "&Selaa...", 12288, 170, 63, 50, 14, WS_TABSTOP
}

STRINGTABLE
{
        /* columns in the shellview */
	IDS_SHV_COLUMN1		"Tiedosto"
	IDS_SHV_COLUMN2		"Koko"
	IDS_SHV_COLUMN3		"Tyyppi"
	IDS_SHV_COLUMN4		"Muokattu"
	IDS_SHV_COLUMN5		"Ominaisuudet"
	IDS_SHV_COLUMN6		"Koko"
	IDS_SHV_COLUMN7		"Tilaa jäljellä"
	IDS_SHV_COLUMN8		"Nimi"
	IDS_SHV_COLUMN9		"Kommentit"
	IDS_SHV_COLUMN10	"Omistaja"
	IDS_SHV_COLUMN11	"Ryhmä"
	IDS_SHV_COLUMN_DELFROM	"Alkuperäinen sijainti"
	IDS_SHV_COLUMN_DELDATE	"Poistoaika"
	IDS_SHV_COL_DOCS	"Asiakirjat"
	IDS_SHV_COL_STATUS	"Tila"
	IDS_SHV_COL_LOCATION	"Sijainti"
	IDS_SHV_COL_MODEL	"Malli"

        /* special folders */
	IDS_DESKTOP		"Työpöytä"
	IDS_MYCOMPUTER		"Oma tietokone"
	IDS_RECYCLEBIN_FOLDER_NAME      "Roskakori"
	IDS_CONTROLPANEL	"Ohjauspaneeli"

        /* context menus */
	IDS_VIEW_LARGE		"&Suuret kuvakkeet"
	IDS_VIEW_SMALL		"&Pienet kuvakkeet"
	IDS_VIEW_LIST		"&Lista"
	IDS_VIEW_DETAILS	"&Tiedot"
	IDS_SELECT		"Valitse"
	IDS_OPEN		"Avaa"

	IDS_CREATEFOLDER_DENIED "Uutta kansiota ei voitu luoda: Oikeudet eivät riitä."
	IDS_CREATEFOLDER_CAPTION "Virhe luotaessa uutta kansiota"
	IDS_DELETEITEM_CAPTION "Vahvista tiedoston tuhoaminen"
	IDS_DELETEFOLDER_CAPTION "Vahvista kansion tuhoaminen"
	IDS_DELETEITEM_TEXT "Haluatko varmasti tuhota kohteen '%1'?"
	IDS_DELETEMULTIPLE_TEXT "Haluatko varmasti tuhota nämä %1?"
	IDS_DELETESELECTED_TEXT "Haluatko varmasti tuhota valitut kohteet?"
	IDS_TRASHITEM_TEXT "Haluatko varmasti siirtää kohteen '%1' Roskakoriin?"
	IDS_TRASHFOLDER_TEXT "Haluatko varmasti siirtää kohteen '%1' ja kaiken sen sisällön Roskakoriin?"
	IDS_TRASHMULTIPLE_TEXT "Haluatko varmasti siirtää nämä %1 kohdetta roskakoriin?"
	IDS_CANTTRASH_TEXT "Kohdetta '%1' ei voida siirtää Roskakoriin. Haluatko sen sijaan poistaa sen kokonaan?"
	IDS_OVERWRITEFILE_TEXT "Tässä kansiossa on jo tiedosto nimeltä '%1'.\n\nKorvataanko entinen tiedosto?"
	IDS_OVERWRITEFILE_CAPTION "Vahvista tiedoston ylikirjoitus"
	IDS_OVERWRITEFOLDER_TEXT "Tässä kansiossa on jo kansio nimeltä '%1'.\n\n"\
	    "Jos kohdekansiossa on samannimisiä tiedostoja kuin valitussa kansiossa,\n"\
	    "ne korvataan uusilla. Jatketaanko?"

        /* message box strings */
        IDS_RESTART_TITLE       "Käynnistä uudelleen"
        IDS_RESTART_PROMPT      "Haluatko simuloida Windowsin uudelleenkäynnistämistä?"
        IDS_SHUTDOWN_TITLE      "Sammuta"
        IDS_SHUTDOWN_PROMPT     "Haluatko lopettaa Wine-istunnon?"

        /* Run File dialog */
        IDS_RUNDLG_ERROR           "Suorita tiedosto -valintaikkunaa ei voida näyttää (sisäinen virhe)"
        IDS_RUNDLG_BROWSE_ERROR    "Selaa-valintaikkunaa ei voida näyttää (sisäinen virhe)"
        IDS_RUNDLG_BROWSE_CAPTION  "Selaa"
        IDS_RUNDLG_BROWSE_FILTER   "Suoritettavat tiedostot\0*.exe\0Kaikki tiedostot\0*.*\0\0"

        /* shell folder path default values */
	IDS_PROGRAMS                "Käynnistä-valikko\\Ohjelmat"
	IDS_PERSONAL                "Omat tiedostot"
	IDS_FAVORITES               "Suosikit"
	IDS_STARTUP                 "Käynnistä-valikko\\Ohjelmat\\Käynnistys"
	IDS_RECENT                  "Äskettäin käytetyt"
	IDS_SENDTO                  "Lähetä"
	IDS_STARTMENU               "Käynnistä-valikko"
	IDS_MYMUSIC                 "Omat musiikkitiedostot"
	IDS_MYVIDEO                 "Omat videotiedostot"
	IDS_DESKTOPDIRECTORY        "Työpöytä"
	IDS_NETHOOD                 "Verkkoympäristö"
	IDS_TEMPLATES               "Mallit"
	IDS_APPDATA                 "Ohjelmien tiedot"
	IDS_PRINTHOOD               "Tulostinympäristö"
	IDS_LOCAL_APPDATA           "Paikalliset asetukset\\Ohjelmien tiedot"
	IDS_INTERNET_CACHE          "Paikalliset asetukset\\Väliaikaiset Internet-tiedostot"
	IDS_COOKIES                 "Evästeet"
	IDS_HISTORY                 "Paikalliset asetukset\\Historia"
	IDS_PROGRAM_FILES           "Ohjelmatiedostot"
	IDS_PROGRAM_FILESX86        "Ohjelmatiedostot (x86)"
	IDS_MYPICTURES              "Omat kuvatiedostot"
	IDS_PROGRAM_FILES_COMMON    "Ohjelmatiedostot\\Yhteiset tiedostot"
	IDS_PROGRAM_FILES_COMMONX86 "Ohjelmatiedostot (x86)\\Yhteiset tiedostot"
	IDS_COMMON_DOCUMENTS        "Tiedostot"
	IDS_ADMINTOOLS              "Käynnistä-valikko\\Ohjelmat\\Hallintatyökalut"
	IDS_COMMON_MUSIC            "Musiikki"
	IDS_COMMON_PICTURES         "Kuvat"
	IDS_COMMON_VIDEO            "Videot"
	IDS_CDBURN_AREA             "Paikalliset asetukset\\Ohjelmien tiedot\\Microsoft\\CD Burning"
	IDS_CONTACTS                "Kontaktit"
	IDS_LINKS                   "Linkit"
	IDS_PHOTO_ALBUMS            "Kuvat\\Diaesitykset"
	IDS_PLAYLISTS               "Musiikki\\Soittolistat"
	IDS_PUBLIC_DOWNLOADS        "Lataukset"
	IDS_PUBLIC_GAME_TASKS       "Microsoft\\Windows\\GameExplorer"
	IDS_PUBLIC_LIBRARIES        "Microsoft\\Windows\\Libraries"
	IDS_PUBLIC_RINGTONES        "Microsoft\\Windows\\Soittoäänet"
	IDS_SAMPLE_MUSIC            "Musiikki\\Esimerkkimusiikki"
	IDS_SAMPLE_PICTURES         "Kuvat\\Esimerkkikuvat"
	IDS_SAMPLE_PLAYLISTS        "Musiikki\\Esimerkkisoittolistat"
	IDS_SAMPLE_VIDEOS           "Videot\\Esimerkkivideot"
	IDS_SAVED_GAMES             "Tallennetut pelit"
	IDS_SAVED_SEARCHES          "Haut"
	IDS_USER_PROFILES           "Käyttäjät"
	IDS_COMMON_OEM_LINKS        "OEM Links"
	IDS_DOCUMENTS               "Tiedostot"
	IDS_DOWNLOADS               "Lataukset"
	IDS_LOCAL_APPDATA_LOW       "AppData\\LocalLow"

	IDS_NEWFOLDER		"Uusi kansio"

	IDS_CPANEL_TITLE            "Winen Ohjauspaneeli"
	IDS_CPANEL_NAME             "Nimi"
	IDS_CPANEL_DESCRIPTION      "Kuvaus"

        IDS_SHLEXEC_NOASSOC         "Tämän tiedostotyypin avaamiseen ei ole kytketty mitään Windows-ohjelmaa."
}

STRINGTABLE
{
IDS_LICENSE_CAPTION,            "Winen lisenssi"
IDS_LICENSE,
"Wine is free software; you can redistribute it and/or \
modify it under the terms of the GNU Lesser General Public \
License as published by the Free Software Foundation; either \
version 2.1 of the License, or (at your option) any later version.\n\n\
Wine is distributed in the hope that it will be useful, \
but WITHOUT ANY WARRANTY; without even the implied warranty of \
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU \
Lesser General Public License for more details.\n\n\
You should have received a copy of the GNU Lesser General Public \
License along with Wine; if not, write to the Free Software \
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA."
}
