/*
 * Uninstaller (German Resources)
 *
 * Copyright 2005 Henning Gerhardt
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

IDD_UNINSTALLER DIALOG DISCARDABLE 0, 0, 330, 160
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Wine Anwendungsentferner"
FONT 10, "MS Sans Serif"
BEGIN
        LTEXT           "Bitte wählen Sie die Anwendung aus, die Sie entfernen möchten:",IDC_PLEASESELECT,10,10,250,14
        EDITTEXT        IDC_FILTER,10,25,250,14,ES_AUTOHSCROLL
        LISTBOX         IDC_LIST,10,43,250,106,LBS_NOINTEGRALHEIGHT |
                        LBS_EXTENDEDSEL | WS_VSCROLL | WS_TABSTOP
        PUSHBUTTON      "&Entfernen",IDC_UNINSTALL,270,48,50,14
        PUSHBUTTON      "Ü&ber",IDC_ABOUT,270,65,50,14
        PUSHBUTTON      "E&nde",IDC_EXIT,270,81,50,14
END

STRINGTABLE DISCARDABLE {
     IDS_APPNAME, "Wine Anwendungsentferner"
     IDS_ABOUT, "Wine Anwendungsentferner (C) 2005 durch Andreas Mohr, Hannu Valtonen und Jonathan Ernst."
     IDS_ABOUTTITLE, "Über den Anwendungsentferner"
     IDS_REGISTRYKEYNOTAVAILABLE, "Der Registry-Schlüssel für zu entfernende Anwendung(en) ist (noch) nicht verfügbar, es kann nichts gemacht werden."
     IDS_UNINSTALLFAILED, "Die Ausführung des Entfernungsbefehls '%s' ist fehlgeschlagen, wahrscheinlich durch eine fehlende, ausführbare Datei.\r\nMöchten Sie, dass der Anwendungseintrag aus der Registry entfernt wird ?"
}
