/*
 * Uninstaller (French Resources)
 *
 * Copyright 2005-2006 Jonathan Ernst
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

IDD_UNINSTALLER DIALOG DISCARDABLE  0, 0, 330, 160
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Désinstalleur d'applications de Wine"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT           "Veuillez sélectionner l'application à désinstaller :",IDC_PLEASESELECT,10,10,250,14
    EDITTEXT        IDC_FILTER,10,25,250,14,ES_AUTOHSCROLL
    LISTBOX         IDC_LIST,10,43,250,106,LBS_NOINTEGRALHEIGHT | 
                    LBS_EXTENDEDSEL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Supprimer",IDC_UNINSTALL,270,48,50,14
    PUSHBUTTON      "À &propos",IDC_ABOUT,270,65,50,14
    PUSHBUTTON      "&Quitter",IDC_EXIT,270,81,50,14
END


STRINGTABLE DISCARDABLE {
     IDS_APPNAME, "Désinstalleur d'applications de Wine"
     IDS_ABOUT, "Désinstalleur d'applications de Wine (C) 2005 par Andreas Mohr, Hannu Valtonen et Jonathan Ernst."
     IDS_ABOUTTITLE, "À propos du désinstalleur"
     IDS_REGISTRYKEYNOTAVAILABLE, "Clé de dsinstallation non disponible dans la base de registre (actuellement). Il n'y a rien  faire !"
     IDS_UNINSTALLFAILED, "Erreur lors de l'excution de la commande de désinstallation « %s ». L'exécutable ne peut peut être pas être trouvé.\r\nSouhaitez-vous supprimmer l'entrée de la base de registre ?"
}
