/*
 * Uninstaller (Korean Resources)
 *
 * Copyright 2005 Jonathan Ernst
 * Copyright 2005 YunSong Hwang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resource.h"

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

STRINGTABLE {
     IDS_APPNAME, "Wine Application 제거하기"
     IDS_UNINSTALLFAILED, "언인스톨 명령 '%s' 실행 실패,  실행파일이 없는 것 같습니다.\r\n당신은 레지스트리에서 언인스톨 등록키를 제거하겠습니까 ?"
}
