LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE 
{
 MENUITEM "&Wiederherstellen", 61728
 MENUITEM "&Verschieben", 61456
 MENUITEM "&Größe", 61440
 MENUITEM "Mi&nimieren", 61472
 MENUITEM "Ma&ximieren", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Schließen\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Wechseln zu ...\tCtrl-Esc", 61744
 MENUITEM SEPARATOR
 MENUITEM "&Über WINE ...", 61761
 MENUITEM SEPARATOR
 MENUITEM "Setze &Marke in die Debug-Ausgabe", 61762
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Rückgängig", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "&Ausschneiden", WM_CUT
		MENUITEM "&Kopieren", WM_COPY
		MENUITEM "&Einfügen", WM_PASTE
		MENUITEM "&Löschen", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "&Alles markieren", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&Ok", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Abbruch", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Abbruch", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Wiederholen", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignorieren", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ja", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Nein", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

