LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
 MENUITEM "&Obnov", 61728
 MENUITEM "Pøe&suò", 61456
 MENUITEM "&Zmìò velikost", 61440
 MENUITEM "Mi&nimalizuj", 61472
 MENUITEM "Ma&ximalizuj", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Zavøi\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Pøepni do jiné úlohy...\tCtrl-Esc", 61744
 MENUITEM SEPARATOR
 MENUITEM "&O programu WINE", 61761
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Undo", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t", WM_CUT
		MENUITEM "&Copy", WM_COPY
		MENUITEM "&Paste", WM_PASTE
		MENUITEM "&Delete", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "Select &All", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&Ok", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Storno", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Pøerušit", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Zkusit znovu", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignorovat", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ano", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ne", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

