LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
 MENUITEM "&Restauration", 61728
 MENUITEM "&Déplacement", 61456
 MENUITEM "Di&mension", 61440
 MENUITEM "Réduct&ion", 61472
 MENUITEM "&Agrandissement", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Fermeture\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Basculer vers ...\tCtrl-Echap", 61744
 MENUITEM SEPARATOR
 MENUITEM "A propos de &Wine ...", 61761
 MENUITEM SEPARATOR
 MENUITEM "Insérer une marque dans le flux de déboguage", 61762
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Annuler", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Coupe&r", WM_CUT
		MENUITEM "&Copier", WM_COPY
		MENUITEM "C&oller", WM_PASTE
		MENUITEM "E&ffacer", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "Tout &sélectionner", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&Ok", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Annuler", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Annuler", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Répéter", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignorer", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Oui", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Non", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

