LANGUAGE LANG_WALON, SUBLANG_DEFAULT

/* 
 * Si vos voloz aider avou li ratoûrnaedje des libes programes è walon,
 * vos poloz scrîre a l' adresse emile <linux-wa@chanae.alphanet.ch>
 */

#include <windows.h>

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
 MENUITEM "&Rifé", 61728
 MENUITEM "&Bodjî", 61456
 MENUITEM "&Grandeu", 61440
 MENUITEM "Å pu gran&d", 61472
 MENUITEM "Å pu &ptit", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Cloyu\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "Baguer &A ...\tCtrl-Echap", 61744
 MENUITEM SEPARATOR
 MENUITEM "Å dfait di &Wine ...", 61761
 MENUITEM SEPARATOR
 MENUITEM "Sititchî ene marke dins l' canå di disbugaedje", 61762
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Disfé", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cô&per", WM_CUT
		MENUITEM "&Copyî", WM_COPY
		MENUITEM "C&laper", WM_PASTE
		MENUITEM "Dis&facer", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "&Tchewzi totåfwait", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&I Va", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Rinoncî", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Rinoncî", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "Ri&peter", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Passer hute", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Oyi", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Neni", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

