LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
BEGIN
 MENUITEM "&Visszaállítás", 61728
 MENUITEM "&Mozgatás", 61456
 MENUITEM "Á&tméretezés", 61440
 MENUITEM "&Kicsinyítés", 61472
 MENUITEM "&Nagyítás", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Bezárás\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "Ta&szkváltás...\tCtrl-Esc", 61744
 MENUITEM SEPARATOR
 MENUITEM "A &WINE-ról ...", 61761
END

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
BEGIN
        POPUP ""
        BEGIN
                MENUITEM "&Visszavonás", EM_UNDO
                MENUITEM SEPARATOR
                MENUITEM "&Kivágás", WM_CUT
                MENUITEM "&Másolás", WM_COPY
                MENUITEM "&Beillesztés", WM_PASTE
                MENUITEM "&Törlés", WM_CLEAR
                MENUITEM SEPARATOR
                MENUITEM "M&inden kijelölése", EM_SETSEL
        END
END

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&Ok", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Mégsem", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Abortálás", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "Újra &próbál", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "I&gnorálás", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Igen", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Nem", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

