/*
 * Task termination utility
 * Lithuanian language support
 *
 * Copyright 2010 Aurimas Fišeras <aurimas@gmail.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "taskkill.h"

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_LITHUANIAN, SUBLANG_NEUTRAL

STRINGTABLE
{
    STRING_USAGE, "Naudojimas: taskkill [/?] [/f] [/im ProcesoVardas | /pid ProcesoID]\n"
    STRING_INVALID_OPTION, "Klaida: nurodyta nežinoma arba neteisinga komandos eilutės parinktis.\n"
    STRING_INVALID_PARAM, "Klaida: nurodytas neteisingas komandos eilutės parametras.\n"
    STRING_MISSING_OPTION, "Klaida: viena iš parinkčių /im arba /pid privalo būti nurodyta.\n"
    STRING_MISSING_PARAM, "Klaida: parinkčiai %s reikalingas komandos eilutės parametras.\n"
    STRING_MUTUAL_EXCLUSIVE, "Klaida: parinktys /im ir /pid yra nesuderinamos.\n"
    STRING_CLOSE_PID_SEARCH, "Užvėrimo pranešimas nusiųstas aukščiausiojo lygio proceso, kurio PID %u, langams.\n"
    STRING_CLOSE_PROC_SRCH, "Užvėrimo pranešimas nusiųstas aukščiausiojo lygio proceso „%s“, kurio PID %u, langams.\n"
    STRING_TERM_PID_SEARCH, "Procesas, kurio PID %u, buvo priverstinai nutrauktas.\n"
    STRING_TERM_PROC_SEARCH, "Procesas „%s“, kurio PID %u, buvo priverstinai nutrauktas.\n"
    STRING_SEARCH_FAILED, "Klaida: nepavyko rasti proceso „%s“.\n"
    STRING_ENUM_FAILED, "Klaida: nepavyko gauti procesų sąrašo.\n"
    STRING_TERMINATE_FAILED, "Klaida: nepavyko nutraukti proceso „%s“.\n"
    STRING_SELF_TERMINATION, "Klaida: savo proceso priverstinis nutraukimas negalimas.\n"
}
