/*
 * Copyright 2025 Francis De Brabandere
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include <windef.h>
#include "resource.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_USAGE,
"Usage: CScript scriptname.extension [option...] [arguments...]\n\
\n\
Options:\n\
 //B         Batch mode: Suppresses script errors and prompts from displaying\n\
 //D         Enable Active Debugging\n\
 //E:engine  Use engine for executing script\n\
 //H:CScript Changes the default script host to CScript.exe\n\
 //H:WScript Changes the default script host to WScript.exe (default)\n\
 //I         Interactive mode (default, opposite of //B)\n\
 //Job:xxxx  Execute a WSF job\n\
 //Logo      Display logo (default)\n\
 //Nologo    Prevent logo display: No banner will be shown at execution time\n\
 //S         Save current command line options for this user\n\
 //T:nn      Time out in seconds:  Maximum time a script is permitted to run\n\
 //X         Execute script in debugger\n\
 //U         Use Unicode for redirected I/O from the console\n"

    IDS_NO_SCRIPT_FILE, "Input Error: There is no script file specified.\n"
    IDS_FILE_NOT_FOUND, "Input Error: Can not find script file ""%1"".\n"
    IDS_SCRIPT_LOAD_ERROR, "CScript Error: Loading script ""%1"" failed (%2).\n"
    IDS_TIMEOUT_EXCEEDED,
"Script execution time was exceeded on script ""%1"".\n\
Script execution was terminated.\n"
}
