/*
 * cryptui dll Korean resources

 * Copyright 2008 Juan Lang
 * Copyright 2008,2010 YunSong Hwang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "cryptuires.h"

#pragma code_page(65001)

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

IDD_GENERAL DIALOG 0, 0, 255, 236
CAPTION "일반"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", -1, "Static", WS_BORDER|SS_WHITERECT, 6,10,241,200
  CONTROL "", IDC_CERTIFICATE_ICON,"RichEdit20W",
    ES_READONLY|WS_DISABLED,8,11,26,26
  CONTROL "", IDC_CERTIFICATE_INFO,"RichEdit20W",
    ES_READONLY|WS_DISABLED,34,11,212,26
  CONTROL "", -1, "Static", SS_BLACKFRAME, 16,37,222,1
  CONTROL "", IDC_CERTIFICATE_STATUS,"RichEdit20W",
    ES_READONLY|ES_MULTILINE,8,38,238,78
  CONTROL "", -1, "Static", SS_BLACKFRAME, 16,116,222,1
  CONTROL "", IDC_CERTIFICATE_NAMES,"RichEdit20W",
    ES_READONLY|ES_MULTILINE|WS_DISABLED,8,118,238,90
  PUSHBUTTON "인증서 설치(&I)...", IDC_ADDTOSTORE,103,216,70,14
  PUSHBUTTON "발행자 설명(&S)", IDC_ISSUERSTATEMENT,177,216,70,14
END

IDD_DETAIL DIALOG 0, 0, 255, 236
CAPTION "자세히"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "표시(&S):", -1, 6,12,40,14
  COMBOBOX IDC_DETAIL_SELECT, 28,10,100,14,
    CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_DETAIL_LIST, "SysListView32",
    LVS_REPORT|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    6,28,241,100
  CONTROL "", IDC_DETAIL_VALUE, "RichEdit20W",
    ES_READONLY|ES_MULTILINE|WS_TABSTOP, 6,136,241,70
  PUSHBUTTON "속성 편집(&E)...", IDC_EDITPROPERTIES,103,216,70,14
  PUSHBUTTON "파일로 복사(&C)...", IDC_EXPORT,177,216,70,14
END

IDD_HIERARCHY DIALOG 0, 0, 255, 236
CAPTION "인증서 경로"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "인증서 경로(&P)", -1,6,10,245,165, BS_GROUPBOX
  CONTROL "",IDC_CERTPATH, "SysTreeView32", TVS_HASLINES|WS_BORDER,
    13,22,231,130
  PUSHBUTTON "인증서 보기(&V)", IDC_VIEWCERTIFICATE,175,156,70,14
  LTEXT "인증서 상태(&S):", IDC_CERTIFICATESTATUS,6,183,70,14
  CONTROL "", IDC_CERTIFICATESTATUSTEXT,"RichEdit20W",
    WS_BORDER|ES_READONLY|ES_MULTILINE|WS_DISABLED,6,195,245,36
END

IDD_USERNOTICE DIALOG 0, 0, 255, 256
CAPTION "거부"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", IDC_USERNOTICE,"RichEdit20W",
    WS_BORDER|ES_READONLY|ES_MULTILINE|WS_DISABLED,6,10,241,200
  PUSHBUTTON "닫기", IDOK,103,216,70,14
  PUSHBUTTON "추가 정보(&I)", IDC_CPS,177,216,70,14
END

IDD_CERT_PROPERTIES_GENERAL DIALOG 0, 0, 255, 236
CAPTION "일반"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "애칭(&F):", -1, 6,14,60,14
	EDITTEXT IDC_FRIENDLY_NAME, 60,12,191,14, ES_AUTOHSCROLL|WS_TABSTOP
	LTEXT "설명(&D):", -1, 6,32,60,14
	EDITTEXT IDC_DESCRIPTION, 60,30,191,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
	GROUPBOX "인증서 용도", -1,6,48,245,165, BS_GROUPBOX
	AUTORADIOBUTTON "인증서를 모든 용도로 사용 가능(&E)",
	IDC_ENABLE_ALL_PURPOSES, 12,58,180,14, BS_AUTORADIOBUTTON|WS_TABSTOP
	AUTORADIOBUTTON "인증서를 모든 용도로 사용하지 않음(&I)",
	IDC_DISABLE_ALL_PURPOSES, 12,70,180,14, BS_AUTORADIOBUTTON
	AUTORADIOBUTTON "인증서를 오직 다음의 용도로만 사용(&O):",
	IDC_ENABLE_SELECTED_PURPOSES, 12,82,180,14, BS_AUTORADIOBUTTON
	CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
	LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,24,100,220,90
	PUSHBUTTON "용도 추가(&)...", IDC_ADD_PURPOSE,184,194,60,14
END

IDD_ADD_CERT_PURPOSE DIALOG 0,0,200,68
CAPTION "용도 추가"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "추가하고자 하는 인증서 용도의 객체 식별자(OID) 추가:",-1, 6,6,190,28
	EDITTEXT IDC_NEW_PURPOSE, 6,28,190,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
	PUSHBUTTON "확인", IDOK, 33,48,60,14
	PUSHBUTTON "취소", IDCANCEL, 100,48,60,14
END

IDD_SELECT_STORE DIALOG 0,0,200,136
CAPTION "인증서 저장소 선택"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "사용하고자 하는 인증서 저장소를 선택하십시오:", IDC_STORE_TEXT, 6,6,190,28
	CONTROL "",IDC_STORE_LIST, "SysTreeView32", TVS_HASLINES|WS_BORDER|WS_TABSTOP,6,28,188,70
	CHECKBOX "물리적 저장소 보여주기(&S)", IDC_SHOW_PHYSICAL_STORES, 6,102,90,14,BS_AUTOCHECKBOX|WS_TABSTOP
	PUSHBUTTON "확인", IDOK, 90,118,50,14, BS_DEFPUSHBUTTON
	PUSHBUTTON "취소", IDCANCEL, 144,118,50,14
END

IDD_IMPORT_WELCOME DIALOG 0,0,317,143
CAPTION "인증서 가져오기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "인증서 가져오기 마법사에 온 것을 환영합니다", IDC_IMPORT_TITLE,115,7,195,12
	LTEXT "이 마법사는 당신이 파일로부터 인증서,인증서 파기 목록,인증서 신뢰 목록을 인증서 보관소에 가져오는 것을 도와줍니다.",-1, 115,26,195,25
	LTEXT "이 인증서는 당신이나 당신이 통신에 사용하는 컴퓨터를 신원보증하는 데 사용됩니다.  또한  메세지에 사인하고 인증하는 데도 사용됩니다. 인증서 보관소는 인증서, 인증서 파기 목록, 인증서 신뢰 목록의 저장소입니다.",-1, 115,56,195,40
	LTEXT "계속하려면, 다음을 클릭하십시오.",-1, 115,103,195,8
END

IDD_IMPORT_FILE DIALOG 0,0,317,178
CAPTION "인증서 가져오기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "파일 이름(&F):", -1, 21,1,195,10
	EDITTEXT IDC_IMPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
	PUSHBUTTON "찾기(&R)...", IDC_IMPORT_BROWSE_FILE, 236,11,60,14
	LTEXT "주의:  이 파일 형식은 아마도 하나 이상의 인증서,인증서 파기 목록,인증서 신뢰 목록을 가지고 있을 수 있습니다:", -1, 21,26,265,16
	LTEXT "암호화 메세지 문법 표준/PKCS #7 메시지 (.p7b)",-1, 31,49,265,10
	LTEXT "개인 정보 교환/PKCS #12 (.pfx, .p12)",-1, 31,64,265,10
	LTEXT "Microsoft 연속 인증서 보관소 (.sst)",-1, 31,79,265,10
END

IDD_IMPORT_STORE DIALOG 0,0,317,143
CAPTION "인증서 가져오기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Wine이 자동으로 인증서 저장소를 선택하거나, 아니면 직접 저장할 곳을 선택할 수 있습니다.", -1, 21,1,195,20
	AUTORADIOBUTTON "자동으로 인증서 저장소 선택(&A)",IDC_IMPORT_AUTO_STORE, 31,18,180,12, BS_AUTORADIOBUTTON|WS_TABSTOP
	AUTORADIOBUTTON "다음 저장소에 모든 인증서 저장(&P):",IDC_IMPORT_SPECIFY_STORE, 31,30,180,12, BS_AUTORADIOBUTTON
	EDITTEXT IDC_IMPORT_STORE, 44,49,185,14, ES_READONLY
	PUSHBUTTON "찾기(&R)...", IDC_IMPORT_BROWSE_STORE, 236,49,60,14
END

IDD_IMPORT_FINISH DIALOG 0,0,317,178
CAPTION "인증서 가져오기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "인증서 가져오기 마법사 마치는 중", IDC_IMPORT_TITLE,115,1,195,40
	LTEXT "당신은 인증서 가져오기 마법사를 마치는데 성공했습니다.",-1, 115,33,195,24
	LTEXT "당신은 다음 설정을 지정했습니다:",-1, 115,57,195,12
	CONTROL "", IDC_IMPORT_SETTINGS, "SysListView32",
	LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END

IDD_CERT_MGR DIALOG 0,0,335,270
CAPTION "인증서"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "지정된 용도(&N):", -1, 7,9,100,12
  COMBOBOX IDC_MGR_PURPOSE_SELECTION, 83,7,245,14,
    CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_MGR_STORES, "SysTabControl32",
    WS_CLIPSIBLINGS|WS_TABSTOP, 7,25,321,140
  CONTROL "", IDC_MGR_CERTS, "SysListView32",
    LVS_REPORT|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER, 15,46,305,111
  PUSHBUTTON "불러오기(&I)...", IDC_MGR_IMPORT, 7,172,51,14
  PUSHBUTTON "내보내기(&E)...", IDC_MGR_EXPORT, 62,172,51,14, WS_DISABLED
  PUSHBUTTON "제거하기(&R)", IDC_MGR_REMOVE, 117,172,51,14, WS_DISABLED
  PUSHBUTTON "추가(&A)...", IDC_MGR_ADVANCED, 277,172,51,14
  GROUPBOX "인증서 지정 용도", -1,7,194,321,47, BS_GROUPBOX
  LTEXT "", IDC_MGR_PURPOSES, 13,208,252,30
  PUSHBUTTON "보기(&V)", IDC_MGR_VIEW, 269,218,51,14, WS_DISABLED
  PUSHBUTTON "닫기(&C)", IDCANCEL, 277,249,51,14, BS_DEFPUSHBUTTON
END

IDD_CERT_MGR_ADVANCED DIALOG 0,0,248,176
CAPTION "추가 옵션"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "인증서 용도", -1, 7,7,234,141, BS_GROUPBOX
  LTEXT "추가 용도가 선택되었을 때 나타나는 하나나 다수의 용도 선택.",
    -1, 14,18,220,16
  LTEXT "인증서 용도(&C):", -1, 14,41,90,12, WS_TABSTOP
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    14,51,220,90
  PUSHBUTTON "확인", IDOK, 132,155,51,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "취소", IDCANCEL, 190,155,51,14
END


IDD_EXPORT_WELCOME DIALOG 0,0,317,143
CAPTION "인증서 내보내기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "인증서 내보내기 마법사에 오신 것을 환영합니다", IDC_EXPORT_TITLE,
    115,7,195,12
  LTEXT "이 마법사는 인증서,인증서 폐기 목록,인증서 신뢰 목록을 인증서 저장소로부터 파일로 내보내는 것을 도와줄겁니다.",
    -1, 115,26,195,25
  LTEXT " 인증서는 당신이나 당신이 통신에 사용하는 컴퓨터를 신원보증하는 데 사용됩니다.  또한  메세지에 사인하고 인증하는 데도 사용됩니다. 인증서 보관소는 인증서, 인증서 파기 목록, 인증서 신뢰 목록의 저장소입니다..",
    -1, 115,56,195,40
  LTEXT "계속 하실려면, <다음>을 클릭하십시오.",
    -1, 115,103,195,8
END

IDD_EXPORT_PRIVATE_KEY DIALOG 0,0,317,143
CAPTION "인증서 내보내기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "당신이  개인 키를 내보내기를 선택하면, 당신은 다음 페이지에서 개인 키를 보호할 암호를 입력하게 될 것입니다.", -1, 21,1,195,25
	LTEXT "개인 키를 내보내기를 원합니까?", -1, 21,27,195,10
	AUTORADIOBUTTON "예(&Y), 개인 키 내보내기",
	IDC_EXPORT_PRIVATE_KEY_YES, 31,36,200,12, BS_AUTORADIOBUTTON|WS_TABSTOP
	AUTORADIOBUTTON "아니오(&O), 개인 키 안 내보내기",
	IDC_EXPORT_PRIVATE_KEY_NO, 31,48,200,12, BS_AUTORADIOBUTTON
	LTEXT "", IDC_EXPORT_PRIVATE_KEY_UNAVAILABLE, 21,60,200,24
END

IDD_EXPORT_PASSWORD DIALOG 0,0,317,143
CAPTION "인증서 내보내기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT "암호(&P):", -1, 21,1,195,10
EDITTEXT IDC_EXPORT_PASSWORD, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
LTEXT "암호 확인(&C):", -1, 21,35,195,10
EDITTEXT IDC_EXPORT_PASSWORD_CONFIRM, 21,45,208,14, ES_AUTOHSCROLL|WS_TABSTOP
END

IDD_EXPORT_FORMAT DIALOG 0,0,317,143
CAPTION "인증서 내보내기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "사용할 파일 형식 선택:", -1, 21,1,195,10
  AUTORADIOBUTTON "&DER-암호화된 X.509 (.cer)",
    IDC_EXPORT_FORMAT_DER, 31,18,240,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "Ba&se64-암호화된 X.509 (.cer):",
    IDC_EXPORT_FORMAT_BASE64, 31,30,240,12, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "암호 메시지 문법 표준/PKCS #7 메시지(&C) (.p7b)",
    IDC_EXPORT_FORMAT_CMS, 31,42,240,12, BS_AUTORADIOBUTTON
  CHECKBOX "가능한 인증서 경로에 있는 모든 인증서 포함(&I)",
    IDC_EXPORT_CMS_INCLUDE_CHAIN, 44,57,240,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  AUTORADIOBUTTON "개인 정보 교환(&P)/PKCS #12 (.pfx)",
    IDC_EXPORT_FORMAT_PFX, 31,72,240,12, BS_AUTORADIOBUTTON|WS_DISABLED
  CHECKBOX "가능한 인증서 경로에 있는 모든 인증서 포함(&U)",
    IDC_EXPORT_PFX_INCLUDE_CHAIN, 44,87,240,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "강한 암호화 가능(&E)",
    IDC_EXPORT_PFX_STRONG_ENCRYPTION, 44,102,240,8,
    BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "내보내기가 성공하면 개인 키 지우기(&K)",
    IDC_EXPORT_PFX_DELETE_PRIVATE_KEY, 44,117,240,8,
    BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
END

IDD_EXPORT_FILE DIALOG 0,0,317,143
CAPTION "인증서 내보내기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "파일 이름(&F):", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "찾기(&R)...", IDC_EXPORT_BROWSE_FILE, 236,11,60,14
END

IDD_EXPORT_FINISH DIALOG 0,0,317,178
CAPTION "인증서 내보내기 마법사"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "인증서 내보내기 마법서 완료하는 중", IDC_EXPORT_TITLE,
    115,1,195,40
  LTEXT "당신은 인증서 내보내기 마법를 완료하는 데 성공하였습니다.",
    -1, 115,33,195,24
  LTEXT "당신은 다음 설정을 지정했습니다:",
    -1, 115,57,195,12
  CONTROL "", IDC_EXPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END
