/*
 * cryptui dll resources
 *
 * Copyright 2010 £ukasz Wojni³owicz
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "cryptuires.h"

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

IDD_GENERAL DIALOG 0, 0, 255, 236
CAPTION "Ogólne"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", -1, "Static", WS_BORDER|SS_WHITERECT, 6,10,241,200
  CONTROL "", IDC_CERTIFICATE_ICON,"RichEdit20W",
    ES_READONLY|WS_DISABLED,8,11,26,26
  CONTROL "", IDC_CERTIFICATE_INFO,"RichEdit20W",
    ES_READONLY|WS_DISABLED,34,11,212,26
  CONTROL "", -1, "Static", SS_BLACKFRAME, 16,37,222,1
  CONTROL "", IDC_CERTIFICATE_STATUS,"RichEdit20W",
    ES_READONLY|ES_MULTILINE,8,38,238,78
  CONTROL "", -1, "Static", SS_BLACKFRAME, 16,116,222,1
  CONTROL "", IDC_CERTIFICATE_NAMES,"RichEdit20W",
    ES_READONLY|ES_MULTILINE|WS_DISABLED,8,118,238,90
  PUSHBUTTON "&Zainstaluj certyfikat...", IDC_ADDTOSTORE,103,216,70,14
  PUSHBUTTON "&Oœwiadczenie wystawcy", IDC_ISSUERSTATEMENT,177,216,70,14
END

IDD_DETAIL DIALOG 0, 0, 255, 236
CAPTION "Szczegó³y"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Poka¿:", -1, 6,12,40,14
  COMBOBOX IDC_DETAIL_SELECT, 28,10,100,14,
    CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_DETAIL_LIST, "SysListView32",
    LVS_REPORT|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    6,28,241,100
  CONTROL "", IDC_DETAIL_VALUE, "RichEdit20W",
    ES_READONLY|ES_MULTILINE|WS_TABSTOP, 6,136,241,70
  PUSHBUTTON "&Edytuj w³aœciwoœci...", IDC_EDITPROPERTIES,103,216,70,14
  PUSHBUTTON "&Kopiuj do pliku...", IDC_EXPORT,177,216,70,14
END

IDD_HIERARCHY DIALOG 0, 0, 255, 236
CAPTION "Œcie¿ka certyfikacji"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Œcie¿ka &certyfikacji", -1,6,10,245,165, BS_GROUPBOX
  CONTROL "",IDC_CERTPATH, "SysTreeView32", TVS_HASLINES|WS_BORDER,
    13,22,231,130
  PUSHBUTTON "&Wyœwietl certyfikat", IDC_VIEWCERTIFICATE,175,156,70,14
  LTEXT "&Stan certyfikatu:", IDC_CERTIFICATESTATUS,6,183,70,14
  CONTROL "", IDC_CERTIFICATESTATUSTEXT,"RichEdit20W",
    WS_BORDER|ES_READONLY|ES_MULTILINE|WS_DISABLED,6,195,245,36
END

IDD_USERNOTICE DIALOG 0, 0, 255, 256
CAPTION "Zrzeczenie"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", IDC_USERNOTICE,"RichEdit20W",
    WS_BORDER|ES_READONLY|ES_MULTILINE|WS_DISABLED,6,10,241,200
  PUSHBUTTON "Zamknij", IDOK,103,216,70,14
  PUSHBUTTON "Wiêcej &informacji", IDC_CPS,177,216,70,14
END

IDD_CERT_PROPERTIES_GENERAL DIALOG 0, 0, 255, 236
CAPTION "Ogólne"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Przyjazna nazwa:", -1, 6,14,60,14
  EDITTEXT IDC_FRIENDLY_NAME, 60,12,191,14, ES_AUTOHSCROLL|WS_TABSTOP
  LTEXT "&Opis:", -1, 6,32,60,14
  EDITTEXT IDC_DESCRIPTION, 60,30,191,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
  GROUPBOX "Cel certyfikatu", -1,6,48,245,165, BS_GROUPBOX
  AUTORADIOBUTTON "&W³¹cz wszystkie cele dla tego certyfikatu",
    IDC_ENABLE_ALL_PURPOSES, 12,58,180,14, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "Wy³¹&cz wszystkie cele dla tego certyfikatu",
    IDC_DISABLE_ALL_PURPOSES, 12,70,180,14, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "W³¹cz &nastêpuj¹ce cele dla tego certyfikatu:",
    IDC_ENABLE_SELECTED_PURPOSES, 12,82,180,14, BS_AUTORADIOBUTTON
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    24,100,220,90
  PUSHBUTTON "&Dodaj cel...", IDC_ADD_PURPOSE,184,194,60,14
END

IDD_ADD_CERT_PURPOSE DIALOG 0,0,200,68
CAPTION "Dodaj cel"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Wpisz identyfikator obiektu (OID) dla celu certyfikatu, który chcesz dodaæ:",
    -1, 6,6,190,28
  EDITTEXT IDC_NEW_PURPOSE, 6,28,190,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
  PUSHBUTTON "OK", IDOK, 33,48,60,14
  PUSHBUTTON "Anuluj", IDCANCEL, 100,48,60,14
END

IDD_SELECT_STORE DIALOG 0,0,200,136
CAPTION "Wybór magazynu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Wybierz magazyn certyfikatów, który chcesz u¿yæ:", IDC_STORE_TEXT, 6,6,190,28
  CONTROL "",IDC_STORE_LIST, "SysTreeView32", TVS_HASLINES|WS_BORDER|WS_TABSTOP,
    6,28,188,70
  CHECKBOX "&Poka¿ fizyczne magazyny", IDC_SHOW_PHYSICAL_STORES, 6,102,90,14,
    BS_AUTOCHECKBOX|WS_TABSTOP
  PUSHBUTTON "OK", IDOK, 90,118,50,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Anuluj", IDCANCEL, 144,118,50,14
END

IDD_IMPORT_WELCOME DIALOG 0,0,317,143
CAPTION "Kreator importu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Witamy w kreatorze importu certyfikatów", IDC_IMPORT_TITLE,
    115,7,195,12
  LTEXT "Ten kreator pomo¿e tobie zaimportowaæ certyfikaty, listy odwo³ania certyfikatu i listy zaufania certyfikatu z pliku do magazynu certyfikatów.",
    -1, 115,26,195,25
  LTEXT "Certyfikat mo¿e byæ u¿yty do identyfikacji ciebie lub komputera, z którym siê komunikujesz.  Mo¿e byæ równiez u¿yty do uwierzytelnienia i podpisywania wiadomoœci. Magazyn certyfikatów jest zbiorem certyfikatów, list odwo³ania certyfikatu oraz list zaufania certyfikatu.",
    -1, 115,56,195,40
  LTEXT "Aby kontynuowaæ, kliknij przycisk Dalej.",
    -1, 115,103,195,8
END

IDD_IMPORT_FILE DIALOG 0,0,317,178
CAPTION "Kreator importu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Nazwa pliku:", -1, 21,1,195,10
  EDITTEXT IDC_IMPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "&Przegl¹daj...", IDC_IMPORT_BROWSE_FILE, 236,11,60,14
  LTEXT "Uwaga:  Nastêpuj¹ce formaty plików mog¹ zawieraæ wiêcej ni¿ jeden certyfikat, listê odwo³ania certyfikatu lub listê zaufania certyfikatu:",
    -1, 21,26,265,16
  LTEXT "Standard sk³adni wiadomoœci kryptograficznych - certyfikaty PKCS #7 (.p7b)",
    -1, 31,49,265,10
  LTEXT "Wymiana informacji osobistych/PKCS #12 (.pfx, .p12)",
    -1, 31,64,265,10
  LTEXT "Magazyn certyfikatów seryjnych firmy Microsoft (.sst)",
    -1, 31,79,265,10
END

IDD_IMPORT_STORE DIALOG 0,0,317,143
CAPTION "Kreator importu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Wine mo¿e automatycznie wybraæ magazyn certyfikatów. Mo¿esz tak¿e rêcznie okreœliæ po³o¿enie certyfikatów.",
    -1, 21,1,195,20
  AUTORADIOBUTTON "&Automatycznie wybierz magazyn certyfikatów",
    IDC_IMPORT_AUTO_STORE, 31,18,180,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "&Umieœæ wszystkie certyfikaty w nastêpuj¹cym magazynie:",
    IDC_IMPORT_SPECIFY_STORE, 31,30,180,12, BS_AUTORADIOBUTTON
  EDITTEXT IDC_IMPORT_STORE, 44,49,185,14, ES_READONLY
  PUSHBUTTON "&Przegl¹daj...", IDC_IMPORT_BROWSE_STORE, 236,49,60,14
END

IDD_IMPORT_FINISH DIALOG 0,0,317,178
CAPTION "Kreator importu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Koñczenie pracy kreatora importu certyfikatów", IDC_IMPORT_TITLE,
    115,1,195,40
  LTEXT "Praca kreatora importu certyfikatów zosta³a zakoñczona pomyœlnie.",
    -1, 115,33,195,24
  LTEXT "Okreœli³eœ nastêpuj¹ce ustawienia:",
    -1, 115,57,195,12
  CONTROL "", IDC_IMPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END

IDD_CERT_MGR DIALOG 0,0,335,270
CAPTION "Certyfikaty"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Zamierzone cele:", -1, 7,9,100,12
  COMBOBOX IDC_MGR_PURPOSE_SELECTION, 83,7,245,14,
    CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_MGR_STORES, "SysTabControl32",
    WS_CLIPSIBLINGS|WS_TABSTOP, 7,25,321,140
  CONTROL "", IDC_MGR_CERTS, "SysListView32",
    LVS_REPORT|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER, 15,46,305,111
  PUSHBUTTON "&Importuj...", IDC_MGR_IMPORT, 7,172,51,14
  PUSHBUTTON "&Eksportuj...", IDC_MGR_EXPORT, 62,172,51,14, WS_DISABLED
  PUSHBUTTON "&Usuñ", IDC_MGR_REMOVE, 117,172,51,14, WS_DISABLED
  PUSHBUTTON "&Zaawansowane...", IDC_MGR_ADVANCED, 277,172,51,14
  GROUPBOX "Zamierzone cele certyfikatu", -1,7,194,321,47, BS_GROUPBOX
  LTEXT "", IDC_MGR_PURPOSES, 13,208,252,30
  PUSHBUTTON "&Wyœwietl", IDC_MGR_VIEW, 269,218,51,14, WS_DISABLED
  PUSHBUTTON "Za&mknij", IDCANCEL, 277,249,51,14, BS_DEFPUSHBUTTON
END

IDD_CERT_MGR_ADVANCED DIALOG 0,0,248,176
CAPTION "Zaawansowane opcje"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Cel certyfikatu", -1, 7,7,234,141, BS_GROUPBOX
  LTEXT "Wybierz jeden lub wiêcej celów, które maj¹ byæ wyœwietlane gdy zaznaczono Zaawansowane Cele.",
    -1, 14,18,220,16
  LTEXT "&Cele certyfikatu:", -1, 14,41,90,12, WS_TABSTOP
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    14,51,220,90
  PUSHBUTTON "OK", IDOK, 132,155,51,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Anuluj", IDCANCEL, 190,155,51,14
END

IDD_EXPORT_WELCOME DIALOG 0,0,317,143
CAPTION "Kreator eksportu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Witamy w kreatorze eksportu certyfikatów", IDC_EXPORT_TITLE,
    115,7,195,12
  LTEXT "Ten kreator pomo¿e tobie wyeksportowaæ certyfikaty, listy odwo³ania certyfikatu i listy zaufania certyfikatu z magazynu certyfikatów do pliku.",
    -1, 115,26,195,25
  LTEXT "Certyfikat mo¿e byæ u¿yty do identyfikacji ciebie lub komputera, z którym siê komunikujesz.  Mo¿e byæ równiez u¿yty do uwierzytelnienia i podpisywania wiadomoœci. Magazyn certyfikatów jest zbiorem certyfikatów, list odwo³ania certyfikatu oraz list zaufania certyfikatu.",
    -1, 115,56,195,40
  LTEXT "Aby kontynuowaæ, kliknij przycisk Dalej.",
    -1, 115,103,195,8
END

IDD_EXPORT_PRIVATE_KEY DIALOG 0,0,317,143
CAPTION "Kreator eksportu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Je¿eli wybierzesz wyeksportowanie klucza prywatnego to w kolejnym kroku bêdziesz zapytany o has³o chroni¹ce klucz prywatny.", -1, 21,1,195,25
  LTEXT "Czy chcesz wyeksportowaæ klucz prywatny?", -1, 21,27,195,10
  AUTORADIOBUTTON "&Tak, eksportuj klucz prywatny",
    IDC_EXPORT_PRIVATE_KEY_YES, 31,36,200,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "&Nie, nie eksportuj klucza prywatnego",
    IDC_EXPORT_PRIVATE_KEY_NO, 31,48,200,12, BS_AUTORADIOBUTTON
  LTEXT "", IDC_EXPORT_PRIVATE_KEY_UNAVAILABLE, 21,60,200,24
END

IDD_EXPORT_PASSWORD DIALOG 0,0,317,143
CAPTION "Kreator eksportu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Has³o:", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_PASSWORD, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  LTEXT "&PotwierdŸ has³o:", -1, 21,35,195,10
  EDITTEXT IDC_EXPORT_PASSWORD_CONFIRM, 21,45,208,14, ES_AUTOHSCROLL|WS_TABSTOP
END

IDD_EXPORT_FORMAT DIALOG 0,0,317,143
CAPTION "Kreator eksportu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Wybierz format, którego chcesz u¿yæ:", -1, 21,1,195,10
  AUTORADIOBUTTON "Certyfikat X.509 szyfrowany binarnie algorytmem DER (.&cer)",
    IDC_EXPORT_FORMAT_DER, 31,18,240,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "Certyfikat X.509 szyfrowany algorytmem B&ase64 (.cer):",
    IDC_EXPORT_FORMAT_BASE64, 31,30,240,12, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "&Standard sk³adni wiadomoœci kryptograficznych - certyfikat PKCS #7 (.p7b)",
    IDC_EXPORT_FORMAT_CMS, 31,42,240,12, BS_AUTORADIOBUTTON
  CHECKBOX "&Je¿eli jest to mo¿liwe, do³¹cz wszystkie certyfikaty do œcie¿ki certyfikacji",
    IDC_EXPORT_CMS_INCLUDE_CHAIN, 44,57,240,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  AUTORADIOBUTTON "Wymiana informacji &osobistych - PKCS #12 (.pfx)",
    IDC_EXPORT_FORMAT_PFX, 31,72,240,12, BS_AUTORADIOBUTTON|WS_DISABLED
  CHECKBOX "J&e¿eli jest to mo¿liwe, do³¹cz wszystkie certyfikaty do œcie¿ki certyfikacji",
    IDC_EXPORT_PFX_INCLUDE_CHAIN, 44,87,240,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "W³¹c&z siln¹ ochronê",
    IDC_EXPORT_PFX_STRONG_ENCRYPTION, 44,102,240,8,
    BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "Usuñ &klucz prywatny, je¿eli eksport zosta³ zakoñczony pomyœlnie",
    IDC_EXPORT_PFX_DELETE_PRIVATE_KEY, 44,117,240,8,
    BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
END

IDD_EXPORT_FILE DIALOG 0,0,317,143
CAPTION "Kreator eksportu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Nazwa pliku:", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "&Przegl¹daj...", IDC_EXPORT_BROWSE_FILE, 236,11,60,14
END

IDD_EXPORT_FINISH DIALOG 0,0,317,178
CAPTION "Kreator eksportu certyfikatów"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Koñczenie pracy kreatora eksportu certyfikatów", IDC_EXPORT_TITLE,
    115,1,195,40
  LTEXT "Praca kreatora eksportu certyfikatów zosta³a zakoñczona pomyœlnie.",
    -1, 115,33,195,24
  LTEXT "Okreœli³eœ nastêpuj¹ce ustawienia:",
    -1, 115,57,195,12
  CONTROL "", IDC_EXPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END
