/*
 * cryptui dll Portuguese resources
 *
 * Copyright 2009 Ricardo Filipe
 * Copyright 2010 Gustavo Henrique Milaré
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "cryptuires.h"

#pragma code_page(65001)

LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

IDD_GENERAL DIALOG 0, 0, 255, 236
CAPTION "Geral"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", -1, "Static", WS_BORDER|SS_WHITERECT, 6,10,241,200
  CONTROL "", IDC_CERTIFICATE_ICON,"RichEdit20W",
    ES_READONLY|WS_DISABLED,8,11,26,26
  CONTROL "", IDC_CERTIFICATE_INFO,"RichEdit20W",
    ES_READONLY|WS_DISABLED,34,11,212,26
  CONTROL "", -1, "Static", SS_BLACKFRAME, 16,37,222,1
  CONTROL "", IDC_CERTIFICATE_STATUS,"RichEdit20W",
    ES_READONLY|ES_MULTILINE,8,38,238,78
  CONTROL "", -1, "Static", SS_BLACKFRAME, 16,116,222,1
  CONTROL "", IDC_CERTIFICATE_NAMES,"RichEdit20W",
    ES_READONLY|ES_MULTILINE|WS_DISABLED,8,118,238,90
  PUSHBUTTON "&Instalar Certificado...", IDC_ADDTOSTORE,103,216,70,14
  PUSHBUTTON "&Declaração do Emissor", IDC_ISSUERSTATEMENT,177,216,70,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_DETAIL DIALOG 0, 0, 255, 236
CAPTION "Detalhes"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Mostrar:", -1, 6,12,40,14
  COMBOBOX IDC_DETAIL_SELECT, 28,10,100,14,
    CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_DETAIL_LIST, "SysListView32",
    LVS_REPORT|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    6,28,241,100
  CONTROL "", IDC_DETAIL_VALUE, "RichEdit20W",
    ES_READONLY|ES_MULTILINE|WS_TABSTOP, 6,136,241,70
  PUSHBUTTON "&Editar Propriedades...", IDC_EDITPROPERTIES,103,216,70,14
  PUSHBUTTON "&Copiar para Arquivo...", IDC_EXPORT,177,216,70,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_DETAIL DIALOG 0, 0, 255, 236
CAPTION "Detalhes"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Mostrar:", -1, 6,12,40,14
  COMBOBOX IDC_DETAIL_SELECT, 28,10,100,14,
    CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_DETAIL_LIST, "SysListView32",
    LVS_REPORT|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    6,28,241,100
  CONTROL "", IDC_DETAIL_VALUE, "RichEdit20W",
    ES_READONLY|ES_MULTILINE|WS_TABSTOP, 6,136,241,70
  PUSHBUTTON "&Editar Propriedades...", IDC_EDITPROPERTIES,103,216,70,14
  PUSHBUTTON "&Copiar para Ficheiro...", IDC_EXPORT,177,216,70,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

IDD_HIERARCHY DIALOG 0, 0, 255, 236
CAPTION "Caminho de Certificação"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "&Caminho de Certificação", -1,6,10,245,165, BS_GROUPBOX
  CONTROL "",IDC_CERTPATH, "SysTreeView32", TVS_HASLINES|WS_BORDER,
    13,22,231,130
  PUSHBUTTON "&Ver Certificado", IDC_VIEWCERTIFICATE,175,156,70,14
  LTEXT "&Estado do Certificado:", IDC_CERTIFICATESTATUS,6,183,70,14
  CONTROL "", IDC_CERTIFICATESTATUSTEXT,"RichEdit20W",
    WS_BORDER|ES_READONLY|ES_MULTILINE|WS_DISABLED,6,195,245,36
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

IDD_USERNOTICE DIALOG 0, 0, 255, 256
CAPTION "Declaração"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", IDC_USERNOTICE,"RichEdit20W",
    WS_BORDER|ES_READONLY|ES_MULTILINE|WS_DISABLED,6,10,241,200
  PUSHBUTTON "&Fechar", IDOK,103,216,70,14
  PUSHBUTTON "&Mais Informação", IDC_CPS,177,216,70,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_CERT_PROPERTIES_GENERAL DIALOG 0, 0, 255, 236
CAPTION "Geral"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Nome amigável:", -1, 6,14,60,14
  EDITTEXT IDC_FRIENDLY_NAME, 60,12,191,14, ES_AUTOHSCROLL|WS_TABSTOP
  LTEXT "&Descrição:", -1, 6,32,60,14
  EDITTEXT IDC_DESCRIPTION, 60,30,191,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
  GROUPBOX "Propósitos do Certificado", -1,6,48,245,165, BS_GROUPBOX
  AUTORADIOBUTTON "&Ativar todos os propósitos para este certificado",
    IDC_ENABLE_ALL_PURPOSES, 12,58,180,14, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "D&esativar todos os propósitos para este certificado",
    IDC_DISABLE_ALL_PURPOSES, 12,70,180,14, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "A&tivar apenas os seguintes propósitos para este certificado:",
    IDC_ENABLE_SELECTED_PURPOSES, 12,82,180,14, BS_AUTORADIOBUTTON
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    24,100,220,90
  PUSHBUTTON "Adicionar &Propósito...", IDC_ADD_PURPOSE,184,194,60,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_CERT_PROPERTIES_GENERAL DIALOG 0, 0, 255, 236
CAPTION "Geral"
STYLE WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Nome amigável:", -1, 6,14,60,14
  EDITTEXT IDC_FRIENDLY_NAME, 60,12,191,14, ES_AUTOHSCROLL|WS_TABSTOP
  LTEXT "&Descrição:"
, -1, 6,32,60,14
  EDITTEXT IDC_DESCRIPTION, 60,30,191,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
  GROUPBOX "Propósitos do Certificado", -1,6,48,245,165, BS_GROUPBOX
  AUTORADIOBUTTON "&Activar todos os propósitos para este certificado",
    IDC_ENABLE_ALL_PURPOSES, 12,58,180,14, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "D&esactivar todos os propósitos para este certificado",
    IDC_DISABLE_ALL_PURPOSES, 12,70,180,14, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "A&ctivar apenas os seguintes propósitos para este certificado:",
    IDC_ENABLE_SELECTED_PURPOSES, 12,82,180,14, BS_AUTORADIOBUTTON
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    24,100,220,90
  PUSHBUTTON "Adicionar &Propósito...", IDC_ADD_PURPOSE,184,194,60,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_ADD_CERT_PURPOSE DIALOG 0,0,200,68
CAPTION "Adicionar Propósito"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Adicione o identificador de objeto (OID) para o propósito que deseja adicionar:",
    -1, 6,6,190,28
  EDITTEXT IDC_NEW_PURPOSE, 6,28,190,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
  PUSHBUTTON "OK", IDOK, 33,48,60,14
  PUSHBUTTON "Cancelar", IDCANCEL, 100,48,60,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_ADD_CERT_PURPOSE DIALOG 0,0,200,68
CAPTION "Adicionar Propósito"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Adicione o identificador de objecto (OID) para o propósito que deseja adicionar:",
    -1, 6,6,190,28
  EDITTEXT IDC_NEW_PURPOSE, 6,28,190,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
  PUSHBUTTON "OK", IDOK, 33,48,60,14
  PUSHBUTTON "Cancelar", IDCANCEL, 100,48,60,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_SELECT_STORE DIALOG 0,0,200,136
CAPTION "Selecione Conjunto de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Selecione o conjunto de certificados que deseja usar:", IDC_STORE_TEXT, 6,6,190,28
  CONTROL "",IDC_STORE_LIST, "SysTreeView32", TVS_HASLINES|WS_BORDER|WS_TABSTOP,
    6,28,188,70
  CHECKBOX "&Mostrar conjuntos físicos", IDC_SHOW_PHYSICAL_STORES, 6,102,90,14,
    BS_AUTOCHECKBOX|WS_TABSTOP
  PUSHBUTTON "OK", IDOK, 90,118,50,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Cancelar", IDCANCEL, 144,118,50,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_SELECT_STORE DIALOG 0,0,200,136
CAPTION "Seleccione Conjunto de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Seleccione o conjunto de certificados que deseja usar:", IDC_STORE_TEXT, 6,6,190,28
  CONTROL "",IDC_STORE_LIST, "SysTreeView32", TVS_HASLINES|WS_BORDER|WS_TABSTOP,
    6,28,188,70
  CHECKBOX "&Mostrar conjuntos físicos", IDC_SHOW_PHYSICAL_STORES, 6,102,90,14,
    BS_AUTOCHECKBOX|WS_TABSTOP
  PUSHBUTTON "OK", IDOK, 90,118,50,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Cancelar", IDCANCEL, 144,118,50,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_IMPORT_WELCOME DIALOG 0,0,317,143
CAPTION "Assistente de Importação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Bem-vindo ao Assistente de Importação de Certificados", IDC_IMPORT_TITLE,
    115,7,195,12
  LTEXT "Este assistente vai ajudá-lo a importar certificados, listas de revogação de certificados e listas de certificados confiáveis a partir de um arquivo para um conjunto de certificados.",
    -1, 115,26,195,25
  LTEXT "Um certificado pode ser usado para identificá-lo ou ao computador usado na comunicação. Também pode ser usado para autenticação e para assinar mensagens. Conjuntos de certificados são coleções de certificados, listas de revogação de certificados e listas de certificados confiáveis.",
    -1, 115,56,195,40
  LTEXT "Para continuar clique em Próximo.",
    -1, 115,103,195,8
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_IMPORT_WELCOME DIALOG 0,0,317,143
CAPTION "Assistente de Importação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Benvindo ao Assistente de Importação de Certificados", IDC_IMPORT_TITLE,
    115,7,195,12
  LTEXT "Este assistente vai ajudá-lo a importar certificados, listas de revogação de certificados e listas de certificados confiáveis a partir de um ficheiro para um conjunto de certificados.",
    -1, 115,26,195,25
  LTEXT "Um certificado pode ser usado para identificá-lo ou ao computador do qual está a comunicar. Também pode ser usado para autenticação e para assinar mensagens. Conjuntos de certificados são colecções de certificados, listas de revogação de certificados e listas de certificados confiáveis.",
    -1, 115,56,195,40
  LTEXT "Para continuar clique em Seguinte.",
    -1, 115,103,195,8
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_IMPORT_FILE DIALOG 0,0,317,178
CAPTION "Assistente de Importação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Nome do arquivo:", -1, 21,1,195,10
  EDITTEXT IDC_IMPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "&Procurar...", IDC_IMPORT_BROWSE_FILE, 236,11,60,14
  LTEXT "Nota: os seguintes formatos de arquivo podem conter mais que um certificado, lista de revogação de certificados ou lista de certificados confiáveis:",
    -1, 21,26,265,16
  LTEXT "Padrão de Sintaxe de Mensagem Criptográfica/Mensagens PKCS #7 (.p7b)",
    -1, 31,49,265,10
  LTEXT "Troca de Informações Pessoais/PKCS #12 (.pfx, .p12)",
    -1, 31,64,265,10
  LTEXT "Conjunto de Certificados Serializados da Microsoft (.sst)",
    -1, 31,79,265,10
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_IMPORT_FILE DIALOG 0,0,317,178
CAPTION "Assistente de Importação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Nome do ficheiro:", -1, 21,1,195,10
  EDITTEXT IDC_IMPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "&Procurar...", IDC_IMPORT_BROWSE_FILE, 236,11,60,14
  LTEXT "Nota: os seguintes formatos de ficheiro podem conter mais que um certificado, lista de revogação de certificados ou lista de certificados confiáveis:",
    -1, 21,26,265,16
  LTEXT "Cryptographic Message Syntax Standard/PKCS #7 Messages (.p7b)",
    -1, 31,49,265,10
  LTEXT "Troca de Informações Pessoais/PKCS #12 (.pfx, .p12)",
    -1, 31,64,265,10
  LTEXT "Conjunto de Certificados Serializados da Microsoft (.sst)",
    -1, 31,79,265,10
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_IMPORT_STORE DIALOG 0,0,317,143
CAPTION "Assistente de Importação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "O Wine pode automaticamente selecionar o conjunto de certificados ou você pode especificar a localização para os certificados.",
    -1, 21,1,195,20
  AUTORADIOBUTTON "&Selecionar conjunto de certificados automaticamente",
    IDC_IMPORT_AUTO_STORE, 31,18,180,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "&Colocar todos os certificados no seguinte conjunto:",
    IDC_IMPORT_SPECIFY_STORE, 31,30,180,12, BS_AUTORADIOBUTTON
  EDITTEXT IDC_IMPORT_STORE, 44,49,185,14, ES_READONLY
  PUSHBUTTON "&Procurar...", IDC_IMPORT_BROWSE_STORE, 236,49,60,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_IMPORT_STORE DIALOG 0,0,317,143
CAPTION "Assistente de Importação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "O Wine pode automaticamente seleccionar o conjunto de certificados ou você pode especificar a localização para os certificados.",
    -1, 21,1,195,20
  AUTORADIOBUTTON "&Seleccionar conjunto de certificados automaticamente",
    IDC_IMPORT_AUTO_STORE, 31,18,180,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "&Colocar todos os certificados no seguinte conjunto:",
    IDC_IMPORT_SPECIFY_STORE, 31,30,180,12, BS_AUTORADIOBUTTON
  EDITTEXT IDC_IMPORT_STORE, 44,49,185,14, ES_READONLY
  PUSHBUTTON "&Procurar...", IDC_IMPORT_BROWSE_STORE, 236,49,60,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_IMPORT_FINISH DIALOG 0,0,317,178
CAPTION "Assistente de Importação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Finalizando o Assistente de Importação de Certificados", IDC_IMPORT_TITLE,
    115,1,195,40
  LTEXT "O Assistente de Importação de Certificados finalizou com sucesso.",
    -1, 115,33,195,24
  LTEXT "Foram especificadas as seguintes configurações:",
    -1, 115,57,195,12
  CONTROL "", IDC_IMPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_IMPORT_FINISH DIALOG 0,0,317,178
CAPTION "Assistente de Importação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "A completar o Assistente de Importação de Certificados", IDC_IMPORT_TITLE,
    115,1,195,40
  LTEXT "Completou com sucesso o Assistente de Importação de Certificados.",
    -1, 115,33,195,24
  LTEXT "Especificou as seguintes configurações:",
    -1, 115,57,195,12
  CONTROL "", IDC_IMPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

IDD_CERT_MGR DIALOG 0,0,335,270
CAPTION "Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Com o propósito:", -1, 7,9,100,12
  COMBOBOX IDC_MGR_PURPOSE_SELECTION, 83,7,245,14,
    CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_MGR_STORES, "SysTabControl32",
    WS_CLIPSIBLINGS|WS_TABSTOP, 7,25,321,140
  CONTROL "", IDC_MGR_CERTS, "SysListView32",
    LVS_REPORT|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER, 15,46,305,111
  PUSHBUTTON "&Importar...", IDC_MGR_IMPORT, 7,172,51,14
  PUSHBUTTON "&Exportar...", IDC_MGR_EXPORT, 62,172,51,14, WS_DISABLED
  PUSHBUTTON "&Remover", IDC_MGR_REMOVE, 117,172,51,14, WS_DISABLED
  PUSHBUTTON "&Avançadas...", IDC_MGR_ADVANCED, 277,172,51,14
  GROUPBOX "Propósitos do Certificado", -1,7,194,321,47, BS_GROUPBOX
  LTEXT "", IDC_MGR_PURPOSES, 13,208,252,30
  PUSHBUTTON "&Ver", IDC_MGR_VIEW, 269,218,51,14, WS_DISABLED
  PUSHBUTTON "&Fechar", IDCANCEL, 277,249,51,14, BS_DEFPUSHBUTTON
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_CERT_MGR_ADVANCED DIALOG 0,0,248,176
CAPTION "Opções Avançadas"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Propósito do certificado", -1, 7,7,234,141, BS_GROUPBOX
  LTEXT "Selecione um ou mais propósitos a serem listados quando Propósitos Avançados estiver selecionado.",
    -1, 14,18,220,16
  LTEXT "&Propósitos de Certificados:", -1, 14,41,90,12, WS_TABSTOP
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    14,51,220,90
  PUSHBUTTON "OK", IDOK, 132,155,51,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Cancelar", IDCANCEL, 190,155,51,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_CERT_MGR_ADVANCED DIALOG 0,0,248,176
CAPTION "Opções Avançadas"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Propósito do certificado", -1, 7,7,234,141, BS_GROUPBOX
  LTEXT "Seleccione um ou mais propósitos a serem listados quando Propósitos Avançados estiver seleccionado.",
    -1, 14,18,220,16
  LTEXT "&Propósitos de Certificados:", -1, 14,41,90,12, WS_TABSTOP
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    14,51,220,90
  PUSHBUTTON "OK", IDOK, 132,155,51,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Cancelar", IDCANCEL, 190,155,51,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_EXPORT_WELCOME DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Bem-vindo ao Assistente de Exportação de Certificados", IDC_EXPORT_TITLE,
    115,7,195,12
  LTEXT "Este assistente vai ajudá-lo a exportar certificados, listas de revogação de certificados e listas de certificados confiáveis a partir de um conjunto de certificados para um arquivo.",
    -1, 115,26,195,25
  LTEXT "Um certificado pode ser usado para identificá-lo ou ao computador usado na comunicação. Pode também ser usado para autenticação e para assinar mensagens. Conjuntos de certificados são coleções de certificados, listas de revogação de certificados e listas de certificados confiáveis.",
    -1, 115,56,195,40
  LTEXT "Para continuar clique em Próximo.",
    -1, 115,103,195,8
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_EXPORT_WELCOME DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Benvindo ao Assistente de Exportação de Certificados", IDC_EXPORT_TITLE,
    115,7,195,12
  LTEXT "Este assistente vai ajudá-lo a exportar certificados, listas de revogação de certificados e listas de certificados confiáveis a partir de um conjunto de certificados para um ficheiro.",
    -1, 115,26,195,25
  LTEXT "Um certificado pode ser usado para identificá-lo ou ao computador de onde está a comunicar. Pode também ser usado para autenticação e para assinar mensagens. Conjuntos de certificados são colecções de certificados, listas de revogação de certificados e listas de certificados confiáveis.",
    -1, 115,56,195,40
  LTEXT "Para continuar clique em Seguinte.",
    -1, 115,103,195,8
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_EXPORT_PRIVATE_KEY DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Ao escolher exportar a chave privada será pedida uma palavra chave para proteger a chave privada mais à frente.", -1, 21,1,195,25
  LTEXT "Deseja exportar a chave privada?", -1, 21,27,195,10
  AUTORADIOBUTTON "&Sim, exportar a chave privada",
    IDC_EXPORT_PRIVATE_KEY_YES, 31,36,200,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "&Não, não exportar a chave privada",
    IDC_EXPORT_PRIVATE_KEY_NO, 31,48,200,12, BS_AUTORADIOBUTTON
  LTEXT "", IDC_EXPORT_PRIVATE_KEY_UNAVAILABLE, 21,60,200,24
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_EXPORT_PRIVATE_KEY DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Se escolher exportar a chave privada será pedida uma palavra-passe para proteger a chave privada mais à frente.", -1, 21,1,195,25
  LTEXT "Deseja exportar a chave privada?", -1, 21,27,195,10
  AUTORADIOBUTTON "&Sim, exportar a chave privada",
    IDC_EXPORT_PRIVATE_KEY_YES, 31,36,200,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "&Não exportar a chave privada",
    IDC_EXPORT_PRIVATE_KEY_NO, 31,48,200,12, BS_AUTORADIOBUTTON
  LTEXT "", IDC_EXPORT_PRIVATE_KEY_UNAVAILABLE, 21,60,200,24
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_EXPORT_PASSWORD DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Palavra chave:", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_PASSWORD, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  LTEXT "&Confirmar palavra chave:", -1, 21,35,195,10
  EDITTEXT IDC_EXPORT_PASSWORD_CONFIRM, 21,45,208,14, ES_AUTOHSCROLL|WS_TABSTOP
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_EXPORT_PASSWORD DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Palavra-passe:", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_PASSWORD, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  LTEXT "&Confirmar palavra-passe:", -1, 21,35,195,10
  EDITTEXT IDC_EXPORT_PASSWORD_CONFIRM, 21,45,208,14, ES_AUTOHSCROLL|WS_TABSTOP
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_EXPORT_FORMAT DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Selecione o formato que deseja utilizar:", -1, 21,1,195,10
  AUTORADIOBUTTON "&DER-codificado X.509 (.cer)",
    IDC_EXPORT_FORMAT_DER, 31,18,240,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "Ba&se64-codificado X.509 (.cer):",
    IDC_EXPORT_FORMAT_BASE64, 31,30,240,12, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "Padrão de Sintaxe de Mensagem &Criptográfica/PKCS #7 Message (.p7b)",
    IDC_EXPORT_FORMAT_CMS, 31,42,240,12, BS_AUTORADIOBUTTON
  CHECKBOX "&Incluir todos os certificados no caminho do certificado se possível",
    IDC_EXPORT_CMS_INCLUDE_CHAIN, 44,57,240,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  AUTORADIOBUTTON "Troca de Informações &Pessoais/PKCS #12 (.pfx)",
    IDC_EXPORT_FORMAT_PFX, 31,72,240,12, BS_AUTORADIOBUTTON|WS_DISABLED
  CHECKBOX "Incl&uir todos os certificados no caminho de certificação se possível",
    IDC_EXPORT_PFX_INCLUDE_CHAIN, 44,87,240,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "&Ativar criptografia forte",
    IDC_EXPORT_PFX_STRONG_ENCRYPTION, 44,102,240,8,
    BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "&Apagar a chave privada se a exportação for bem sucedida",
    IDC_EXPORT_PFX_DELETE_PRIVATE_KEY, 44,117,240,8,
    BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_EXPORT_FORMAT DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Seleccione o formato que deseja utilizar:", -1, 21,1,195,10
  AUTORADIOBUTTON "&DER-encoded X.509 (.cer)",
    IDC_EXPORT_FORMAT_DER, 31,18,240,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "Ba&se64-encoded X.509 (.cer):",
    IDC_EXPORT_FORMAT_BASE64, 31,30,240,12, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "&Cryptographic Message Syntax Standard/PKCS #7 Message (.p7b)",
    IDC_EXPORT_FORMAT_CMS, 31,42,240,12, BS_AUTORADIOBUTTON
  CHECKBOX "&Incluir todos os certificados no caminho de certificação se possível",
    IDC_EXPORT_CMS_INCLUDE_CHAIN, 44,57,240,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  AUTORADIOBUTTON "Troca de Informações &Pessoais/PKCS #12 (.pfx)",
    IDC_EXPORT_FORMAT_PFX, 31,72,240,12, BS_AUTORADIOBUTTON|WS_DISABLED
  CHECKBOX "Incl&uir todos os certificados no caminho de certificação se possível",
    IDC_EXPORT_PFX_INCLUDE_CHAIN, 44,87,240,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "&Activar cifra forte",
    IDC_EXPORT_PFX_STRONG_ENCRYPTION, 44,102,240,8,
    BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "&Apagar a chave privada se a exportação for bem sucedida",
    IDC_EXPORT_PFX_DELETE_PRIVATE_KEY, 44,117,240,8,
    BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_EXPORT_FILE DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Nome do arquivo:", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "&Procurar...", IDC_EXPORT_BROWSE_FILE, 236,11,60,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_EXPORT_FILE DIALOG 0,0,317,143
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Nome do ficheiro:", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "&Procurar...", IDC_EXPORT_BROWSE_FILE, 236,11,60,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_EXPORT_FINISH DIALOG 0,0,317,178
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Finalizando o Assistente de Exportação de Certificados", IDC_EXPORT_TITLE,
    115,1,195,40
  LTEXT "O Assistente de Exportação de Certificados finalizou com sucesso.",
    -1, 115,33,195,24
  LTEXT "Foram especificadas as seguintes configurações:",
    -1, 115,57,195,12
  CONTROL "", IDC_EXPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_EXPORT_FINISH DIALOG 0,0,317,178
CAPTION "Assistente de Exportação de Certificados"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "A completar o Assistente de Exportação de Certificados", IDC_EXPORT_TITLE,
    115,1,195,40
  LTEXT "Completou com sucesso o Assistente de Exportação de Certificados.",
    -1, 115,33,195,24
  LTEXT "Especificou as seguintes configurações:",
    -1, 115,57,195,12
  CONTROL "", IDC_EXPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END
