/display.res
/mouse.res
/obm_btncorners.bmp
/obm_btsize.bmp
/obm_check.bmp
/obm_checkboxes.bmp
/obm_close.bmp
/obm_combo.bmp
/obm_dnarrow.bmp
/obm_dnarrowd.bmp
/obm_dnarrowi.bmp
/obm_lfarrow.bmp
/obm_lfarrowd.bmp
/obm_lfarrowi.bmp
/obm_mnarrow.bmp
/obm_old_close.bmp
/obm_old_dnarrow.bmp
/obm_old_lfarrow.bmp
/obm_old_reduce.bmp
/obm_old_restore.bmp
/obm_old_rgarrow.bmp
/obm_old_uparrow.bmp
/obm_old_zoom.bmp
/obm_reduce.bmp
/obm_reduced.bmp
/obm_restore.bmp
/obm_restored.bmp
/obm_rgarrow.bmp
/obm_rgarrowd.bmp
/obm_rgarrowi.bmp
/obm_size.bmp
/obm_trtype.bmp
/obm_uparrow.bmp
/obm_uparrowd.bmp
/obm_uparrowi.bmp
/obm_zoom.bmp
/obm_zoomd.bmp
/ocr_appstarting.cur
/ocr_cross.cur
/ocr_dragobject.cur
/ocr_hand.cur
/ocr_help.cur
/ocr_ibeam.cur
/ocr_icon.cur
/ocr_no.cur
/ocr_normal.cur
/ocr_size.cur
/ocr_sizeall.cur
/ocr_sizenesw.cur
/ocr_sizens.cur
/ocr_sizenwse.cur
/ocr_sizewe.cur
/ocr_up.cur
/ocr_wait.cur
/oic_bang.ico
/oic_hand.ico
/oic_note.ico
/oic_ques.ico
/oic_sample.ico
/oic_winlogo.ico
/user32.res
/version16.res
