LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
 MENUITEM "&Återställ", 61728
 MENUITEM "&Flytta", 61456
 MENUITEM "&Storlek", 61440
 MENUITEM "Mi&nimera", 61472
 MENUITEM "Ma&ximera", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Avsluta\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Byt till ...\tCtrl-Esc", 61744
 MENUITEM SEPARATOR
 MENUITEM "&Om WINE ...", 61761
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Undo", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "K&lipp", WM_CUT
		MENUITEM "&Kopiera", WM_COPY
		MENUITEM "Klistra &in", WM_PASTE
		MENUITEM "&Ta bort", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "Markera &alla", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&Ok", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Avbryt", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Avbryt", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Försök igen", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignorera", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ja", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Nej", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

