LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
 MENUITEM "&Obnoviù", 61728
 MENUITEM "Pre&sun˙ù", 61456
 MENUITEM "&Zmeniù veækosù", 61440
 MENUITEM "Mi&nimalizovaù", 61472
 MENUITEM "Ma&ximalizovaù", 61488
 MENUITEM SEPARATOR
 MENUITEM "Za&tvoriù\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Prepn˙ù do inej ˙lohy...\tCtrl-Esc", 61744
 MENUITEM SEPARATOR
 MENUITEM "O programe &WINE", 61761
 MENUITEM SEPARATOR
 MENUITEM "&Vloûiù znaËku do ladiaceho logu", 61762
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Sp‰ù", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Vyst&rihn˙ù", WM_CUT
		MENUITEM "&KopÌrovaù", WM_COPY
		MENUITEM "V&loûiù", WM_PASTE
		MENUITEM "&Vymazaù", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "&OznaËiù vöetko", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&Ok", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Zruöiù", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Preruöiù", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Sk˙siù znova", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignorovaù", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "¡&no", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "Ni&e", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

MDI_MOREWINDOWS DIALOG FIXED IMPURE 20, 20, 232, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Window"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         MDI_IDC_LISTBOX, 5, 7, 222, 90, WS_VSCROLL | WS_HSCROLL /* defined in mdi.h */
    DEFPUSHBUTTON   "OK", IDOK, 75, 100, 35, 14
    PUSHBUTTON      "Zruöiù", IDCANCEL, 120, 100, 35, 14
END


STRINGTABLE DISCARDABLE 
{ 
    MDI_IDS_MOREWINDOWS  "&Viac okien..." /* defined in mdi.h */
}
