LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
 MENUITEM "&Gjenopprett", 61728
 MENUITEM "&Flytt", 61456
 MENUITEM "&Størrelse", 61440
 MENUITEM "&Minimer", 61472
 MENUITEM "Ma&ksimer", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Avslutt\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Bytt til ...\tCtrl-Esc", 61744
 MENUITEM SEPARATOR
 MENUITEM "&Om WINE ...", 61761
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Undo", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t", WM_CUT
		MENUITEM "&Copy", WM_COPY
		MENUITEM "&Paste", WM_PASTE
		MENUITEM "&Delete", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "Select &All", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&Ok", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Avbryt", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Avbryt", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Gjenta", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignorer", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ja", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Nei", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

