LANGUAGE LANG_ESPERANTO, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
 MENUITEM "&Renormaligu", 61728
 MENUITEM "&Movi", 61456
 MENUITEM "&Grando", 61440
 MENUITEM "E&tigu", 61472
 MENUITEM "&Egigu", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Fermu\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Alia tasko ...\tCtrl-Esc", 61744
 MENUITEM SEPARATOR
 MENUITEM "&Pri WINE ...", 61761
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Undo", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t", WM_CUT
		MENUITEM "&Copy", WM_COPY
		MENUITEM "&Paste", WM_PASTE
		MENUITEM "&Delete", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "Select &All", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "En&orde", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Nuligu", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "Æe&su", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Reprovu", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignoru", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Jes", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "N&e", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

