LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

SYSMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
 MENUITEM "&Restore", 61728
 MENUITEM "&Move", 61456
 MENUITEM "&Size", 61440
 MENUITEM "Mi&nimize", 61472
 MENUITEM "Ma&ximize", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Close\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Switch to ...\tCtrl-Esc", 61744
 MENUITEM SEPARATOR
 MENUITEM "&About WINE ...", 61761
 MENUITEM SEPARATOR
 MENUITEM "&Put mark in debug log", 61762
}

EDITMENU MENU LOADONCALL MOVEABLE DISCARDABLE
{
	POPUP ""
	BEGIN
		MENUITEM "&Undo", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t", WM_CUT
		MENUITEM "&Copy", WM_COPY
		MENUITEM "&Paste", WM_PASTE
		MENUITEM "&Delete", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "Select &All", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP
        PUSHBUTTON "&OK", 1, 16, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Cancel", 2, 64, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Abort", 3, 112, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Retry", 4, 160, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignore", 5, 208, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Yes", 6, 256, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&No", 7, 304, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

MDI_MOREWINDOWS DIALOG FIXED IMPURE 20, 20, 232, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Window"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         MDI_IDC_LISTBOX, 5, 7, 222, 90, WS_VSCROLL | WS_HSCROLL /* defined in mdi.h */
    DEFPUSHBUTTON   "OK", IDOK, 75, 100, 35, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 120, 100, 35, 14
END


STRINGTABLE DISCARDABLE 
{ 
    MDI_IDS_MOREWINDOWS  "&More Windows..." /* defined in mdi.h */
}
