#define WINE_FILEDESCRIPTION_STR "Wine DirectDraw"
#define WINE_FILENAME_STR "ddraw.dll"
#define WINE_PRODUCTVERSION 4,7,0,0
#define WINE_PRODUCTVERSION_STR "4.7"
#define WINE_PRODUCTNAME_STR "DirectX"

#include "wine/wine_common_ver.rc"
