/*
 * Program Manager
 *
 * Copyright 1997 Henrik Olsen <henrik@iaeste.dk>
 */

#define LANGUAGE_ID                  Da
#define LANGUAGE_NUMBER              6
#define LANGUAGE_MENU_ITEM           "&Dansk"

/* Menu */

#define MENU_FILE                    "&Filer"
#define MENU_FILE_NEW                "&Nyt programobjekt..."
#define MENU_FILE_OPEN               "Å&bn\tEnter"
#define MENU_FILE_MOVE               "&Flyt...\tF7"
#define MENU_FILE_COPY               "K&opier...\tF8"
#define MENU_FILE_DELETE             "&Slet\tDel"
#define MENU_FILE_ATTRIBUTES         "&Programparametre...^IAlt+Enter"
#define MENU_FILE_EXECUTE            "&Kør..."
#define MENU_FILE_EXIT               "&Afslut Windows..."

#define MENU_OPTIONS                 "&Indstillinger"
#define MENU_OPTIONS_AUTO_ARRANGE    "&Arranger automatisk"
#define MENU_OPTIONS_MIN_ON_RUN      "&Minimer ved brug"
#define MENU_OPTIONS_SAVE_SETTINGS   "&Gem indstillinger ved afslutning"

#define MENU_WINDOWS                 "&Vindue"
#define MENU_WINDOWS_OVERLAP         "&Overlappet\tSkift+F5"
#define MENU_WINDOWS_SIDE_BY_SIDE    "&Side om side\tSkift+F4"
#define MENU_WINDOWS_ARRANGE         "&Arranger ikoner"

#define MENU_LANGUAGE                "&Sprog"

#define MENU_HELP                    "&Hjælp"
#define MENU_HELP_CONTENTS           "&Indhold"
#define MENU_HELP_SEARCH             "&Søg efter hjælp om..."
#define MENU_HELP_HELP_ON_HELP       "&Brug af Hjælp"
#define MENU_HELP_TUTORIAL           "&Windows Selvstudium"

#define MENU_INFO                    "&Om Programstyring..."
#define MENU_INFO_LICENSE            "&Licens"
#define MENU_INFO_NO_WARRANTY        "&NO WARRANTY"
#define MENU_INFO_ABOUT_WINE         "&Om WINE"

/* Dialogs */

#define DIALOG_OK                    "OK"
#define DIALOG_CANCEL                "Annuller"
#define DIALOG_BROWSE                "&Gennemse..."
#define DIALOG_HELP                  "&Hjælp"

#define DIALOG_NEW_CAPTION           "Nyt programobject"
#define DIALOG_NEW_NEW               "Nyt"
#define DIALOG_NEW_GROUP             "Program &gruppe"
#define DIALOG_NEW_PROGRAM           "&Program"

#define DIALOG_MOVE_CAPTION          "Flyt programelement"
#define DIALOG_MOVE_PROGRAM          "Flyt elementet:"
#define DIALOG_MOVE_FROM_GROUP       "Fra gruppen:"
#define DIALOG_MOVE_TO_GROUP         "&Til gruppen:"

#define DIALOG_COPY_CAPTION          "Kopier programelement"
#define DIALOG_COPY_PROGRAM          "Kopier elementet:"
#define DIALOG_COPY_FROM_GROUP       DIALOG_MOVE_FROM_GROUP
#define DIALOG_COPY_TO_GROUP         DIALOG_MOVE_TO_GROUP

#define DIALOG_GROUP_CAPTION         "Gruppeparametre"
#define DIALOG_GROUP_DESCRIPTION     "&Beskrivelse:"
#define DIALOG_GROUP_FILE            "&Gruppefil:"

#define DIALOG_PROGRAM_CAPTION       "Programparametre"
#define DIALOG_PROGRAM_DESCRIPTION   DIALOG_GROUP_DESCRIPTION
#define DIALOG_PROGRAM_COMMAND_LINE  "&Kommandolinje:"
#define DIALOG_PROGRAM_DIRECTORY     "&Arbejdsbibliotek:"
#define DIALOG_PROGRAM_HOT_KEY       "Genvejs&tast:"
#define DIALOG_PROGRAM_SYMBOL        "Kør &minimeret"
#define DIALOG_PROGRAM_OTHER_SYMBOL  "Skift &ikon..."

#define DIALOG_SYMBOL_CAPTION        "Skift ikon"
#define DIALOG_SYMBOL_FILE           "&Filnavn:"
#define DIALOG_SYMBOL_CURRENT        "&Nuværende ikon:"

#define DIALOG_EXECUTE_CAPTION       "Kør"
#define DIALOG_EXECUTE_COMMAND_LINE  DIALOG_PROGRAM_COMMAND_LINE
#define DIALOG_EXECUTE_SYMBOL        DIALOG_PROGRAM_SYMBOL

/* Strings */

#define STRING_PROGRAM_MANAGER            "Programstyring"
#define STRING_ERROR                      "FEJL"
#define STRING_WARNING                    "ADVARSEL"
#define STRING_INFO                       "Information"
#define STRING_DELETE                     "Slet"
#define STRING_DELETE_GROUP_s             "Slet gruppe `%s' ?"
#define STRING_DELETE_PROGRAM_s           "Slet program `%s' ?"
#define STRING_NOT_IMPLEMENTED            "Ikke implementeret."
#define STRING_FILE_READ_ERROR_s          "Kan ikke læse filen `%s'"
#define STRING_FILE_WRITE_ERROR_s         "Kan ikke skrive filen `%s'"

#define STRING_GRPFILE_READ_ERROR_s       "\
Kan ikke åbne gruppefilen '%s'.\n\
Ønsker du, at Programstyring i fremtiden stadig skal prøve at indlæse den?"

#define STRING_OUT_OF_MEMORY              "\
Der er ikke nok hukommelse til at udføre denne operation.\n\
Afslut et eller flere aktive programmer for at frigøre hukommelse, \
og prøv så igen."

#define STRING_WINHELP_ERROR              "\
Kan ikke vise information fra Hjælp."

#define STRING_UNKNOWN_FEATURE_s          "Ukendt indhold i %s"
#define STRING_FILE_NOT_OVERWRITTEN_s     "\
Filen `%s' findes. Ikke overskrevet."

#define STRING_SAVE_GROUP_AS_s            "\
Gem gruppen som `%s' for at undgå at overskrive originale filer"

#define STRING_NO_HOT_KEY                 "Ingen"

#define STRING_ALL_FILES                  "Alle filer (*.*)"
#define STRING_PROGRAMS                   "Programmer"
#define STRING_LIBRARIES_DLL              "Biblioteksfiler (*.dll)"
#define STRING_SYMBOL_FILES               "Ikonfiler"
#define STRING_SYMBOLS_ICO                "Ikoner (*.ico)"

#include "Xx.rc"
