/*
 * Program Manager
 *
 * Copyright 2004, 2008 José Manuel Ferrer Ortiz
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

/* Menu */

MAIN_MENU MENU
{
 POPUP "&Archivo" {
   MENUITEM "&Nuevo...",			PM_NEW
   MENUITEM "A&brir\tEnter",			PM_OPEN
   MENUITEM "&Mover...\tF7",			PM_MOVE,      GRAYED
   MENUITEM "&Copiar...\tF8",			PM_COPY,      GRAYED
   MENUITEM "&Eliminar\tSupr",			PM_DELETE
   MENUITEM "&Atributos...\tAlt+Enter",		PM_ATTRIBUTES
   MENUITEM SEPARATOR
   MENUITEM "&Ejecutar...",			PM_EXECUTE
   MENUITEM SEPARATOR
   MENUITEM "&Salir de Windows...",		PM_EXIT
 }
 POPUP "&Opciones" {
   MENUITEM "&Ordenar automáticamente",		PM_AUTO_ARRANGE
   MENUITEM "&Minimizar al lanzarse",		PM_MIN_ON_RUN
   MENUITEM "&Guardar configuración al salir",	PM_SAVE_SETTINGS
 }
 POPUP "&Ventanas" {
   MENUITEM "&Cascada\tShift+F5",		PM_OVERLAP
   MENUITEM "&Mosaico\tShift+F4",		PM_SIDE_BY_SIDE
   MENUITEM "&Ordenar iconos",			PM_ARRANGE
 }
 
POPUP "A&yuda" {
   MENUITEM "&Contenido",			PM_CONTENTS
   MENUITEM "&Buscar...",			PM_SEARCH
   MENUITEM SEPARATOR
   MENUITEM "&Ayuda sobre la ayuda",		PM_HELPONHELP
   MENUITEM "&Tutorial",			PM_TUTORIAL
   MENUITEM SEPARATOR

   POPUP "&Info..." {
     MENUITEM "&Licencia",			PM_LICENSE
     MENUITEM "&SIN GARANTÍA",			PM_NO_WARRANTY
     MENUITEM "&Acerca de WINE",		PM_ABOUT_WINE
   }
 }
}

/* Dialog `New' */

DIALOG_NEW DIALOG 0, 0, 170, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Nuevo"
{
RADIOBUTTON   "",                 PM_NEW_GROUP,    10, 15,  10, 15
LTEXT         "&Grupo de programa",   PM_NEW_GROUP,    20, 18,  80, 15
RADIOBUTTON   "",                 PM_NEW_PROGRAM,  10, 35,  10, 15
LTEXT         "&Programa", PM_NEW_PROGRAM,  20, 38,  80, 15
DEFPUSHBUTTON "Aceptar",          IDOK,           105,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Cancelar",      IDCANCEL,       105, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "A&yuda",        PM_HELP,        105, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Move' */

DIALOG_MOVE DIALOG 0, 0, 250, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Mover programa"
{
LTEXT         "Mover programa:",  IDIGNORE,           5,  5,  90, 15
LTEXT         "",                 PM_PROGRAM,        95,  5,  90, 15
LTEXT         "&Del grupo:",      IDIGNORE,           5, 13,  90, 15
LTEXT         "",                 PM_FROM_GROUP,     95, 13,  90, 15
LTEXT         "&Al grupo:",       PM_TO_GROUP_TXT,    5, 28, 140, 15
COMBOBOX                          PM_TO_GROUP,        5, 38, 140, 50, WS_TABSTOP | CBS_DROPDOWNLIST
DEFPUSHBUTTON "Aceptar",          IDOK,             185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Cancelar",         IDCANCEL,         185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "A&yuda",           PM_HELP,          185, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Copy' */

DIALOG_COPY DIALOG 0, 0, 250, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Copiar programa"
{
LTEXT         "Copiar programa:",  IDIGNORE,          5,  5,  90, 15
LTEXT         "",                  PM_PROGRAM,       95,  5,  90, 15
LTEXT         "&Del grupo:",       IDIGNORE,          5, 13,  90, 15
LTEXT         "",                  PM_FROM_GROUP,    95, 13,  90, 15
LTEXT         "&Al grupo:",        PM_TO_GROUP_TXT,   5, 28, 140, 15
COMBOBOX                           PM_TO_GROUP,       5, 38, 140, 50, WS_TABSTOP | CBS_DROPDOWNLIST
DEFPUSHBUTTON "Aceptar",           IDOK,            185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Cancelar",          IDCANCEL,        185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "A&yuda",            PM_HELP,         185, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Group attributes' */

DIALOG_GROUP DIALOG 0, 0, 230, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Atributos del grupo de programa"
{
LTEXT         "&Descripción:",  PM_DESCRIPTION_TXT,   05, 18, 50, 10
EDITTEXT                        PM_DESCRIPTION,       60, 18, 90, 15, WS_TABSTOP
LTEXT    "&Archivo de grupo:",  PM_FILE_TXT,          05, 38, 50, 10
EDITTEXT                        PM_FILE,              60, 38, 90, 15, WS_TABSTOP
DEFPUSHBUTTON "Aceptar",        IDOK,                155,  5, 60, 15, WS_TABSTOP
PUSHBUTTON    "Cancelar",       IDCANCEL,            155, 25, 60, 15, WS_TABSTOP
PUSHBUTTON    "A&yuda",         PM_HELP,             155, 45, 60, 15, WS_TABSTOP
}

/* Dialog `Program attributes' */

DIALOG_PROGRAM DIALOG 0, 0, 250, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Atributos del programa"
{
LTEXT         "&Descripción:",  PM_DESCRIPTION_TXT,   05, 10, 60, 10
EDITTEXT                        PM_DESCRIPTION,       80, 10, 90, 15, WS_TABSTOP
LTEXT   "&Línea de comandos:",  PM_COMMAND_LINE_TXT,  05, 25, 60, 10
EDITTEXT                        PM_COMMAND_LINE,      80, 25, 90, 15, WS_TABSTOP
LTEXT "Directorio de &trabajo:",PM_DIRECTORY_TXT,     05, 40, 60, 10
EDITTEXT                        PM_DIRECTORY,         80, 40, 90, 15, WS_TABSTOP
LTEXT "&Combinación de teclas:",PM_HOT_KEY_TXT,       05, 55, 60, 10
EDITTEXT                        PM_HOT_KEY,           80, 55, 90, 15, WS_TABSTOP
ICON          "",               PM_ICON,              20, 70
CHECKBOX      "",               PM_SYMBOL,            80, 75, 10, 10, WS_TABSTOP
LTEXT "&Minimizar al lanzarse", IDIGNORE,             95, 75, 75, 10
DEFPUSHBUTTON "Aceptar",        IDOK,                185,  5, 60, 15, WS_TABSTOP
PUSHBUTTON    "Cancelar",       IDCANCEL,            185, 25, 60, 15, WS_TABSTOP
PUSHBUTTON    "&Explorar...",   PM_BROWSE,           185, 45, 60, 15, WS_TABSTOP
PUSHBUTTON "Cambiar &icono...", PM_OTHER_SYMBOL,     185, 65, 60, 15, WS_TABSTOP
PUSHBUTTON    "A&yuda",         PM_HELP,             185, 85, 60, 15, WS_TABSTOP
}

/* Dialog `Symbol' */

DIALOG_SYMBOL DIALOG 0, 0, 200, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Cambiar icono"
{
LTEXT     "&Nombre de archivo:", PM_ICON_FILE_TXT,    5, 15,  40, 10
EDITTEXT                         PM_ICON_FILE,       45, 15,  85, 15, WS_TABSTOP
LTEXT         "&Icono actual:",  PM_SYMBOL_LIST_TXT,  5, 30, 125, 10
COMBOBOX                         PM_SYMBOL_LIST,      5, 40, 125, 50,
   CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_OWNERDRAWFIXED | WS_TABSTOP
DEFPUSHBUTTON "Aceptar",         IDOK,              135,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Cancelar",        IDCANCEL,          135, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Explorar...",    PM_BROWSE,         135, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "A&yuda",          PM_HELP,           135, 65,  60, 15, WS_TABSTOP
}

/* Dialog `Execute' */

DIALOG_EXECUTE DIALOG 0, 0, 200, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ejecutar programa"
{
LTEXT         "Línea de &comandos:",     IDIGNORE,   05, 15, 120, 10
EDITTEXT                                 PM_COMMAND, 05, 25, 120, 15, WS_TABSTOP
CHECKBOX      "",                        PM_SYMBOL,  05, 45,  10, 10, WS_TABSTOP
LTEXT         "&Minimizar al lanzarse",  IDIGNORE,   20, 45, 120, 10
DEFPUSHBUTTON "Aceptar",                 IDOK,      135,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Cancelar",                IDCANCEL,  135, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Explorar...",            PM_BROWSE, 135, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "A&yuda",                  PM_HELP,   135, 65,  60, 15, WS_TABSTOP
}

/* Strings */

STRINGTABLE DISCARDABLE
{
IDS_PROGRAM_MANAGER,		"Gestor de programas"
IDS_ERROR,			"ERROR"
IDS_WARNING,			"ADVERTENCA"
IDS_INFO,			"Información"
IDS_DELETE,			"Eliminar"
IDS_DELETE_GROUP_s,		"¿Eliminar grupo `%s'?"
IDS_DELETE_PROGRAM_s,		"¿Eliminar programa `%s'?"
IDS_NOT_IMPLEMENTED,		"No implementado"
IDS_FILE_READ_ERROR_s,		"Error leyendo `%s'."
IDS_FILE_WRITE_ERROR_s,		"Error escribiendo `%s'."
IDS_GRPFILE_READ_ERROR_s,	"\
El archivo de grupo `%s' no se puede abrir.\n\
¿Debe volver a intentarse más adelante?"
IDS_OUT_OF_MEMORY,		"Sin memoria."
IDS_WINHELP_ERROR,		"Ayuda no disponible."
IDS_UNKNOWN_FEATURE_s,		"Característica desconocida en %s"
IDS_FILE_NOT_OVERWRITTEN_s,	"El archivo `%s' existe. No se ha sobreescrito."
IDS_SAVE_GROUP_AS_s,		"Guarde el grupo como `%s' para prevenir la sobreescritura de los archivos originales."
IDS_NO_HOT_KEY,			"Ninguna"
IDS_ALL_FILES,			"Todos los archivos (*.*)"
IDS_PROGRAMS,			"Programas"
IDS_LIBRARIES_DLL,		"Librarías (*.dll)"
IDS_SYMBOL_FILES,		"Archivos de iconos"
IDS_SYMBOLS_ICO,		"Iconos (*.ico)"
}

STRINGTABLE DISCARDABLE
{
IDS_LICENSE_CAPTION,            "LICENCIA"
IDS_LICENSE,
"This program is free software; you can redistribute it and/or \
modify it under the terms of the GNU Lesser General Public \
License as published by the Free Software Foundation; either \
version 2.1 of the License, or (at your option) any later version.\n\
This program is distributed in the hope that it will be useful, \
but WITHOUT ANY WARRANTY; without even the implied warranty of \
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU \
Lesser General Public License for more details.\n\
You should have received a copy of the GNU Lesser General Public \
License along with this program; if not, write to the Free Software \
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA"

IDS_WARRANTY_CAPTION,           "SIN GARANTÍA"
IDS_WARRANTY,
"This program is distributed in the hope that it will be useful, \
but WITHOUT ANY WARRANTY; without even the implied warranty of \
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU \
Lesser General Public License for more details."
}
