/*
 * Program Manager
 *
 * Copyright 1996 Ulrich Schmid
 * Finnish language by Jussi Tirkkonen <jt@modeemi.cs.tut.fi>
 */

#define LANGUAGE_ID                  Fi
#define LANGUAGE_NUMBER              5
#define LANGUAGE_MENU_ITEM           "&Suomi"

/* Menu */

#define MENU_FILE                    "&Tiedosto"
#define MENU_FILE_NEW                "&Uusi..."
#define MENU_FILE_OPEN               "&Avaa\tEnter"
#define MENU_FILE_MOVE               "&Siirrä...\tF7"
#define MENU_FILE_COPY               "&Kopioi...\tF8"
#define MENU_FILE_DELETE             "&Poista\tDel"
#define MENU_FILE_ATTRIBUTES         "&Ominaisuudet...\tAlt+Enter"
#define MENU_FILE_EXECUTE            "Suo&rita..."
#define MENU_FILE_EXIT               "&Lopeta..."

#define MENU_OPTIONS                 "&Asetukset"
#define MENU_OPTIONS_AUTO_ARRANGE    "&Järjestä automaattisesti"
#define MENU_OPTIONS_MIN_ON_RUN      "&Pienennä käytettäessä"
#define MENU_OPTIONS_SAVE_SETTINGS   "&Tallenna asetukset lopetettaessa"

#define MENU_WINDOWS                 "&Ikkuna"
#define MENU_WINDOWS_OVERLAP         "&Limittäin\tVaihto+F5"
#define MENU_WINDOWS_SIDE_BY_SIDE    "&Vierekkäin\tVaihto+F4"
#define MENU_WINDOWS_ARRANGE         "&Järjestä kuvakkeet"

#define MENU_LANGUAGE                "&Kieli"

#define MENU_HELP                    "&Ohje"
#define MENU_HELP_CONTENTS           "&Sisällys"
#define MENU_HELP_SEARCH             "&Etsi ohje aiheesta..."
#define MENU_HELP_HELP_ON_HELP       "&Ohjeen käyttö"
#define MENU_HELP_TUTORIAL           "O&petusohjelma"

#define MENU_INFO                    "Ti&etoja..."
#define MENU_INFO_LICENSE            "&Lisenssi"
#define MENU_INFO_NO_WARRANTY        "&OMALLA VASTUULLA"
#define MENU_INFO_ABOUT_WINE         "&Tietoja WINEstä"

/* Dialogs */

#define DIALOG_OK                    "OK"
#define DIALOG_CANCEL                "Peruuta"
#define DIALOG_BROWSE                "&Selaa"
#define DIALOG_HELP                  "&Ohje"

#define DIALOG_NEW_CAPTION           "Uusi ilmentymä"
#define DIALOG_NEW_NEW               "Uusi"
#define DIALOG_NEW_GROUP             "Ohjelma&ryhmä"
#define DIALOG_NEW_PROGRAM           "Ohjelma&"

#define DIALOG_MOVE_CAPTION          "Siirrä"
#define DIALOG_MOVE_PROGRAM          "Siirrä ohjelma:"
#define DIALOG_MOVE_FROM_GROUP       "Ryhmästä:"
#define DIALOG_MOVE_TO_GROUP         "&Ryhmään:"

#define DIALOG_COPY_CAPTION          "Kopioi"
#define DIALOG_COPY_PROGRAM          "Kopioi ohjelma:"
#define DIALOG_COPY_FROM_GROUP       DIALOG_MOVE_FROM_GROUP
#define DIALOG_COPY_TO_GROUP         DIALOG_MOVE_TO_GROUP

#define DIALOG_GROUP_CAPTION         "Ohjelmaryhmän ominaisuudet"
#define DIALOG_GROUP_DESCRIPTION     "&Kuvaus:"
#define DIALOG_GROUP_FILE            "&Ryhmätiedosto:"

#define DIALOG_PROGRAM_CAPTION       "Ohjelman ominaisuudet"
#define DIALOG_PROGRAM_DESCRIPTION   DIALOG_GROUP_DESCRIPTION
#define DIALOG_PROGRAM_COMMAND_LINE  "K&omentorivi:"
#define DIALOG_PROGRAM_DIRECTORY     "&Työhakemisto:"
#define DIALOG_PROGRAM_HOT_KEY       "&Pikanäppäin:"
#define DIALOG_PROGRAM_SYMBOL        "Suo&rita kuvakkeena"
#define DIALOG_PROGRAM_OTHER_SYMBOL  "&Vaihda kuvaketta..."

#define DIALOG_SYMBOL_CAPTION        "Valitse kuvake"
#define DIALOG_SYMBOL_FILE           "&Nimi:"
#define DIALOG_SYMBOL_CURRENT        "Nykyinen &kuvake:"

#define DIALOG_EXECUTE_CAPTION       "Suorita ohjelma"
#define DIALOG_EXECUTE_COMMAND_LINE  DIALOG_PROGRAM_COMMAND_LINE
#define DIALOG_EXECUTE_SYMBOL        DIALOG_PROGRAM_SYMBOL

/* Strings */

#define STRING_PROGRAM_MANAGER            "Järjestemänhallinta"
#define STRING_ERROR                      "VIRHE"
#define STRING_WARNING                    "VAROITUS"
#define STRING_INFO                       "Tietoja"
#define STRING_DELETE                     "Poista"
#define STRING_DELETE_GROUP_s             "Poista ryhmä `%s' ?"
#define STRING_DELETE_PROGRAM_s           "Poista ohjelma `%s' ?"
#define STRING_NOT_IMPLEMENTED            "Ei käytettävissä"
#define STRING_FILE_READ_ERROR_s          "Virhe luettaessa `%s'"
#define STRING_FILE_WRITE_ERROR_s         "Virhe kirjoitettaessa `%s'"

#define STRING_GRPFILE_READ_ERROR_s       "\
Ryhmätiedostoa `%s' ei voida avata.\n\
Yritetäänkö uudestaan?"

#define STRING_OUT_OF_MEMORY              "Muisti lopussa"
#define STRING_WINHELP_ERROR              "Ohje ei käytettävissä"
#define STRING_UNKNOWN_FEATURE_s          "Tuntematon ominaisuus %s:ssa"
#define STRING_FILE_NOT_OVERWRITTEN_s     "Tiedosto `%s' on olemassa. Tiedostoa ei muutettu."
#define STRING_SAVE_GROUP_AS_s            "Tallenna ryhmä nimellä `%s' alkuperäisten tiedostojen säilyttämiseksi"

#define STRING_NO_HOT_KEY                 "Ei mitään"

#define STRING_ALL_FILES                  "Kaikki tiedostot (*.*)"
#define STRING_PROGRAMS                   "Ohjelmat"
#define STRING_LIBRARIES_DLL              "Kirjastot (*.dll)"
#define STRING_SYMBOL_FILES               "Symbolitiedostot"
#define STRING_SYMBOLS_ICO                "Kuvakkeet (*.ico)"

#include "Xx.rc"
