/*
 * Program Manager
 *
 * Copyright 2005-2006 Alexander N. Sørnes <alex@thehandofagony.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

/* Menu */

MAIN_MENU MENU LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
{
 POPUP "&Fil" {
   MENUITEM "&Ny...",              PM_NEW
   MENUITEM "Å&pne\tEnter",             PM_OPEN
   MENUITEM "&Flytt...\tF7",             PM_MOVE,      GRAYED
   MENUITEM "&Kopier...\tF8",             PM_COPY,      GRAYED
   MENUITEM "&Slett\tEntf",           PM_DELETE
   MENUITEM "&Attributter...\tAlt+Enter",       PM_ATTRIBUTES
   MENUITEM SEPARATOR
   MENUITEM "K&jør...",          PM_EXECUTE
   MENUITEM SEPARATOR
   MENUITEM "A&vslutt Windows...",             PM_EXIT
 }
 POPUP "&Innstillinger" {
   MENUITEM "Ordne &automatisk",  PM_AUTO_ARRANGE
   MENUITEM "&Minimer ved oppstart",    PM_MIN_ON_RUN
   MENUITEM "Lagre endringer ved av&slutting", PM_SAVE_SETTINGS
 }
 POPUP "&Vinduer" {
   MENUITEM "&Overlappet\tShift+F5",       PM_OVERLAP
   MENUITEM "&Side ved side\tShift+F4",  PM_SIDE_BY_SIDE
   MENUITEM "Ordne &ikoner",       PM_ARRANGE
 }
 
POPUP "&Hjelp" {
   MENUITEM "&Innhold",         PM_CONTENTS
   MENUITEM "&Søk...",           PM_SEARCH
   MENUITEM SEPARATOR
   MENUITEM "&Hjelp til hjelp",     PM_HELPONHELP
   MENUITEM "&Veiledning",         PM_TUTORIAL
   MENUITEM SEPARATOR

   POPUP "&Informasjon..." {
     MENUITEM "&Lisens",        PM_LICENSE
     MENUITEM "I&NGEN GARANTI",    PM_NO_WARRANTY
     MENUITEM "&om WINE",     PM_ABOUT_WINE
   }
 }
}

/* Dialog `New' */

DIALOG_NEW DIALOG 0, 0, 170, 65
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ny"
{
RADIOBUTTON   "",                 PM_NEW_GROUP,    10, 15,  10, 15
LTEXT         "PProgram&gruppe",   PM_NEW_GROUP,    20, 18,  80, 15
RADIOBUTTON   "",                 PM_NEW_PROGRAM,  10, 35,  10, 15
LTEXT         "&Program", PM_NEW_PROGRAM,  20, 38,  80, 15
DEFPUSHBUTTON "OK",          IDOK,           105,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Avbryt",      IDCANCEL,       105, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Hjelp",        PM_HELP,        105, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Move' */

DIALOG_MOVE DIALOG 0, 0, 250, 65
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Flytt program"
{
LTEXT         "Flytt program:",    IDIGNORE,            5,  5,  90, 15
LTEXT         "",                     PM_PROGRAM,         95,  5,  90, 15
LTEXT         "Fra gruppe:", IDIGNORE,            5, 13,  90, 15
LTEXT         "",                     PM_FROM_GROUP,      95, 13,  90, 15
LTEXT         "&Til gruppe:",   PM_TO_GROUP_TXT,     5, 28, 140, 15
COMBOBOX                              PM_TO_GROUP,         5, 38, 140, 50, WS_TABSTOP | CBS_DROPDOWNLIST
DEFPUSHBUTTON "OK",              IDOK,              185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Avbryt",          IDCANCEL,          185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Hjelp",            PM_HELP,           185, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Copy' */

DIALOG_COPY DIALOG 0, 0, 250, 65
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Kopier program"
{
LTEXT         "Kopier program:",    IDIGNORE,            5,  5,  90, 15
LTEXT         "",                     PM_PROGRAM,         95,  5,  90, 15
LTEXT         "Fra gruppe:", IDIGNORE,            5, 13,  90, 15
LTEXT         "",                     PM_FROM_GROUP,      95, 13,  90, 15
LTEXT         "&Til gruppe:",   PM_TO_GROUP_TXT,     5, 28, 140, 15
COMBOBOX                              PM_TO_GROUP,         5, 38, 140, 50, WS_TABSTOP | CBS_DROPDOWNLIST
DEFPUSHBUTTON "OK",              IDOK,              185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Avbryt",          IDCANCEL,          185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Hjelp",            PM_HELP,           185, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Group attributes' */

DIALOG_GROUP DIALOG 0, 0, 230, 65
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Programgruppeattributter"
{
LTEXT     "&Beskrivelse:", PM_DESCRIPTION_TXT,   05, 18,  50, 10
EDITTEXT                            PM_DESCRIPTION,       60, 18,  90, 15, WS_TABSTOP
LTEXT     "&Gruppefil:",        PM_FILE_TXT,          05, 38,  50, 10
EDITTEXT                            PM_FILE,              60, 38,  90, 15, WS_TABSTOP
DEFPUSHBUTTON "OK",            IDOK,                155,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Avbryt",        IDCANCEL,            155, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Hjelp",          PM_HELP,             155, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Program attributes' */

DIALOG_PROGRAM DIALOG 0, 0, 250, 105
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Programattributter"
{
LTEXT         "&Beskrivelse:",  PM_DESCRIPTION_TXT,   05, 10,  60, 10
EDITTEXT                                   PM_DESCRIPTION,       80, 10,  90, 15, WS_TABSTOP
LTEXT         "&Kommandolinje:", PM_COMMAND_LINE_TXT,  05, 25,  60, 10
EDITTEXT                                   PM_COMMAND_LINE,      80, 25,  90, 15, WS_TABSTOP
LTEXT         "&Arbeidskatalog:",    PM_DIRECTORY_TXT,     05, 40,  60, 10
EDITTEXT                                   PM_DIRECTORY,         80, 40,  90, 15, WS_TABSTOP
LTEXT         "Nø&kkelkombinasjon:",      PM_HOT_KEY_TXT,       05, 55,  60, 10
EDITTEXT                                   PM_HOT_KEY,           80, 55,  90, 15, WS_TABSTOP
ICON          "",                          PM_ICON,              20, 70
CHECKBOX      "",                          PM_SYMBOL,            80, 75,  10, 10, WS_TABSTOP
LTEXT         "&Minimer ved oppstart",       IDIGNORE,             95, 75,  75, 10
DEFPUSHBUTTON "OK",                   IDOK,                185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Avbryt",               IDCANCEL,            185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Bla...",               PM_BROWSE,           185, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "Endre &ikon...", PM_OTHER_SYMBOL,     185, 65,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Hjelp",                 PM_HELP,             185, 85,  60, 15, WS_TABSTOP
}

/* Dialog `Symbol' */

DIALOG_SYMBOL DIALOG 0, 0, 200, 85
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Endre ikon"
{
LTEXT     "&Filnavn:",    PM_ICON_FILE_TXT,    5, 15,  40, 10
EDITTEXT                         PM_ICON_FILE,       45, 15,  85, 15, WS_TABSTOP
LTEXT     "Gjeldende &ikon:", PM_SYMBOL_LIST_TXT,  5, 30, 125, 10
COMBOBOX                         PM_SYMBOL_LIST,      5, 40, 125, 50,
   CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_OWNERDRAWFIXED | WS_TABSTOP
DEFPUSHBUTTON "OK",         IDOK,              135,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Avbryt",     IDCANCEL,          135, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Bla...",    PM_BROWSE,         135, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Hjelp",       PM_HELP,           135, 65,  60, 15, WS_TABSTOP
}

/* Dialog `Execute' */

DIALOG_EXECUTE DIALOG 0, 0, 200, 85
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Kjør program"
{
LTEXT     "&Kommandolinje:", IDIGNORE,   05, 15, 120, 10
EDITTEXT                               PM_COMMAND, 05, 25, 120, 15, WS_TABSTOP
CHECKBOX      "",                      PM_SYMBOL,  05, 45,  10, 10, WS_TABSTOP
LTEXT         "&Minimer ved oppstart",   IDIGNORE,   20, 45, 120, 10
DEFPUSHBUTTON "OK",               IDOK,      135,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "Avbryt",           IDCANCEL,  135, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Bla...",          PM_BROWSE, 135, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "&Hjelp",             PM_HELP,   135, 65,  60, 15, WS_TABSTOP
}

/* Strings */

STRINGTABLE DISCARDABLE LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
{
IDS_PROGRAM_MANAGER,		"Programbehandling"
IDS_ERROR,			"FEIL"
IDS_WARNING,			"ADVARSEL"
IDS_INFO,			"Informasjon"
IDS_DELETE,			"Slett"
IDS_DELETE_GROUP_s,		"Slette gruppen '%s'?"
IDS_DELETE_PROGRAM_s,		"Slette programmet '%s'?"
IDS_NOT_IMPLEMENTED,		"Ikke implementert"
IDS_FILE_READ_ERROR_s,		"Feil ved lesing av '%s'."
IDS_FILE_WRITE_ERROR_s,		"Feil ved skriving til '%s'."
IDS_GRPFILE_READ_ERROR_s,	"\
Kunne ikke åpne gruppefilen '%s'.\n\
Vil du prøve mer?"
IDS_OUT_OF_MEMORY,		"Ikke nok minne."
IDS_WINHELP_ERROR,		"Ingen hjelp er ikke tilgjengelig."
IDS_UNKNOWN_FEATURE_s,		"Ukjent egenskap i '%s'"
IDS_FILE_NOT_OVERWRITTEN_s,	"Filen '%s' fantes allerede, og ble ikke overskrevet."
IDS_SAVE_GROUP_AS_s,		"Lagre gruppe som '%s' for å unngå å overskrive filer."
IDS_NO_HOT_KEY,			"Ingen"
IDS_ALL_FILES,			"Alle filer (*.*)"
IDS_PROGRAMS,			"Programmer"
IDS_LIBRARIES_DLL,		"Biblioteker (*.dll)"
IDS_SYMBOL_FILES,		"Ikonfiler"
IDS_SYMBOLS_ICO,		"Ikoner (*.ico)"
}

STRINGTABLE DISCARDABLE LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
{
IDS_LICENSE_CAPTION,            "LISENS"
IDS_LICENSE,
"Dette biblioteket er fri programvare; du kan redistribuere det  \
og/eller endre det under vilkårene i «GNU Lesser General Public \
License», utgitt av the Free Software Foundation; enten \
versjon 2.1 av Lisensen, eller (hvis du ønsker det) en nyere versjon.\n\
Dette biblioteket distribueres i håp om at det er nyttig, \
men UTEN ENHVER GARANTI; ikke engang en uttrykte garantien for \
HANDELSDYKTIGHET eller EGNETHET FOR ET SPESIELT FORMÅL. Se «GNU \
Lesser General Public License» for flere detaljer.\n\
Du skal ha mottatt et eksemplar av «GNU Lesser General Public \
License» sammen med dette biblioteket; hvis ikke, skriv til: the Free Software \
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA"

IDS_WARRANTY_CAPTION, "INGEN GARANTI"
IDS_WARRANTY,
"Dette biblioteket distribueres i det håp at det er nyttig, \
men UTEN ENHVER GARANTI; ikke engang en uttrykte garantien for \
HANDELSDYKTIGHET eller EGNETHET FOR ET SPESIELT FORMÅL. Se «GNU \
Lesser General Public License» for flere detaljer."
}
