/*
 * Program Manager
 *
 * Copyright 1996 Ulrich Schmid
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#define LANGUAGE_ID                  Sk
#define LANGUAGE_NUMBER              10
#define LANGUAGE_MENU_ITEM           "&Slovensky"

/* Menu */

#define MENU_FILE                    "&S˙bor"
#define MENU_FILE_NEW                "&Nov˝..."
#define MENU_FILE_OPEN               "O&tvoriù\tEnter"
#define MENU_FILE_MOVE               "&Presun˙ù...\tF7"
#define MENU_FILE_COPY               "&KopÌrovaù...\tF8"
#define MENU_FILE_DELETE             "&Zmazaù\tEntf"
#define MENU_FILE_ATTRIBUTES         "&Attrib˙ty...\tAlt+Enter"
#define MENU_FILE_EXECUTE            "&Vykonaù..."
#define MENU_FILE_EXIT               "O&pustiù Windows..."

#define MENU_OPTIONS                 "V&oæby"
#define MENU_OPTIONS_AUTO_ARRANGE    "&Aranûovaù automaticky"
#define MENU_OPTIONS_MIN_ON_RUN      "&Minimalizovaù pri behu"
#define MENU_OPTIONS_SAVE_SETTINGS   "Uloûiù na&stavenie pri ukonËenÌ"

#define MENU_WINDOWS                 "&Windows"
#define MENU_WINDOWS_OVERLAP         "&PrekrytÈ\tShift+F5"
#define MENU_WINDOWS_SIDE_BY_SIDE    "Vedæa &seba\tShift+F4"
#define MENU_WINDOWS_ARRANGE         "&Aranûovaù symboly"

#define MENU_LANGUAGE                "&Jazyk"

#define MENU_HELP                    "&Pomoc"
#define MENU_HELP_CONTENTS           "K&oment·re"
#define MENU_HELP_SEARCH             "&Hæadaù..."
#define MENU_HELP_HELP_ON_HELP       "&Pomoc na pomoci"
#define MENU_HELP_TUTORIAL           "&Tutorial"

#define MENU_INFO                    "&Info..."
#define MENU_INFO_LICENSE            "&Licencia"
#define MENU_INFO_NO_WARRANTY        "&BEZ Z¡RUKY"
#define MENU_INFO_ABOUT_WINE         "O &WINE"

/* Dialogs */

#define DIALOG_OK                    "OK"
#define DIALOG_CANCEL                "Zruöiù"
#define DIALOG_BROWSE                "&Listovaù"
#define DIALOG_HELP                  "&Pomoc"

#define DIALOG_NEW_CAPTION           "Nov˝ programov˝ objekt"
#define DIALOG_NEW_NEW               "Nov˝"
#define DIALOG_NEW_GROUP             "Programov· &skupina"
#define DIALOG_NEW_PROGRAM           "&Program"

#define DIALOG_MOVE_CAPTION          "Presun programu"
#define DIALOG_MOVE_PROGRAM          "Presun˙ù program:"
#define DIALOG_MOVE_FROM_GROUP       "Zo skupiny:"
#define DIALOG_MOVE_TO_GROUP         "&Do skupiny:"

#define DIALOG_COPY_CAPTION          "KopÌrovanie programu"
#define DIALOG_COPY_PROGRAM          "KopÌrovaù program:"
#define DIALOG_COPY_FROM_GROUP       DIALOG_MOVE_FROM_GROUP
#define DIALOG_COPY_TO_GROUP         DIALOG_MOVE_TO_GROUP

#define DIALOG_GROUP_CAPTION         "Atrib˙ty skupiny programov"
#define DIALOG_GROUP_DESCRIPTION     "&Popis:"
#define DIALOG_GROUP_FILE            "&S˙bor skupiny:"

#define DIALOG_PROGRAM_CAPTION       "Atrib˙ty programu"
#define DIALOG_PROGRAM_DESCRIPTION   DIALOG_GROUP_DESCRIPTION
#define DIALOG_PROGRAM_COMMAND_LINE  "&PrÌkazov˝ riadok:"
#define DIALOG_PROGRAM_DIRECTORY     "P&racovn˝ adres·r:"
#define DIALOG_PROGRAM_HOT_KEY       "&Kl·vesov· kombin·cia:"
#define DIALOG_PROGRAM_SYMBOL        "Ako &symbol"
#define DIALOG_PROGRAM_OTHER_SYMBOL  "œaæö&ie symboly..."

#define DIALOG_SYMBOL_CAPTION        "V˝ber symbolu"
#define DIALOG_SYMBOL_FILE           "&Meno s˙boru:"
#define DIALOG_SYMBOL_CURRENT        "Ak&tu·lny symbol:"

#define DIALOG_EXECUTE_CAPTION       "Vykonanie programu"
#define DIALOG_EXECUTE_COMMAND_LINE  DIALOG_PROGRAM_COMMAND_LINE
#define DIALOG_EXECUTE_SYMBOL        DIALOG_PROGRAM_SYMBOL

/* Strings */

#define STRING_PROGRAM_MANAGER            "Program Manager"
#define STRING_ERROR                      "CHYBA"
#define STRING_WARNING                    "VAROVANIE"
#define STRING_INFO                       "Inform·cie"
#define STRING_DELETE                     "Zmazaù"
#define STRING_DELETE_GROUP_s             "Zmazaù skupinu `%s' ?"
#define STRING_DELETE_PROGRAM_s           "Zmazaù program `%s' ?"
#define STRING_NOT_IMPLEMENTED            "NeimplementovanÈ"
#define STRING_FILE_READ_ERROR_s          "Chyba pri ËÌtanÌ `%s'"
#define STRING_FILE_WRITE_ERROR_s         "Chyba pri z·pise `%s'"

#define STRING_GRPFILE_READ_ERROR_s       "\
S˙bor skupiny `%s' nemÙûe byù otvoren˝.\n\
M· sa Ôalej pokraËovaù v pokusoch o otvorenie?"

#define STRING_OUT_OF_MEMORY              "Nedostatok pam‰te"
#define STRING_WINHELP_ERROR              "Pomoc nie je k dispozÌcii"
#define STRING_UNKNOWN_FEATURE_s          "Nezn·ma vlastnosù v %s"
#define STRING_FILE_NOT_OVERWRITTEN_s     "S˙bor `%s' existuje. NeprepÌsan˝."
#define STRING_SAVE_GROUP_AS_s            "Save group as `%s' to prevent overwriting original files"

#define STRING_NO_HOT_KEY                 "éiadny"

#define STRING_ALL_FILES                  "Vöetky s˙bory (*.*)"
#define STRING_PROGRAMS                   "Programy"
#define STRING_LIBRARIES_DLL              "Kniûnice (*.dll)"
#define STRING_SYMBOL_FILES               "S˙bory symbolov"
#define STRING_SYMBOLS_ICO                "Symboly (*.ico)"

#include "Xx.rc"
