/*
 * Program Manager
 *
 * Copyright 1998 Karl Backström
 */

#define LANGUAGE_ID                  Sw
#define LANGUAGE_NUMBER              1d
#define LANGUAGE_MENU_ITEM           "&Svenska"

/* Menu */

#define MENU_FILE                    "&Arkiv"
#define MENU_FILE_NEW                "&Ny..."
#define MENU_FILE_OPEN               "Ö&ppna\tEnter"
#define MENU_FILE_MOVE               "&Flytta...\tF7"
#define MENU_FILE_COPY               "&Kopiera...\tF8"
#define MENU_FILE_DELETE             "&Ta bort\tEntf"
#define MENU_FILE_ATTRIBUTES         "&Egenskaper...\tAlt+Enter"
#define MENU_FILE_EXECUTE            "&Kör..."
#define MENU_FILE_EXIT               "A&vsluta Windows..."

#define MENU_OPTIONS                 "&Inställningar"
#define MENU_OPTIONS_AUTO_ARRANGE    "&Arrangera automatiskt"
#define MENU_OPTIONS_MIN_ON_RUN      "&Minimera vid körning"
#define MENU_OPTIONS_SAVE_SETTINGS   "&Spara inställningarna vid avslut"

#define MENU_WINDOWS                 "&Fönster"
#define MENU_WINDOWS_OVERLAP         "&Överlappande\tShift+F5"
#define MENU_WINDOWS_SIDE_BY_SIDE    "&Sida vid sida\tShift+F4"
#define MENU_WINDOWS_ARRANGE         "&Arrangra Ikoner"

#define MENU_LANGUAGE                "&Språk"

#define MENU_HELP                    "&Hjälp"
#define MENU_HELP_CONTENTS           "&Innehåll"
#define MENU_HELP_SEARCH             "&Sök..."
#define MENU_HELP_HELP_ON_HELP       "&Användningen av Hjälp"
#define MENU_HELP_TUTORIAL           "&Windows Självstudier"

#define MENU_INFO                    "&Information..."
#define MENU_INFO_LICENSE            "&Licens"
#define MENU_INFO_NO_WARRANTY        "&INGEN GARANTI"
#define MENU_INFO_ABOUT_WINE         "&Om WINE"

/* Dialogs */

#define DIALOG_OK                    "OK"
#define DIALOG_CANCEL                "Avbryt"
#define DIALOG_BROWSE                "&Bläddra"
#define DIALOG_HELP                  "&Hjälp"

#define DIALOG_NEW_CAPTION           "Nytt Program Objekt"
#define DIALOG_NEW_NEW               "Nytt"
#define DIALOG_NEW_GROUP             "Program &grupp"
#define DIALOG_NEW_PROGRAM           "&Program"

#define DIALOG_MOVE_CAPTION          "Flytta Program"
#define DIALOG_MOVE_PROGRAM          "Flytta program:"
#define DIALOG_MOVE_FROM_GROUP       "Från grupp:"
#define DIALOG_MOVE_TO_GROUP         "&Till grupp:"

#define DIALOG_COPY_CAPTION          "Kopiera Program"
#define DIALOG_COPY_PROGRAM          "Kopiera program:"
#define DIALOG_COPY_FROM_GROUP       DIALOG_MOVE_FROM_GROUP
#define DIALOG_COPY_TO_GROUP         DIALOG_MOVE_TO_GROUP

#define DIALOG_GROUP_CAPTION         "Programgrupps egenskaper"
#define DIALOG_GROUP_DESCRIPTION     "&Beskrivning:"
#define DIALOG_GROUP_FILE            "&Gruppfil:"

#define DIALOG_PROGRAM_CAPTION       "Program egenskaper"
#define DIALOG_PROGRAM_DESCRIPTION   DIALOG_GROUP_DESCRIPTION
#define DIALOG_PROGRAM_COMMAND_LINE  "&Kommando rad:"
#define DIALOG_PROGRAM_DIRECTORY     "&Arbets katalog:"
#define DIALOG_PROGRAM_HOT_KEY       "&Tangentbords kombination:"
#define DIALOG_PROGRAM_SYMBOL        "Kör &minimerat"
#define DIALOG_PROGRAM_OTHER_SYMBOL  "&Byt Ikon..."

#define DIALOG_SYMBOL_CAPTION        "Byt Ikon"
#define DIALOG_SYMBOL_FILE           "&Filnamn:"
#define DIALOG_SYMBOL_CURRENT        "&Nuvarande ikon:"

#define DIALOG_EXECUTE_CAPTION       "Kör"
#define DIALOG_EXECUTE_COMMAND_LINE  DIALOG_PROGRAM_COMMAND_LINE
#define DIALOG_EXECUTE_SYMBOL        DIALOG_PROGRAM_SYMBOL

/* Strings */

#define STRING_PROGRAM_MANAGER            "Programhanteraren"
#define STRING_ERROR                      "FEL"
#define STRING_WARNING                    "VARNING"
#define STRING_INFO                       "Information"
#define STRING_DELETE                     "Ta bort"
#define STRING_DELETE_GROUP_s             "Ta bort grupp `%s' ?"
#define STRING_DELETE_PROGRAM_s           "Ta bort program `%s' ?"
#define STRING_NOT_IMPLEMENTED            "Ej implementerat"
#define STRING_FILE_READ_ERROR_s          "Kan ej läsa filen `%s'"
#define STRING_FILE_WRITE_ERROR_s         "Kan ej skriva till filen `%s'"

#define STRING_GRPFILE_READ_ERROR_s       "\
Kan inte öppna gruppfilen `%s'.\n\
Önskar du att Programhanteraren i framtiden ska försöka öppna den?"

#define STRING_OUT_OF_MEMORY              "Slut på minne"
#define STRING_WINHELP_ERROR              "Hjälp ej tillgänglig"
#define STRING_UNKNOWN_FEATURE_s          "Okänt innehåll i %s"
#define STRING_FILE_NOT_OVERWRITTEN_s     "Filen `%s' existerar. Den har ej skrivits över."
#define STRING_SAVE_GROUP_AS_s            "Spara filen som `%s' för att förhindra att orginalfilen skrivs över"

#define STRING_NO_HOT_KEY                 "Ingen"

#define STRING_ALL_FILES                  "Alla filer (*.*)"
#define STRING_PROGRAMS                   "Program"
#define STRING_LIBRARIES_DLL              "Biblioteksfiler (*.dll)"
#define STRING_SYMBOL_FILES               "Ikonfiler"
#define STRING_SYMBOLS_ICO                "Ikoner (*.ico)"

#include "Xx.rc"
