/*
 * Program Manager
 *
 * Copyright 1996 Ulrich Schmid
 *
 * Rumantsch Ladin (Vallader) added by Marcel Baur <mbaur@g26.ethz.ch>
 *
 */

#define LANGUAGE_ID                  Va
#define LANGUAGE_NUMBER              C
#define LANGUAGE_MENU_ITEM           "&Vallader"

/* Menu */

#define MENU_FILE                    "&Datoteca"
#define MENU_FILE_NEW                "&Nouv..."
#define MENU_FILE_OPEN               "&Rivir\tEndataziun"
#define MENU_FILE_MOVE               "&Spostar...\tF7"
#define MENU_FILE_COPY               "&Copchar...\tF8"
#define MENU_FILE_DELETE             "S&tüder\tDel"
#define MENU_FILE_ATTRIBUTES         "&Particularitads...\tAlt+Endataziun"
#define MENU_FILE_EXECUTE            "&Esegnir..."
#define MENU_FILE_EXIT               "&Finir WINE..."

#define MENU_OPTIONS                 "&Opziuns"
#define MENU_OPTIONS_AUTO_ARRANGE    "Ordinar &automaticamaing"
#define MENU_OPTIONS_MIN_ON_RUN      "&Simbol davo'l cummainzamaint dal program"
#define MENU_OPTIONS_SAVE_SETTINGS   "Arcunar conzepziuns a la &finischina"

#define MENU_WINDOWS                 "&Fanestra"
#define MENU_WINDOWS_OVERLAP         "&cruschond\tShift+F5"
#define MENU_WINDOWS_SIDE_BY_SIDE    "ün &dasper l'oter\tShift+F4"
#define MENU_WINDOWS_ARRANGE         "&ordinar ils simbols"

#define MENU_LANGUAGE                "&Lingun"

#define MENU_HELP                    "&Agüd"
#define MENU_HELP_CONTENTS           "&Cuntgnü"
#define MENU_HELP_SEARCH             "&Tscherchar..."
#define MENU_HELP_HELP_ON_HELP       "&Douvrar l'agüd"
#define MENU_HELP_TUTORIAL           "&Program d'imprender"

#define MENU_INFO                    "Inf&ormaziun..."
#define MENU_INFO_LICENSE            "&Liceza"
#define MENU_INFO_NO_WARRANTY        "&INGUENA GARANZIA"
#define MENU_INFO_ABOUT_WINE         "&Davart WINE"

/* Dialogs */

#define DIALOG_OK                    "OK"
#define DIALOG_CANCEL                "Far giö quint"
#define DIALOG_BROWSE                "&Tscherchar tras..."
#define DIALOG_HELP                  "&Agüd"

#define DIALOG_NEW_CAPTION           "Nouv proget da program"
#define DIALOG_NEW_NEW               "Nouv"
#define DIALOG_NEW_GROUP             "&Gruppa da programs"
#define DIALOG_NEW_PROGRAM           "&Program"

#define DIALOG_MOVE_CAPTION          "Spostar il program"
#define DIALOG_MOVE_PROGRAM          "Spostar il program:"
#define DIALOG_MOVE_FROM_GROUP       "&Da la gruppa:"
#define DIALOG_MOVE_TO_GROUP         "&In gruppa:"

#define DIALOG_COPY_CAPTION          "Copchar il program"
#define DIALOG_COPY_PROGRAM          "Copchar il program:"
#define DIALOG_COPY_FROM_GROUP       DIALOG_MOVE_FROM_GROUP
#define DIALOG_COPY_TO_GROUP         DIALOG_MOVE_TO_GROUP

#define DIALOG_GROUP_CAPTION         "Particularitads da las gruppas"
#define DIALOG_GROUP_DESCRIPTION     "&Descripziun:"
#define DIALOG_GROUP_FILE            "Dato&teca:"

#define DIALOG_PROGRAM_CAPTION       "Particularitads dal program"
#define DIALOG_PROGRAM_DESCRIPTION   DIALOG_GROUP_DESCRIPTION
#define DIALOG_PROGRAM_COMMAND_LINE  "&Lingia da cumonds:"
#define DIALOG_PROGRAM_DIRECTORY     "&Register da lavuors:"
#define DIALOG_PROGRAM_HOT_KEY       "&Cumbinaziun:"
#define DIALOG_PROGRAM_SYMBOL        "Sco Si&mbol"
#define DIALOG_PROGRAM_OTHER_SYMBOL  "Oter &Simbol..."

#define DIALOG_SYMBOL_CAPTION        "Tscherner Simbol"
#define DIALOG_SYMBOL_FILE           "&Nom da la Datoteca:"
#define DIALOG_SYMBOL_CURRENT        "Simbol &actual:"

#define DIALOG_EXECUTE_CAPTION       "Eseguir program"
#define DIALOG_EXECUTE_COMMAND_LINE  DIALOG_PROGRAM_COMMAND_LINE
#define DIALOG_EXECUTE_SYMBOL        DIALOG_PROGRAM_SYMBOL

/* Strings */

#define STRING_PROGRAM_MANAGER            "Manager da programs"
#define STRING_ERROR                      "SBAGL"
#define STRING_WARNING                    "ATTENTIUN"
#define STRING_INFO                       "Infuormaziun"
#define STRING_DELETE                     "Stüder"
#define STRING_DELETE_GROUP_s             "Stüder la gruppa da programs `%s' ?"
#define STRING_DELETE_PROGRAM_s           "Stüder il program `%s' ?"
#define STRING_NOT_IMPLEMENTED            "Na implementa"
#define STRING_FILE_READ_ERROR_s          "Sbagl cun leger `%s'"
#define STRING_FILE_WRITE_ERROR_s         "Sbagl cun scriver `%s'"

#define STRING_GRPFILE_READ_ERROR_s       "\
La datoteca da gruppas da program '%s' nu po gnir rivida.\n\
Esa da prouar inavant da chargiar quista\n"

#define STRING_OUT_OF_MEMORY              "Massa paca memoria"
#define STRING_WINHELP_ERROR              "Ingün agüd a disposiziun"
#define STRING_UNKNOWN_FEATURE_s          "Funcziun incuntschainta in %s"
#define STRING_FILE_NOT_OVERWRITTEN_s     "Datoteca `%s' exista fingià. Ella nu vegn."
#define STRING_SAVE_GROUP_AS_s            "\
La gruppa vegn sgürada cul nom '%s' per evitar \
cha la datoteca originala vegna surscritta."

#define STRING_NO_HOT_KEY                 "Ingiüna"

#define STRING_ALL_FILES                  "Tuot las datotecas (*.*)"
#define STRING_PROGRAMS                   "Programs"
#define STRING_LIBRARIES_DLL              "Bibliotecas (*.dll)"
#define STRING_SYMBOL_FILES               "Datotecas da simbols"
#define STRING_SYMBOLS_ICO                "Simbols (*.ico)"

#include "Xx.rc"
