/*
 * Program Manager
 *
 * Si vos voloz aider avou li ratoûrnaedje des libes programes è walon,
 * vos poloz scrîre a l' adresse emile <linux-wa@chanae.alphanet.ch>
 */

#define LANGUAGE_ID                  Wa
#define LANGUAGE_NUMBER              0x90
#define LANGUAGE_MENU_ITEM           "&Walon"

/* Menu */

#define MENU_FILE                    "&Fitchî"
#define MENU_FILE_NEW                "&Novea..."
#define MENU_FILE_OPEN               "&Drovî\tEnter"
#define MENU_FILE_MOVE               "&Bodjî...\tF7"
#define MENU_FILE_COPY               "&Copyî...\tF8"
#define MENU_FILE_DELETE             "&Rafacer\tDel"
#define MENU_FILE_ATTRIBUTES         "&Atributs...\tAlt+Enter"
#define MENU_FILE_EXECUTE            "&Enonder..."
#define MENU_FILE_EXIT               "Moussî &Foû di Windows..."

#define MENU_OPTIONS                 "&Tchûzes"
#define MENU_OPTIONS_AUTO_ARRANGE    "&Arindji tot seu"
#define MENU_OPTIONS_MIN_ON_RUN      "&Minimize on run"
#define MENU_OPTIONS_SAVE_SETTINGS   "&Schaper les tchûzes cwand est cloyu"

#define MENU_WINDOWS                 "&Purneas"
#define MENU_WINDOWS_OVERLAP         "&So onk l' ôte\tShift+F5"
#define MENU_WINDOWS_SIDE_BY_SIDE    "A &Costé Onk l' ôte\tShift+F4"
#define MENU_WINDOWS_ARRANGE         "&Arrange Symbols"

#define MENU_LANGUAGE                "&Lingaedje"

#define MENU_HELP                    "&Aide"
#define MENU_HELP_CONTENTS           "Å&dvins"
#define MENU_HELP_SEARCH             "C&werî..."
#define MENU_HELP_HELP_ON_HELP       "&Aide so l' Aide"
#define MENU_HELP_TUTORIAL           "&Tutoriå"

#define MENU_INFO                    "&Informåcion..."
#define MENU_INFO_LICENSE            "&Licinse"
#define MENU_INFO_NO_WARRANTY        "&NOLE WARANTEYE"
#define MENU_INFO_ABOUT_WINE         "Å &dfait di WINE"

/* Dialogs */

#define DIALOG_OK                    "I Va"
#define DIALOG_CANCEL                "Rinoncî"
#define DIALOG_BROWSE                "&Foyter"
#define DIALOG_HELP                  "&Aide"

#define DIALOG_NEW_CAPTION           "Novea Programe"
#define DIALOG_NEW_NEW               "Novea"
#define DIALOG_NEW_GROUP             "&Groupe di programes"
#define DIALOG_NEW_PROGRAM           "&Programe"

#define DIALOG_MOVE_CAPTION          "Bodjî Programe"
#define DIALOG_MOVE_PROGRAM          "Bodjî l' &programe:"
#define DIALOG_MOVE_FROM_GROUP       "&Do groupe:"
#define DIALOG_MOVE_TO_GROUP         "&Å groupe:"

#define DIALOG_COPY_CAPTION          "Copyî Programe"
#define DIALOG_COPY_PROGRAM          "Copyî l' &programe:"
#define DIALOG_COPY_FROM_GROUP       DIALOG_MOVE_FROM_GROUP
#define DIALOG_COPY_TO_GROUP         DIALOG_MOVE_TO_GROUP

#define DIALOG_GROUP_CAPTION         "Atributs do Groupe di Programes"
#define DIALOG_GROUP_DESCRIPTION     "&Descripcion:"
#define DIALOG_GROUP_FILE            "&Fitchî Groupe:"

#define DIALOG_PROGRAM_CAPTION       "Atributs do Programe"
#define DIALOG_PROGRAM_DESCRIPTION   DIALOG_GROUP_DESCRIPTION
#define DIALOG_PROGRAM_COMMAND_LINE  "&Comande:"
#define DIALOG_PROGRAM_DIRECTORY     "&Ridant wisk' on l' enonde:"
#define DIALOG_PROGRAM_HOT_KEY       "&Loyaedje di tapes:"
#define DIALOG_PROGRAM_SYMBOL        "Come &Imådjete"
#define DIALOG_PROGRAM_OTHER_SYMBOL  "&Ôtes imådjetes..."

#define DIALOG_SYMBOL_CAPTION        "Tchwezixhoz ene Imådjete"
#define DIALOG_SYMBOL_FILE           "&No do fitchî:"
#define DIALOG_SYMBOL_CURRENT        "&Imådjete do moumint:"

#define DIALOG_EXECUTE_CAPTION       "Enonder Programe"
#define DIALOG_EXECUTE_COMMAND_LINE  DIALOG_PROGRAM_COMMAND_LINE
#define DIALOG_EXECUTE_SYMBOL        DIALOG_PROGRAM_SYMBOL

/* Strings */

#define STRING_PROGRAM_MANAGER            "Manaedjeu di Programes"
#define STRING_ERROR                      "AROKE"
#define STRING_WARNING                    "ADVERTIXHMINT"
#define STRING_INFO                       "Informåcion"
#define STRING_DELETE                     "Disfacer"
#define STRING_DELETE_GROUP_s             "Disfacer li groupe `%s' ?"
#define STRING_DELETE_PROGRAM_s           "Disfacer li programe `%s' ?"
#define STRING_NOT_IMPLEMENTED            "Nén co possibe"
#define STRING_FILE_READ_ERROR_s          "Yåk n' a nén stî å moumint di lere `%s'"
#define STRING_FILE_WRITE_ERROR_s         "Yåk n' a nén stî å moumint di schaper `%s'"

#define STRING_GRPFILE_READ_ERROR_s       "\
Li fitchî di groupe `%s' n' pout nén esse drovi.\n\
Voloz sayi pus tård ?"

#define STRING_OUT_OF_MEMORY              "Memwere plinne"
#define STRING_WINHELP_ERROR              "I gn a pont d' aide"
#define STRING_UNKNOWN_FEATURE_s          "Osti nén cnoxhu dins %s"
#define STRING_FILE_NOT_OVERWRITTEN_s     "Li fitchî `%s' egzisteye ddja. Nén spotchî."
#define STRING_SAVE_GROUP_AS_s            "Groupe schapé èt rlomé come `%s' po nén spotchî les fitchî di dvant"

#define STRING_NO_HOT_KEY                 "Nole"

#define STRING_ALL_FILES                  "Tos les fitchîs (*.*)"
#define STRING_PROGRAMS                   "Programes"
#define STRING_LIBRARIES_DLL              "Lîvreyes (*.dll)"
#define STRING_SYMBOL_FILES               "Fitchîs di simbôles"
#define STRING_SYMBOLS_ICO                "Imådjetes (*.ico)"

#include "Xx.rc"
