/*
 * Program Manager
 * Simplified and Traditional Chinese Language Support
 *
 * Copyright 2002 liuspider <liuspider@yahoo.com>
 * Copyright 2008 Hongbo Ni <hongbo.at.njstar.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "progman.h"

/* Chinese text is encoded in UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

/* Dialog `New' */

DIALOG_NEW DIALOG 0, 0, 170, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "新建"
{
RADIOBUTTON   "",                 PM_NEW_GROUP,    10, 15,  10, 15
LTEXT         "程序组(&G)",   -1,    20, 18,  80, 15
RADIOBUTTON   "",                 PM_NEW_PROGRAM,  10, 35,  10, 15
LTEXT         "程序(&P)", -1,  20, 38,  80, 15
DEFPUSHBUTTON "确定",          IDOK,           105,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",      IDCANCEL,       105, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "帮助(&H)",        PM_HELP,        105, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Move' */

DIALOG_MOVE DIALOG 0, 0, 250, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "移动程序"
{
LTEXT         "移动程序:",    -1,            5,  5,  90, 15
LTEXT         "",                     PM_PROGRAM,         95,  5,  90, 15
LTEXT         "从此程序组中:", -1,            5, 13,  90, 15
LTEXT         "",                     PM_FROM_GROUP,      95, 13,  90, 15
LTEXT         "移动到程序组(&T):",   PM_TO_GROUP_TXT,     5, 28, 140, 15
COMBOBOX                              PM_TO_GROUP,         5, 38, 140, 50, WS_TABSTOP | CBS_DROPDOWNLIST
DEFPUSHBUTTON "确定",              IDOK,              185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",          IDCANCEL,          185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "帮助(&H)",            PM_HELP,           185, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Copy' */

DIALOG_COPY DIALOG 0, 0, 250, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "复制程序"
{
LTEXT         "复制程序:",    -1,            5,  5,  90, 15
LTEXT         "",                     PM_PROGRAM,         95,  5,  90, 15
LTEXT         "从此程序组中:", -1,            5, 13,  90, 15
LTEXT         "",                     PM_FROM_GROUP,      95, 13,  90, 15
LTEXT         "移动到程序组(&T):",   PM_TO_GROUP_TXT,     5, 28, 140, 15
COMBOBOX                              PM_TO_GROUP,         5, 38, 140, 50, WS_TABSTOP | CBS_DROPDOWNLIST
DEFPUSHBUTTON "确定",              IDOK,              185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",          IDCANCEL,          185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "帮助(&H)",            PM_HELP,           185, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Group attributes' */

DIALOG_GROUP DIALOG 0, 0, 230, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "程序组属性"
{
LTEXT     "描述(&D):", PM_DESCRIPTION_TXT,   05, 18,  50, 10
EDITTEXT                            PM_DESCRIPTION,       60, 18,  90, 15, WS_TABSTOP
LTEXT     "组文件(&G):",        PM_FILE_TXT,          05, 38,  50, 10
EDITTEXT                            PM_FILE,              60, 38,  90, 15, WS_TABSTOP
DEFPUSHBUTTON "确定",            IDOK,                155,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",        IDCANCEL,            155, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "帮助(&H)",          PM_HELP,             155, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Program attributes' */

DIALOG_PROGRAM DIALOG 0, 0, 250, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "程序属性"
{
LTEXT         "描述(&D):",  PM_DESCRIPTION_TXT,   05, 10,  60, 10
EDITTEXT                                   PM_DESCRIPTION,       80, 10,  90, 15, WS_TABSTOP
LTEXT         "命令行(&C):", PM_COMMAND_LINE_TXT,  05, 25,  60, 10
EDITTEXT                                   PM_COMMAND_LINE,      80, 25,  90, 15, WS_TABSTOP
LTEXT         "工作目录(&W):",    PM_DIRECTORY_TXT,     05, 40,  60, 10
EDITTEXT                                   PM_DIRECTORY,         80, 40,  90, 15, WS_TABSTOP
LTEXT         "快捷键(&K):",      PM_HOT_KEY_TXT,       05, 55,  60, 10
EDITTEXT                                   PM_HOT_KEY,           80, 55,  90, 15, WS_TABSTOP
ICON          "",                          PM_ICON,              20, 70
CHECKBOX      "",                          PM_SYMBOL,            80, 75,  10, 10, WS_TABSTOP
LTEXT         "启动后最小化(&M)",       -1,             95, 75,  75, 10
DEFPUSHBUTTON "确定",                   IDOK,                185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",               IDCANCEL,            185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "浏览(&B)...",               PM_BROWSE,           185, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "修改图标(&I)...", PM_OTHER_SYMBOL,     185, 65,  60, 15, WS_TABSTOP
PUSHBUTTON    "帮助(&H)",                 PM_HELP,             185, 85,  60, 15, WS_TABSTOP
}

/* Dialog `Symbol' */

DIALOG_SYMBOL DIALOG 0, 0, 200, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "修改图标"
{
LTEXT     "文件名(&F):",    PM_ICON_FILE_TXT,    5, 15,  40, 10
EDITTEXT                         PM_ICON_FILE,       45, 15,  85, 15, WS_TABSTOP
LTEXT     "当前图标(&I):", PM_SYMBOL_LIST_TXT,  5, 30, 125, 10
COMBOBOX                         PM_SYMBOL_LIST,      5, 40, 125, 50,
   CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_OWNERDRAWFIXED | WS_TABSTOP
DEFPUSHBUTTON "确定",         IDOK,              135,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",     IDCANCEL,          135, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "浏览(&B)...",    PM_BROWSE,         135, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "帮助(&H)",       PM_HELP,           135, 65,  60, 15, WS_TABSTOP
}

/* Dialog `Execute' */

DIALOG_EXECUTE DIALOG 0, 0, 200, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "执行程序"
{
LTEXT     "命令行(&C):", -1,   05, 15, 120, 10
EDITTEXT                               PM_COMMAND, 05, 25, 120, 15, WS_TABSTOP
CHECKBOX      "",                      PM_SYMBOL,  05, 45,  10, 10, WS_TABSTOP
LTEXT         "启动后最小化(&M)",   -1,   20, 45, 120, 10
DEFPUSHBUTTON "确定",               IDOK,      135,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",           IDCANCEL,  135, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "浏览(&B)...",          PM_BROWSE, 135, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "帮助(&H)",             PM_HELP,   135, 65,  60, 15, WS_TABSTOP
}

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

/* Dialog `New' */

DIALOG_NEW DIALOG 0, 0, 170, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "新建"
{
RADIOBUTTON   "",          PM_NEW_GROUP,    10, 15,  10, 15
LTEXT         "程式組(&G)", -1,    20, 18,  80, 15
RADIOBUTTON   "",          PM_NEW_PROGRAM,  10, 35,  10, 15
LTEXT         "程式(&P)",   -1,  20, 38,  80, 15
DEFPUSHBUTTON "確定",      IDOK,           105,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",      IDCANCEL,       105, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "幫助(&H)",   PM_HELP,        105, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Move' */

DIALOG_MOVE DIALOG 0, 0, 250, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "移動程式"
{
LTEXT         "移動程式:",         -1,            5,  5,  90, 15
LTEXT         "",                 PM_PROGRAM,         95,  5,  90, 15
LTEXT         "從此程式組中:",      -1,            5, 13,  90, 15
LTEXT         "",                 PM_FROM_GROUP,      95, 13,  90, 15
LTEXT         "移動到程式組(&T):",  PM_TO_GROUP_TXT,     5, 28, 140, 15
COMBOBOX                          PM_TO_GROUP,         5, 38, 140, 50, WS_TABSTOP | CBS_DROPDOWNLIST
DEFPUSHBUTTON "確定",              IDOK,              185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",              IDCANCEL,          185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "幫助(&H)",          PM_HELP,           185, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Copy' */

DIALOG_COPY DIALOG 0, 0, 250, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "複製程式"
{
LTEXT         "複製程式:",        -1,            5,  5,  90, 15
LTEXT         "",                PM_PROGRAM,         95,  5,  90, 15
LTEXT         "從此程式組中:",    -1,            5, 13,  90, 15
LTEXT         "",                PM_FROM_GROUP,      95, 13,  90, 15
LTEXT         "移動到程式組(&T):", PM_TO_GROUP_TXT,     5, 28, 140, 15
COMBOBOX                         PM_TO_GROUP,         5, 38, 140, 50, WS_TABSTOP | CBS_DROPDOWNLIST
DEFPUSHBUTTON "確定",            IDOK,              185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",            IDCANCEL,          185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "幫助(&H)",        PM_HELP,           185, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Group attributes' */

DIALOG_GROUP DIALOG 0, 0, 230, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "程式組屬性"
{
LTEXT     "描述(&D):",    PM_DESCRIPTION_TXT,   05, 18,  50, 10
EDITTEXT                 PM_DESCRIPTION,       60, 18,  90, 15, WS_TABSTOP
LTEXT     "組檔案(&G):",  PM_FILE_TXT,          05, 38,  50, 10
EDITTEXT                 PM_FILE,              60, 38,  90, 15, WS_TABSTOP
DEFPUSHBUTTON "確定",    IDOK,                155,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",    IDCANCEL,            155, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "幫助(&H)", PM_HELP,             155, 45,  60, 15, WS_TABSTOP
}

/* Dialog `Program attributes' */

DIALOG_PROGRAM DIALOG 0, 0, 250, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "程式屬性"
{
LTEXT         "描述(&D):",      PM_DESCRIPTION_TXT,   05, 10,  60, 10
EDITTEXT                       PM_DESCRIPTION,       80, 10,  90, 15, WS_TABSTOP
LTEXT         "指令行(&C):",    PM_COMMAND_LINE_TXT,  05, 25,  60, 10
EDITTEXT                       PM_COMMAND_LINE,      80, 25,  90, 15, WS_TABSTOP
LTEXT         "工作目錄(&W):",  PM_DIRECTORY_TXT,     05, 40,  60, 10
EDITTEXT                       PM_DIRECTORY,         80, 40,  90, 15, WS_TABSTOP
LTEXT         "快捷鍵(&K):",    PM_HOT_KEY_TXT,       05, 55,  60, 10
EDITTEXT                       PM_HOT_KEY,           80, 55,  90, 15, WS_TABSTOP
ICON          "",              PM_ICON,              20, 70
CHECKBOX      "",              PM_SYMBOL,            80, 75,  10, 10, WS_TABSTOP
LTEXT         "啟動後最小化(&M)", -1,             95, 75,  75, 10
DEFPUSHBUTTON "確定",           IDOK,                185,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",           IDCANCEL,            185, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "瀏覽(&B)...",     PM_BROWSE,           185, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "修改圖標(&I)...", PM_OTHER_SYMBOL,     185, 65,  60, 15, WS_TABSTOP
PUSHBUTTON    "幫助(&H)",       PM_HELP,             185, 85,  60, 15, WS_TABSTOP
}

/* Dialog `Symbol' */

DIALOG_SYMBOL DIALOG 0, 0, 200, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "修改圖標"
{
LTEXT     "檔案名(&F):",     PM_ICON_FILE_TXT,    5, 15,  40, 10
EDITTEXT                    PM_ICON_FILE,       45, 15,  85, 15, WS_TABSTOP
LTEXT     "當前圖標(&I):",   PM_SYMBOL_LIST_TXT,  5, 30, 125, 10
COMBOBOX                    PM_SYMBOL_LIST,      5, 40, 125, 50,
   CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_OWNERDRAWFIXED | WS_TABSTOP
DEFPUSHBUTTON "確定",       IDOK,              135,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",       IDCANCEL,          135, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "瀏覽(&B)...", PM_BROWSE,         135, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "幫助(&H)",   PM_HELP,           135, 65,  60, 15, WS_TABSTOP
}

/* Dialog `Execute' */

DIALOG_EXECUTE DIALOG 0, 0, 200, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "執行程式"
{
LTEXT         "指令行(&C):",    -1,   05, 15, 120, 10
EDITTEXT                       PM_COMMAND, 05, 25, 120, 15, WS_TABSTOP
CHECKBOX      "",              PM_SYMBOL,  05, 45,  10, 10, WS_TABSTOP
LTEXT         "啟動後最小化(&M)", -1,   20, 45, 120, 10
DEFPUSHBUTTON "確定",           IDOK,      135,  5,  60, 15, WS_TABSTOP
PUSHBUTTON    "取消",           IDCANCEL,  135, 25,  60, 15, WS_TABSTOP
PUSHBUTTON    "瀏覽(&B)...",     PM_BROWSE, 135, 45,  60, 15, WS_TABSTOP
PUSHBUTTON    "幫助(&H)",       PM_HELP,   135, 65,  60, 15, WS_TABSTOP
}
