/* Hey, Emacs, open this file with -*- coding: cp1250 -*-
 *
 * Start
 * Czech Language Support
 *
 * Copyright 2003 Dan Kegel
 * Copyright 2004 David Kredba
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resources.h"

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

/* Czech strings in CP1250 */

STRINGTABLE
{
STRING_USAGE,                                   "Spustí program nebo otevře dokument v programu, který je normálně použit pro soubory s danou příponou.\n\
Použití:\n\
start [volby] jméno_programu [...]\n\
start [volby] jméno_dokumentu\n\
\n\
Volby:\n\
/M[inimalizovaně] Spustí program minimalizovaně.\n\
/MAX[imalizovaně] Spustí program maximalizovaně.\n\
/R Spustí program normálně (ani minimalizovaný ani maximalizovaný).\n\
/W Čeká na dokončení spuštěného programu, vrací návratový kód.\n\
/ProgIDOpen  Open a document using the following progID.\n\
/L Zobrazí licenci.\n\
\n\
start.exe verze 0.2 Copyright (C) 2003, Dan Kegel\n\
Start comes with ABSOLUTELY NO WARRANTY; for details run with /L option.\n\
This is free software, and you are welcome to redistribute it\n\
under certain conditions; run 'start /L' for details.\n\
"

STRING_LICENSE, "start.exe version 0.2 Copyright (C) 2003, Dan Kegel\n\
This program is free software; you can redistribute it and/or\n\
modify it under the terms of the GNU Lesser Public License\n\
as published by the Free Software Foundation; either version 2.1\n\
of the License, or (at your option) any later version.\n\
\n\
This program is distributed in the hope that it will be useful,\n\
but WITHOUT ANY WARRANTY; without even the implied warranty of\n\
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the\n\
GNU Lesser Public License for more details.\n\
\n\
You should have received a copy of the GNU Lesser Public License\n\
along with this program; if not, write to the Free Software\n\
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.\n\
\n\
Přečtěte si soubor COPYING.LIB pro získání informací o licenci.\n\
"

STRING_EXECFAIL "Aplikace nemohla být spuštěna nebo není žádná aplikace asociována s daným souborem.\nShellExecuteEx selhal"

STRING_UNIXFAIL "Could not translate the specified Unix filename to a DOS filename."
}
