/*
 * Start
 * Spanish Language Support
 *
 * Copyright 2003,2008 José Manuel Ferrer Ortiz
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resources.h"

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

STRINGTABLE
{
STRING_USAGE,                                   "Inicia un programa, o abre un documento con el programa que se suele utilizar para archivos con esa extensión.\n\
Uso:\n\
start [opciones] fichero_programa [...]\n\
start [opciones] fichero_documento\n\
\n\
Opciones:\n\
/M[inimized] Inicia el programa minimizado.\n\
/MAX[imized] Inicia el programa maximizado.\n\
/R[estored]  Inicia el programa normalmente (ni minimizado ni maximizado).\n\
/W[ait]      Espera que termine el programa iniciado y después sale con su código de salida.\n\
/Unix        Usa un nombre de archivo de Unix e inicia el archivo como en el explorador de windows.\n\
/ProgIDOpen  Open a document using the following progID.\n\
/L           Muestra la licencia para el usuario final.\n\
\n\
start.exe versión 0.2 Copyright (C) 2003, Dan Kegel\n\
Start viene ABSOLUTAMENTE SIN GARANTÍA; para detalles ejectútese con la opción /L.\n\
Esto es software libre, y se le permite redistribuirlo\n\
bajo ciertas condiciones; ejecute 'start /L' para obtener detalles.\n\
"

STRING_LICENSE, "start.exe versión 0.2 Copyright (C) 2003, Dan Kegel\n\
This program is free software; you can redistribute it and/or\n\
modify it under the terms of the GNU Lesser Public License\n\
as published by the Free Software Foundation; either version 2.1\n\
of the License, or (at your option) any later version.\n\
\n\
This program is distributed in the hope that it will be useful,\n\
but WITHOUT ANY WARRANTY; without even the implied warranty of\n\
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the\n\
GNU Lesser Public License for more details.\n\
\n\
You should have received a copy of the GNU Lesser Public License\n\
along with this program; if not, write to the Free Software\n\
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.\n\
\n\
Mire el archivo COPYING.LIB para información sobre la licencia.\n\
"

STRING_EXECFAIL "La aplicación no se pudo ejecutar, o no hay ninguna aplicación asociada con el archivo especificado.\nShellExecuteEx fallido"

STRING_UNIXFAIL "No se pudo traducir el nombre de archivo UNIX especificado a un nombre de archivo de DOS."
}
