/*
 * Start
 * Norwegian Bokmål Language Support
 *
 * Copyright 2005-2008 Alexander N. Sørnes <alex@thehandofagony.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resources.h"

LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL

STRINGTABLE
{
STRING_USAGE,                                   "Starte et program, eller åpne et dokument i programmet som er tilknyttet filer med det etternavnet.\n\
Bruk:\n\
start [valg] program_filnavn [...]\n\
start [valg] dokument_filnavn\n\
\n\
Valg:\n\
/M[inimized] Start programmet minimert.\n\
/MAX[imized] Start programmet maksimert.\n\
/R[estored]  Start programmet normalt (hverken minimert eller maksimert).\n\
/W[ait]      Vent til programmet avslutter, og avslutt med programmets\n\             avsluttingskode.\n\
/Unix        Bruk et Unix-filnavn og start filen som Windows Utforsker (explorer).\n\
/L           Vis sluttbruker-lisensen.\n\
\n\
start.exe versjon 0.2 Kopirett for 2003 tilhører Dan Kegel\n\
Oversatt av Alexander N. Sørnes\n\
Start kommer UTEN ENHVER FORM FOR GARANTI; kjør med /L-valget for detaljer.\n\
Dette er fri programvare, og du kan redistribuere det under visse vilkår; kjør 'start /L' for detaljer.\n\
"

STRING_LICENSE, "start.exe versjon 0.2 Kopirett for 2003 tilhører Dan Kegel\n\
Oversatt av Alexander N. Sørnes\n\
Dette programmet er fri programvare; du kan redistribuere det\n\
og/eller endre det i henhold til vilkårene i 'GNU Lesser Public\n\
License' som utgitt av 'the Free Software Foundation'; enten\n\
versjon 2.1 av Lisensen, eller (hvis du ønsker det) en nyere versjon.\n\
\n\
Dette programmet er distribuert med det håp at det er nyttig,\n\
men UTEN ENHVER FORM FOR GARANTI; ikke engang den antydete garantien\n\
for HANDELSDYKTIGHET eller EGNETHET FOR ET BESTEMT FORMÅL. Se\n\
'GNU Lesser Public License' for flere detaljer.\n\
\n\
Du skal ha mottatt en kopi av 'GNU Lesser Public License sammen\n\
med dette programmet; hvis ikke, skriv til 'the Free Software\n\
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.'\n\
\n\
Se filen 'COPYING.LIB' for lisensinformasjon.\n\
"

STRING_EXECFAIL "Kunne ikke starte programmet, eller intet program er tilknyttet den oppgitte filen.\n'ShellExecuteEx' feilet"

STRING_UNIXFAIL "Klarte ikke å konvertere Unix-filnavnet til et DOS-filnavn."
}
