/*
 * Copyright (c) 2017 Michael Müller
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resource.h"
#include "winresrc.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDD_SECURITY_PROPERTIES DIALOGEX 0, 0, 240, 215
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Security"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Group or user names:", -1, 5, 5, 230, 10
    CONTROL "", IDC_USERS, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | LVS_SORTASCENDING
                                            | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP,
                                            5, 17, 230, 63, WS_EX_NOPARENTNOTIFY | WS_EX_CLIENTEDGE

    LTEXT "", IDC_ACE_USER, 5, 105, 110, 10
    LTEXT "Allow", -1, 120, 105, 55, 10, SS_CENTER
    LTEXT "Deny",  -1, 180, 105, 55, 10, SS_CENTER
    CONTROL "", IDC_ACE, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER |  LVS_SINGLESEL
                                          | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP,
                                          5, 115, 230, 95, WS_EX_NOPARENTNOTIFY | WS_EX_CLIENTEDGE
END

STRINGTABLE
BEGIN
    IDS_PERMISSION_FOR "Permissions for %1"
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/* @makedep: user_icons.bmp */
IDB_USER_ICONS BITMAP user_icons.bmp
