/*
 * WineBoot resources
 *
 * Copyright (C) 2007 Robert Shearman for CodeWeavers
 * Copyright (C) 2008 Michael Stefaniuc
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

#pragma code_page(65001)

IDD_ENDTASK DIALOG DISCARDABLE  0, 0, 186, 71
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Așteptare program"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Renunță",IDCANCEL,129,49,50,15
    PUSHBUTTON      "Termină procesul",IDOK,51,49,71,15
    LTEXT           "O ieșire sau oprire simulată este în curs dar acest proces nu răspunde.",
                    IDC_STATIC,7,7,172,19
    LTEXT           "Prin terminarea acestui proces se pot pierde datele nesalvate.",
                    IDC_STATIC,7,28,172,15
END

#pragma code_page(default)
