/*
 * WineBoot resources
 *
 * Copyright (C) 2007 Robert Shearman for CodeWeavers
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

#include "resource.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDD_ENDTASK DIALOG  0, 0, 276, 79
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Waiting for Program"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Cancel",IDCANCEL,219,58,50,15
    PUSHBUTTON      "Terminate Process",IDOK,136,58,76,15
    LTEXT           "A simulated log-off or shutdown is in progress, but this program isn't responding.\n\nIf you terminate the process you may lose all unsaved data.",
                    IDC_STATIC,7,7,262,48
END

IDD_WAITDLG DIALOG 0, 0, 200, 50
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_DISABLED
CAPTION "Wine"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_WAITICON, 3, 3, 32, 32
    LTEXT "The Wine configuration in %s is being updated, please wait...",
          IDC_WAITTEXT, 40, 5, 150, 40, SS_NOPREFIX | SS_EDITCONTROL
END

/* @makedep: wineboot.manifest */
1 RT_MANIFEST wineboot.manifest
