/*
 * WineBoot resources
 *
 * Copyright (C) 2007 Robert Shearman for CodeWeavers
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_ENDTASK DIALOG DISCARDABLE  0, 0, 186, 71
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Waiting for Program"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Terminate Process",IDOK,51,49,71,15
    PUSHBUTTON      "Cancel",IDCANCEL,129,49,50,15
    LTEXT           "A simulated log-off or shutdown is in progress, but this program isn't responding.",
                    IDC_STATIC,7,7,172,19
    LTEXT           "If you terminate the process you may lose all unsaved data.",
                    IDC_STATIC,7,28,172,15
END
