/*
 *  Notepad (Bulgarian resources)
 *
 *  Copyright 2005 Milko Krachounov
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&Файл" {
  MENUITEM "&Нов\tCtrl+N",           CMD_NEW
  MENUITEM "&Отвори...\tCtrl+O",     CMD_OPEN
  MENUITEM "&Съхрани\tCtrl+S",     CMD_SAVE
  MENUITEM "Съхрани &като...",       CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Печат...\tCtrl+P",            CMD_PRINT
  MENUITEM "Наст&ройки на страницата...",    CMD_PAGE_SETUP
  MENUITEM "Настро&йки на печатането...", CMD_PRINTER_SETUP
  MENUITEM SEPARATOR
  MENUITEM "&Изход",             CMD_EXIT
 }
POPUP "&Редактиране" {
  MENUITEM "&Отмени\tCtrl+Z",     CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "&Изрежи\tCtrl+X",      CMD_CUT
  MENUITEM "&Копирай\tCtrl+C",     CMD_COPY
  MENUITEM "&Вмъкни\tCtrl+V",    CMD_PASTE
  MENUITEM "Из&трий\tDel",      CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "Маркирай &всичко\tCtrl+A",       CMD_SELECT_ALL
  MENUITEM "Време/&Дата\tF5",    CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Пренасяй дълги редове",  CMD_WRAP
  MENUITEM "&Шрифт...",          CMD_FONT
 }
POPUP "&Търсене" {
  MENUITEM "&Търси...\tCtrl+F",   CMD_SEARCH
  MENUITEM "Намери &следващ\tF3",  CMD_SEARCH_NEXT
 }
POPUP "&Помощ" {
  MENUITEM "&Съдържание",         CMD_HELP_CONTENTS
  MENUITEM "&Търси...",        CMD_HELP_SEARCH
  MENUITEM "&Помощ за помощта",     CMD_HELP_ON_HELP
  MENUITEM SEPARATOR
  POPUP "&Информация" {
   MENUITEM "&Лиценз...",         CMD_LICENSE
   MENUITEM "&БЕЗ ГАРАНЦИЯ...",     CMD_NO_WARRANTY
   MENUITEM "&Относно Wine...",      CMD_ABOUT_WINE
  }
 }
}

/* Dialog `Page setup' */

DIALOG_PAGESETUP DIALOG 0, 0, 225, 95
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Настройки на страницата"
{
LTEXT    "&Горен колонтитул:",  0x140,   10, 07, 65, 15
EDITTEXT IDC_PAGESETUP_HEADERVALUE,   80, 05,90, 12, WS_BORDER | WS_TABSTOP
LTEXT    "&Долен колонтитул:",  0x142,   10, 24, 65, 15
EDITTEXT IDC_PAGESETUP_FOOTERVALUE,   80, 22,90, 12, WS_BORDER | WS_TABSTOP

GROUPBOX "&Граници:",      0x144,     10, 43,160, 45
LTEXT    "До&лна:",        0x145,   20, 55, 30, 10, WS_CHILD
EDITTEXT IDC_PAGESETUP_LEFTVALUE,     50, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "Го&рна:",         0x148,    20, 73, 30, 10, WS_CHILD
EDITTEXT IDC_PAGESETUP_TOPVALUE,      50, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "Дя&сна:",       0x14B, 100, 55, 30, 10, WS_CHILD
EDITTEXT IDC_PAGESETUP_RIGHTVALUE,   130, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "Ля&ва:",      0x14E,100, 73, 30, 10, WS_CHILD
EDITTEXT IDC_PAGESETUP_BOTTOMVALUE,  130, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP

DEFPUSHBUTTON "OK",         IDOK,                   180,  3, 40, 15, WS_TABSTOP
PUSHBUTTON    "Отмени",     IDCANCEL,               180, 21, 40, 15, WS_TABSTOP
PUSHBUTTON    "&Помощ",       IDHELP,                180, 39, 40, 15, WS_TABSTOP
}

STRINGTABLE DISCARDABLE
{
STRING_PAGESETUP_HEADERVALUE,   "&f"
STRING_PAGESETUP_FOOTERVALUE,   "Page &p"

STRING_NOTEPAD,                                 "Бележник"
STRING_ERROR,                                   "ГРЕШКА"
STRING_WARNING,                                 "ПРЕДУПРЕЖДЕНИЯ"
STRING_INFO,                                    "Информация"

STRING_UNTITLED,                                "(неозаглавен)"

STRING_ALL_FILES,                               "Всички файлове (*.*)"
STRING_TEXT_FILES_TXT,                  "Текстови файлове (*.txt)"

STRING_TOOLARGE,                                "Файлът '%s' е прекалено голям, за да бъде отворен.\n \
Използвайте друг редактор."
STRING_NOTEXT,                                  "Не сте въвели никакъв текст. \
\nНапишете нещо и опитайте отново."
STRING_DOESNOTEXIST,                            "Файлът '%s'\nне съществува\n\n \
Искате ли да създадете нов файл?"
STRING_NOTSAVED,                                "Файлът '%s'\nе бил променен\n\n \
Искате ли да съхраните промените?"
STRING_NOTFOUND,                                        "'%s' не може да бъде намерен."
STRING_OUT_OF_MEMORY,                   "Няма достатъчно памет за завършване на тази \
задача. \nЗатворете няколко приложения, за да увеличите размера на свободната памет."

}
