/* Hey, Emacs, open this file with -*- coding: cp1250 -*-
 *
 *  Notepad (Czech resources)
 *
 *  Copyright 1997,98 Marcel Baur
 *  Proofread 1998 by David Lee Lambert
 *  Copyright 2002 Sylvain Petreolle
 *  Copyright 2004 David Kredba
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

/* Czech strings in CP1250 */

MAIN_MENU MENU
{
 POPUP "&Soubor" {
  MENUITEM "&Nový\tCtrl+N",           CMD_NEW
  MENUITEM "&Otevřít...\tCtrl+O",     CMD_OPEN
  MENUITEM "&Uložit\tCtrl+S",     CMD_SAVE
  MENUITEM "Uložit j&ako...",       CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Tisk...\tCtrl+P",            CMD_PRINT
  MENUITEM "Nas&tavení stránky...",    CMD_PAGE_SETUP
  MENUITEM "Nastavení tiská&rny...", CMD_PRINTER_SETUP
  MENUITEM SEPARATOR
  MENUITEM "&Konec",             CMD_EXIT
 }
POPUP "U&pravit" {
  MENUITEM "&Zpět\tCtrl+Z",     CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "Vyjmou&t\tCtrl+X",      CMD_CUT
  MENUITEM "&Kopírovat\tCtrl+C",     CMD_COPY
  MENUITEM "&Vložit\tCtrl+V",    CMD_PASTE
  MENUITEM "&Smazat\tDel",      CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "Vybrat vš&e\tCtrl+A",       CMD_SELECT_ALL
  MENUITEM "Č&as/Datum\tF5",    CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "Zalo&mit dlouhé řádky",  CMD_WRAP
  MENUITEM "&Písmo...",          CMD_FONT
 }
POPUP "&Hledání" {
  MENUITEM "&Hledej...\tCtrl+F",   CMD_SEARCH
  MENUITEM "&Najdi další\tF3",  CMD_SEARCH_NEXT
 }
POPUP "&Nápověda" {
  MENUITEM "&Obsah",         CMD_HELP_CONTENTS
  MENUITEM "&Najít...",        CMD_HELP_SEARCH
  MENUITEM "&Pomoc k nápovědě",     CMD_HELP_ON_HELP
  MENUITEM SEPARATOR
  POPUP "Inf&o" {
   MENUITEM "&Licence...",         CMD_LICENSE
   MENUITEM "&BEZ ZÁRUKY...",     CMD_NO_WARRANTY
   MENUITEM "&O Wine...",      CMD_ABOUT_WINE
  }
 }
}

/* Dialog `Page setup' */

DIALOG_PAGESETUP DIALOG 0, 0, 225, 95
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Nastavení stránky"
{
LTEXT    "Zá&hlaví:",  0x140,   10, 07, 40, 15
EDITTEXT IDC_PAGESETUP_HEADERVALUE,   60, 05,110, 12, WS_BORDER | WS_TABSTOP
LTEXT    "&Zápatí:",  0x142,   10, 24, 40, 15
EDITTEXT IDC_PAGESETUP_FOOTERVALUE,   60, 22,110, 12, WS_BORDER | WS_TABSTOP

GROUPBOX "&Okraje:",      0x144,     10, 43,160, 45
LTEXT    "&Levý:",        0x145,   20, 55, 30, 10, WS_CHILD
EDITTEXT IDC_PAGESETUP_LEFTVALUE,     50, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Horní:",         0x148,    20, 73, 30, 10, WS_CHILD
EDITTEXT IDC_PAGESETUP_TOPVALUE,      50, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "P&ravý:",       0x14B, 100, 55, 30, 10, WS_CHILD
EDITTEXT IDC_PAGESETUP_RIGHTVALUE,   130, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Dolní:",      0x14E,100, 73, 30, 10, WS_CHILD
EDITTEXT IDC_PAGESETUP_BOTTOMVALUE,  130, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP

DEFPUSHBUTTON "OK",         IDOK,                   180,  3, 40, 15, WS_TABSTOP
PUSHBUTTON    "Storno",     IDCANCEL,               180, 21, 40, 15, WS_TABSTOP
PUSHBUTTON    "&Nápověda",       IDHELP,                180, 39, 40, 15, WS_TABSTOP
}

STRINGTABLE DISCARDABLE
{
STRING_PAGESETUP_HEADERVALUE,   "&f"
STRING_PAGESETUP_FOOTERVALUE,   "Strana &p"

STRING_NOTEPAD,                                 "Notepad"
STRING_ERROR,                                   "CHYBA"
STRING_WARNING,                                 "VAROVÁNÍ"
STRING_INFO,                                    "Informace"

STRING_UNTITLED,                                "(bez názvu)"

STRING_ALL_FILES,                               "Všechny soubory (*.*)"
STRING_TEXT_FILES_TXT,                  "Textové soubory (*.txt)"

STRING_TOOLARGE,                                "Soubor '%s' je pro notepad příliš velký.\n \
Použijte jiný editor, prosím."
STRING_NOTEXT,                                  "Nebyl zadán žádný text. \
\nPlease type something and try again"
STRING_DOESNOTEXIST,                            "Soubor '%s'\nneexistuje.\n\n \
Chcete ho vytvořit ?"
STRING_NOTSAVED,                                "Soubor '%s'\nbyl změněn.\n\n \
Chcete uložit změny ?"
STRING_NOTFOUND,                                        "'%s' nebyl nalezen."
STRING_OUT_OF_MEMORY,                   "Není dost paměti na dokončení této úlohy. \
\nUzavřete jednu či více aplikací abyste získali více  \nvolné \
paměti."

}
