/*
 *  Notepad (French resources)
 *
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Translation by Laurent Buffler <laurent@bluewin.ch>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

MAIN_MENU MENU LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
{
 POPUP "&Fichier" {
  MENUITEM "&Nouveau...", 0x100
  MENUITEM "&Ouvrir", 0x101
  MENUITEM "&Enregistrer", 0x102
  MENUITEM "Enregistrer &sous...", 0x103
  MENUITEM "Im&primer", 0x104
  MENUITEM "&Mise en page...", 0x105
  MENUITEM "&Configuration de l'imprimante...", 0x106
  MENUITEM SEPARATOR
  MENUITEM "&Quitter", 0x108
 }
POPUP "&Edition" {
  MENUITEM "&Annuler\tCtrl+Z", 0x110
  MENUITEM SEPARATOR
  MENUITEM "Co&uper\tCtrl+X", 0x111
  MENUITEM "&Copier\tCtrl+C", 0x112
  MENUITEM "&Coller\tCtrl+V", 0x113
  MENUITEM "&Effacer\tDel", 0x114
  MENUITEM SEPARATOR
  MENUITEM "Tout &sélectionner", 0x116
  MENUITEM "&Heure/Date\tF5", 0x117
  MENUITEM SEPARATOR
  MENUITEM "&Retour à la ligne", 0x119
 }
POPUP "&Rechercher" {
  MENUITEM "&Rechercher", 0x120
  MENUITEM "&Suivant\tF3", 0x121
 }
POPUP "&Aide" {
  MENUITEM "&Sommaire", 0x130
  MENUITEM "&Rechercher...", 0x131
  MENUITEM "&Aide sur l'aide", 0x132
  MENUITEM SEPARATOR
  POPUP "Inf&o..." {
   MENUITEM "&Licence", 0x135
   MENUITEM "&AUCUNE GARANTIE", 0x136
   MENUITEM "&A propos de Wine", 0x137
  }
 }
}

/* Dialog `Page setup' */

DIALOG_PAGESETUP_ DIALOG 0, 0, 225, 95
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
CAPTION "Page Setup"
{
LTEXT    "&En-tête:",  0x140,   10, 07, 40, 15
EDITTEXT                         0x141,       60, 05,110, 12, WS_BORDER | WS_TABSTOP
LTEXT    "&Pied de page:",  0x142,   10, 24, 40, 15
EDITTEXT                         0x143,       60, 22,110, 12, WS_BORDER | WS_TABSTOP

GROUPBOX "&Marges:",      0x144,     10, 43,160, 45
LTEXT    "&Gauche:",        0x145,   20, 55, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_LEFTVALUE,*/   0x147,       50, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Haut:",         0x148,    20, 73, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_TOPVALUE,*/    0x14A,        50, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Droite:",       0x14B, 100, 55, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_RIGHTVALUE,*/  0x14D,     130, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Bas:",      0x14E,100, 73, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_BOTTOMVALUE,*/ 0x150,    130, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP

DEFPUSHBUTTON "OK",         0x151,                   180,  3, 40, 15, WS_TABSTOP
PUSHBUTTON    "Annuler",     0x152,               180, 21, 40, 15, WS_TABSTOP
PUSHBUTTON    "&Aide",       0x153,                180, 39, 40, 15, WS_TABSTOP
}

STRINGTABLE DISCARDABLE LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
{
STRING_PAGESETUP_HEADERVALUE,	"&n"        /* FIXME */
STRING_PAGESETUP_FOOTERVALUE,	"Page &s"   /* FIXME */
STRING_PAGESETUP_LEFTVALUE,		"20 mm"     /* FIXME */
STRING_PAGESETUP_RIGHTVALUE,	"20 mm"     /* FIXME */
STRING_PAGESETUP_TOPVALUE,		"25 mm"     /* FIXME */
STRING_PAGESETUP_BOTTOMVALUE,	"25 mm"     /* FIXME */

STRING_NOTEPAD,					"Notepad"
STRING_ERROR,					"ERREUR"
STRING_WARNING,					"ATTENTION"
STRING_INFO,					"Information"

STRING_UNTITLED,				"(sans-titre)"

STRING_ALL_FILES,				"Tous fichiers (*.*)"
STRING_TEXT_FILES_TXT,			"Fichiers texte (*.txt)"

STRING_TOOLARGE,				"Le fichier '%s' est trop grand pour le bloc-notes.\n \
Veuillez utiliser un autre éditeur."
STRING_NOTEXT,					"Vous n'avez pas entré de texte. Veuillez taper quelque chose et recommencer\
\n"
STRING_DOESNOTEXIST,			"Le fichier '%s'\n\'existe pas.\n\n \
Voulez vous créer un nouveau fichier ?"
STRING_NOTSAVED,				"Le fichier '%s'\na été modifié\n\n \
Voulez vous enregistrer vos modifications ?"
STRING_NOTFOUND,				"'%s' non trouvé."
STRING_OUT_OF_MEMORY,			"Pas assez de mémoire pour finir cette tâche.  \
task. \n Fermez une ou plusier applications pour libérer\n\
de la mémoire."

}
