/*
 *  Notepad (Swedish resources)
 *
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Proofread 1998 by David Lee Lambert <lamber45@egr.msu.edu>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

MAIN_MENU MENU LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
{
 POPUP "&Arkiv" {
  MENUITEM "&Ny...", 0x100
  MENUITEM "Ö&ppna", 0x101
  MENUITEM "&Spara", 0x102
  MENUITEM "Spara &som...", 0x103
  MENUITEM "&Skriv ut", 0x104
  MENUITEM "Sid La&yout...", 0x105
  MENUITEM "Skrivar &inställningar...", 0x106
  MENUITEM SEPARATOR
  MENUITEM "&Avsluta", 0x108
 }
POPUP "&Redigera" {
  MENUITEM "&Undo\tCtrl+Z", 0x110
  MENUITEM SEPARATOR
  MENUITEM "Klippa\tCtrl+X", 0x111
  MENUITEM "&Kopiera\tCtrl+C", 0x112
  MENUITEM "&Klistra in\tCtrl+V", 0x113
  MENUITEM "&Ta bort\tDel", 0x114
  MENUITEM SEPARATOR
  MENUITEM "Markera &allt", 0x116
  MENUITEM "&Tid/Datum\tF5", 0x117
  MENUITEM SEPARATOR
  MENUITEM "&Dela långa meningar", 0x119
 }
POPUP "&Sök" {
  MENUITEM "Sök...", 0x120
  MENUITEM "&Sök nästa\tF3", 0x121
 }
POPUP "&Hjälp" {
  MENUITEM "&Innehåll", 0x130
  MENUITEM "&Sök...", 0x131
  MENUITEM "Användningen &av hjälp", 0x132
  MENUITEM SEPARATOR
  POPUP "Inf&ormation..." {
   MENUITEM "&Licens", 0x135
   MENUITEM "&INGEN GARANTI", 0x136
   MENUITEM "&Om Wine", 0x137
  }
 }
}

/* Dialog `Page setup' */

DIALOG_PAGESETUP_ DIALOG 0, 0, 225, 95
LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
CAPTION "Sid Layout"
{
LTEXT    "&Huvudnot:",  0x140,   10, 07, 40, 15
EDITTEXT                         0x141,       60, 05,110, 12, WS_BORDER | WS_TABSTOP
LTEXT    "&Fotnot:",  0x142,   10, 24, 40, 15
EDITTEXT                         0x143,       60, 22,110, 12, WS_BORDER | WS_TABSTOP

GROUPBOX "Kanter:",      0x144,     10, 43,160, 45
LTEXT    "&Vänster:",        0x145,   20, 55, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_LEFTVALUE,*/   0x147,       50, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Över:",         0x148,    20, 73, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_TOPVALUE,*/    0x14A,        50, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Höger:",       0x14B, 100, 55, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_RIGHTVALUE,*/  0x14D,     130, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Under:",      0x14E,100, 73, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_BOTTOMVALUE,*/ 0x150,    130, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP

DEFPUSHBUTTON "OK",         0x151,                   180,  3, 40, 15, WS_TABSTOP
PUSHBUTTON    "Avbryt",     0x152,               180, 21, 40, 15, WS_TABSTOP
PUSHBUTTON    "&Hjälp",       0x153,                180, 39, 40, 15, WS_TABSTOP
}

STRINGTABLE DISCARDABLE LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL
{
STRING_PAGESETUP_HEADERVALUE,	"&n"        /* FIXME */
STRING_PAGESETUP_FOOTERVALUE,	"Page &s"   /* FIXME */
STRING_PAGESETUP_LEFTVALUE,		"20 mm"     /* FIXME */
STRING_PAGESETUP_RIGHTVALUE,	"20 mm"     /* FIXME */
STRING_PAGESETUP_TOPVALUE,		"25 mm"     /* FIXME */
STRING_PAGESETUP_BOTTOMVALUE,	"25 mm"     /* FIXME */

STRING_NOTEPAD,					"Anteckningar"
STRING_ERROR,					"FEL"
STRING_WARNING,					"WARNING"
STRING_INFO,					"Information"

STRING_UNTITLED,				"(untitled)"

STRING_ALL_FILES,				"Alla filer (*.*)"
STRING_TEXT_FILES_TXT,			"Text filer (*.txt)"

STRING_TOOLARGE,				"Filen '%s' är för stor för notepad.\n \
Använd en annan editor."
STRING_NOTEXT,					"Du skrev inte in någon text. \
\nSkriv något och försök sedan igen"
STRING_DOESNOTEXIST,				"File '%s'\ndoes not exist\n\n \
Do you want to create a new file ?"
STRING_NOTSAVED,				"File '%s'\nhas been modified\n\n \
Would you like to save the changes ?"
STRING_NOTFOUND,					"'%s' hittades inte."
STRING_OUT_OF_MEMORY,			"Inte tillräkligt med minne för att slutföra \
den här uppgiften. \nAvsluta ett eller flera program för att öka mängden \nfritt \
minne."

}
