/*
 * Copyright 1999 Eric Pouech
 * Copyright 2005 YunSong Hwang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

STRINGTABLE LANGUAGE LANG_KOREAN, SUBLANG_NEUTRAL
BEGIN

/* MMSYS errors */
MMSYSERR_NOERROR, 		"지정된 명령이 실행되었습니다."
MMSYSERR_ERROR, 		"알수 없는 외부 에러."
MMSYSERR_BADDEVICEID, 		"이 장치ID는 당신의 시스템 범위 밖에서 사용되고 있습니다."
MMSYSERR_NOTENABLED, 		"이 드라이버는 가능하지 않습니다."
MMSYSERR_ALLOCATED, 		"지정된 장치는 이미 사용중입니다.자유롭게 될때까지 기다리고 다시 시도하십시오."
MMSYSERR_INVALHANDLE, 		"지정된 장치 핸들은 적합하지 않습니다."
MMSYSERR_NODRIVER, 		"당신의 시스템에는 어떤 드라이버도 설치되어 있지 않습니다 !\n"
MMSYSERR_NOMEM, 		"이 작업을 위한 충분한 메모리가 없습니다.하나나더 많은 풀그림을 끝내아서 메모리를 늘리고 다시 시도하십시오."
MMSYSERR_NOTSUPPORTED, 		"이 기능은 지원되지 않습니다. Use the Capabilities function to determine which functions and messages the driver supports."
MMSYSERR_BADERRNUM, 		"이 에러 넘버는 시스템에서 정의되지 않았습니다."
MMSYSERR_INVALFLAG, 		"잘못된 플래그는 시스템 함수에서 무시했습니다."
MMSYSERR_INVALPARAM, 		"잘못된 매개변수는 시스템 함수에서 무시했습니다."

/* WAVE errors */
WAVERR_BADFORMAT, 		"지정된 포맷은 지원하지 않거나 전송할 수 없습니다. 지원하는 포맷을 결정하는 가능한 함수를 사용하십시오"
WAVERR_STILLPLAYING, 		"Cannot perform this operation while media data is still playing. Reset the device, or wait until the data is finished playing."
WAVERR_UNPREPARED, 		"The wave header was not prepared. Use the Prepare function to prepare the header, and then try again."
WAVERR_SYNC, 			"Cannot open the device without using the WAVE_ALLOWSYNC flag. Use the flag, and then try again."

/* MIDI errors */
MIDIERR_UNPREPARED, 		"MIDI 헤더는 준비되지 않았습니다. Use the Prepare function to prepare the header, and then try again."
MIDIERR_STILLPLAYING, 		"Cannot perform this operation while media data is still playing. Reset the device, or wait until the data is finished playing."
MIDIERR_NOMAP, 			"MIDI 맵은 찾을 수 없습니d. There may be a problem with the driver, or the MIDIMAP.CFG file may be corrupt or missing."
MIDIERR_NOTREADY, 		"The port is transmitting data to the device. Wait until the data has been transmitted, and then try again."
MIDIERR_NODEVICE, 		"The current MIDI Mapper setup refers to a MIDI device that is not installed on the system. Use MIDI Mapper to edit the setup."
MIDIERR_INVALIDSETUP, 		"현재 MIDI  설정은 손상되었습니다. 본래  MIDIMAP.CFG  파일을 윈도우즈 SYSTEM 디렉토리에 복사하고, 다시 시도하십시오."

/* MCI errors */
MCIERR_INVALID_DEVICE_ID, 	"잘못된 MCI 장치 ID.  MCI 장치를 열 때 반환한 ID를 사용하십시오."
MCIERR_UNRECOGNIZED_KEYWORD, 	"이 드라이버는 지정된 명령 매개변수를 인식할 수 없습니다."
MCIERR_UNRECOGNIZED_COMMAND,	"이 드라이버는 지정된 명령을 인식할 수 없습니다."
MCIERR_HARDWARE, 		"이것은 당신의  미디어 장치 문제입니다. Make sure it is working correctly or contact the device manufacturer."
MCIERR_INVALID_DEVICE_NAME, 	"지정된 장치는 열수 없거나 MCI에서 인식 할 수 없습니다."
MCIERR_OUT_OF_MEMORY, 		"이 작업을 위한 충분한 메모리가 없습니다. \n하나나 더 많은 풀그림을 종료시켜서 가능한 메모리를 증가시키시오, 그리고 다시 시도하시오."
MCIERR_DEVICE_OPEN, 		"The device name is already being used as an alias by this application. Use a unique alias."
MCIERR_CANNOT_LOAD_DRIVER, 	"이 지정된 장치 드라이버를 불러오는 중에 감지되지 않은 에러가 있습니다."
MCIERR_MISSING_COMMAND_STRING, 	"어떤 명령도 정의되지 않았습니다."
MCIERR_PARAM_OVERFLOW, 		"출력 문자열은 반환 버퍼에 채우기에는 너무 큽니다. Increase the size of the buffer."
MCIERR_MISSING_STRING_ARGUMENT, "The specified command requires a character-string parameter. Please provide one."
MCIERR_BAD_INTEGER, 		"The specified integer is invalid for this command."
MCIERR_PARSER_INTERNAL, 	"이 장치 드라이버는 잘못된 반환 값을 반환하였습니다. Check with the device manufacturer about obtaining a new driver."
MCIERR_DRIVER_INTERNAL, 	"이것은 장치 드라이버 문제입니다. Check with the device manufacturer about obtaining a new driver."
MCIERR_MISSING_PARAMETER, 	"지정된 명령은 매개변수를 요구합니다. 매개변수를 추가하십시오."
MCIERR_UNSUPPORTED_FUNCTION, 	"The MCI device you are using does not support the specified command."
MCIERR_FILE_NOT_FOUND, 		"지정된 파일을 찾을 수 없습니다.경로와 파일이름이 올바른지 확인하십시오."
MCIERR_DEVICE_NOT_READY, 	"장치 드라이버는 준비되지 않았습니다."
MCIERR_INTERNAL, 		"MCI 초기화시 문제가 발생했습니다. 윈도우를 재시작하고 시도해보세요."
MCIERR_DRIVER, 			"이것은 장치 드라이버 문제입니다. The driver has closed. Cannot access error."
MCIERR_CANNOT_USE_ALL, 		"지정된 명령의 장치 이름으로  'all'은 사용할 수 없습니다."
MCIERR_MULTIPLE, 		"하나나 더 많은 장치에서 에러 발생. Specify each command and device separately to determine which devices caused the error"
MCIERR_EXTENSION_NOT_FOUND, 	"주어진 파일 확장자로 장치 타입을 결정할 수 없습니다."
MCIERR_OUTOFRANGE, 		"지정된 매개변수는 지정된 명령 범위 밖에 있습니다."
MCIERR_FLAGS_NOT_COMPATIBLE, 	"지정된 매개변수는 함께 사용할 수 없습니다."
MCIERR_FILE_NOT_SAVED, 		"지정된 파일을 저장할 수 없습니다. 충분한 공간이 있는지 확인하거나.내트워크가 연결되어있는지 확인하세요."
MCIERR_DEVICE_TYPE_REQUIRED, 	"지정된 장치를 찾을 수 없습니다. Make sure it is installed or that the device name is spelled correctly."
MCIERR_DEVICE_LOCKED, 		"The specified device is now being closed. Wait a few seconds, and then try again."
MCIERR_DUPLICATE_ALIAS, 	"The specified alias is already being used in this application. Use a unique alias."
MCIERR_BAD_CONSTANT, 		"지정된 매개변수는 이 명령에 적합하지 않습니다."
MCIERR_MUST_USE_SHAREABLE, 	"The device driver is already in use. To share it, use the 'shareable' parameter with each 'open' command."
MCIERR_MISSING_DEVICE_NAME, 	"지정된 명령은 별명,파일,드라이버나 장치 이름을 필요로 합니다. Please supply one."
MCIERR_BAD_TIME_FORMAT, 	"The specified value for the time format is invalid. Refer to the MCI documentation for valid formats."
MCIERR_NO_CLOSING_QUOTE, 	"A closing double-quotation mark is missing from the parameter value. Please supply one."
MCIERR_DUPLICATE_FLAGS, 	"이 값의 매개변수는 두번 지정되었습니다. Only specify it once."
MCIERR_INVALID_FILE, 		"이 지정된 파일은 지정된 MCI장치에서 재생 할 수 없습니다. The file may be corrupt, or not in the correct format."
MCIERR_NULL_PARAMETER_BLOCK, 	"이 빈 매개변수 블럭은 MCI에서 무시되었습니다."
MCIERR_UNNAMED_RESOURCE, 	"이름없는 파일을 저장할 수 없습니다. 파일 이름을 지정하십시오."
MCIERR_NEW_REQUIRES_ALIAS, 	"You must specify an alias when using the 'new' parameter."
MCIERR_NOTIFY_ON_AUTO_OPEN, 	"'notify' 플래그는 자동으로 열린 장치에 사용할 수 없습니다."
MCIERR_NO_ELEMENT_ALLOWED, 	"지정된 장치하고 파일이름은 같이 사용할 수 없습니다."
MCIERR_NONAPPLICABLE_FUNCTION, 	"Cannot carry out the commands in the order specified. Correct the command sequence, and then try again."
MCIERR_ILLEGAL_FOR_AUTO_OPEN, 	"지정된 명령을 자동으로 열린 장치에 보낼 수 없습니다. 장치가 닫히기를 기다리고 다시 시도하십시오."
MCIERR_FILENAME_REQUIRED, 	"이 파일이름은 올바르지 않습니다. Make sure the filename is not longer than 8 characters, followed by a period and an extension."
MCIERR_EXTRA_CHARACTERS, 	"Cannot specify extra characters after a string enclosed in quotation marks."
MCIERR_DEVICE_NOT_INSTALLED, 	"The specified device is not installed on the system. Use the Drivers option in Control Panel to install the device."
MCIERR_GET_CD, 			"지정된 파일이나 MCI 장치에 접근할 수 없습니다.  디렉토리를 바꾸거나 컴퓨터를 재시작하십시오."
MCIERR_SET_CD, 			"풀그림이 디렉토리를 바꿀 수 없기 때문에 지정된 특정한 파일이나 MCI장치에 접근할 수 없습니다."
MCIERR_SET_DRIVE, 		"풀그림이 디렉토리를 바꿀 수 없기 때문에 지정한 파일이나 MCI장치에 접근할 수 없습니다."
MCIERR_DEVICE_LENGTH, 		"79자보다 적게 장치나 드라이버 이름을 지정하십시오."
MCIERR_DEVICE_ORD_LENGTH, 	"69자보다 적게 장치나 드라이버 이름을 지정하십시오."
MCIERR_NO_INTEGER, 		"The specified command requires an integer parameter. Please provide one."
MCIERR_WAVE_OUTPUTSINUSE, 	"All wave devices that can play files in the current format are in use. Wait until a wave device is free, and then try again."
MCIERR_WAVE_SETOUTPUTINUSE, 	"Cannot set the current wave device for play back because it is in use. Wait until the device is free, and then try again."
MCIERR_WAVE_INPUTSINUSE, 	"All wave devices that can record files in the current format are in use. Wait until a wave device is free, and then try again."
MCIERR_WAVE_SETINPUTINUSE, 	"Cannot set the current wave device for recording because it is in use. Wait until the device is free, and then try again."
MCIERR_WAVE_OUTPUTUNSPECIFIED,	"Any compatible waveform playback device may be used."
MCIERR_WAVE_INPUTUNSPECIFIED, 	"Any compatible waveform recording device may be used."
MCIERR_WAVE_OUTPUTSUNSUITABLE, 	"No wave device that can play files in the current format is installed. Use the Drivers option to install the wave device."
MCIERR_WAVE_SETOUTPUTUNSUITABLE,"The device you are trying to play to cannot recognize the current file format."
MCIERR_WAVE_INPUTSUNSUITABLE, 	"No wave device that can record files in the current format is installed. Use the Drivers option to install the wave device."
MCIERR_WAVE_SETINPUTUNSUITABLE, "The device you are trying to record from cannot recognize the current file format."
MCIERR_NO_WINDOW, 		"어떤 디스플레이 창도 없습니다."
MCIERR_CREATEWINDOW, 		"창을 사용하거나 만들 수 없습니다."
MCIERR_FILE_READ, 		"지정된 파일을 읽을 수 없습니다. 파일이 존재하는지 확인하거나,당신의 디스크나 네트워트 연결를 체크해보십시오."
MCIERR_FILE_WRITE, 		"지정된 파일에 기록할 수 없습니다. Make sure you have enough disk space or are still connected to the network."
MCIERR_SEQ_DIV_INCOMPATIBLE, 	"The time formats of the ""song pointer"" and SMPTE are mutually exclusive. You can't use them together."
MCIERR_SEQ_NOMIDIPRESENT, 	"이 시스템에는 설치된 MIDI 장치가 없습니다. Use the Drivers option from the Control Panel to install a MIDI driver."
MCIERR_SEQ_PORT_INUSE, 		"지정된 MIDI  포트는 이미 사용중입니다.자유롭게 될 때까지 기다리고 다시 시도하십시오."
MCIERR_SEQ_PORT_MAPNODEVICE, 	"The current MIDI Mapper setup refers to a MIDI device that is not installed on the system. Use the MIDI Mapper option from the Control Panel to edit the setup."
MCIERR_SEQ_PORT_MISCERROR, 	"지정된 포트에 에러가 발생했습니다."
MCIERR_SEQ_PORT_NONEXISTENT, 	"지정된 MIDI 장치는 시스템에 설치되어 있지 않습니다. 제어판에서 장치 옵션을 사용해서 MIDI 장치를 설치하십시오."
MCIERR_SEQ_PORTUNSPECIFIED, 	"이 시스템은 현재 열거된 MIDI포트를 가지고 있지 않습니다."
MCIERR_SEQ_TIMER, 		"모든 멀티미디어 타이머는 다른 풀그림에 의해 사용중입니다. 최소한 하나의 풀그림을 끝내고 다시 시도하십시오."

END
