/*
 * Copyright 2005 Alexander N. Sørnes <alex@thehandofagony.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "windef.h"
#include "mmddk.h"

LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL

STRINGTABLE
BEGIN

/* MMSYS errors */
MMSYSERR_NOERROR, 		"Den oppgitte kommandoen ble utført."
MMSYSERR_ERROR, 		"Udefinert ekstern feil."
MMSYSERR_BADDEVICEID, 		"En enhets-ID som er utenfor rekkevidde på ditt system er brukt."
MMSYSERR_NOTENABLED, 		"Driveren ble ikke aktivert."
MMSYSERR_ALLOCATED, 		"Den oppgitte enheten er allerede i brukuse. Vent til den er ledig og prøv igjen."
MMSYSERR_INVALHANDLE, 		"Det oppgitte enhetshåndtaket er ugyldig."
MMSYSERR_NODRIVER, 		"Det er ingen driver installert på systemet.\n"
MMSYSERR_NOMEM, 		"Ikke nok minne for denne operasjonen. Avslutt ett eller flere programmer for å frigjøre minne og prøv igjen."
MMSYSERR_NOTSUPPORTED, 		"Denne funksjonen støttes ikke. Bruk funksjonen 'Capabilities' for å finne ut hvilke funksjoner og meldinger driveren støtter."
MMSYSERR_BADERRNUM, 		"Et feilnummer som ikke er definert i systemet ble oppgitt."
MMSYSERR_INVALFLAG, 		"Et ugyldig flagg ble gitt til en systemfunksjon."
MMSYSERR_INVALPARAM, 		"En ugyldig parameter ble gitt til en systemfunksjon."

/* WAVE errors */
WAVERR_BADFORMAT, 		"Det oppgitte formatet støttes ikke eller kan ikke oversettes. Bruk funksjonen 'Capabilities' for å se de støttede formaten."
WAVERR_STILLPLAYING, 		"Kan ikke utføre denne operasjonen mens medie-data spilles. Tilbakestill enheten, eller vent til dataene er spilt av."
WAVERR_UNPREPARED, 		"Digitallydhodet var ikke forberedt. Bruk funksjonen 'Prepare' for å forberede hodet og prøv deretter igjen."
WAVERR_SYNC, 			"Kan ikke åpne enheten uten å bruke flagget 'WAVE_ALLOWSYNC. Bruk flagget og prøv igjen."

/* MIDI errors */
MIDIERR_UNPREPARED, 		"MIDI-hodet var ikke forberedt. Bruk funksjonen 'Prepare' for å forberede hodet og prøv deretter igjen."
MIDIERR_STILLPLAYING, 		"Kan ikke utføre denne operasjonen når medie-data avspilles. Tilbakestill enheten, elelr vent til dataene er ferdig avspilt."
MIDIERR_NOMAP, 			"Fant ikke et MIDI-kart. Det kan være et problem med driveren, eller filen 'MIDIMAP.CFG' kan være korrupt eller mangle."
MIDIERR_NOTREADY, 		"Porten sender data til enheten. Vent til datene er ferdig sendt og prøv igen."
MIDIERR_NODEVICE, 		"Oppsettet for MIDI-kartleggeren refererer til en MIDI-enhet som ikke er installert på systemet. Bruk MIDI-kartleggeren til å redigere oppsettet."
MIDIERR_INVALIDSETUP, 		"Det gjeldende MIDI-oppsettet er skadet. Kopier den opprinnelige 'MIDIMAP.CFG'-filen til Windows' system-katalog og prøv igjen."

/* MCI errors */
MCIERR_INVALID_DEVICE_ID, 	"Ugyldig MCI enhets-ID. Bruk ID'en som returneres når MCI-enheten åpnes."
MCIERR_UNRECOGNIZED_KEYWORD, 	"Driveren kunne ikke gjenkjenne den oppgitte kommandoparameteren."
MCIERR_UNRECOGNIZED_COMMAND,	"Driveren kunne ikke gjenkjenne den oppgitte kommandoen."
MCIERR_HARDWARE, 		"Det er et problem med medieenheten. Sørg for at den virker ordentlig eller kontakt leverandøren."
MCIERR_INVALID_DEVICE_NAME, 	"Den oppgitte enheten er ikke åpen, eller ikke gjenkjent av MCI."
MCIERR_OUT_OF_MEMORY, 		"Ikke nok minne for denne operasjonen.\nAvslutt ett eller flere programmer for å frigjøre minne og prøv igjen."
MCIERR_DEVICE_OPEN, 		"Enhetsnavnet brukes allerede som et alies av dette programmet. Bruk et unikt alias."
MCIERR_CANNOT_LOAD_DRIVER, 	"Et uoppdagelig problem oppstod under lastingen av den oppgitte driveren."
MCIERR_MISSING_COMMAND_STRING, 	"Ikke kommando ble oppgitt."
MCIERR_PARAM_OVERFLOW, 		"Skrevne strengen var for stor til å passe i returhurtigminnet. Øk størrelsen på hurtigminnet."
MCIERR_MISSING_STRING_ARGUMENT, "Den oppgitte kommandoen krever en tegnstreng-parameter. Oppgi en."
MCIERR_BAD_INTEGER, 		"Det oppgitte heltallet er ugyldig for denne kommandoen."
MCIERR_PARSER_INTERNAL, 	"Enhetsdriveren returnerte en ugyldig returtype. Kontakt produsenten for å få en ny driver."
MCIERR_DRIVER_INTERNAL, 	"Det er et problem med enhetsdriveren. Kontakt produsenten for å få en ny driver."
MCIERR_MISSING_PARAMETER, 	"Den oppgitte kommandoen krever en parameter. Oppgi en."
MCIERR_UNSUPPORTED_FUNCTION, 	"MCI-enheten som brukes støtter ikke den oppgitte kommandoen."
MCIERR_FILE_NOT_FOUND, 		"Kunne ikke finne den oppgitte filen. Kontroller at stien og filnavnet er riktig."
MCIERR_DEVICE_NOT_READY, 	"Enhetsdriveren er ikke klar."
MCIERR_INTERNAL, 		"Et problem oppstod under initaliseringen av MCi. Prøv å starte Windows på nytt."
MCIERR_DRIVER, 			"Det er et problem med enhetsdriveren. Driveren har avsluttet, får ikke tilgang til feil."
MCIERR_CANNOT_USE_ALL, 		"Kan ikke bruke 'all' som enhetsnavn med den oppgitte kommandoen."
MCIERR_MULTIPLE, 		"Feil oppstod i mer enn én enhet. Oppgi hver kommando og enhet seperat for å finne ut hvilken enhet som forårsaket feilen."
MCIERR_EXTENSION_NOT_FOUND, 	"Kan ikke bestemme enhetstypen fra den oppgitte filens etternavn."
MCIERR_OUTOFRANGE, 		"Den oppgitte parameteren er utenfor rekkevidde for den oppgitte kommandoen."
MCIERR_FLAGS_NOT_COMPATIBLE, 	"De oppgitte parameterne kan ikke brukes sammen."
MCIERR_FILE_NOT_SAVED, 		"Kunne ikke lagre den oppgitte filen. Kontroller at du har nok diskplass, og at du fortsatt er tilkoblet nettverket."
MCIERR_DEVICE_TYPE_REQUIRED, 	"Fant ikke den oppgitte enheten. Kontroller at den er installert eller at enhetsnavnet er riktig stavet."
MCIERR_DEVICE_LOCKED, 		"Den oppgitte enheten er iferd med å avsluttes. Vent et par sekunder og prøv igjen."
MCIERR_DUPLICATE_ALIAS, 	"Det oppgitte aliaset brukes allerede i dette programmet. Bruk et unikt alias."
MCIERR_BAD_CONSTANT, 		"Den oppgitte parameteren er ugyldig for denne kommandoen."
MCIERR_MUST_USE_SHAREABLE, 	"Enhetsdriveren er allerede i bruk. Bruk parameteren 'shareable' for hver 'open'-kommando for å dele den."
MCIERR_MISSING_DEVICE_NAME, 	"Den oppgitte kommandoen krever et alias, en fil, driver eller et enhetsnavn."
MCIERR_BAD_TIME_FORMAT, 	"Den oppgitte vardien for tidsformatet er ugyldig. Se i MCI-dokumentasjonen for gyldige formater."
MCIERR_NO_CLOSING_QUOTE, 	"Et dobbelt hermetegn for lukking mangler fra parameterverdien. Oppgi et."
MCIERR_DUPLICATE_FLAGS, 	"En parameter eller verdi ble oppgitt to ganger. Oppgi det kun én gang."
MCIERR_INVALID_FILE, 		"Den oppgitte filen kan ikke spilles av på den oppgitte MCI-enheten. Filen er kanskje korrupt, eller i feil format."
MCIERR_NULL_PARAMETER_BLOCK, 	"En nullparamterblokk ble gitt til MCI."
MCIERR_UNNAMED_RESOURCE, 	"Kan ikke lagre en fil uten avn. Oppgi et filnavn."
MCIERR_NEW_REQUIRES_ALIAS, 	"Du må oppgi et alias når du bruker parameteren 'new'."
MCIERR_NOTIFY_ON_AUTO_OPEN, 	"Kan ikke bruke flagget 'notify' med automatisk åpnete enheter."
MCIERR_NO_ELEMENT_ALLOWED, 	"Kan ikke bruke et filnavn med den oppgitte enheten."
MCIERR_NONAPPLICABLE_FUNCTION, 	"Kunne ikke utføre kommandoen i den oppgitte rekkefølgen. Ordne rekkefølgden og prøv igjen."
MCIERR_ILLEGAL_FOR_AUTO_OPEN, 	"Kunne ikke utføre den oppgitte kommandoen på en automatisk åpnet enhet. Vent til enheten er lukket og prøv igjen."
MCIERR_FILENAME_REQUIRED, 	"Filnavnet er ugyldig. Kontroller at filnavnet ikek er lengre enn 8 tegn, etterfulgt av et punktum og et etternavn."
MCIERR_EXTRA_CHARACTERS, 	"Kan ikke oppgi ekstra tegn etter en streng omsluttet av doble anførselstegn."
MCIERR_DEVICE_NOT_INSTALLED, 	"Den oppgitte enheten er ikke installert på systemet. Bruk valget 'Drivere' i Kontrollpanel for å installere enheten."
MCIERR_GET_CD, 			"Fikk ikke tilgang til den oppgitte filen eller MCi-enheten. Prøv å endre kataloger eller starte maskinen på nytt."
MCIERR_SET_CD, 			"Fikk ikke tilgang til den oppgitte filen eller MCI-enheten fordi programmet ikke kan endre arbeidskatalog."
MCIERR_SET_DRIVE, 		"Fikk ikke tilgang til den oppgitte filen eller MCI-enheten fordi programmet ikke kan endre arbeidskatalog."
MCIERR_DEVICE_LENGTH, 		"Oppgi en enhet eller drivernavn som er mindre enn 79 tegn."
MCIERR_DEVICE_ORD_LENGTH, 	"Oppgi en enhet eller drivernavn somer mindre enn 69 tegn."
MCIERR_NO_INTEGER, 		"Den oppgitte kommandoen trenger en heltall-parameter. Oppgi en."
MCIERR_WAVE_OUTPUTSINUSE, 	"Alle digitallydenheten som kan spille av filer i det gjeldende formatet er opptatt. Vent til en digitallydenhet er ledig og prøv igjen."
MCIERR_WAVE_SETOUTPUTINUSE, 	"Kunne ikke sette den gjeldende digitallydenheten til avspilling fordi den er i bruk. Vent til enheten er ledig og prøv igjen."
MCIERR_WAVE_INPUTSINUSE, 	"Alle digitallydenheter som kan ta opp filer i det gjeldende formatet er opptatt. Vent til en digitallydenhet er ledig og prøv igjen."
MCIERR_WAVE_SETINPUTINUSE, 	"Kunne ikke sette den gjeldende digitallydenheten til opptak fordi den er i bruk. Vent til enheten er ledig og prøv igjen."
MCIERR_WAVE_OUTPUTUNSPECIFIED,	"Enhver kompatibel enhet for digitallydavspilling kan brukes."
MCIERR_WAVE_INPUTUNSPECIFIED, 	"Enhver kompatibel lydopptakenhet kan brukes."
MCIERR_WAVE_OUTPUTSUNSUITABLE, 	"Ingen digitallydenhet som kan spille av filer i det gjeldende formatet er installert. Bruk valget 'Drivere' for å installere digitallydenheten."
MCIERR_WAVE_SETOUTPUTUNSUITABLE,"Enheten du prøver å spille av på gjenkjenner ikke det gjeldende filformatet."
MCIERR_WAVE_INPUTSUNSUITABLE, 	"Ingen digitallydenhet som kan ta opp filer i det gjeldende formatet er installert. Bruk 'Drivere'-valget for å installere digitallydenheten."
MCIERR_WAVE_SETINPUTUNSUITABLE, "Enheten du prøver å ta opp fra gjenkjenner ikke det gjeldende filformatet."
MCIERR_NO_WINDOW, 		"Det er ikke noe visningsvindu."
MCIERR_CREATEWINDOW, 		"Kunne ikke opprette eller bruke vindu."
MCIERR_FILE_READ, 		"Kunne ikke lese den oppgitte filen. Kontroller at filen fortsatt finnes, og kontroller forbindelsen til disken eller nettverket."
MCIERR_FILE_WRITE, 		"Kunne ikke skrive til den oppgitte filen. Kontroller at du har nok ledig diskplass, og at du fortsatt er tilkoblet nettverket."
MCIERR_SEQ_DIV_INCOMPATIBLE, 	"Tidsformatet til ""song pointer"" og 'SMPTE' kan ikke brukes sammen."
MCIERR_SEQ_NOMIDIPRESENT, 	"Systemet har ikke noen installerte MIDI-enheter. Bruk valget 'Drivere' i Kontrollpanelet for å installere en MIDI-driver."
MCIERR_SEQ_PORT_INUSE, 		"Den oppgitte MIDI-porten er allerede i bruk. Vent til den er ledig og prøv igjen."
MCIERR_SEQ_PORT_MAPNODEVICE, 	"Det gjeldende oppsettet for MIDI-kartleggeren refererer til en MIDI-enhet som ikke er installert på systemet. Bruk valget 'MIDI-kartlegger' i Kontrollpanelet for å endre oppsettet."
MCIERR_SEQ_PORT_MISCERROR, 	"En feil oppstod med den oppgitte porten.."
MCIERR_SEQ_PORT_NONEXISTENT, 	"Den oppgitte MIDI-enheten er ikke installert på systemet. Bruk valget 'Drivere' i Kontrollpanelet for å installere en MIDI-enhet."
MCIERR_SEQ_PORTUNSPECIFIED, 	"Systemet har ikke spesifisert en gjeldende MIDI-port."
MCIERR_SEQ_TIMER, 		"Alle multimediatidtakere brukes av andre programmer. Avslutt ett av disse programmene og prøv igjen."

END
