/*
 * Copyright 2021 Zhiyi Zhang for CodeWeavers
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resources.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

/* Theme color display names */
STRINGTABLE
{
    IDS_COLOR_DISPLAY_NAME_BLUE         "Blue"
    IDS_COLOR_DISPLAY_NAME_CLASSIC_BLUE "Classic Blue"
}

/* Theme color tooltips */
STRINGTABLE
{
    IDS_COLOR_TOOLTIP_BLUE         "Blue"
    IDS_COLOR_TOOLTIP_CLASSIC_BLUE "Classic Blue"
}

/* Theme size display names */
STRINGTABLE
{
    IDS_SIZE_DISPLAY_NAME_NORMAL "Normal"
}

/* Theme size tooltips */
STRINGTABLE
{
    IDS_SIZE_TOOLTIP_NORMAL "Normal"
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/* Theme version */
1 PACKTHEM_VERSION {0x3}

/* Theme color names */
1 COLORNAMES
{
"Blue\0"
"Classic Blue\0"
"\0"
}

/* Theme size names */
1 SIZENAMES
{
"NormalSize\0"
"\0"
}

/* Theme ini files */
1 FILERESNAMES
{
"BLUE_INI\0"
"CLASSIC_BLUE_INI\0"
"\0"
}

/* Theme definition */
THEMES_INI TEXTFILE
{
"[documentation]\r\n"
"DisplayName = Light\r\n"
"ToolTip = Light Visual Style\r\n"
}

/* Light theme definition */
/* Classic blue theme, no bitmaps */
CLASSIC_BLUE_INI TEXTFILE
{
"[Globals]\r\n"
"EdgeLightColor = 255 255 255\r\n"
"EdgeHighLightColor = 255 255 255\r\n"
"EdgeShadowColor = 189 189 189\r\n"
"EdgeDkShadowColor = 158 158 158\r\n"
"EdgeFillColor = 255 255 255\r\n"

"\r\n[SysMetrics]\r\n"
"; System colors\r\n"
"Scrollbar = 255 255 255\r\n"
"Background = 37 111 149\r\n"
"ActiveCaption = 50 150 250\r\n"
"InactiveCaption = 245 245 245\r\n"
"Menu = 255 255 255\r\n"
"Window = 255 255 255\r\n"
"WindowFrame = 158 158 158\r\n"
"MenuText = 0 0 0\r\n"
"WindowText = 0 0 0\r\n"
"CaptionText = 0 0 0\r\n"
"ActiveBorder = 255 255 255\r\n"
"InactiveBorder = 255 255 255\r\n"
"AppWorkSpace = 128 128 128\r\n"
"Highlight = 48 150 250\r\n"
"HighlightText = 255 255 255\r\n"
"BtnFace = 245 245 245\r\n"
"BtnShadow = 166 166 166\r\n"
"GrayText = 166 166 166\r\n"
"BtnText = 0 0 0\r\n"
"InactiveCaptionText = 100 100 100\r\n"
"BtnHighlight = 255 255 255\r\n"
"DkShadow3d = 106 106 106\r\n"
"Light3d = 227 227 227\r\n"
"InfoText = 0 0 0\r\n"
"InfoBk = 255 255 255\r\n"
"ButtonAlternateFace = 255 255 255\r\n"
"HotTracking = 224 224 224\r\n"
"GradientActiveCaption = 50 150 250\r\n"
"GradientInactiveCaption = 245 245 245\r\n"
"MenuHilight = 48 150 250\r\n"
"MenuBar = 255 255 255\r\n"

"\r\n; Flat menus\r\n"
"FlatMenus = true\r\n"
}

/* Blue theme */
BLUE_INI TEXTFILE
{
"[Globals]\r\n"
"EdgeLightColor = 255 255 255\r\n"
"EdgeHighLightColor = 255 255 255\r\n"
"EdgeShadowColor = 189 189 189\r\n"
"EdgeDkShadowColor = 158 158 158\r\n"
"EdgeFillColor = 255 255 255\r\n"

"\r\n[SysMetrics]\r\n"
"; System colors\r\n"
"Scrollbar = 255 255 255\r\n"
"Background = 37 111 149\r\n"
"ActiveCaption = 50 150 250\r\n"
"InactiveCaption = 245 245 245\r\n"
"Menu = 255 255 255\r\n"
"Window = 255 255 255\r\n"
"WindowFrame = 158 158 158\r\n"
"MenuText = 0 0 0\r\n"
"WindowText = 0 0 0\r\n"
"CaptionText = 0 0 0\r\n"
"ActiveBorder = 255 255 255\r\n"
"InactiveBorder = 255 255 255\r\n"
"AppWorkSpace = 128 128 128\r\n"
"Highlight = 48 150 250\r\n"
"HighlightText = 255 255 255\r\n"
"BtnFace = 245 245 245\r\n"
"BtnShadow = 166 166 166\r\n"
"GrayText = 166 166 166\r\n"
"BtnText = 0 0 0\r\n"
"InactiveCaptionText = 100 100 100\r\n"
"BtnHighlight = 255 255 255\r\n"
"DkShadow3d = 106 106 106\r\n"
"Light3d = 227 227 227\r\n"
"InfoText = 0 0 0\r\n"
"InfoBk = 255 255 255\r\n"
"ButtonAlternateFace = 255 255 255\r\n"
"HotTracking = 224 224 224\r\n"
"GradientActiveCaption = 50 150 250\r\n"
"GradientInactiveCaption = 245 245 245\r\n"
"MenuHilight = 48 150 250\r\n"
"MenuBar = 255 255 255\r\n"

"\r\n; Flat menus\r\n"
"FlatMenus = true\r\n"

"\r\n; Button\r\n"
"[Button.Pushbutton]\r\n"
"BgType = ImageFile\r\n"
"SizingMargins = 8, 8, 8, 8\r\n"
"SizingType = Stretch\r\n"
"ContentMargins = 3, 3, 3, 3\r\n"
"ImageFile = blue_button.bmp\r\n"
"ImageCount = 6\r\n"
"ImageLayout = Vertical\r\n"
"TextColor = 0 0 0\r\n"
"MinSize = 10, 5\r\n"

"[Button.Pushbutton(Pressed)]\r\n"
"TextColor = 255 255 255\r\n"

"[Button.Pushbutton(Disabled)]\r\n"
"TextColor = 166 166 166\r\n"

"[Button.Checkbox]\r\n"
"BgType = ImageFile\r\n"
"ImageLayout = Vertical\r\n"
"SizingType = TrueSize\r\n"
"SizingMargins = 0, 0, 0, 0\r\n"
"ContentMargins = 0, 0, 0, 0\r\n"
"ImageCount = 12\r\n"
"MirrorImage = False\r\n"
"ImageSelectType = Dpi\r\n"
"UniformSizing = True\r\n"
"Transparent = True\r\n"
"ImageFile1 = blue_checkbox_13px.bmp\r\n"
"ImageFile2 = blue_checkbox_16px.bmp\r\n"
"ImageFile3 = blue_checkbox_25px.bmp\r\n"
"MinDpi1 = 96\r\n"
"MinDpi2 = 118\r\n"
"MinDpi3 = 185\r\n"

"[Button.Checkbox(Checkeddisabled)]\r\n"
"TextColor = 189 189 189\r\n"

"[Button.Checkbox(Uncheckeddisabled)]\r\n"
"TextColor = 189 189 189\r\n"

"[Button.Checkbox(Mixeddisabled)]\r\n"
"TextColor = 189 189 189\r\n"

"[Button.Radiobutton]\r\n"
"BgType = ImageFile\r\n"
"ImageLayout = Vertical\r\n"
"Transparent = True\r\n"
"SizingType = TrueSize\r\n"
"SizingMargins = 0, 0, 0, 0\r\n"
"ContentMargins = 0, 0, 0, 0\r\n"
"ImageCount = 8\r\n"
"ImageSelectType = Dpi\r\n"
"UniformSizing = True\r\n"
"ImageFile1 = blue_radiobutton_13px.bmp\r\n"
"ImageFile2 = blue_radiobutton_16px.bmp\r\n"
"ImageFile3 = blue_radiobutton_25px.bmp\r\n"
"MinDpi1 = 96\r\n"
"MinDpi2 = 118\r\n"
"MinDpi3 = 185\r\n"

"[Button.Radiobutton(Checkeddisabled)]\r\n"
"TextColor = 189 189 189\r\n"

"[Button.Radiobutton(Uncheckeddisabled)]\r\n"
"TextColor = 189 189 189\r\n"

"[Button.Groupbox]\r\n"
"TextColor = 0 0 0\r\n"
"BgType = ImageFile\r\n"
"SizingMargins = 5, 5, 5, 5\r\n"
"SizingType = Tile\r\n"
"ImageFile = blue_groupbox.bmp\r\n"
"BorderOnly = True\r\n"
"Transparent = True\r\n"

"[Button.Commandlink]\r\n"
"BgType = ImageFile\r\n"
"BorderSize = 0\r\n"
"ContentMargins = 7, 7, 10, 10\r\n"
"Font = Tahoma, 10\r\n"
"BodyFont = Tahoma, 8\r\n"
"ImageFile = blue_commandlink.bmp\r\n"
"ImageCount = 6\r\n"
"ImageLayout = Vertical\r\n"
"SizingType = Stretch\r\n"
"SizingMargins = 5, 5, 24, 24\r\n"
"Transparent = True\r\n"
"TextColor = 0 0 0\r\n"
"MinSize = 10, 5\r\n"

"[Button.Commandlink(Hot)]\r\n"
"TextColor = 48 150 250\r\n"

"[Button.Commandlink(Pressed)]\r\n"
"TextColor = 41 121 255\r\n"

"[Button.Commandlink(Disabled)]\r\n"
"TextColor = 174 174 174\r\n"

"[Button.CommandlinkGlyph]\r\n"
"BgType = ImageFile\r\n"
"SizingType = TrueSize\r\n"
"ImageCount = 5\r\n"
"Transparent = True\r\n"
"ImageLayout = Vertical\r\n"
"ImageSelectType = Dpi\r\n"
"Transparent = True\r\n"
"UniformSizing = True\r\n"
"ImageFile1 = blue_commandlink_glyph_30px.bmp\r\n"
"ImageFile2 = blue_commandlink_glyph_45px.bmp\r\n"
"MinDpi1 = 96\r\n"
"MinDpi2 = 144\r\n"

"\r\n; ComboBox\r\n"
"[ComboBox]\r\n"
"BgType = BorderFill\r\n"
"BorderSize = 1\r\n"
"FillColor = 255 255 255\r\n"
"BorderColor = 174 174 174\r\n"

"[ComboBox(Disabled)]\r\n"
"BorderColor = 228 228 228\r\n"
"FillColor = 231 231 231\r\n"

"[ComboBox.DropDownButton]\r\n"
"BgType = ImageFile\r\n"
"ImageLayout = Vertical\r\n"
"SizingType = Stretch\r\n"
"ImageFile = blue_combobutton.bmp\r\n"
"SizingMargins = 3, 3, 3, 3\r\n"
"ContentMargins = 0, 0, 0, 0\r\n"
"ImageCount = 4\r\n"
"GlyphType = ImageGlyph\r\n"
"GlyphImageFile = blue_combobutton_glyph.bmp\r\n"
"GlyphTransparent = True\r\n"
"Transparent = True\r\n"

"\r\n; Edit\r\n"
"[Edit]\r\n"
"BgType = BorderFill\r\n"
"BorderSize = 1\r\n"
"FillColor = 255 255 255\r\n"
"BorderColor = 174 174 174\r\n"

"[Edit.Edittext(Disabled)]\r\n"
"FillColor = 245 245 245\r\n"
"TextColor = 166 166 166\r\n"

"[Edit.Edittext(ReadOnly)]\r\n"
"FillColor = 245 245 245\r\n"
"TextColor = 0 0 0\r\n"
}

/* Button */
/* @makedep: blue_button.bmp */
BLUE_BUTTON_BMP BITMAP "blue_button.bmp"

/* @makedep: blue_checkbox_13px.bmp */
BLUE_CHECKBOX_13PX_BMP BITMAP "blue_checkbox_13px.bmp"

/* @makedep: blue_checkbox_16px.bmp */
BLUE_CHECKBOX_16PX_BMP BITMAP "blue_checkbox_16px.bmp"

/* @makedep: blue_checkbox_25px.bmp */
BLUE_CHECKBOX_25PX_BMP BITMAP "blue_checkbox_25px.bmp"

/* @makedep: blue_radiobutton_13px.bmp */
BLUE_RADIOBUTTON_13PX_BMP BITMAP "blue_radiobutton_13px.bmp"

/* @makedep: blue_radiobutton_16px.bmp */
BLUE_RADIOBUTTON_16PX_BMP BITMAP "blue_radiobutton_16px.bmp"

/* @makedep: blue_radiobutton_25px.bmp */
BLUE_RADIOBUTTON_25PX_BMP BITMAP "blue_radiobutton_25px.bmp"

/* @makedep: blue_groupbox.bmp */
BLUE_GROUPBOX_BMP BITMAP "blue_groupbox.bmp"

/* @makedep: blue_commandlink.bmp */
BLUE_COMMANDLINK_BMP BITMAP "blue_commandlink.bmp"

/* @makedep: blue_commandlink_glyph_30px.bmp */
BLUE_COMMANDLINK_GLYPH_30PX_BMP BITMAP "blue_commandlink_glyph_30px.bmp"

/* @makedep: blue_commandlink_glyph_45px.bmp */
BLUE_COMMANDLINK_GLYPH_45PX_BMP BITMAP "blue_commandlink_glyph_45px.bmp"

/* ComboBox */
/* @makedep: blue_combobutton.bmp */
BLUE_COMBOBUTTON_BMP BITMAP "blue_combobutton.bmp"

/* @makedep: blue_combobutton_glyph.bmp */
BLUE_COMBOBUTTON_GLYPH_BMP BITMAP "blue_combobutton_glyph.bmp"

/* File version */
#define WINE_FILEDESCRIPTION_STR "Light Theme"
#define WINE_FILENAME_STR "light.msstyles"
#define WINE_FILEVERSION 1,0,0,1
#define WINE_FILEVERSION_STR "1.0.0.1"
#define WINE_PRODUCTVERSION 1,0,0,1
#define WINE_PRODUCTVERSION_STR "1.0.0.1"

#include "wine/wine_common_ver.rc"
