/*
 * Copyright 2022 Piotr Caban
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include <windows.h>
#include <ddk/compstui.h>

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_CPSUI_PROPERTIES    "Properties"
    IDS_CPSUI_OPTIONS       "Options"
    IDS_CPSUI_DEFAULT       "Default"
    IDS_CPSUI_COLOR         "C&olor"
    IDS_CPSUI_COLOR_APPERANCE "Color"
    IDS_CPSUI_MONOCHROME    "Bla&ck && White"
    IDS_CPSUI_NUM_OF_COPIES "&Copy count"
    IDS_CPSUI_DUPLEX        "Print on Both Sides"
    IDS_CPSUI_SIMPLEX       "&None"
    IDS_CPSUI_HORIZONTAL    "Flip on Shor&t Edge"
    IDS_CPSUI_VERTICAL      "Flip on Long E&dge"
    IDS_CPSUI_LONG_SIDE     "Flip on Long E&dge"
    IDS_CPSUI_SHORT_SIDE    "Flip on Shor&t Edge"
}
