/*
 * Time zone resources
 *
 * Copyright 2018 Akihiro Sagawa
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "winresrc.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
{
  39616 "Afghanistan Standard Time"
  39617 "Afghanistan Daylight Time"
  39618 "(UTC+04:30) Kabul"
  50192 "Alaskan Standard Time"
  50193 "Alaskan Daylight Time"
  50194 "(UTC-09:00) Alaska"
  55200 "Aleutian Standard Time"
  55201 "Aleutian Daylight Time"
  55202 "(UTC-10:00) Aleutian Islands"
   4464 "Altai Standard Time"
   4465 "Altai Daylight Time"
   4466 "(UTC+07:00) Barnaul, Gorno-Altaysk"
  41968 "Arab Standard Time"
  41969 "Arab Daylight Time"
  41970 "(UTC+03:00) Kuwait, Riyadh"
  42704 "Arabian Standard Time"
  42705 "Arabian Daylight Time"
  42706 "(UTC+04:00) Abu Dhabi, Muscat"
   8768 "Arabic Standard Time"
   8769 "Arabic Daylight Time"
   8770 "(UTC+03:00) Baghdad"
  19584 "Argentina Standard Time"
  19585 "Argentina Daylight Time"
  19586 "(UTC-03:00) City of Buenos Aires"
  25104 "Astrakhan Standard Time"
  25105 "Astrakhan Daylight Time"
  25106 "(UTC+04:00) Astrakhan, Ulyanovsk"
  34224 "Atlantic Standard Time"
  34225 "Atlantic Daylight Time"
  34226 "(UTC-04:00) Atlantic Time (Canada)"
  47024 "AUS Central Standard Time"
  47025 "AUS Central Daylight Time"
  47026 "(UTC+09:30) Darwin"
  44672 "Aus Central W. Standard Time"
  44673 "Aus Central W. Daylight Time"
  44674 "(UTC+08:45) Eucla"
  30368 "AUS Eastern Standard Time"
  30369 "AUS Eastern Daylight Time"
  30370 "(UTC+10:00) Canberra, Melbourne, Sydney"
  11312 "Azerbaijan Standard Time"
  11313 "Azerbaijan Daylight Time"
  11314 "(UTC+04:00) Baku"
  18832 "Azores Standard Time"
  18833 "Azores Daylight Time"
  18834 "(UTC-01:00) Azores"
  50896 "Bahia Standard Time"
  50897 "Bahia Daylight Time"
  50898 "(UTC-03:00) Salvador"
  48720 "Bangladesh Standard Time"
  48721 "Bangladesh Daylight Time"
  48722 "(UTC+06:00) Dhaka"
  56576 "Belarus Standard Time"
  56577 "Belarus Daylight Time"
  56578 "(UTC+03:00) Minsk"
  51968 "Bougainville Standard Time"
  51969 "Bougainville Daylight Time"
  51970 "(UTC+11:00) Bougainville Island"
  25712 "Canada Central Standard Time"
  25713 "Canada Central Daylight Time"
  25714 "(UTC-06:00) Saskatchewan"
   2000 "Cape Verde Standard Time"
   2001 "Cape Verde Daylight Time"
   2002 "(UTC-01:00) Cabo Verde Is."
  29872 "Caucasus Standard Time"
  29873 "Caucasus Daylight Time"
  29874 "(UTC+04:00) Yerevan"
  38928 "Cen. Australia Standard Time"
  38929 "Cen. Australia Daylight Time"
  38930 "(UTC+09:30) Adelaide"
  36656 "Central America Standard Time"
  36657 "Central America Daylight Time"
  36658 "(UTC-06:00) Central America"
   8176 "Central Asia Standard Time"
   8177 "Central Asia Daylight Time"
   8178 "(UTC+06:00) Astana"
  56336 "Central Brazilian Standard Time"
  56337 "Central Brazilian Daylight Time"
  56338 "(UTC-04:00) Cuiaba"
   4896 "Central Europe Standard Time"
   4897 "Central Europe Daylight Time"
   4898 "(UTC+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague"
   2976 "Central European Standard Time"
   2977 "Central European Daylight Time"
   2978 "(UTC+01:00) Sarajevo, Skopje, Warsaw, Zagreb"
  64416 "Central Pacific Standard Time"
  64417 "Central Pacific Daylight Time"
  64418 "(UTC+11:00) Solomon Is., New Caledonia"
  17456 "Central Standard Time"
  17457 "Central Daylight Time"
  17458 "(UTC-06:00) Central Time (US & Canada)"
  32800 "Central Standard Time (Mexico)"
  32801 "Central Daylight Time (Mexico)"
  32802 "(UTC-06:00) Guadalajara, Mexico City, Monterrey"
  62304 "Chatham Islands Standard Time"
  62305 "Chatham Islands Daylight Time"
  62306 "(UTC+12:45) Chatham Islands"
    160 "China Standard Time"
    161 "China Daylight Time"
    162 "(UTC+08:00) Beijing, Chongqing, Hong Kong, Urumqi"
  17136 "Cuba Standard Time"
  17137 "Cuba Daylight Time"
  17138 "(UTC-05:00) Havana"
  50384 "Dateline Standard Time"
  50385 "Dateline Daylight Time"
  50386 "(UTC-12:00) International Date Line West"
  62720 "E. Africa Standard Time"
  62721 "E. Africa Daylight Time"
  62722 "(UTC+03:00) Nairobi"
  65264 "E. Australia Standard Time"
  65265 "E. Australia Daylight Time"
  65266 "(UTC+10:00) Brisbane"
  32128 "E. Europe Standard Time"
  32129 "E. Europe Daylight Time"
  32130 "(UTC+02:00) Chisinau"
  64096 "E. South America Standard Time"
  64097 "E. South America Daylight Time"
  64098 "(UTC-03:00) Brasilia"
  58592 "Easter Island Standard Time"
  58593 "Easter Island Daylight Time"
  58594 "(UTC-06:00) Easter Island"
  30800 "Eastern Standard Time"
  30801 "Eastern Daylight Time"
  30802 "(UTC-05:00) Eastern Time (US & Canada)"
  59536 "Eastern Standard Time (Mexico)"
  59537 "Eastern Daylight Time (Mexico)"
  59538 "(UTC-05:00) Chetumal"
  59424 "Egypt Standard Time"
  59425 "Egypt Daylight Time"
  59426 "(UTC+02:00) Cairo"
  45952 "Ekaterinburg Standard Time"
  45953 "Ekaterinburg Daylight Time"
  45954 "(UTC+05:00) Ekaterinburg"
  25680 "Fiji Standard Time"
  25681 "Fiji Daylight Time"
  25682 "(UTC+12:00) Fiji"
  63264 "FLE Standard Time"
  63265 "FLE Daylight Time"
  63266 "(UTC+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius"
    416 "Georgian Standard Time"
    417 "Georgian Daylight Time"
    418 "(UTC+04:00) Tbilisi"
   7408 "GMT Standard Time"
   7409 "GMT Daylight Time"
   7410 "(UTC+00:00) Dublin, Edinburgh, Lisbon, London"
  58096 "Greenland Standard Time"
  58097 "Greenland Daylight Time"
  58098 "(UTC-03:00) Greenland"
  47168 "Greenwich Standard Time"
  47169 "Greenwich Daylight Time"
  47170 "(UTC+00:00) Monrovia, Reykjavik"
  24192 "GTB Standard Time"
  24193 "GTB Daylight Time"
  24194 "(UTC+02:00) Athens, Bucharest"
   2896 "Haiti Standard Time"
   2897 "Haiti Daylight Time"
   2898 "(UTC-05:00) Haiti"
  53376 "Hawaiian Standard Time"
  53377 "Hawaiian Daylight Time"
  53378 "(UTC-10:00) Hawaii"
  22400 "India Standard Time"
  22401 "India Daylight Time"
  22402 "(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi"
   5568 "Iran Standard Time"
   5569 "Iran Daylight Time"
   5570 "(UTC+03:30) Tehran"
  47968 "Israel Standard Time"
  47969 "Israel Daylight Time"
  47970 "(UTC+02:00) Jerusalem"
  17232 "Jordan Standard Time"
  17233 "Jordan Daylight Time"
  17234 "(UTC+02:00) Amman"
  14720 "Kaliningrad Standard Time"
  14721 "Kaliningrad Daylight Time"
  14722 "(UTC+02:00) Kaliningrad"
  62048 "Korea Standard Time"
  62049 "Korea Daylight Time"
  62050 "(UTC+09:00) Seoul"
  50768 "Libya Standard Time"
  50769 "Libya Daylight Time"
  50770 "(UTC+02:00) Tripoli"
  16768 "Line Islands Standard Time"
  16769 "Line Islands Daylight Time"
  16770 "(UTC+14:00) Kiritimati Island"
   8656 "Lord Howe Standard Time"
   8657 "Lord Howe Daylight Time"
   8658 "(UTC+10:30) Lord Howe Island"
   8832 "Magadan Standard Time"
   8833 "Magadan Daylight Time"
   8834 "(UTC+11:00) Magadan"
  13120 "Magallanes Standard Time"
  13121 "Magallanes Daylight Time"
  13122 "(UTC-03:00) Punta Arenas"
  20736 "Marquesas Standard Time"
  20737 "Marquesas Daylight Time"
  20738 "(UTC-09:30) Marquesas Islands"
  60896 "Mauritius Standard Time"
  60897 "Mauritius Daylight Time"
  60898 "(UTC+04:00) Port Louis"
  15968 "Middle East Standard Time"
  15969 "Middle East Daylight Time"
  15970 "(UTC+02:00) Beirut"
  27968 "Montevideo Standard Time"
  27969 "Montevideo Daylight Time"
  27970 "(UTC-03:00) Montevideo"
   2992 "Morocco Standard Time"
   2993 "Morocco Daylight Time"
   2994 "(UTC+01:00) Casablanca"
  34352 "Mountain Standard Time"
  34353 "Mountain Daylight Time"
  34354 "(UTC-07:00) Mountain Time (US & Canada)"
   7248 "Mountain Standard Time (Mexico)"
   7249 "Mountain Daylight Time (Mexico)"
   7250 "(UTC-07:00) Chihuahua, La Paz, Mazatlan"
  21104 "Myanmar Standard Time"
  21105 "Myanmar Daylight Time"
  21106 "(UTC+06:30) Yangon (Rangoon)"
  30704 "N. Central Asia Standard Time"
  30705 "N. Central Asia Daylight Time"
  30706 "(UTC+07:00) Novosibirsk"
   6208 "Namibia Standard Time"
   6209 "Namibia Daylight Time"
   6210 "(UTC+02:00) Windhoek"
   1216 "Nepal Standard Time"
   1217 "Nepal Daylight Time"
   1218 "(UTC+05:45) Kathmandu"
  54896 "New Zealand Standard Time"
  54897 "New Zealand Daylight Time"
  54898 "(UTC+12:00) Auckland, Wellington"
   9504 "Newfoundland Standard Time"
   9505 "Newfoundland Daylight Time"
   9506 "(UTC-03:30) Newfoundland"
  47440 "Norfolk Standard Time"
  47441 "Norfolk Daylight Time"
  47442 "(UTC+11:00) Norfolk Island"
  19056 "North Asia East Standard Time"
  19057 "North Asia East Daylight Time"
  19058 "(UTC+08:00) Irkutsk"
    304 "North Asia Standard Time"
    305 "North Asia Daylight Time"
    306 "(UTC+07:00) Krasnoyarsk"
  35888 "North Korea Standard Time"
  35889 "North Korea Daylight Time"
  35890 "(UTC+09:00) Pyongyang"
  55952 "Omsk Standard Time"
  55953 "Omsk Daylight Time"
  55954 "(UTC+06:00) Omsk"
  65008 "Pacific SA Standard Time"
  65009 "Pacific SA Daylight Time"
  65010 "(UTC-04:00) Santiago"
  11232 "Pacific Standard Time"
  11233 "Pacific Daylight Time"
  11234 "(UTC-08:00) Pacific Time (US & Canada)"
  15584 "Pacific Standard Time (Mexico)"
  15585 "Pacific Daylight Time (Mexico)"
  15586 "(UTC-08:00) Baja California"
  28752 "Pakistan Standard Time"
  28753 "Pakistan Daylight Time"
  28754 "(UTC+05:00) Islamabad, Karachi"
  50224 "Paraguay Standard Time"
  50225 "Paraguay Daylight Time"
  50226 "(UTC-04:00) Asuncion"
  53760 "Qyzylorda Standard Time"
  53761 "Qyzylorda Daylight Time"
  53762 "(UTC+05:00) Qyzylorda"
  45104 "Romance Standard Time"
  45105 "Romance Daylight Time"
  45106 "(UTC+01:00) Brussels, Copenhagen, Madrid, Paris"
  59264 "Russia Time Zone 10"
  59265 "Russia Time Zone 10"
  59266 "(UTC+11:00) Chokurdakh"
  46000 "Russia Time Zone 11"
  46001 "Russia Time Zone 11"
  46002 "(UTC+12:00) Anadyr, Petropavlovsk-Kamchatsky"
  17920 "Russia Time Zone 3"
  17921 "Russia Time Zone 3"
  17922 "(UTC+04:00) Izhevsk, Samara"
  44560 "Russian Standard Time"
  44561 "Russian Daylight Time"
  44562 "(UTC+03:00) Moscow, St. Petersburg"
  40656 "SA Eastern Standard Time"
  40657 "SA Eastern Daylight Time"
  40658 "(UTC-03:00) Cayenne, Fortaleza"
  49424 "SA Pacific Standard Time"
  49425 "SA Pacific Daylight Time"
  49426 "(UTC-05:00) Bogota, Lima, Quito, Rio Branco"
  57120 "SA Western Standard Time"
  57121 "SA Western Daylight Time"
  57122 "(UTC-04:00) Georgetown, La Paz, Manaus, San Juan"
   5584 "Saint Pierre Standard Time"
   5585 "Saint Pierre Daylight Time"
   5586 "(UTC-03:00) Saint Pierre and Miquelon"
  35104 "Sakhalin Standard Time"
  35105 "Sakhalin Daylight Time"
  35106 "(UTC+11:00) Sakhalin"
  14592 "Samoa Standard Time"
  14593 "Samoa Daylight Time"
  14594 "(UTC+13:00) Samoa"
   5984 "Sao Tome Standard Time"
   5985 "Sao Tome Daylight Time"
   5986 "(UTC+00:00) Sao Tome"
  33808 "Saratov Standard Time"
  33809 "Saratov Daylight Time"
  33810 "(UTC+04:00) Saratov"
  53728 "SE Asia Standard Time"
  53729 "SE Asia Daylight Time"
  53730 "(UTC+07:00) Bangkok, Hanoi, Jakarta"
  61840 "Singapore Standard Time"
  61841 "Singapore Daylight Time"
  61842 "(UTC+08:00) Kuala Lumpur, Singapore"
  38896 "South Africa Standard Time"
  38897 "South Africa Daylight Time"
  38898 "(UTC+02:00) Harare, Pretoria"
   7664 "South Sudan Standard Time"
   7665 "South Sudan Daylight Time"
   7666 "(UTC+02:00) Juba"
  39408 "Sri Lanka Standard Time"
  39409 "Sri Lanka Daylight Time"
  39410 "(UTC+05:30) Sri Jayawardenepura"
   9792 "Sudan Standard Time"
   9793 "Sudan Daylight Time"
   9794 "(UTC+02:00) Khartoum"
  46576 "Syria Standard Time"
  46577 "Syria Daylight Time"
  46578 "(UTC+02:00) Damascus"
  26432 "Taipei Standard Time"
  26433 "Taipei Daylight Time"
  26434 "(UTC+08:00) Taipei"
  36016 "Tasmania Standard Time"
  36017 "Tasmania Daylight Time"
  36018 "(UTC+10:00) Hobart"
  43072 "Tocantins Standard Time"
  43073 "Tocantins Daylight Time"
  43074 "(UTC-03:00) Araguaina"
  16240 "Tokyo Standard Time"
  16241 "Tokyo Daylight Time"
  16242 "(UTC+09:00) Osaka, Sapporo, Tokyo"
  29136 "Tomsk Standard Time"
  29137 "Tomsk Daylight Time"
  29138 "(UTC+07:00) Tomsk"
   7216 "Tonga Standard Time"
   7217 "Tonga Daylight Time"
   7218 "(UTC+13:00) Nuku'alofa"
  31472 "Transbaikal Standard Time"
  31473 "Transbaikal Daylight Time"
  31474 "(UTC+09:00) Chita"
  24848 "Turkey Standard Time"
  24849 "Turkey Daylight Time"
  24850 "(UTC+03:00) Istanbul"
  20560 "Turks And Caicos Standard Time"
  20561 "Turks And Caicos Daylight Time"
  20562 "(UTC-05:00) Turks and Caicos"
  47200 "Ulaanbaatar Standard Time"
  47201 "Ulaanbaatar Daylight Time"
  47202 "(UTC+08:00) Ulaanbaatar"
  34928 "US Eastern Standard Time"
  34929 "US Eastern Daylight Time"
  34930 "(UTC-05:00) Indiana (East)"
  37472 "US Mountain Standard Time"
  37473 "US Mountain Daylight Time"
  37474 "(UTC-07:00) Arizona"
  22000 "Coordinated Universal Time"
  22001 "Coordinated Universal Time"
  22002 "(UTC) Coordinated Universal Time"
   1200 "UTC+12"
   1201 "UTC+12"
   1202 "(UTC+12:00) Coordinated Universal Time+12"
   8784 "UTC+13"
   8785 "UTC+13"
   8786 "(UTC+13:00) Coordinated Universal Time+13"
  37328 "UTC-02"
  37329 "UTC-02"
  37330 "(UTC-02:00) Coordinated Universal Time-02"
   3344 "UTC-08"
   3345 "UTC-08"
   3346 "(UTC-08:00) Coordinated Universal Time-08"
  39152 "UTC-09"
  39153 "UTC-09"
  39154 "(UTC-09:00) Coordinated Universal Time-09"
  19408 "UTC-11"
  19409 "UTC-11"
  19410 "(UTC-11:00) Coordinated Universal Time-11"
  51472 "Venezuela Standard Time"
  51473 "Venezuela Daylight Time"
  51474 "(UTC-04:00) Caracas"
  61376 "Vladivostok Standard Time"
  61377 "Vladivostok Daylight Time"
  61378 "(UTC+10:00) Vladivostok"
  18048 "Volgograd Standard Time"
  18049 "Volgograd Daylight Time"
  18050 "(UTC+04:00) Volgograd"
  65376 "W. Australia Standard Time"
  65377 "W. Australia Daylight Time"
  65378 "(UTC+08:00) Perth"
  64976 "W. Central Africa Standard Time"
  64977 "W. Central Africa Daylight Time"
  64978 "(UTC+01:00) West Central Africa"
  27696 "W. Europe Standard Time"
  27697 "W. Europe Daylight Time"
  27698 "(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna"
  53952 "W. Mongolia Standard Time"
  53953 "W. Mongolia Daylight Time"
  53954 "(UTC+07:00) Hovd"
  49664 "West Asia Standard Time"
  49665 "West Asia Daylight Time"
  49666 "(UTC+05:00) Ashgabat, Tashkent"
  46160 "West Bank Standard Time"
  46161 "West Bank Daylight Time"
  46162 "(UTC+02:00) Gaza, Hebron"
  10224 "West Pacific Standard Time"
  10225 "West Pacific Daylight Time"
  10226 "(UTC+10:00) Guam, Port Moresby"
  40576 "Yakutsk Standard Time"
  40577 "Yakutsk Daylight Time"
  40578 "(UTC+09:00) Yakutsk"
  26288 "Yukon Standard Time"
  26289 "Yukon Daylight Time"
  26290 "(UTC-07:00) Yukon"
}
