/*
 * View (Simplified and Traditional Chinese Resource)
 *
 * Copyright 2008 Hongbo Ni <hongbo.at.njstar.com>
 * Copyright 2010 Cheer Xiao <xiaqqaix.at.gmail.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resource.h"

/* Chinese text is encoded in UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

/*
 *
 * Menu
 *
 */

VIEW MENU
BEGIN
    POPUP "文件(&F)"
    BEGIN
	MENUITEM "打开(&O)", IDM_OPEN
        MENUITEM "退出(&x)", IDM_EXIT
    END
    POPUP "平移(&P)"
    BEGIN
      MENUITEM "缩放至窗口(&S)", IDM_SET_EXT_TO_WIN
      MENUITEM SEPARATOR
      MENUITEM "左(&L)", IDM_LEFT
      MENUITEM "右(&R)", IDM_RIGHT
      MENUITEM "上(&U)", IDM_UP
      MENUITEM "下(&D)", IDM_DOWN
    END
END


/*
 *
 * Accelerator
 *
 */

VIEW ACCELERATORS
BEGIN
    "Q", IDM_EXIT, VIRTKEY, CONTROL
END


/*
 *
 * String Table
 *
 */

STRINGTABLE
BEGIN
    IDS_DESCRIPTION         "普通 Metafile 阅读器"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

/*
 *
 * Menu
 *
 */

VIEW MENU
BEGIN
    POPUP "檔案(&F)"
    BEGIN
	MENUITEM "開啟(&O)", IDM_OPEN
        MENUITEM "結束(&x)", IDM_EXIT
    END
    POPUP "平移(&P)"
    BEGIN
      MENUITEM "放大至視窗(&S)", IDM_SET_EXT_TO_WIN
      MENUITEM SEPARATOR
      MENUITEM "左(&L)", IDM_LEFT
      MENUITEM "右(&R)", IDM_RIGHT
      MENUITEM "上(&U)", IDM_UP
      MENUITEM "下(&D)", IDM_DOWN
    END
END


/*
 *
 * Accelerator
 *
 */

VIEW ACCELERATORS
BEGIN
    "Q", IDM_EXIT, VIRTKEY, CONTROL
END


/*
 *
 * String Table
 *
 */

STRINGTABLE
BEGIN
    IDS_DESCRIPTION         "普通 Metafile 閱讀器"
END
