Makefile
class.ok
clipboard.ok
dce.ok
dde.ok
dialog.ok
edit.ok
generated.ok
input.ok
listbox.ok
menu.ok
monitor.ok
msg.ok
resource.ok
resource.res
sysparams.ok
test_mono.bmp
testlist.c
text.ok
win.ok
winstation.ok
wsprintf.ok
