/* Hey, Emacs, open this file with -*- coding: cp1250 -*-
 *
 * Wine command prompt
 * Czech Language Support
 *
 * Copyright (C) 1999 D A Pickles
 * Copyright (C) 2004 David Kredba
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

/* Czech strings in CP1250 */

STRINGTABLE
{
  WCMD_ATTRIB, "Nápověda k ATTRIB\n"
  WCMD_CALL,
"CALL <dávkový soubor> je užíván ke spuštění příkazů\n\
z jiného dávkového souboru. Když se běh volaného dávkového souboru ukončí, kontrola se vrátí\n\
volajícímu souboru. Příkaz CALL může předávat parametry\n\
volané proceduře.\n\
\n\
Změny v defaultním adresáři, proměnných prostředí atd., udělané\n\
volanou procedurou jsou zděděny volajícím.\n"

  WCMD_CD,     "Nápověda k CD\n"
  WCMD_CHDIR,  "Nápověda k CHDIR\n"

  WCMD_CLS,    "CLS vymaže obrazovku terminálu\n"

  WCMD_COPY,   "Nápověda k COPY\n"
  WCMD_CTTY,   "Nápověda k CTTY\n"
  WCMD_DATE,   "Nápověda k DATE\n"
  WCMD_DEL,    "Nápověda k DEL\n"
  WCMD_DIR,    "Nápověda k DIR\n"

  WCMD_ECHO,
"ECHO <řetězec> zobrazí <řetězec> na používaném terminálovém zařízení.\n\
\n\
ECHO ON způsobí, že všechny následující příkazy v dávkovém souboru budou\n\
zobrazeny na terminálovém zařízení před svým spuštěním.\n\
\n\
ECHO OFF vypisování příkazů zakáže (ECHO je OFF defaultně.\n\
Předsadí-li se příkazu ECHO OFF @ nebude příkaz ECHO OFF vypsán\n\
na terminálové zařízení.\n"

  WCMD_ERASE,  "Nápověda k ERASE\n"

  WCMD_FOR,
"Příkaz FOR vykoná zadanou akci pro každý ze zadané skupiny souborů.\n\
\n\
Syntaxe: FOR %proměnná IN (skupina souborů) DO akce\n\
\n\
V programu cmd není třeba zdvojovat znak % před proměnnou při použití příkazu\n\ FOR v dávkovém souboru.\n"

  WCMD_GOTO,
"Příkaz GOTO předá výkon na jiné místo\n\
v dávkovém souboru.\n\
\n\
Návěští, kterým se označuje cíl skoku GOTO může být až 255 znaků\n\
dlouhé. Nesmí však obsahovat mezery (odlišné chování od jiných operačních\n\
systémů). Existují-li dvě nebo více stejných návěští v jednom dávkovém\n\
souboru, pak první bude vykonáno. Skok GOTO na neexistující návěští\n\
ukončí výkon dávkového souboru.\n\
\n\
GOTO se nedá použít interaktivně.\n"

  WCMD_HELP,   "Nápověda k HELP\n"

  WCMD_IF,
"IF slouží k podmíněnému výkonu příkazů.\n\
\n\
Syntaxe: IF [NOT] EXIST soubor příkaz\n\
	 IF [NOT] řetězec1==řetězec2 příkaz\n\
	 IF [NOT] ERRORLEVEL číslo příkaz\n\
\n\
Ve druhé formě příkazu musí být řetězec1 a řetězec2 uzavřeny v dvojitých\n\
uvozovkách. Srovnání není citlivé na velikost písmen.\n"

  WCMD_LABEL,  "LABEL nastavuje jmenovku svazku-disku.  \n\
\n\
Syntaxe: LABEL [disk:]\n\
Budete vyzváni k zadání jmenovky.\n\
Jmenovku si můžete zobrazit příkazem VOL.\n"

  WCMD_MD,     "Nápověda k MD\n"
  WCMD_MKDIR,  "Nápověda k MKDIR\n"
  WCMD_MOVE,
"MOVE přesune soubor či adresář na jiné místo v souborovém systému.\n\
\n\
Je-li přesouván adresář, jsou přesunuty všechny jeho podadresáře a soubory.\n\
\n\
MOVE selže jsou-li zdrojová a cílová oblast na jednotkách s jinými DOS písmeny disků.\n"

  WCMD_PATH,
"PATH zobrazí či změní cesty, v nichž cmd hledá soubory.\n\
\n\
PATH bez argumentů zobrazí momentálně platné nastavení (před první změnou\n\
je to hodnota převzatá ze souboru wine.conf). Ke změně připojte k příkazu\n\
PATH novou cestu.\n\
\n\
Je taktéž možné změnit PATH použitím proměnné prostředí PATH,\n\
například:\n\
		PATH %PATH%;c:\\temp \n"

  WCMD_PAUSE,
"PAUSE zobrazí na obrazovce text 'Press Return key to continue'\n\
a vyčká, dokud uživatel nestiskne klávesu Enter. Je to užitečné hlavně\n\
proto, aby si uživatel mohl přečíst výstup z výkonu předcházejích příkazů,\n\
než se tyto odrolují z obrazovky.\n"

  WCMD_PROMPT,
"PROMPT nastaví výzvu příkazového řádku.\n\
\n\
Řetězec za příkazem PROMPT (a mezerou bezprostředně za PROMPT)\n\
se zobrazí na začátku každé nové příkazové řádky.\n\
\n\
Tyto znaky mají v řetězcích speciální význam:\n\
\n\
$$    Znak dolaru         $_    Odřádkování         $b    Znak roury (|)\n\
$d    Datum               $e    Escape              $g    Znaménko větší než\n\
$l    Znaménko menší než  $n    Písmeno disku       $p    Cesta\n\
$q    Rovnítko            $t    Čas                 $v    Verze cmd\n\
\n\
PROMPT bez parametrů resetuje prompt na defaultní,\n\
který je složen z cesty k současnému adresáři (včetně písmena disku\n\
) a znaménka  větší než (>).\n\
(jako je v DOS-u PROMPT $p$g).\n\
\n\
Prompt může být změněn i změnou proměnné prostředí PROMPT,\n\
čili příkaz 'SET PROMPT=text' má tentýž efekt jako 'PROMPT text'\n"

  WCMD_REM,
"Řádky začínající REM (následovaným mezerou)\n\
nejsou vykonány. REM je proto používán jako komentářový příkaz.\n"

  WCMD_REN,    "Nápověda k REN\n"
  WCMD_RENAME, "Nápověda k RENAME\n"
  WCMD_RD,     "Nápověda k RD\n"
  WCMD_RMDIR,  "Nápověda k RMDIR\n"

  WCMD_SET,
"SET zobrazí nebo změní proměnné prostředí cmd.\n\
\n\
SET bez argumentů ukáže současné nastavení prostředí.\n\
\n\
Syntaxe pro nastavení a změnu proměnné prostředí je:\n\
\n\
      SET <proměnná>=<hodnota>\n\
      \n\
      kde <proměnná> a <hodnota> musí být prosta mezer\n\
      a speciálních znaků a mezi <proměnná> rovnítko <hodnota>\n\
      nesmí být mezery.\n\
      \n\
      Ve Wine jsou viditelné proměnné prostředí operačního\n\
      systému, ve kterém je Wine spuštěn. Proto uvidíte mnohem víc proměnných\n\
      prostředí, než u nativní Win32 implementace. Není možné\n\
      měnit proměnné prostředí hostitelského operačního systému z cmd.\n"

  WCMD_SHIFT,
"SHIFT užíván v dávkových souborech k odstranění jednoho parametru ze začátku\n\
jejich seznamu, takže parametr 2 se stane parametrem 1 atd. Nemá žádný\n\
efekt, je-li zadán na příkazovou řádku.\n"

  WCMD_TIME,   "Nápověda k TIME\n"

  WCMD_TITLE,  "Nastaví titulek okna cmd, syntaxe TITLE [řetězec]\n"

  WCMD_TYPE,
"TYPE <soubor> vypíše <soubor> na konzolové zařízení (nebo jinam,\n\
je-li výstup přeměrován). Není zjišťováno, bude-li vypsán čitelný text.\n"

  WCMD_VERIFY,
"VERIFY je používán k nastavení nebo zjištění stavu příznaku verify.\n\
Syntaxe:\n\
\n\
VERIFY ON	Nastaví příznak\n\
VERIFY OFF	Zruší příznak\n\
VERIFY		Zobrazí aktuální stav.\n\
\n\
Příznak verify nemá ve Wine žádnou funkci.\n"

  WCMD_VER,
"VER zobrazí verzi spuštěného programu cmd.\n"

  WCMD_VOL,    "Nápověda k VOL\n"

  WCMD_EXIT,
"EXIT ukončí běžící sezení a vrátí kontrolu\n\
operačnímu systému nebo příkazovému interpretu,\n\
ze kterého byl cmd spuštěn.\n"

  1000, "Vestavěné příkazy CMD jsou:\n\
ATTRIB\t\tZobrazí nebo nastaví DOS-ovské souborové attributy\n\
CALL\t\tZavolá dávkový soubor z jiného\n\
CD (CHDIR)\tZmění pracovní adresář\n\
CLS\t\tVymaže okno terminálu\n\
COPY\t\tKopíruje soubory\n\
CTTY\t\tZmění vstupně/výstupní zařízení\n\
DATE\t\tUkáže nebo nastaví systémové datum\n\
DEL (ERASE)\tSmaže jeden nebo více souborů\n\
DIR\t\tVypíše obsah adresáře\n\
ECHO\t\tVypíše text na terminál\n\
HELP\t\tZobrazí detailní nápovědu k tématu\n\
MD (MKDIR)\tVytvoří adresář\n\
MOVE\t\tPřesune soubor, skupinu souborů nebo adresářový strom\n\
PATH\t\tNastaví nebo ukáže prohledávané cesty\n\
PROMPT\t\tZmění výzvu příkazového řádku\n\
REN (RENAME)\tPřejmenuje soubor\n\
RD (RMDIR)\tSmaže adresář\n\
SET\t\tNastaví nebo zobrazí proměnnou prostředí\n\
TIME\t\tUkáže či nastaví systémový čas\n\
TITLE\t\tNastaví titulek okna běžící CMD instance\n\
TYPE\t\tVypíše obsah textového souboru\n\
VER\t\tZobrazí verzi CMD\n\
VOL\t\tUkáže jmenovku disku\n\
EXIT\t\tUkončí CMD\n\n\
Zadejte HELP <příkaz> pro podrobnější informace o některém z výše uvedených příkazů\n"

  WCMD_CONFIRM, "Are you sure"
  WCMD_YES, "Y"
  WCMD_NO, "N"
  WCMD_NOASSOC, "File association missing for extension %s\n"
  WCMD_NOFTYPE, "No open command associated with file type '%s'\n"
  WCMD_OVERWRITE, "Overwrite"
}
