/*
 * Wine command prompt
 * Spanish Language Support
 *
 * Copyright (C) 2004, 2007 José Manuel Ferrer Ortiz
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

STRINGTABLE
{
  WCMD_ATTRIB, "Ayuda sobre ATTRIB\n"
  WCMD_CALL,
"CALL <nombre de archivo por lotes> se utiliza dentro de un archivo por\n\
lotes para ejecutar comandos desde otro archivo por lotes. Cuando el\n\
archivo por lotes existe, el control regresa al archivo que lo llamó. El\n\
comando CALL puede proporcionar parámetros para el procedimiento llamado.\n\
\n\
Los cambios sobre el directorio por defecto, variables de entorno, etc.\n\
realizados desde dentro de un procedimiento llamado son heredados por el\n\
llamante.\n"

  WCMD_CD,     "Ayuda sobre CD\n"
  WCMD_CHDIR,  "Ayuda sobre CHDIR\n"

  WCMD_CLS,    "CLS limpia la pantalla de la consola\n"

  WCMD_COPY,   "Ayuda sobre COPY\n"
  WCMD_CTTY,   "Ayuda sobre CTTY\n"
  WCMD_DATE,   "Ayuda sobre DATE\n"
  WCMD_DEL,    "Ayuda sobre DEL\n"
  WCMD_DIR,    "Ayuda sobre DIR\n"

  WCMD_ECHO,
"ECHO <cadena> muestra <cadena> en el dispositivo de terminal actual.\n\
\n\
ECHO ON provoca que todos los comandos subsiguientes en un archivo por\n\
lotes sean mostrados en el terminal antes de ser ejecutados.\n\
\n\
ECHO OFF invierte el efecto de un previo ECHO ON (ECHO es OFF por\n\
defecto). El comando ECHO OFF puede prevenirse de ser mostrado\n\
precediéndolo por un signo @.\n"

  WCMD_ERASE,  "Ayuda sobre ERASE\n"

  WCMD_FOR,
"El comando FOR se utiliza para ejecutar un comando para cada uno de\n\
un conjunto de archivos.\n\
\n\
Sintaxis: FOR %variable IN (conjunto) DO comando\n\
\n\
La necesidad de doblar el signo % cuando se utiliza FOR en un archivo\n\
por lotes no existe en cmd.\n"

  WCMD_GOTO,
"El comando GOTO transfiere la ejecución a otro mandato dentro de un\n\
archivo por lotes.\n\
\n\
La etiqueta que es el objetivo de un comando GOTO puede ser de hasta\n\
255 caracteres de longitud pero no puede incluir espacios (esto es\n\
diferente a otros sistemas operativos). Si dos o más etiquetas\n\
idénticas existen en un archivo por lotes, la primera de ellas será\n\
siempre la que se ejecutará. El intento de hacer GOTO a una etiqueta\n\
no existente termina la ejecución del archivo por lotes.\n\
\n\
GOTO no tiene efecto cuando se usa interactivamente.\n"

  WCMD_HELP,   "Ayuda sobre HELP\n"

  WCMD_IF,
"IF se utiliza para ejecutar condicionalmente un comando.\n\
\n\
Sintaxis:	IF [NOT] EXIST nombre_archivo comando\n\
		IF [NOT] cadena1==cadena2 comando\n\
		IF [NOT] ERRORLEVEL número comando\n\
\n\
En la segunda forma del comando, cadena1 y cadena2 deben estar entre\n\
comillas dobles. La comparación no distingue mayúsculas de minúsculas.\n"

  WCMD_LABEL,  "LABEL se utiliza para ajustar una etiqueta de volumen\n\
  de disco.\n\
\n\
Sintaxis: LABEL [unidad:]\n\
El comando le pedirá la nueva etiqueta de volumen para la unidad dada.\n\
Puede ver la etiqueta de volumen del disco con el comando VOL.\n"

  WCMD_MD,     "Ayuda sobre MD\n"
  WCMD_MKDIR,  "Ayuda sobre MKDIR\n"
  WCMD_MOVE,
"MOVE realoja un archivo o directorio a un nuevo punto del sistema de\n\
archivos.\n\
\n\
Si el elemento siendo movido es un directorio, entonces todos los\n\
archivos y subdirectorios por debajo del elemento son movidos también.\n\
\n\
MOVE falla si la localización vieja y la nueva están en diferentes\n\
letras de unidad de DOS.\n"

  WCMD_PATH,
"PATH muestra o cambia la ruta de búsqueda de cmd.\n\
\n\
Al introducir PATH se mostrará la configuración actual de PATH\n\
(inicialmente esto es el valor dado en su archivo wine.conf). Para\n\
cambiar la configuración acompañe al comando PATH con el nuevo valor.\n\
\n\
También es posible modificar el PATH usando la variable de entorno\n\
PATH, por ejamplo:\n\
		PATH %PATH%;c:\\temp \n"

  WCMD_PAUSE,
"PAUSE muestra un mensaje en la pantalla 'Pulse la tecla Return para\n\
continuar' y espera que el usuario pulse la tecla Return. Es\n\
principalmente útil en archivos por lotes para permitir al usuario\n\
leer la salida de un comando anterior antes de que se desplace fuera\n\
de la pantalla.\n"

  WCMD_PROMPT,
"PROMPT ajusta el prompt de la línea de comandos.\n\
\n\
La cadena que sigue al comando PROMPT (y el espacio inmediatamente\n\
después) aparece al principio de la línea cuando cmd está esperando\n\
la entrada.\n\
\n\
Las siguientes cadenas de caracteres tienen el significado especial\n\
que se muestra:\n\
\n\
$$    Signo dólar         $_    Nueva línea         $b    Signo de tubo (|)\n\
$d    Fecha actual        $e    Escape              $g    Signo >\n\
$l    Signo <             $n    Unidad actual       $p    Ruta actual\n\
$q    Signo igual         $t    Hora actual         $v    Versión de cmd\n\
\n\
Nótese que si se introduce el comando PROMPT sin una cadena de prompt\n\
reinicializa el prompt al valor por defecto, que es el directorio\n\
actual (que incluye la letra de la unidad actual) seguido por un signo\n\
mayor que (>).\n\
(como un comando PROMPT $p$g).\n\
\n\
El prompt puede también ser cambiado alterando la variable de entorno\n\
PROMPT, por lo que el comando 'SET PROMPT=texto' tiene el mismo efecto\n\
que 'PROMPT texto'\n"

  WCMD_REM,
"Una línea de comandos que empieza por REM (seguido de un espacio) no\n\
realiza ninguna acción, y puede por tanto ser utilizada como un\n\
comentario en un archivo por lotes.\n"

  WCMD_REN,    "Ayuda sobre REN\n"
  WCMD_RENAME, "Ayuda sobre RENAME\n"
  WCMD_RD,     "Ayuda sobre RD\n"
  WCMD_RMDIR,  "Ayuda sobre RMDIR\n"

  WCMD_SET,
"SET muestra o cambia las variables de entorno de cmd.\n\
\n\
SET sin parámetros muestra todas las variables de entorno actuales.\n\
\n\
Para crear o modificar una variable de entorno la sintaxis es:\n\
\n\
      SET <variable>=<valor>\n\
\n\
donde <variable> y <valor> son cadenas de caracteres. No debe haber\n\
espacios antes del signo igual, ni la variable puede contener espacios\n\
embebidos.\n\
\n\
Bajo Wine, el entorno del sistema operativo que hay por debajo se\n\
incluye en el entorno de Win32 por lo que, por lo general, habrá muchos\n\
más valores que en una implementación Win32 nativa. Nótese que no es\n\
posible afectar al entorno del sistema operativo desde cmd.\n"

  WCMD_SHIFT,
"SHIFT se utiliza en un archivo por lotes para eliminar un parámetro\n\
de la cabeza de la lista, por lo que el parámetro 2 se convierte en\n\
el parámetro 1 y demás. No tiene efecto si se llama desde la línea\n\
de comando.\n"

  WCMD_TIME,   "Ayuda sobre TIME\n"

  WCMD_TITLE,
"Ajusta el título de la ventana de cmd, sintaxis TITLE [cadena]\n"

  WCMD_TYPE,
"TYPE <nombre de archivo> copia <nombre de archivo> al dispositivo de\n\
consola (o a donde sea si se redirecciona). No se realiza ninguna\n\
comprobación de si el archivo es texto legible.\n"

  WCMD_VERIFY,
"VERIFY se usa para poner, quitar o probar la etiqueta de verificación.\n\
Las formas válidas son:\n\
\n\
VERIFY ON	Poner la bandera\n\
VERIFY OFF	Quitar la bandera\n\
VERIFY		Muestra ON u OFF como corresponda.\n\
\n\
La bandera de verificación no tiene funcionalidad en Wine.\n"

  WCMD_VER,
"VER muestra la versión de cmd que está ejecutando\n"

  WCMD_VOL,    "Ayuda sobre VOL\n"

  WCMD_PUSHD,
"PUSHD <nombre de directorio> almacena el directorio actual a una\n\
pila, y luego cambia el directorio actual al proporcionado.\n"

  WCMD_POPD,   "POPD cambia el directorio actual al último almacenado con\n\
PUSHD.\n"

  WCMD_MORE,   "MORE muestra la salida de archivos o entrada entubada por páginas.\n"

  WCMD_EXIT,
"EXIT termina la sesión de comandos actual y regresa al sistema\n\
operativo o intérprete de comandos desde el que invocó cmd.\n"

  1000, "Los comandos internos de CMD son:\n\
ATTRIB\t\tMostrar o cambiar los atributos de archivo de DOS\n\
CALL\t\tInvocar un archivo por lotes desde dentro de otro\n\
CD (CHDIR)\tCambiar el directorio por defecto actual\n\
CLS\t\tVaciar la pantalla de la consola\n\
COPY\t\tCopiar un archivo\n\
CTTY\t\tCambiar el dispositivo de entrada/salida\n\
DATE\t\tMostrar o cambiar la fecha del sistema\n\
DEL (ERASE)\tEliminar un archivo o conjunto de archivos\n\
DIR\t\tListar el contenido de un directorio\n\
ECHO\t\tCopiar texto directamente a la salida de consola\n\
HELP\t\tMostrar detalles breves de ayuda sobre un tema\n\
MD (MKDIR)\tCrear un subdirectorio\n\
MORE\t\tMostrar la salida por páginas\n\
MOVE\t\tMover un archivo, conjunto de archivos o árbol de directorio\n\
PATH\t\tAjustar o cambiar la ruta de búsqueda\n\
POPD\t\tRestaurar el directorio al último almacenado con PUSHD\n\
PROMPT\t\tCambiar el prompt de comandos\n\
PUSHD\t\tCambiar a un nuevo directorio, almacenando el actual\n\
REN (RENAME)\tRenombrar un archivo\n\
RD (RMDIR)\tEliminar un subdirectorio\n\
SET\t\tAjustar o mostrar variables de entorno\n\
TIME\t\tAjustar o mostrar la hora actual del sistema\n\
TITLE\t\tAjustar el título de la ventana para la sesión de CMD\n\
TYPE\t\tTeclear el contenido de un archivo de texto\n\
VER\t\tMostrar la versión actual de CMD\n\
VOL\t\tMostrar la etiqueta de volumen de un dispositivo de disco\n\
EXIT\t\tConcluir CMD\n\n\
Introduzca HELP <comando> para más información sobre cualquiera de los comandos\nde arriba\n"

  WCMD_CONFIRM, "Está seguro"
  WCMD_YES, "S"
  WCMD_NO, "N"
  WCMD_NOASSOC, "Falta una asociación de archivo para la extensión %s\n"
  WCMD_NOFTYPE, "Ningún comando de apertura asociado con el tipo de archivo '%s'\n"
  WCMD_OVERWRITE, "Overwrite %s"
  WCMD_MORESTR, "Más..."
  WCMD_TRUNCATEDLINE, "Line in Batch processing possibly truncated. Using:\n"
  WCMD_NYI, "Not Yet Implemented\n\n"
  WCMD_NOARG, "Argument missing\n"
  WCMD_SYNTAXERR, "Syntax error\n"
  WCMD_FILENOTFOUND, "%s : File Not Found\n"
  WCMD_NOCMDHELP, "No help available for %s\n"
  WCMD_NOTARGET, "Target to GOTO not found\n"
  WCMD_CURRENTDATE, "Current Date is %s\n"
  WCMD_CURRENTTIME, "Current Time is %s\n"
  WCMD_NEWDATE, "Enter new date: "
  WCMD_NEWTIME, "Enter new time: "
  WCMD_MISSINGENV, "Environment variable %s not defined\n"
  WCMD_READFAIL, "Failed to open '%s'\n"
  WCMD_CALLINSCRIPT, "Cannot call batch label outside of a batch script\n"
  WCMD_ALL, "A"
  WCMD_DELPROMPT, "%s, Delete"
  WCMD_ECHOPROMPT, "Echo is %s\n"
  WCMD_VERIFYPROMPT, "Verify is %s\n"
  WCMD_VERIFYERR, "Verify must be ON or OFF\n";
  WCMD_ARGERR, "Parameter error\n"
  WCMD_VOLUMEDETAIL, "Volume in drive %c is %s\nVolume Serial Number is %04x-%04x\n\n"
  WCMD_VOLUMEPROMPT, "Volume label (11 characters, ENTER for none)?"
}
