/*
 * Wine command prompt
 * Korean Language Support
 *
 * Copyright (C) 1999 D A Pickles
 * Copyright 2005,2007 YunSong Hwang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_KOREAN, SUBLANG_NEUTRAL

STRINGTABLE
{
  WCMD_ATTRIB, "ATTRIB 도움말\n"
  WCMD_CALL,
"<배치파일 이름>을 호출(CALL)하는 것은 배치 파일안에서  다른 배치 파일 안의 \n\
명령을 사용하는 것입니다. 배치 파일이 종료하면 , 제어권은  그것을 호출한 \n\
파일한테 돌아갑니다.  CALL 명령은 호출하는 과정에서 매개변수를 가집니다.\n\
\n\
기본 디렉토리나 환경변수나 기타를 바꾸는 것은 호출자에 의해 상속되어서 호출된  \n\
과정에만 적용됩니다.\n"

  WCMD_CD,     " CD 도움말\n"
  WCMD_CHDIR,  " CHDIR 도움말\n"

  WCMD_CLS,    "CLS 콘솔 화면 깨끗히\n"

  WCMD_COPY,   "COPY 도움말\n"
  WCMD_CTTY,   "CTTY 도움말\n"
  WCMD_DATE,   "DATE 도움말\n"
  WCMD_DEL,    "DEL 도움말\n"
  WCMD_DIR,    "DIR 도움말 \n"

  WCMD_ECHO,
"ECHO <문자열>은 <문자열>을 현재 터미널에 보여줍니다.\n\
\n\
ECHO ON는 배치파일에서 다음에 오는 모든 명령을 실행괴기 전에 터미널에 보여줍니다\n\
\n\
ECHO OFF 는 ECHO ON과 반대의 일을 합니다. (ECHO 는 OFF가 기본)\n\
ECHO OFF 명령은  신호가 진행되는 걸 보여주는걸 막습니다.\n"

  WCMD_ERASE,  "ERASE 도움말\n"

  WCMD_FOR,
"FOR 명령은  파일  모음에서 각각의 명령을 실행시킬 때 사용.\n\
\n\
문법: FOR 변수 IN (set) DO 명령\n\
\n\
 wine의 cmd 안에서 존재하지 않는 배치 파일에 FOR를 사용할려면 두 개의 %가 필요합니다.\n"

  WCMD_GOTO,
"The GOTO  명령은 배치파일 안에서 다른 부분으로 실행흐름을 바꿉니다.\n\
\n\
GOTO의 타겟인 라벨은 공백을 포함해서 255자까지 가능합니다\n\
(다른 운영체제에서는 다를 수도 있습니다).\n\
 만약 2개나 더 많은 동일한 라벨이 존재할 경우 배치파일은 첫번째 것만 \n\
실행시킬 것입니다. 존재하지 않는 라벨로 GOTO를 시도한다면 배치파일 실행은 \n\
중단됩니다.\n\
\n\
GOTO는 대화식으로 사용될 경우 아무 일도 안합니다.\n"

  WCMD_HELP,   "HELP 도움말\n"

  WCMD_IF,
"IF는 명령을 선택적으로 실행 할 때 사용한다.\n\
\n\
Syntax:	IF [NOT] EXIST 파일이름 명령\n\
	IF [NOT] string1==string2 명령\n\
	IF [NOT] ERRORLEVEL 숫자 명령\n\
\n\
명령의 첫번째 형식에서, string1 과 string2는 반드시 2개의 따옴표로\n\
둘려놓아야 합니다. 대소문자는 구분하지 않습니다.\n"

  WCMD_LABEL,  "LABEL은 디스크 볼륨 라벨을 설정할 때 사용.  \n\
\n\
Syntax: LABEL [드라이브:]\n\
이 명령은 당신이 주어진 드라이브에 새 볼륨 라벨울 넣을수 있도록 할것이다.\n\
VOL 명령으로 디스크 볼륨 라벨을 볼 수 있다.\n"

  WCMD_MD,     "MD 도움말\n"
  WCMD_MKDIR,  "MKDIR 도움말\n"
  WCMD_MOVE,
"MOVE는 파일이나 디렉토리를 파일시스템 안에 있는 새로운 곳으로  재배치함.\n\
\n\
만약 옮겨지는 아이템이 하나의 디렉토리라면 모든 파일과 하위 디렉토리 밑에\n\
있는 파일도 이동될 것이다.\n\
MOVE는 만약 오래되고 새로운 파일이 다른 도스 드라이브 문자를 가지고 있다면\n\
실패합니다.\n"

  WCMD_PATH,
"PATH 는 cmd 탐색 경로를 보여주거나 바꿈.\n\
\n\
PATH를 치면  현재 PATH 설정을 보여줄 것입니다 (이것은 당신의 wine.conf 파일에 \n\
주어진 값으로 시작됨). PATH 명령에 새 값을 줌으로써 설정을 바꿀 수 있습니다.\n\
\n\
또한  PATH 환경 변수를 사용해서 PATH를 고칠 수도 있습니다\n\
, 예:\n\
		PATH %PATH%;c:\\temp \n"

  WCMD_PAUSE,
"PAUSE는 'Press Return key to continue' 메세지를 화면에 보여주고 \n\
사용자가 리턴 키를 누를 때까지 기다림. 이것은 주로 배치파일에서  스크린을 \n\
넘치게 하는 이전 명령의 결과를 읽도록 한다\n"

  WCMD_PROMPT,
"PROMPT  명령라인 프롬프트 설정.\n\
\n\
이 문자는 cmd가 입력을 기다리고 있을 때 시작 줄에 나타나는 PROMPT  \n\
 명령(그리고 스페이스 다음에)에 뒤따른다.\n\
\n\
뒤의 문자의 문자열의 특별한 의미 설명:\n\
\n\
$$    달러 기호         $_   라인피드            $b    파이프 기호 (|)\n\
$d    C현재 날짜        $e    이스케이프         $g    > 기호\n\
$l    < 기호            $n    현재 드라이브      $p    현재 경로\n\
$q    등호 기호         $t    현재 시간          $v    cmd 버젼\n\
\n\
프롬프트가 기본상태인 채로 프롬프트문자를 재설정하지 않고 PROMPT 명령을 \n\
사용했을 때 ,이것은 현재 디렉토리 (포함해서현재 드라이브 문자) 에 \"보다 큰(>)\"\n\
기호가 뒤따른다는 걸 주의하시오. (명령 PROMPT $p$g롸 같이).\n\
\n\
이 프롬프트는 PROMPT 환경 변수 값의 변경에 의해 바뀔 수 있습니다,\n\
그래서 명령 'SET PROMPT=텍스트'는 'PROMPT 텍스트와 같은 일을 합니다\n"

  WCMD_REM,
"REM로 시작하는 명령 라인은 (공백을 포함해서) 아무일도 안 합니다,\n\
그리고 배치파일에 설명을 넣는데 사용합니다.\n"

  WCMD_REN,    "REN  도움말 \n"
  WCMD_RENAME, "RENAME 도움말\n"
  WCMD_RD,     "RD  도움말\n"
  WCMD_RMDIR,  "RMDIR 도움말\n"

  WCMD_SET,
"SET  cmd 환경 변수 보여주거나 바꾸기.\n\
\n\
아무 매개변수가 없는 SET은 모든 현재 환경변수를 보여줌.\n\
\n\
환경 변수를 만들거나 고칠때 사용하는 문법:\n\
\n\
      SET <변수>=<값>\n\
\n\
<변수> 과 <값>은 캐릭터-문자열 이다. 반드시 등호(=)기호 앞에 어떤\n\
공백도 있어선 안되고, 변수 이름에 내부 공백도 있을 수 없다.\n\
\n\
Wine 아래에서, 운영체제 밑의 환경은 Win32 환경에 포함됩니다, 그것은\n\
일반적으로 네이티브 Win32 구현에는 더 많은 값이 있어야 된 다는 것을\n\
의미합니다. 이것은 cmd안에서 운영체제 환경이 영향을 미치는거 것은\n\
가능하지 않다는 것을 기억하시오.\n"

  WCMD_SHIFT,
"SHIFT 는 배치파일에서 매개변수의 첫번째 것을 지우는데 사용한다,\n\
그래서 매개변수 2가 매개변수 1이 된다. 이것은 명령 라인에서 사용했을\n\
경우 아무 일도 안 합니다.\n"

  WCMD_TIME,   "TIME  도움말\n"

  WCMD_TITLE,  "cmd창의 창 제목 설정, 문법 TITLE [문자열]\n"

  WCMD_TYPE,
"TYPE <파일이름>  <파일 이름>를 콘솔 장치로 복사 (만약 방향이 재정의 된다면 \n\
어디나). 아무 에러가 없으면 그 파일을 읽을 수 있는 텍스트입니다.\n"

  WCMD_VERIFY,
"VERIFY는  verify 플래그를 설정하고, 지우고, 테스트 하는데 사용된다.\n\
올바른 형태는:\n\
\n\
VERIFY ON	플래그 컴\n\
VERIFY OFF플래그 끔\n\
VERIFY		 ON 이나 OFF를 적절하게보여줌 .\n\
\n\
verify 플래그는 Wine에서는 어떤 일도 안합니다.\n"

  WCMD_VER,
"VER  당신이 실행시킨 cmd 버젼 보여줌\n"

  WCMD_VOL,    "VOL 도움말\n"

  WCMD_PUSHD,  "PUSHD <디렉토리 이름> 은 현재 디렉토리를 스택에 저장한다.\n\
	   그리고 현재 디렉토리를 요청한 디렉토리로 바꾼다.\n"

  WCMD_POPD,   "POPD는 현재 디렉토리를 PUSH로 마지막으로 저장했던 것으로 바꾼다.\n"

  WCMD_MORE,   "MORE는 파일 출력을 보여주거나 페이지의 파이프로도 된 입력을 보여준다.\n"

  WCMD_EXIT,
"EXIT는 현재 명령 세션을 중단시키고 운영체제로 돌아가거나 cmd를\n\
호출한 셀로 돌아갑니다.\n"

  1000, "CMD 내부 명령들:\n\
ATTRIB\t\t도스 파일 속 보여주거나 바꾸기\n\
CALL\t\tI배치 파일 안에서 다른 파일  불러오기\n\
CD (CHDIR)\t현제 기본 디렉토리 바꾸기\n\
CLS\t\t콘솔 화면 깨끗하게\n\
COPY\t\t파일 복사\n\
CTTY\t\t입출력 장치 바꾸기\n\
DATE\t\t시스템 날짜 보여주거나 바꾸기\n\
DEL (ERASE)\t하나의 파일이나 여러 파일을 지우기\n\
DIR\t\t디렉토리 내용 보여주기\n\
ECHO\t\t문자를 바로 화면 출력으로 복사\n\
HELP\t\t 목차의 짤막한 도움말 항목 보여줌\n\
MD (MKDIR)\t하위 디렉토리 만들기\n\
MORE\t\t페이지 출력 보여주기\n\
MOVE\t\t파일 이나 여러 파일,그리고 디렉토리 구조 이동\n\
PATH\t\t탐색 경로 보여주거나 설정하기\n\
POPD\t\tPUSHD로 마지막으로 저장했던 디렉토리로 돌아가기\n\
PROMPT\t\t명령 프롬프트 바꾸기\n\
PUSHD\t\t현재 디렉토리를 저장하고, 새 디렉토리롤 바꾸기\n\
REN (RENAME)\t파일 이름 바꾸기\n\
RD (RMDIR)\t하위 디렉토리 지우기\n\
SET\t\t환경 변수 보여주거나 바꾸기\n\
TIME\t\t시스템 날짜 바꾸거나 보여주기\n\
TITLE\t\tCMD  세션의 창 제목 설정 \n\
TYPE\t\t텍스트 파일의 내용 보여주기\n\
VER\t\tCMD 현재 버젼 보여주기\n\
VOL\t\t디스크 장치의 불륨 라벨 보여주기\n\
EXIT\t\tCMD 닫기\n\n\
HELP <명령>을 치면 그 명령의 상세한 정보를 보여줌\n"

  WCMD_CONFIRM, "당신은 확신합니까?"
  WCMD_YES, "예"
  WCMD_NO, "아니오"
  WCMD_NOASSOC, "이 파일확장자 %s에 연결된 풀그림이 없습니다. \n"
  WCMD_NOFTYPE, "이 파일 형식 '%s'과 연결된 어떠한 명령도 없습니다.'\n"
  WCMD_OVERWRITE, "덮어쓰기"
  WCMD_MORESTR, "더 많이..."
}
