/*
 * Wine command prompt
 * Polish Language Support
 *
 * Copyright (C) 1999 D A Pickles
 * Copyright (C) 2004 Piotr Caban
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE
{
  WCMD_ATTRIB, "Pomoc o ATTRIB\n"
  WCMD_CALL,
"CALL <nazwa pliku bat> jest u¿ywane w pliku typu bat do uruchamiania\n\
komend z innego pliku bat. Nastêpnie powraca do pliku, z którego zosta³a\n\
wywo³ana (je¿eli istnieje). Komenda CALL mo¿e przekazywaæ parametry do\n\
wywo³ywanej procedury.\n\
\n\
Zmiany domyœlnego katalogu, zmiennych œrodowiskowych itd. wykonane przez\n\
wywo³an¹ procedure s¹ dziedziczone przez skrypt wywo³uj¹cy CALL.\n"

  WCMD_CD,     "Pomoc o CD\n"
  WCMD_CHDIR,  "Pomoc o CHDIR\n"

  WCMD_CLS,    "CLS czyœci ekran konsoli\n"

  WCMD_COPY,   "Pomoc o COPY\n"
  WCMD_CTTY,   "Pomoc o  CTTY\n"
  WCMD_DATE,   "Pomoc o  DATE\n"
  WCMD_DEL,    "Pomoc o  DEL\n"
  WCMD_DIR,    "Pomoc o  DIR\n"

  WCMD_ECHO,
"ECHO <ci¹g znaków> drukuje <ci¹g znków> do aktualnego u¿¹dzenia.\n\
\n\
ECHO ON powoduje, ¿e wszystkie komendy z pliku bat s¹ drukowane\n\
do aktualnego urz¹dzenia przed wywo³aniem.\n\
\n\
ECHO OFF odwraca efekt komendy ECHO ON (ECHO jest wy³¹czone (OFF)\n\
standardowo). Komenda ECHO OFF mo¿e zostaæ nie wyœwietlona je¿eli\n\
zostanie poprzedzona znakiem @.\n"

  WCMD_ERASE,  "Pomoc o  ERASE\n"

  WCMD_FOR,
"Komenda FOR s³u¿y do uruchomienia komendy dla ka¿dego z plików ze\n\
zbioru.\n\
Sk³adnia: FOR %zmienna IN (zbiór) DO polecenie\n\
\n\
Wymóg powtarzania znaku %, gdy u¿ywamy komendy FOR w pliku bat nie\n\
istnije w cmd\n"

  WCMD_GOTO,
"Komenda GOTO przenosi kursor do innego miejsca w pliku bat.\n\
\n\
Etykieta, która jest celem skoku (komendy GOTO) mo¿e mieæ maksymalnie\n\
255 znaków d³ugoœci, nie mo¿e zawieraæ spacji. Je¿eli s¹ dwie (lub\n\
wiêcej) etykiety o takich samych nazwach skok zostanie wykonany do\n\
pierwszej z nich. Je¿eli etykieta nie istnije wykonywanie pliku zostaje\n\
przerwane.\n"

  WCMD_HELP,   "Pomoc o HELP\n"

  WCMD_IF,
"IF jest u¿ywane do warunkowego wykonywania poleceñ\n\
\n\
Sk³adnia:	IF [NOT] EXIST nazwa_pliku komenda\n\
	IF [NOT] ci¹g_znaków1==ci¹g_znaków2 komenda\n\
	IF [NOT] ERRORLEVEL numer komenda\n\
\n\
W drugiej formie (ci¹g_znaków1==ci¹g_znaków2) ci¹g znaków musi byæ zawarty w\n\
cudzys³owie.Przy porównywaniu pomijana jest wielkoœæ znaków.\n"

  WCMD_LABEL,  "LABEL jest u¿ywane do ustawienia etykiety dysku.\n\
\n\
Sk³adnia: LABEL [dysk:]\n\
Komenda poprosi o podanie nowej etykiety dysku.\n\
Mo¿esz wyœwietliæ aktualn¹ etykietê komend¹ VOL.\n"

  WCMD_MD,     "Pomoc o MD\n"
  WCMD_MKDIR,  "Pomoc o MKDIR\n"
  WCMD_MOVE,
"MOVE zmienia po³o¿enie wybranego pliku lub katalogu.\n\
\n\
Je¿eli przemieszczany jest katalog wszystkie podkatalogi\n\
i pliki s¹ tak¿e przesówane.\n\
\n\
MOVE dzia³a tylko w obrêbie jednego dysku.\n"

  WCMD_PATH,
"PATH wyœwitla lub zmienia œcie¿ke w której wyszukuje cmd.\n\
\n\
Komenda PATH bez parametrów wyœwietla aktualn¹ œcie¿kê. Aby j¹\n\
zmieniæ nale¿y wywo³aæ PATH za którym wystêpuje nowa œcie¿ka.\n\
\n\
Umieszczenie wyra¿enia %PATH% przy poawaniu nowej œcie¿ki\n\
powoduje wstawienie starej œcie¿ki, na przyk³ad:\n\
		PATH %PATH%;c:\\temp \n"

  WCMD_PAUSE,
"PAUSE wyœwietla informacje 'Naciœnij Enter aby kontynuowaæ' i czeka,\n\
a¿ u¿ytkownik naciœnie klawisz Enter. Funkcja ta jest u¿yteczna w plikach\n\
typu bat, aby umo¿liwiæ u¿ytkownikowi przeczytanie informacji wyœwietlonych\n\
na ekranie.\n"

  WCMD_PROMPT,
"PROMPT ustawia tekst zg³oszenia konsoli.\n\
\n\
Tekst wystêpuj¹cy za komend¹ (i spacje wystêpuj¹ce za nim)\n\
pojawiaj¹ siê na pocz¹tku lini gdy cmd czeka na komendê.\n\
\n\
Nastêpuj¹ce ci¹gi znaków maj¹ specjalne znaczenie:\n\
\n\
$$    Znak dolara ($)     $_    Znak _              $b    Znak |\n\
$d    Data                $e    Escape              $g    Znak >\n\
$l    Znak <              $n    Dysk                $p    Œcie¿ka\n\
$q    Znak =              $t    Czas                $v    Wersja cmd\n\
\n\
Wpisanie PROMPT bez opcji resetuje ustawienia konsoli zwi¹zane z komend¹\n\
PROMPT, ustawia wyœwietlany tekst na œcie¿ke i znak >.\n\
(Tak samo jak polecenie PROMPT $p$g).\n\
\n\
Polecenie 'SET PROMPT=tekst' ma taki sam efekt jak 'PROMPT tekst'\n"

  WCMD_REM,
"Polecenie poprzedzone komend¹ REM nie jest wykonywane, mo¿e byæ\n\
stosowane jako komenta¿ w pliku typu bat.\n"

  WCMD_REN,    "Pomoc o REN\n"
  WCMD_RENAME, "Pomoc o RENAME\n"
  WCMD_RD,     "Pomoc o RD\n"
  WCMD_RMDIR,  "Pomoc o RMDIR\n"

  WCMD_SET,
"SET wyœwietla lub ustawia zmienne œrodowiskowe cmd.\n\
\n\
SET bez parametrów wyœwitla wszystkie ustawione zmienne.\n\
\n\
Sk³adnia polecenia (by utworzyæ lub zmodyfikowaæ zmienn¹:\n\
\n\
      SET <zmienna>=<wartoœæ>\n\
\n\
gdzie <zmienna> i <wartoœæ> s¹ ci¹gami znaków. Spacja nie mo¿e\n\
wystêpowaæ przed znakiem równoœci, nazwa zmiennej nie mo¿e zawieraæ\n\
spacji.\n\
\n\
Pod Wine'em zmienne œrodowiskowe systemu operacyjnego s¹ dodawane do\n\
zmiennych œrodowiskowych Win32, ztego powodu jest wiêcej zmiennych ni¿\n\
w implementacji Win32. Wine nie modyfikuje zmiennych œrodowiskowych\n\
systemu.\n"

  WCMD_SHIFT,
"SHIFT jest u¿ywane w plikach bat do usuniêcia pierwszego parametru z listy\n\
parametrów, parametr 2 staje sie 1 itd. Polecenie to nie ma efektu gdy jest\n\
wywo³ywane z lini komend.\n"

  WCMD_TIME,   "Pomoc o TIME\n"

  WCMD_TITLE,  "Ustawia nazwê okna cmd, sk³adnia TITLE [ci¹g znaków]\n"

  WCMD_TYPE,
"TYPE <nazwa pliku> wyœwietla zawartoœc pliku, nie jest sprawdzane, czy\n\
jest on plikiem tekstowym.\n"

  WCMD_VERIFY,
"VERIFY jest u¿ywane do ustawienia wartoœci flagi verify. Prawid³owa sk³adnia:\n\
\n\
VERIFY ON	Ustawia flagê\n\
VERIFY OFF	Usuwa flagê\n\
VERIFY		Wyœwietla ON lub OFF w zale¿noœci od stanu flagi.\n\
\n\
Ustawienia flagi nic nie zmieniaj¹ pod Wine'em.\n"

  WCMD_VER,
"VER wyœwietla wersjê cmd.\n"

  WCMD_VOL,    "Pomoc o VOL\n"

  WCMD_PUSHD, "PUSHD <nazwakatalogu> zapamiêtuje aktualny katalog na stosie, a\n\
               nastêpnie przechodzi do katalogu podanego jako parametr\n"

  WCMD_POPD, "POPD ustala aktualny katalog na ostatni katalog zapamiêtany przez\n\
              PUSHD\n"

  WCMD_MORE,   "MORE displays output of files or piped input in pages.\n"

  WCMD_EXIT,
"EXIT koñczy bierz¹c¹ sesjê cmd i powraca do systemu operacyjnego\n\
lub pow³oki, w której uruchomiono cmd.\n"

  1000, "CMD - wbudowane komendy:\n\
ATTRIB\t\tPokazuje lub zmienia atrybuty pliku\n\
CALL\t\tWywo³uje plik bat z innego pliku\n\
CD (CHDIR)\tZmienia bierz¹cy katalog\n\
CLS\t\tCzyœci ekran konsoli\n\
COPY\t\tKopiuje plik\n\
CTTY\t\tZmienia urz¹dzenie wyjœcia/wejœcia\n\
DATE\t\tPokazuje lub zmienia date systemow¹\n\
DEL (ERASE)\tUsuwa plik lub pliki\n\
DIR\t\tWyœwietla zawartoœæ katalogu\n\
ECHO\t\tKopiuje tekst na wyjœcie konsoli\n\
HELP\t\tWyœwietla dok³adniejsz¹ pomoc o komendzie\n\
MD (MKDIR)\tTworzy katalog\n\
MORE\t\tDisplay output in pages\n\
MOVE\t\tPrzenosi katalog lub pliki\n\
PATH\t\tUstawia lub wyœwietla œcie¿kê przeszukiwania\n\
POPD\t\tWraca do katalogu zapamiêtanego przez PUSHD\n\
PROMPT\t\tZmienia tekst zg³oszenia\n\
PUSHD\t\tPrzechodzi do nowego katalogu zapamiêtuj¹c stary\n\
REN (RENAME)\tZmienia nazwê pliku\n\
RD (RMDIR)\tUsuwa katalog\n\
SET\t\tUstawia lub wyœwietla zmienne œrodowiskowe\n\
TIME\t\tUstawia lub wyœwietla czas\n\
TITLE\t\tUstawia tytu³ okna CMD\n\
TYPE\t\tWyœwietla zawartoœæ pliku\n\
VER\t\tWyœwietla wersjê CMD\n\
VOL\t\tWyœwietla etykietê dysku\n\
EXIT\t\tWy³¹cza CMD\n\n\
Wpisz HELP <komenda> dla dok³adniejszych informacji o komendzie\n"

  WCMD_CONFIRM, "Are you sure"
  WCMD_YES, "Y"
  WCMD_NO, "N"
  WCMD_NOASSOC, "File association missing for extension %s\n"
  WCMD_NOFTYPE, "No open command associated with file type '%s'\n"
  WCMD_OVERWRITE, "Overwrite %s"
  WCMD_MORESTR, "More..."
  WCMD_TRUNCATEDLINE, "Line in Batch processing possibly truncated. Using:\n"
  WCMD_NYI, "Not Yet Implemented\n\n"
  WCMD_NOARG, "Argument missing\n"
  WCMD_SYNTAXERR, "Syntax error\n"
  WCMD_FILENOTFOUND, "%s : File Not Found\n"
  WCMD_NOCMDHELP, "No help available for %s\n"
  WCMD_NOTARGET, "Target to GOTO not found\n"
  WCMD_CURRENTDATE, "Current Date is %s\n"
  WCMD_CURRENTTIME, "Current Time is %s\n"
  WCMD_NEWDATE, "Enter new date: "
  WCMD_NEWTIME, "Enter new time: "
  WCMD_MISSINGENV, "Environment variable %s not defined\n"
  WCMD_READFAIL, "Failed to open '%s'\n"
  WCMD_CALLINSCRIPT, "Cannot call batch label outside of a batch script\n"
  WCMD_ALL, "A"
  WCMD_DELPROMPT, "%s, Delete"
  WCMD_ECHOPROMPT, "Echo is %s\n"
  WCMD_VERIFYPROMPT, "Verify is %s\n"
  WCMD_VERIFYERR, "Verify must be ON or OFF\n";
  WCMD_ARGERR, "Parameter error\n"
  WCMD_VOLUMEDETAIL, "Volume in drive %c is %s\nVolume Serial Number is %04x-%04x\n\n"
  WCMD_VOLUMEPROMPT, "Volume label (11 characters, ENTER for none)?"
}
