/*
 * Wine command prompt (Russian resources)
 *
 * Copyright 2003 Igor Stepin
 * Copyright 2007 Lyutin Anatoly
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
{
  WCMD_ATTRIB, "Справка об ATTRIB\n"
  WCMD_CALL,
"CALL <имя bat-файла> используется в bat-файлах для запуска других\n\
bat-файлов. При выходе из bat-файла управление возвращается\n\
файлу, вызвавшему его. Команда CALL может передавать параметры\n\
вызванному bat-файлу.\n\
\n\
Изменения каталога по умолчанию, переменных окружения и т.д., сделанные\n\
вызванной процедурой, наследуются вызвавшему.\n"

  WCMD_CD,     "Справка о CD\n"
  WCMD_CHDIR,  "Справка о CHDIR\n"

  WCMD_CLS,    "CLS очищает экран консоли\n"

  WCMD_COPY,   "Справка о COPY\n"
  WCMD_CTTY,   "Справка о CTTY\n"
  WCMD_DATE,   "Справка о DATE\n"
  WCMD_DEL,    "Справка о DEL\n"
  WCMD_DIR,    "Справка о DIR\n"

  WCMD_ECHO,
"ECHO <строка> отображает <строку> на текущем терминальном устройстве.\n\
\n\
ECHO ON включает отображение всех последующих команд в bat-файле\n\
в терминал перед их выполнением.\n\
\n\
ECHO OFF даёт эффект, противоположный ECHO ON (ECHO отключено (OFF) по\n\
умолчанию). Знак @, предшествующий ECHO OFF, препятствует её отображению.\n"

  WCMD_ERASE,  "Справка об ERASE\n"

  WCMD_FOR,
"FOR используется для применения заданной <команды> для\n\
одного файла или набора файлов.\n\
\n\
Синтаксис: FOR %переменная IN (набор) DO команда\n\
\n\
Необходимость в удвоении знака % при использовании FOR в bat-файлах\n\
отсутствует в cmd.\n"


  WCMD_GOTO,
"GOTO передаёт управление на строку, помеченную специальной меткой, в\n\
пределах bat-файла.\n\
\n\
Метка, являющаяся целью GOTO, может иметь длину до 255 символов, но\n\
не может содержать пробелы (это отличие от других операционных\n\
систем). Если в bat-файле присутствует две или более метки с одинаковым именем,\n\
то передаваться управление будет всегда на первую.\n\
Попытка GOTO перейти по несуществующей метке прерывает выполнение bat-файла.\n\
\n\
Команда GOTO не работает в интерактивном режиме.\n"

  WCMD_HELP,   "Справка о HELP\n"

  WCMD_IF,
"IF осуществляет условную обработку.\n\
\n\
Синтаксис:	IF [NOT] EXIST файл команда\n\
		IF [NOT] \"строка1\"==\"строка2\" команда\n\
		IF [NOT] ERRORLEVEL число команда\n\
\n\
В первом примере команда EXIST проверяет существование файла.\n\
Во втором примере сравнение не зависит от регистра.\n\
В третьем примере ERRORLEVEL - значение, возвращаемое программой после выполнения.\n\
IF проверяет ERRORLEVEL на >= <число>.\n"

  WCMD_LABEL,
"LABEL задаёт метку диска.\n\
\n\
Синтаксис: LABEL [диск:]\n\
Команда выводит подсказку о создании новой метки для диска.\n\
Посмотреть текущую метку диска возможно с помощью команды VOL.\n"


  WCMD_MD,     "Справка о MD\n"
  WCMD_MKDIR,  "Справка о MKDIR\n"
  WCMD_MOVE,
"MOVE перемещает файл или каталог на новое место файловой системы.\n\
\n\
Если перемещается каталог, то все файлы и подкаталоги внутри него\n\
также переместятся.\n\
\n\
MOVE не работает для перемещения данных с одного логического диска на другой.\n"

  WCMD_PATH,
"PATH отображает или изменяет маршрут поиска в cmd.\n\
\n\
Команда PATH отображает текущую установку пути поиска исполняемых файлов\n\
(первоначально это значение задаётся в Вашем wine.conf файле).\n\
Для изменения значения вызовите PATH с новым значением.\n\
\n\
Так же возможно изменять значение PATH, используя значение переменной\n\
окружения PATH, например:\n\
		PATH %PATH%;c:\\temp \n"

  WCMD_PAUSE,
"PAUSE выводит на экран сообщение 'Press Return key to continue'\n\
и ждёт пока пользователь не нажмёт клавишу Return. Она используется\n\
в bat-файлах для того, чтобы пользователь смог прочесть вывод предыдущей команды\n\
прежде чем он исчезнет с экрана.\n"

  WCMD_PROMPT,
"PROMPT изменяет вид подсказки командной строки.\n\
\n\
Строка, идущая после команды PROMPT (и за пробелом после команды),\n\
появляется в начале строки, когда cmd ждёт ввода.\n\
\n\
Следующие строки имеют предопределённые значения, которые можно отобразить:\n\
\n\
$$    Знак доллара        $_    Linefeed            $b    Знак Pipe (|)\n\
$d    Текущая дата        $e    Esc-символ (27)     $g    Знак >\n\
$l    Знак <              $n    Текущий диск        $p    Текущий путь\n\
$q    Знак равно          $t    Текущее время       $v    Версия cmd\n\
\n\
При вводе команды PROMPT без новой строки подсказки\n\
подсказка устанавливается по умолчанию (буква текущего диска, путь до текущего\n\
каталога и знак больше (>).\n\
(как при вызове PROMPT $p$g).\n\
\n\
Подсказка может быть также изменена сменой переменной окружения PROMPT,\n\
поэтому команда 'SET PROMPT=<текст>' имеет такой же эффект, как 'PROMPT <text>'\n"

  WCMD_REM,
"Командная строка, начинающаяся с REM (с последующим пробелом) не выполняет\n\
никаких действий, поэтому REM используется для комментариев в bat-файлах.\n"

  WCMD_REN,    "Справка о REN\n"
  WCMD_RENAME, "Справка о RENAME\n"
  WCMD_RD,     "Справка о RD\n"
  WCMD_RMDIR,  "Справка о RMDIR\n"

  WCMD_SET,
"SET показывает или изменяет переменные окружения cmd.\n\
\n\
SET без параметров показывает всё текущее окружение.\n\
\n\
Для создания или изменения переменной окружения используйте:\n\
\n\
      SET <переменная>=<значение>\n\
\n\
где <переменная> и <значение> являются символьными строками. Перед знаком\n\
равно не должно быть пробелов, имя переменной не может содержать\n\
пробелы.\n\
\n\
В Wine переменные окружения основной операционной системы включены\n\
в окружение Win32, поэтому будет доступно несколько больше\n\
переменных, чем в обычной Win32. Стоит отметить,\n\
что невозможно изменить окружение операционной системы из cmd.\n"

  WCMD_SHIFT,
"SHIFT используется в bat-файлах для удаления одного параметра с вершины\n\
списка, таким образом параметр 2 переместится в параметр 1 и так далее.\n\
SHIFT не работает при вызове в командной строке.\n"

  WCMD_TIME,   "Справка о TIME\n"

  WCMD_TITLE,  "Устанавливает заголовок окна cmd для текущей сессии.\n Синтаксис: TITLE <строка>\n"

  WCMD_TYPE,
"TYPE <файл> копирует <файл> в устройство консоли (или куда угодно, если он перенаправлен).\n\
Проверка на то, что файл - это текст, предназначенный для чтения, отсутствует.\n"

  WCMD_VERIFY,
"VERIFY предназначена для установки, сброса или определения флага проверки\n\
корректности записи файлов на диск. Возможные значения:\n\
\n\
VERIFY ON	Установить флаг\n\
VERIFY OFF	Сбросить флаг\n\
VERIFY		Выводит текущее состояние: ON или OFF.\n\
\n\
Флаг verify не используется Wine.\n"

  WCMD_VER,
"VER отображает версию запущенного cmd\n"

  WCMD_VOL,    "Справка о VOL\n"

  WCMD_PUSHD,  "PUSHD <directoryname> saves the current directory onto a\n\
stack, and then changes the current directory to the supplied one.\n"

  WCMD_POPD,   "POPD changes current directory to the last one saved with\n\
PUSHD.\n"

  WCMD_MORE,   "MORE displays output of files or piped input in pages.\n"

  WCMD_EXIT,
"EXIT завершает текущую командную сессию и возвращает\n\
в операционную систему или оболочку из которой был запущен cmd.\n"

  WCMD_ALLHELP, "Встроенные команды CMD:\n\
ATTRIB\t\tПоказать или изменить DOS-атрибуты файла\n\
CALL\t\tЗапустить bat-файл из другого bat-файла\n\
CD (CHDIR)\tСменить текущую папку\n\
CLS\t\tОчистить экран консоли\n\
COPY\t\tСкопировать файл\n\
CTTY\t\tСменить устройство ввода/вывода\n\
DATE\t\tПоказать или изменить системную дату\n\
DEL (ERASE)\tУдалить файл или набор файлов\n\
DIR\t\tПоказать содержание папки\n\
ECHO\t\tСкопировать текст прямо на выход консоли\n\
HELP\t\tПоказать крадкую подсказку по команде\n\
MD (MKDIR)\tСоздать папку\n\
MORE\t\tDisplay output in pages\n\
MOVE\t\tПереместить файл, набор файлов или дерево папок\n\
PATH\t\tПоказать или изменить путь поиска программ\n\
POPD\t\tRestores the directory to the last one saved with PUSHD\n\
PUSHD\t\tChanges to a new directory, saving the current one\n\
PROMPT\t\tИзменить приглашение командной строки\n\
REN (RENAME)\tПереименовать файл\n\
RD (RMDIR)\tУдалить папку\n\
SET\t\tПоказать или изменить переменные окружения\n\
TIME\t\tПоказать или изменить текущее системное время\n\
TITLE\t\tУстанавить заголовок окна cmd для текущей сессии\n\
TYPE\t\tВывести содержание текстового файла\n\
VER\t\tПоказать текущую версию CMD\n\
VOL\t\tПоказать метку тома дискового устройства\n\
EXIT\t\tВыйти из CMD\n\n\
Выполните HELP <команда> для дополнительной информации по перечисленным выше командам.\n"

  WCMD_CONFIRM, "Вы уверены?"
  WCMD_YES, "Д"
  WCMD_NO, "Н"
  WCMD_NOASSOC, "Файл, ассоциированный с расширением %s,отсутствует\n"
  WCMD_NOFTYPE, "Не работает команда, ассоциированная с файлом '%s'\n"
  WCMD_OVERWRITE, "Перезаписано %s"
  WCMD_MORESTR, "Дальше..."
  WCMD_TRUNCATEDLINE, "Строка в обрабатываемом bat-файле возможно урезана. Используем:\n"
  WCMD_NYI, "Ещё не выполнено\n\n"
  WCMD_NOARG, "Отсутствует аргумент\n"
  WCMD_SYNTAXERR, "Синтаксическая ошибка\n"
  WCMD_FILENOTFOUND, "%s : Файл не найден\n"
  WCMD_NOCMDHELP, "Справка для %s отсутствует\n"
  WCMD_NOTARGET, "Цель для GOTO не найдена\n"
  WCMD_CURRENTDATE, "Текущая дата %s\n"
  WCMD_CURRENTTIME, "Текущее время %s\n"
  WCMD_NEWDATE, "Введите новую дату: "
  WCMD_NEWTIME, "Введите новое время: "
  WCMD_MISSINGENV, "Переменная окружения %s не определена\n"
  WCMD_READFAIL, "Ошибка при открытии '%s'\n"
  WCMD_CALLINSCRIPT, "Не могу вызвать метку bat-файла вне bat-скрипта\n"
  WCMD_ALL, "В"
  WCMD_DELPROMPT, "%s, Удалено"
  WCMD_ECHOPROMPT, "Echo установлено в %s\n"
  WCMD_VERIFYPROMPT, "Verify установлено в %s\n"
  WCMD_VERIFYERR, "Verify должен быть либо ON, либо OFF\n";
  WCMD_ARGERR, "Неверный параметр\n"
  WCMD_VOLUMEDETAIL, "Объём диска %c %s\n Серийный номер %04x-%04x\n\n"
  WCMD_VOLUMEPROMPT, "Метка диска (11 символов, ENTER для ввода пустой метки)?"
  WCMD_NOPATH, "PATH не найден\n"
  WCMD_ANYKEY,"Нажмите ввод для продолжения: "
  WCMD_CONSTITLE,"Приглашение командной строки Wine"
  WCMD_VERSION,"Версия CMD %s\n\n"
  WCMD_MOREPROMPT, "More? "
}
