/*
 * Wine command prompt
 * Ukrainian Language Support
 *
 * Copyright (C) 1999 D A Pickles
 * Copyright (C) 2010 Igor Paliychuk
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "wcmd.h"

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
{
  WCMD_ATTRIB, "ATTRIB відображає або змінює атрибути файлу DOS.\n"
  WCMD_CALL,
"CALL <ім'я_пакетного_файлу> використовується в пакетному файлі для виконання\n\
команд з іншого пакетного файлу. Якщо пакетний файл існує, керування\n\
повертається до файлу, який його викликав. Команда CALL може передати\n\
параметри до викликаної процедури.\n\
\n\
Зміни теки за замовчуванням, змінних оточення та ін., зроблені викликаною\n\
процедурою, успадковуються тим, хто її викликав.\n"

  WCMD_CD,     "CD <тека> це короткий варіант CHDIR. Вона змінює поточну\n\
теку за зомовчуванням.\n"
  WCMD_CHDIR,  "CHDIR <тека> змінює поточну теку за замовчуванням.\n"

  WCMD_CLS,    "CLS очищує екран консолі.\n"

  WCMD_COPY,   "COPY <ім'я_файлу> копіює файл.\n"
  WCMD_CTTY,   "CTTY змінює пристрій вводу/виводу.\n"
  WCMD_DATE,   "DATE показує чи змінює системну дату.\n"
  WCMD_DEL,    "DEL <ім'я_файлу> видадяє файл чи набір файлів.\n"
  WCMD_DIR,    "DIR показує вміст теки.\n"

  WCMD_ECHO,
"ECHO <рядок> відображає <рядок> на поточному термінальному пристрої.\n\
\n\
ECHO ON вмикає відображення всіх наступних команд пакетного файлу\n\
в термінальному пристрої перед їх виконанням.\n\
\n\
ECHO OFF дає протилежний ефект до попередьної ECHO ON (ECHO вимкнено\n\
(OFF) за замовчуванням). Команда ECHO OFF може бути прихована зазначенням\n\
перед нею знаку @.\n"

  WCMD_ERASE,  "ERASE <ім'я_файлу> видаляє файл чи набір файлів.\n"

  WCMD_FOR,
"FOR використовується для виконання команди для кожного набору файлів.\n\
\n\
Синтаксис: FOR %змінна IN (набір) DO команда\n\
\n\
Немає необхідності подвоєння знаку % при використанні FOR в пакетних\n\
файлах в cmd від wine.\n"

  WCMD_GOTO,
"Команда GOTO передає керування певному рядку пакетного файлу.\n\
\n\
Мітка, що є ціллю GOTO, може мати довжину до 255 знаків, але\n\
не повинна містити пробіли (відмінність від інших операційних\n\
систем). Якщо в пакетному файлі є дві чи більше однакових мітки,\n\
завжди буде працювати перша. Спроба GOTO перейти до неіснуючої\n\
мітки перериває виконання пакетного файлу.\n\
\n\
GOTO не працює в інтерактивному режимі.\n"

  WCMD_HELP,   "HELP <команда> показує коротку довідкову інформацію про команду.\n\
HELP без аргументів показує всі вбудовані команди CMD.\n"

  WCMD_IF,
"IF використовується для умовної обробки команди.\n\
\n\
Синтаксис:	IF [NOT] EXIST ім'я_файлу команда\n\
		IF [NOT] рядок1==рядок2 команда\n\
		IF [NOT] ERRORLEVEL число команда\n\
\n\
В другій формі команди, рядок1 та рядок2 повинні бути в\n\
подвійних лапках. Порівняння не чутливе до регістру.\n"

  WCMD_LABEL,  "LABEL використовується щоб задати мітку диску.\n\
\n\
Синтаксис: LABEL [диск:]\n\
Команда запитує нову мітку тому для відповідного диску.\n\
З допомогою команди VOL ви можете подивитись мітку диску.\n"

  WCMD_MD,
"MD <ім'я> це коротка версія MKDIR. Вона створює пвдтеку.\n"
  WCMD_MKDIR,  "MKDIR <ім'я> створює підтеку.\n"
  WCMD_MOVE,
"MOVE переміщує файл чи теку на нове місце файлової системи.\n\
\n\
Якщо переміщується тека, то переміщуються всі файли та підтеки,\n\
які містить ця тека.\n\
\n\
MOVE не працює для переміщення даних з одного логічного диска DOS на інший.\n"

  WCMD_PATH,
"PATH відображає або змінює шлях пошуку cmd.\n\
\n\
Команда PATH відобразить поточні параметри PATH (спочатку береться\n\
з реєстру). Для зміни налаштувань використайте команду\n\
PATH з новим значенням.\n\
\n\
Також можна змінити значення PATH, використавши змінну оточення\n\
PATH, наприклад:\n\
		PATH %PATH%;c:\\temp\n"

  WCMD_PAUSE,
"PAUSE показує на екрані повідомлення 'Натисніть Enter для продовження'\n\
та очікує натиснення користувачем клавіші. В основному корисно в\n\
пакетних файлах щоб користувач міг прочитати вивід попередньої команди\n\
перед її зникненням з екрану.\n"

  WCMD_PROMPT,
"PROMPT задає запрошення командного рядка.\n\
\n\
Рядок, що йде після команди PROMPT і пробілу після команди,\n\
появляється на початку рядка, коли cmd очікує введення.\n\
\n\
Наступні символьні рядки мають спеціальні значення і відображення:\n\
\n\
$$    Знак долара         $_    Linefeed            $b    Знак Pipe (|)\n\
$d    Поточна дата        $e    Escape              $g    Знак >\n\
$l    Знак <              $n    Поточний диск       $p    Поточний шлях\n\
$q    Знак рівності       $t    Поточний час        $v    Версія cmd\n\
\n\
Зауважте, що при вводі команди PROMPT без рядка запрошення налаштування\n\
скидаються до стандатрних, тобто поточна тека (включаючи\n\
букву поточного диску) з наступним знаком більше (>).\n\
(як в команді PROMPT $p$g).\n\
\n\
Запрошення також може бути змінене зміною змінної оточення PROMPT,\n\
тому команда 'SET PROMPT=text' має той же ефект, що і 'PROMPT text'\n"

  WCMD_REM,
"Командний рядок, що починається з REM (з наступним пробілом) нічого\n\
не виконує, тому може бути використаний як коментар в пакетному файлі.\n"

  WCMD_REN,
"REN <ім'я_файлу> це коротка версія RENAME. Вона переіменовує файл.\n"
  WCMD_RENAME, "RENAME <ім'я_файлу> переіменовує файл\n"
  WCMD_RD,
"RD <тека> це коротка версія RMDIR. Вона видаляє підтеку.\n"
  WCMD_RMDIR,  "RMDIR <тека> видаляє підтеку.\n"

  WCMD_SET,
"SET показує чи задає змiнні оточення cmd.\n\
\n\
SET без параметрiв виводить поточнi значення змiнних оточення.\n\
\n\
Для створення чи зміни змінної оточення використовуйте:\n\
\n\
      SET <змінна>=<значення>\n\
\n\
де <змінна> та <значення> є символьними рядками. Перед знаком рівності\n\
не повинно бути пробілів, ім'я змінної не повинно містити в собі\n\
пробіли.\n\
\n\
В Wine, оточення основної операційної системи включене\n\
в оточення Win32, тому буде доступно більше змінних, ніж\n\
в звичайній реалізації Win32. Зверніть увагу на те, що неможливо\n\
змінити оточення операційної системи з cmd.\n"

  WCMD_SHIFT,
"SHIFT використовується в пакетному файлі для вилучення одного параметра з\n\
вершини списку, тому параметр 2 стає параметром 1 і т.д. Команда не працює при\n\
її виклику з командного рядка.\n"

  WCMD_TIME,   "TIME задає чи показує поточний системний час.\n"

  WCMD_TITLE,  "Задає заголовок вікна для вікна cmd, синтаксис TITLE [рядок]\n"

  WCMD_TYPE,
"TYPE <ім'я_файлу> копіює <ім'я_файлу> до консольного пристрою (чи в інше місце,\n\
якщо він перенаправлений). Не перевіряється, чи файл це текст, призначений\n\
для читання.\n"

  WCMD_VERIFY,
"VERIFY пизначена для задання, скидання чи тестування прапора перевірки. Діючі форми:\n\
\n\
VERIFY ON\tЗадати прапор\n\
VERIFY OFF\tСкинути прапор\n\
VERIFY\t\tВідображає відповідні значення ON чи OFF.\n\
\n\
Прапор перевірки не має функцій в Wine.\n"

  WCMD_VER,
"VER відображає версію запущеного cmd\n"

  WCMD_VOL,    "VOL відображає мітку тому дискового пристрою.\n"

  WCMD_PUSHD,  "PUSHD <ім'я_теки> зберігає поточну теку в стек,\n\
а потім змінює поточну теку на вказану.\n"

  WCMD_POPD,   "POPD змінює поточну теку на останню збережену\n\
командою PUSHD.\n"

  WCMD_MORE,   "MORE відображає вміст файлів чи каналів сторінками.\n"

  WCMD_EXIT,
"EXIT завершує поточну сесію командного рядка та повертає вас\n\
до операційної системи чи оболонки, з якої ви запустили cmd.\n"

  WCMD_ALLHELP, "Вбудовані команди CMD:\n\
ATTRIB\t\tВідображення чи зміна атрибутів файлу DOS\n\
CALL\t\tЗапуск пакетного файлу всередині іншого\n\
CD (CHDIR)\tЗміна поточної теки за замовчуванням\n\
CLS\t\tОчищення екрану консолі\n\
COPY\t\tКопіювання файлу\n\
CTTY\t\tЗміна пристрою вводу/виводу\n\
DATE\t\tВідображення чи зміна системної дати\n\
DEL (ERASE)\tВидалення файлу чи набору файлів\n\
DIR\t\tВідображення вмісту теки\n\
ECHO\t\tКопіювання тексту прямо в консольний вивід\n\
HELP\t\tПоказ короткої довідкової інформації про команду\n\
MD (MKDIR)\tСтворення підтеки\n\
MORE\t\tВідображення виводу сторінками\n\
MOVE\t\tПереміщення файлу, набору файлів чи дерева каталогів\n\
PATH\t\tЗадання чи відображення шляху пошуку\n\
POPD\t\tВідновлює теку до останньої збереженої командою PUSHD\n\
PROMPT\t\tЗміна запрошення командного рядка\n\
PUSHD\t\tПереходить до нової теки, зберігаючи поточну\n\
REN (RENAME)\tПереіменування файлу\n\
RD (RMDIR)\tВидалення підтеки\n\
SET\t\tЗадання чи відображення змінних оточення\n\
TIME\t\tЗадання чи відображення поточного системного часу\n\
TITLE\t\tЗадання заголовка вікна для поточної сесії CMD\n\
TYPE\t\tВиведення вмісту текстового файлу\n\
VER\t\tВідображення поточної версії CMD\n\
VOL\t\tВідображення мітки тому дискового пристрою\n\
EXIT\t\tВихід з CMD\n\n\
Введіть HELP <команда> для детальнішої інформації про вищенаведені команди\n"

  WCMD_CONFIRM, "Ви впевнені"
  WCMD_YES, "Y"
  WCMD_NO, "N"
  WCMD_NOASSOC, "Файлова асоціація для розширення %s втрачена\n"
  WCMD_NOFTYPE, "Немає команди відкриття, асоційованої з файловим типом '%s'\n"
  WCMD_OVERWRITE, "Перезаписати %s"
  WCMD_MORESTR, "Більше..."
  WCMD_TRUNCATEDLINE, "Рядок в обробці Пакету мабуть урізаний. Використовую:\n"
  WCMD_NYI, "Ще не реалізовано\n\n"
  WCMD_NOARG, "Відсутній аргумент\n"
  WCMD_SYNTAXERR, "Синтаксична помилка\n"
  WCMD_FILENOTFOUND, "%s : Файл не знайдено\n"
  WCMD_NOCMDHELP, "Немає довідки для %s\n"
  WCMD_NOTARGET, "Не знайдена ціль для GOTO\n"
  WCMD_CURRENTDATE, "Поточна дата: %s\n"
  WCMD_CURRENTTIME, "Поточний час: %s\n"
  WCMD_NEWDATE, "Введіть нову дату: "
  WCMD_NEWTIME, "Введіть новий час: "
  WCMD_MISSINGENV, "Змінна оточення %s не визначена\n"
  WCMD_READFAIL, "Помилка відкриття '%s'\n"
  WCMD_CALLINSCRIPT, "Не можу викликати мітку пакету за межами пакетного скрипта\n"
  WCMD_ALL, "A"
  WCMD_DELPROMPT, "%s, Видалити"
  WCMD_ECHOPROMPT, "Echo зараз %s\n"
  WCMD_VERIFYPROMPT, "Verify зараз %s\n"
  WCMD_VERIFYERR, "Verify повинен бути ON чи OFF\n"
  WCMD_ARGERR, "Помилка параметру\n"
  WCMD_VOLUMEDETAIL, "Диск %c має мітку %s\nСерійний номер диску: %04x-%04x\n\n"
  WCMD_VOLUMEPROMPT, "Мітка диску (11 символів, ENTER - без мітки)?"
  WCMD_NOPATH, "PATH не знайдено\n"
  WCMD_ANYKEY,"Натисніть Enter для продовження: "
  WCMD_CONSTITLE,"Командний рядок Wine"
  WCMD_VERSION,"Версія CMD %s\n\n"
  WCMD_MOREPROMPT, "Більше? "
  WCMD_LINETOOLONG, "Введений рядок задовгий.\n"
}
