/*
 * Copyright 2009 Piotr Caban
 * Copyright 2010 Claudia Cotună
 *                Michael Stefaniuc
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resource.h"

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

#pragma code_page(65001)

STRINGTABLE DISCARDABLE
{
    IDS_TO_PRIMITIVE        "Eroare la convertirea obiectului la un tip primitiv"
    IDS_INVALID_CALL_ARG    "Apel de procedură sau argument nevalid"
    IDS_CREATE_OBJ_ERROR    "Serverul de automatizare nu poate crea obiectul"
    IDS_NO_PROPERTY         "Obiectul nu suportă această proprietate sau metodă"
    IDS_ARG_NOT_OPT         "Argumentul nu este opțional"
    IDS_SYNTAX_ERROR        "Eroare de sintaxă"
    IDS_SEMICOLON           "„;” presupus"
    IDS_LBRACKET            "„(” presupus"
    IDS_RBRACKET            "„)” presupus"
    IDS_UNTERMINATED_STR    "Constantă de șir nedeterminată"
    IDS_NOT_FUNC            "Funcție presupusă"
    IDS_NOT_DATE            "„[obiect]” nu este un obiect de tip dată"
    IDS_NOT_NUM             "Număr presupus"
    IDS_OBJECT_EXPECTED     "Obiect presupus"
    IDS_ILLEGAL_ASSIGN      "Atribuire ilegală"
    IDS_UNDEFINED           "„|” nu este definit"
    IDS_NOT_BOOL            "Obiect boolean presupus"
    IDS_JSCRIPT_EXPECTED    "Obiect JScript presupus"
    IDS_REGEXP_SYNTAX_ERROR "Eroare de sintaxă în expresie rațională"
    IDS_URI_INVALID_CHAR    "URI care trebuie codificat conține caractere nevalide"
    IDS_INVALID_LENGTH      "Lungimea unei matrice trebuie să fie un număr întreg pozitiv"
    IDS_ARRAY_EXPECTED      "Obiect matrice presupus"
}
