/*
 * Copyright 2001 Eric Pouech
 * Copyright 2004 Piotr Caban
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "wineconsole_res.h"

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
IDS_EDIT,		"&Edytuj"
IDS_DEFAULT,		"Ustaw &domyœlne"
IDS_PROPERTIES,		"&Ustawienia"
IDS_MARK,		"&Zaznacz"
IDS_COPY,		"&Kopiuj"
IDS_PASTE,		"&Wklej"
IDS_SELECTALL,		"Z&aznacz wszystko"
IDS_SCROLL,		"&Przewijaj"
IDS_SEARCH,		"Sz&ukaj"
IDS_FNT_DISPLAY,	"Ka¿dy znak ma szerokoœæ %ld i wysokoœæ %ld punktów"
IDS_FNT_PREVIEW,	"To jest test"
IDS_DLG_TIT_DEFAULT,    "Setup - Domyœlne ustawienia"
IDS_DLG_TIT_CURRENT,    "Setup - Wybrane ustawienia"
IDS_DLG_TIT_ERROR,	"B³¹d konfiguracji"
IDS_DLG_ERR_SBWINSIZE,	"Wielkoœæ bufora ekranu musi byæ wiêksza ni¿ wielkoœæ bufora okna."

IDS_CMD_INVALID_EVENT_ID   "wineconsole: Z³y format 'event id'\n"
IDS_CMD_INVALID_BACKEND    "wineconsole: Niew³aœciwa wartoœæ opcji 'backend'\n"
IDS_CMD_INVALID_OPTION     "wineconsole: Nieznana opcja na linii poleceñ\n"
IDS_CMD_ABOUT              "Uruchamia program w konsoli Wine\n"
IDS_CMD_LAUNCH_FAILED      "wineconsole: Nie uda³o siê uruchomiæ programu %s.\n"\
                           "Polecenie jest niew³aœciwe.\n"

IDS_USAGE_HEADER           "\nU¿ycie:\n  wineconsole [opcje] <polecenie>\n\nOpcje:\n"
IDS_USAGE_BACKEND          "  --backend={user|curses}  Wybór 'user' spowoduje wyœwietlenie nowego okna, 'curses'\n"\
                           "                            spróbuje przerobiæ aktualnie u¿ywany terminal na konsolê Wine\n"
IDS_USAGE_COMMAND          "  <polecenie>               Program Wine który nale¿y uruchomiæ\n"
IDS_USAGE_FOOTER           "\nPrzyk³ad:\n  wineconsole cmd\nUruchamia wiersz poleceñ Wine w konsoli Wine\n\n"

END

IDD_OPTION DIALOG 36, 24, 140, 111
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION " Opcje "
FONT 8, "MS Shell Dlg"
{
	GROUPBOX "Wielkoœæ kursora", -1, 10, 11, 60, 50, BS_GROUPBOX
	AUTORADIOBUTTON "&Ma³a", IDC_OPT_CURSOR_SMALL, 17, 23, 44, 10, WS_TABSTOP
	AUTORADIOBUTTON "Œ&rednia", IDC_OPT_CURSOR_MEDIUM, 17, 33, 44, 10, WS_TABSTOP
	AUTORADIOBUTTON "&Du¿a", IDC_OPT_CURSOR_LARGE, 17, 43, 44, 10, WS_TABSTOP

	GROUPBOX "Kontrola", -1, 75, 11, 125, 50, BS_GROUPBOX
	LTEXT "Menu kontekstowe", -1, 79, 23, 45, 20
	AUTOCHECKBOX "&Control", IDC_OPT_CONF_CTRL, 129, 23, 60, 10, WS_TABSTOP
	AUTOCHECKBOX "S&hift", IDC_OPT_CONF_SHIFT, 129, 33, 60, 10, WS_TABSTOP
	LTEXT "Szybka edycja", -1, 78, 49, 50, 10
	AUTOCHECKBOX "&Udostêpnij", IDC_OPT_QUICK_EDIT, 128, 49, 60, 10, WS_TABSTOP

	GROUPBOX "Historia poleceñ", -1, 10, 63, 190, 35, BS_GROUPBOX
	LTEXT "&Iloœæ poleceñ, które mo¿na przywo³aæ:", -1, 14, 73, 68, 18
	EDITTEXT IDC_OPT_HIST_SIZE, 82, 77, 31, 12, WS_TABSTOP|WS_BORDER|ES_NUMBER
	CONTROL "", IDC_OPT_HIST_SIZE_UD, "msctls_updown32", UDS_SETBUDDYINT|UDS_ALIGNRIGHT|UDS_AUTOBUDDY|UDS_ARROWKEYS|UDS_NOTHOUSANDS, 0, 0, 0, 0
	AUTOCHECKBOX "&Usuñ powtórki", IDC_OPT_HIST_NODOUBLE, 130, 73, 60, 18, WS_TABSTOP|BS_MULTILINE
}

IDD_FONT DIALOG 36, 24, 140, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION " Czcionka "
FONT 8, "MS Shell Dlg"
{
	LTEXT "&Czcionka", -1, 5, 5, 24, 8
	LISTBOX IDC_FNT_LIST_FONT, 5, 18, 90, 42, LBS_SORT|WS_VSCROLL
	LTEXT "&Kolor", -1, 100, 5, 50, 8
	CONTROL "", IDC_FNT_COLOR_FG, "WineConColorPreview", 0L, 100, 18, 48, 16
	CONTROL "", IDC_FNT_COLOR_BK, "WineConColorPreview", 0L, 100, 40, 48, 16
	LTEXT "&Wielkoœæ", -1, 158, 5, 40, 8
	LISTBOX IDC_FNT_LIST_SIZE, 158, 18, 40, 60, WS_VSCROLL
	CONTROL "", IDC_FNT_PREVIEW, "WineConFontPreview", 0L, 5, 60, 109, 40
	LTEXT "", IDC_FNT_FONT_INFO, 128, 76, 80, 18
}

IDD_CONFIG DIALOG 36, 24, 140, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION " Konfiguracja "
FONT 8, "MS Shell Dlg"
{
	GROUPBOX "Konfiguracja buforów" -1, 10, 11, 100, 42, BS_GROUPBOX
	LTEXT "&Szerokoœæ :", -1, 14, 25, 54, 9
	EDITTEXT IDC_CNF_SB_WIDTH, 68, 23, 36, 12, WS_TABSTOP|WS_BORDER|ES_NUMBER
	CONTROL "", IDC_CNF_SB_WIDTH_UD, "msctls_updown32", UDS_SETBUDDYINT|UDS_ALIGNRIGHT|UDS_AUTOBUDDY|UDS_ARROWKEYS|UDS_NOTHOUSANDS, 0, 0, 0, 0
	LTEXT "&Wysokoœæ :", -1, 14, 39, 54, 9
	EDITTEXT IDC_CNF_SB_HEIGHT, 68, 37, 36, 12, WS_TABSTOP|WS_BORDER|ES_NUMBER
	CONTROL "", IDC_CNF_SB_HEIGHT_UD, "msctls_updown32", UDS_SETBUDDYINT|UDS_ALIGNRIGHT|UDS_AUTOBUDDY|UDS_ARROWKEYS|UDS_NOTHOUSANDS, 0, 0, 0, 0

	GROUPBOX "Wielkoœæ okna", -1, 10, 55, 100, 42
	LTEXT "S&zerokoœæ :", -1, 14, 69, 54, 9
	EDITTEXT IDC_CNF_WIN_WIDTH, 68, 67, 36, 12, WS_TABSTOP|WS_BORDER|ES_NUMBER
	CONTROL "", IDC_CNF_WIN_WIDTH_UD, "msctls_updown32", UDS_SETBUDDYINT|UDS_ALIGNRIGHT|UDS_AUTOBUDDY|UDS_ARROWKEYS|UDS_NOTHOUSANDS, 0, 0, 0, 0
	LTEXT "W&ysokoœæ :", -1, 14, 83, 54, 9
	EDITTEXT IDC_CNF_WIN_HEIGHT, 68, 81, 36, 12, WS_TABSTOP|WS_BORDER|ES_NUMBER
	CONTROL "", IDC_CNF_WIN_HEIGHT_UD, "msctls_updown32", UDS_SETBUDDYINT|UDS_ALIGNRIGHT|UDS_AUTOBUDDY|UDS_ARROWKEYS|UDS_NOTHOUSANDS, 0, 0, 0, 0

	GROUPBOX "Na zakoñczenie pracy", -1, 115, 11, 80, 42, BS_GROUPBOX
	AUTOCHECKBOX "&Zamknij konsolê", IDC_CNF_CLOSE_EXIT, 119, 25, 72, 20, WS_TABSTOP

	GROUPBOX "Edycja", -1, 115, 55, 80, 42
	COMBOBOX IDC_CNF_EDITION_MODE, 119, 69, 72, 20, CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
}

IDD_SAVE_SETTINGS DIALOG 20, 20, 140, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Parametry konsoli"
FONT 8, "MS Shell Dlg"
{
	GROUPBOX "", -1, 10, 10, 120, 31, BS_GROUPBOX
	AUTORADIOBUTTON "Zachowaj ustawienia", IDC_SAV_SAVE, 14, 15, 110, 10, WS_TABSTOP
	AUTORADIOBUTTON "U¿yj tylko w bie¿¹cej sesji", IDC_SAV_SESSION, 14, 27, 110, 10, WS_TABSTOP

	PUSHBUTTON "OK", IDOK, 20, 45, 35, 12
	PUSHBUTTON "Anuluj", IDCANCEL, 65, 45, 35, 12
}
