/* Hey, Emacs, open this file with -*- coding: cp1250 -*-
 *
 * WineCfg resources
 * English Language Support
 *
 * Copyright 2002 Jaco Greeff
 * Copyright 2003 Dimitrie O. Paun
 * Copyright 2003-2004 Mike Hearn
 * Copyright 2004 David Kredba
 * Copyright 2007 Vit Hrachovy
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */
/* Czech strings in CP1250 */
LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

IDR_WINECFG MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Upravit", IDC_AUDIO_CONFIGURE
    END
END

IDD_ABOUTCFG DIALOGEX 0, 0, 260, 270
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           PACKAGE_STRING,IDC_STATIC,119,17,120,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP ,15,17,157,111
    LTEXT           "http://www.winehq.org/",IDC_STATIC,119,31,106,8
    LTEXT           "This library is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.",
                    IDC_STATIC,119,44,124,72
END

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Nastavení aplikací",IDC_STATIC, 8,4,244,240
    LTEXT           "Wine umí předstírat různé verze Windows pro každou jednu applikaci. Tato záložka je spojená se složkami Knihovny a Obraz a umožňuje změnit nastavení celého systému nebo nastavení každé aplikace zvlášť.",
                    IDC_STATIC,15,20,227,30
    CONTROL         "Aplikace",IDC_APP_LISTVIEW,"SysListView32",WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS,
                    15,50,230,150
    PUSHBUTTON	    "Přid&at aplikaci...",IDC_APP_ADDAPP, 90,204,75,14
    PUSHBUTTON	    "Odeb&rat aplikaci",IDC_APP_REMOVEAPP, 170,204,75,14
    LTEXT           "Verze &Windows:",IDC_STATIC,17,226,58,8
    COMBOBOX        IDC_WINVER,83,224,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_GRAPHCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Nastavení oken ",IDC_STATIC,8,4,244,180

    CONTROL	    "Povolit aplikacím DirectX zadržet ukazatel myši ve svém okně",IDC_DX_MOUSE_GRAB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,14,230,8
    LTEXT 	    "Okna spravovaná vaším správcem oken budou mít standardní okraje, budou respektovat virtuální plochy a budou vidět v seznamu oken. \n\nNespravovaná okna budou odpojena od vašeho správce oken. To znamená, že se okna nesplynou se vzhledem systému, ale vylepší to simulaci prostředí Windows, takže některé programy mohou pracovat lépe.",
		    IDC_STATIC,15,37,228,80
    CONTROL	    "Povolit správci oken kontrolu nad okny",IDC_ENABLE_MANAGED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,100,230,8

    LTEXT           "Můžete si vybrat emulaci plochy windows, kde jsou okna aplikací uzavřena v jedné 'virtuální obrazovce' nebo mohou být umístěna na standardním desktopu.",
                    IDC_STATIC,15,120,228,28
    LTEXT           "Velikost desktopu:",IDC_DESKTOP_SIZE,15,167,64,8,WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,108,167,8,8,WS_DISABLED
    CONTROL         "Emulace virtuálního desktopu",IDC_ENABLE_DESKTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,152,230,10
		    
    EDITTEXT        IDC_DESKTOP_WIDTH,94,167,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,147,167,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED

    GROUPBOX        " Direct3D ",IDC_STATIC,8,189,244,60

    LTEXT			"Podpora stínování vertexů: ",IDC_STATIC,15,199,100,30
    COMBOBOX	    IDC_D3D_VSHADER_MODE,105,197,140,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Povolit stínování pixelů (spoléhá se na hardware podporu)",IDC_D3D_PSHADER_MODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,216,230,10
END

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Náhrady DLL",IDC_STATIC,8,4,244,240
    LTEXT           "Můžete vybrat zda budou použity dynamicky linkované knihovny vestavěné ve Wine nebo nativní (vzaté z Windows nebo poskytnuté aplikací)."
                    ,IDC_STATIC,16,16,220,32
    LTEXT           "Nová náhrada pro DLL:",IDC_STATIC,16,58,100,8
    COMBOBOX        IDC_DLLCOMBO,16,68,140,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_SORT | CBS_LOWERCASE
    PUSHBUTTON      "Přid&at",IDC_DLLS_ADDDLL, 164,68,82,13,BS_DEFPUSHBUTTON
    LTEXT           "Stávající náhrady:",IDC_STATIC,16,86,100,8
    LISTBOX         IDC_DLLS_LIST,16,96,140,140,WS_BORDER | WS_TABSTOP | WS_VSCROLL
    PUSHBUTTON      "&Upravit",IDC_DLLS_EDITDLL,164,96,82,14
    PUSHBUTTON      "Odeb&rat DLL náhradu",IDC_DLLS_REMOVEDLL,164,114,82,14
END

IDD_LOADORDER DIALOG DISCARDABLE 80, 110, 120, 92
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Override"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Pořadí nahravání ",IDC_STATIC,8,4,105,66
    CONTROL         "&Vestavěná (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,16,14,75,10
    CONTROL         "&Nativní (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,16,24,75,10
    CONTROL         "&Vestavěná (Wine)",IDC_RAD_BUILTIN_NATIVE,"Button", BS_AUTORADIOBUTTON,16,34,75,10
    CONTROL         "Nati&vní a pak vestavěná",IDC_RAD_NATIVE_BUILTIN,"Button", BS_AUTORADIOBUTTON,16,44,90,10
    CONTROL         "&Zakázat",IDC_RAD_DISABLE,"Button", BS_AUTORADIOBUTTON,16,54,75,10
    DEFPUSHBUTTON   "OK",IDOK,8,74,45,14,WS_GROUP
    PUSHBUTTON      "Storno",IDCANCEL,57,74,45,14,WS_GROUP
END

IDD_DRIVECFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Mapování disků ",IDC_STATIC,8,4,244,240
    CONTROL         "Listview",IDC_LIST_DRIVES,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                    LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,18,232,76
    PUSHBUTTON      "Přid&at...",IDC_BUTTON_ADD,15,98,37,14
    PUSHBUTTON      "Odeb&rat",IDC_BUTTON_REMOVE,56,98,37,14
    PUSHBUTTON      "Auto&detekce...",IDC_BUTTON_AUTODETECT,197,98,49,14

    /* editing drive details */
    LTEXT           "&Cesta:",IDC_STATIC,15,123,20,9
    EDITTEXT        IDC_EDIT_PATH,41,120,160,13,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Procházet...",IDC_BUTTON_BROWSE_PATH,206,120,40,13

    LTEXT           "&Typ:",IDC_STATIC_TYPE,15,138,21,10
    COMBOBOX        IDC_COMBO_TYPE,41,135,77,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Popisek a sériové číslo",IDC_LABELSERIAL_STATIC,15,155,95,10

    PUSHBUTTON      "&Ukaž rozšířené volby",IDC_BUTTON_SHOW_HIDE_ADVANCED,155,136,91,13
    CONTROL         "Autodetekce &ze zařízení:",IDC_RADIO_AUTODETECT,"Button",
                    BS_AUTORADIOBUTTON,15,166,93,10
    EDITTEXT        IDC_EDIT_DEVICE,27,176,174,13,ES_AUTOHSCROLL
    PUSHBUTTON      "Prochá&zet...",IDC_BUTTON_BROWSE_DEVICE,206,176,40,13
    CONTROL         "Ruč&ní přiřazení:",IDC_RADIO_ASSIGN,"Button",
                    BS_AUTORADIOBUTTON,15,195,69,10

    LTEXT           "P&opisek:",IDC_STATIC_LABEL,33,208,29,12
    EDITTEXT        IDC_EDIT_LABEL,83,205,78,13,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "&Sériové číslo:",IDC_STATIC_SERIAL,33,225,49,12
    EDITTEXT        IDC_EDIT_SERIAL,83,221,78,13,ES_AUTOHSCROLL | WS_TABSTOP

    CONTROL         "Zobrazit soubory s tečkou na začátku názvu",IDC_SHOW_DOT_FILES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,260,230,8
END

IDD_AUDIOCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Ovladač zvukové karty ",IDC_STATIC,8,4,244,195
    LTEXT           "Vyberte ovladač zvukové karty zaškrtnutím políčka u příslušného ovladače. Když nezaškrtnete ani jeden ovladač, zvuk se vypne. Vybrat více jak jeden ovladač se nedoporučuje. Detailní vlastnosti ovladače můžete upravit pravým kliknutím na zvolený ovladač.",IDC_STATIC,15,20,227,50
    CONTROL         "Zařízení",IDC_AUDIO_TREE,"SysTreeView32",WS_BORDER | WS_TABSTOP,15,65,140,127
    PUSHBUTTON	    "Ovládací panel",IDC_AUDIO_CONTROL_PANEL,170,65,59,14
    GROUPBOX        " DirectSound ",IDC_STATIC,8,205,244,60
    LTEXT           "Hardwarová akcelerace: ",IDC_STATIC,15,215,90,10
    COMBOBOX	    IDC_DSOUND_HW_ACCEL,100,213,150,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Vzorkovací frekvence:",IDC_STATIC,15,232,70,8
    COMBOBOX        IDC_DSOUND_RATES,90,230,42,76,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Počet bitů na vzorek:",IDC_STATIC,137,232,80,8
    COMBOBOX        IDC_DSOUND_BITS,220,230,30,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Emulace zařízení",IDC_DSOUND_DRV_EMUL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,250,230,10
END

IDD_DESKTOP_INTEGRATION DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Vzhled ",IDC_STATIC,8,4,244,106
    LTEXT           "Téma:",IDC_STATIC,15,16,130,8
    COMBOBOX        IDC_THEME_THEMECOMBO,15,24,130,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Instalovat téma...",IDC_THEME_INSTALL,152,23,93,14
    LTEXT           "Barva:",IDC_THEME_COLORTEXT,15,40,112,8
    COMBOBOX        IDC_THEME_COLORCOMBO,15,48,112,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Velikost",IDC_THEME_SIZETEXT,135,40,110,8
    COMBOBOX        IDC_THEME_SIZECOMBO,135,48,110,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Položka:",IDC_STATIC,15,64,112,8
    COMBOBOX        IDC_SYSPARAM_COMBO,15,74,112,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | CBS_SORT
    LTEXT           "Barva:",IDC_SYSPARAM_COLOR_TEXT,135,64,25,8,WS_DISABLED
    PUSHBUTTON      "",IDC_SYSPARAM_COLOR,135,74,25,13,WS_DISABLED | BS_OWNERDRAW
    LTEXT           "Velikost:",IDC_SYSPARAM_SIZE_TEXT,166,64,30,8,WS_DISABLED
    EDITTEXT        IDC_SYSPARAM_SIZE,166,74,23,13,ES_AUTOHSCROLL | WS_TABSTOP | WS_DISABLED
    CONTROL         "",IDC_SYSPARAM_SIZE_UD,UPDOWN_CLASS,UDS_SETBUDDYINT | WS_DISABLED,187,74,15,13
    PUSHBUTTON      "Písmo",IDC_SYSPARAM_FONT,208,74,37,13,WS_DISABLED
    GROUPBOX        " Domácí adresáře ",IDC_STATIC,8,114,244,100
    CONTROL         "Listview",IDC_LIST_SFPATHS,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                     LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,126,230,64
    CONTROL         "Odkaz na:",IDC_LINK_SFPATH,"Button",BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED,15,195,50,13
    EDITTEXT         IDC_EDIT_SFPATH,65,195,145,13,ES_AUTOHSCROLL|WS_TABSTOP|WS_DISABLED
    PUSHBUTTON      "Procházet",IDC_BROWSE_SFPATH,215,195,30,13,WS_DISABLED
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WINE_VERSION        "CVS"
    IDS_TAB_APPLICATIONS    "Programy"
    IDS_TAB_DLLS            "Knihovny"
    IDS_TAB_DRIVES          "Disky"
    IDS_CHOOSE_PATH         "Vyberte prosím unixový cílový adresář."
    IDS_HIDE_ADVANCED       "Schovat rozšířené možnosti"
    IDS_SHOW_ADVANCED       "Zobrazit rozšířené možnosti"
    IDS_NOTHEME             "(Bez tématu)"
    IDS_TAB_GRAPHICS        "Obraz"
    IDS_TAB_DESKTOP_INTEGRATION "Začlenění do pracovní plochy"
    IDS_TAB_AUDIO           "Zvuk"
    IDS_TAB_ABOUT           "O programu"
    IDS_WINECFG_TITLE       "Konfigurace Wine"
    IDS_WINECFG_TITLE_APP   "Úprava Wine pro %s"
    IDS_THEMEFILE           "Soubory s tématy vzhledu"
    IDS_THEMEFILE_SELECT    "Zvolte soubor s tématem vzhledu"
    IDS_AUDIO_MISSING       "V registrech chybí záznam o vybraném zvukovém ovladači.\n\nAutomaticky byl zvolen doporučený ovladač.\nMůžete použít tento ovladač nebo si z ostatních dostupných vybrat jiný.\n\nDokud nekliknete na tlačítko Provést, nebude vybraný ovladač použit."
    IDS_SHELL_FOLDER        "Domácí adresáře"
    IDS_LINKS_TO            "Odkaz na"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DLL_WARNING         "Nedoporučuje se měnit pořadí nahrávání této knihovny.\nUrčitě to chcete udělat?"
    IDS_DLL_WARNING_CAPTION "Varování: systémová knihovna"
    IDS_DLL_NATIVE          "nativní"
    IDS_DLL_BUILTIN         "vestavěná"
    IDS_DLL_NATIVE_BUILTIN  "nativní, vestavěná"
    IDS_DLL_BUILTIN_NATIVE  "vestavěná, nativní"
    IDS_DLL_DISABLED        "zakázat"
    IDS_DEFAULT_SETTINGS    "Standardní nastavení"
    IDS_EXECUTABLE_FILTER   "Programy Wine (*.exe,*.exe.so)\0*.exe;*.exe.so\0"
    IDS_USE_GLOBAL_SETTINGS "Použít všeobecná nastavení"
    IDS_SELECT_EXECUTABLE   "Zvolte spustitelný soubor"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SHADER_MODE_HARDWARE    "Hardwarový"
    IDS_SHADER_MODE_NONE        "Žádný"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DRIVE_UNKNOWN           "Autodetekce"
    IDS_DRIVE_FIXED             "Místní pevný disk"
    IDS_DRIVE_REMOTE            "Síťový disk"
    IDS_DRIVE_REMOVABLE         "Disketa"
    IDS_DRIVE_CDROM             "CD-ROM"
    IDS_DRIVE_LETTERS_EXCEEDED  "Další disk již není možno přidat.\n\nKaždý disk musí mít přiřazeno písmeno od A do Z, takže nelze mít více než 26 disků"
    IDS_SYSTEM_DRIVE_LABEL      "Systémový disk"
    IDS_CONFIRM_DELETE_C        "Určitě chcete smazat disk C?\n\nVětšina aplikací ve Windows čeká, že disk C existuje a těžce zkolabuje v případě, že tomu tak není. Pokud smažete disk C, nezapomeňte jej znovu vytvořit!"
    IDS_COL_DRIVELETTER         "Písmeno"
    IDS_COL_DRIVEMAPPING        "Přípojný bod"
    IDS_NO_DRIVE_C              "Varování: Vypadá to, že disk C není definován.\n\nKlikněte na ‘Přidat...’ v záložce Disky a vytvořte ho!\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ACCEL_FULL              "Plná"
    IDS_ACCEL_STANDARD          "Standardní"
    IDS_ACCEL_BASIC             "Základní"
    IDS_ACCEL_EMULATION         "Emulace"
    IDS_DRIVER_ALSA             "Ovladač ALSA"
    IDS_DRIVER_ESOUND           "Ovladač EsounD"
    IDS_DRIVER_OSS              "Ovladač OSS"
    IDS_DRIVER_JACK             "Ovladač JACK"
    IDS_DRIVER_NAS              "Ovladač NAS"
    IDS_DRIVER_AUDIOIO          "Ovladač Audio IO (Solaris)"
    IDS_DRIVER_COREAUDIO        "Ovladač CoreAudio"
    IDS_OPEN_DRIVER_ERROR       "Nemohu otevřít %s!"
    IDS_SOUNDDRIVERS            "Ovladače zvuku"
    IDS_DEVICES_WAVEOUT         "Zařízení Wave Výstup"
    IDS_DEVICES_WAVEIN          "Zařízení Wave Vstup"
    IDS_DEVICES_MIDIOUT         "Zařízení MIDI Výstup"
    IDS_DEVICES_MIDIIN          "Zařízení MIDI Vstup"
    IDS_DEVICES_AUX             "Zařízení Aux"
    IDS_DEVICES_MIXER           "Zařízení Míchání"
    IDS_UNAVAILABLE_DRIVER      "V registru byl nalezen ovladač, který není k dispozici!\n\nOdstranit “%s” z registru?"
    IDS_WARNING                 "Varování"
END

/* text - font or string ? */
STRINGTABLE DISCARDABLE
BEGIN
    IDC_SYSPARAMS_BUTTON            "Pozadí ovládacích prvků"
    IDC_SYSPARAMS_BUTTON_TEXT       "Písmo ovládacích prvků"
    IDC_SYSPARAMS_DESKTOP           "Plocha"
    IDC_SYSPARAMS_MENU              "Pozadí menu"
    IDC_SYSPARAMS_MENU_TEXT         "Písmo menu"
    IDC_SYSPARAMS_SCROLLBAR         "Rolovací pruh"
    IDC_SYSPARAMS_SELECTION         "Pozadí výběru"
    IDC_SYSPARAMS_SELECTION_TEXT    "Písmo výběru"
    IDC_SYSPARAMS_TOOLTIP           "Pozadí tipu"
    IDC_SYSPARAMS_TOOLTIP_TEXT      "Písmo tipu"
    IDC_SYSPARAMS_WINDOW            "Pozadí okna"
    IDC_SYSPARAMS_WINDOW_TEXT       "Písmo okna"
    IDC_SYSPARAMS_ACTIVE_TITLE      "Pozadí titulku aktivního okna"
    IDC_SYSPARAMS_ACTIVE_TITLE_TEXT "Písmo titulku aktivního okna"
    IDC_SYSPARAMS_INACTIVE_TITLE    "Pozadí titulku neaktivného okna"
    IDC_SYSPARAMS_INACTIVE_TITLE_TEXT "Písmo titulku neaktivního okna"
END
