/*
 * WineCfg resources
 * German Language Support
 *
 * Copyright 2005, 2006 Henning Gerhardt
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

IDR_WINECFG MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Konfigurieren", IDC_AUDIO_CONFIGURE
    END
END

IDD_ABOUTCFG DIALOGEX 0, 0, 260, 270
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           PACKAGE_STRING,IDC_STATIC,119,17,120,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP ,15,17,157,111
    LTEXT           "http://www.winehq.org/",IDC_STATIC,119,31,106,8
    LTEXT           "This library is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.",
                    IDC_STATIC,119,44,124,72
    LTEXT           "Diese Bibliothek ist freie Software; Sie dürfen sie unter den Bedingungen der GNU Lesser General Public License, wie von der Free Software Foundation veröffentlicht, weiterverteilen und/oder modifizieren; entweder gemäß Version 2.1 der Lizenz oder (nach Ihrer Option) jeder späteren Version.",
                    IDC_STATIC,119,124,124,72
END

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Anwendungseinstellungen ",IDC_STATIC, 8,4,244,250
    LTEXT           "Wine kann für jede Anwendung eine unterschiedliche Windows-Version nachahmen. Dieser Reiter ist mit den Bibliothek- und Grafik-Reiter verknüpft, damit entweder systemweite oder anwendungsabhängige Einstellungen in diesen Reitern vorgenommen werden können.",
                    IDC_STATIC,15,15,227,43
    CONTROL         "Anwendungen",IDC_APP_LISTVIEW,"SysListView32",WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS,
                    15,58,230,152
    PUSHBUTTON	    "Anw. &hinzufügen",IDC_APP_ADDAPP, 90,214,75,14
    PUSHBUTTON	    "Anw. &entfernen",IDC_APP_REMOVEAPP, 170,214,75,14
    LTEXT           "&Windows Version:",IDC_STATIC,17,236,58,8
    COMBOBOX        IDC_WINVER,83,234,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP    
END

IDD_GRAPHCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Fenstereinstellungen ",IDC_STATIC,8,4,244,180

    CONTROL         "DirectX-Anwendungen können Maus einfangen",IDC_DX_MOUSE_GRAB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,14,230,8
    LTEXT           "Wenn die Fenster durch deinen Fenstermanager kontrolliert werden, dann werden sie die gleichen Ränder haben, der eingestellte virtuelle Desktop wird respektiert und sie werden in der Fensterliste auftauchen.\nWenn die Fenster nicht kontrolliert werden, werden sie unabhängig vom verwerdeten Fenstermanager sein. Das bedeutet, dass die Fenster sich nicht an den Desktop anpassen werden. Der Vorteil ist, dass dann die Emulation akkurater ist, was einigen Anwendungen hilft, besser zu arbeiten.",
                    IDC_STATIC,15,37,228,80
    CONTROL         "Erlaube dem Fenstermanager die Fenster zu kontrollieren.",IDC_ENABLE_MANAGED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,111,230,8

    LTEXT           "Sie können entweder alle Anwendungen auf einen 'virtuellen Bildschirm' in einem einzigen Fenster begrenzen, oder Sie verhalten sich wie Ihre anderen Anwendungen.",
                    IDC_STATIC,15,125,228,28
    CONTROL         "Emuliere einen virtuellen Bildschirm",IDC_ENABLE_DESKTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,152,230,10
    LTEXT           "Desktop-Größe:",IDC_DESKTOP_SIZE,15,167,50,8,WS_DISABLED
    EDITTEXT        IDC_DESKTOP_WIDTH,70,167,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,114,167,8,8,WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,123,167,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    
    GROUPBOX        " Direct3D ",IDC_STATIC,8,189,244,38
    
    LTEXT           "Unterstützung für Vertex Shader: ",IDC_STATIC,15,199,120,8
    COMBOBOX        IDC_D3D_VSHADER_MODE,140,197,105,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    CONTROL         "Pixel Shader aktivieren (wenn von Hardware unterstützt)", IDC_D3D_PSHADER_MODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,212,230,10
END

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " DLL Überschreibung ",IDC_STATIC,8,4,244,240
    LTEXT           "DLLs (Dynamic Link Libraries) können einzeln eingestellt werden, entweder Builtin (gestellt durch Wine) oder Native (von Windows oder durch die Anwendung gestellt)."
                    ,  IDC_STATIC,15,17,228,32
    LTEXT           "Neue Überschreibung für:",IDC_STATIC,16,58,100,8
    COMBOBOX        IDC_DLLCOMBO,16,68,140,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_SORT | CBS_LOWERCASE
    PUSHBUTTON      "&Hinzufügen ",IDC_DLLS_ADDDLL, 164,68,82,13,BS_DEFPUSHBUTTON 
    LTEXT           "Bestehende Überschreibungen:",IDC_STATIC,16,86,100,8
    LISTBOX         IDC_DLLS_LIST,16,96,140,140,WS_BORDER | WS_TABSTOP | WS_VSCROLL
    PUSHBUTTON      "&Bearbeiten",IDC_DLLS_EDITDLL,164,96,82,14
    PUSHBUTTON      "&Entfernen",IDC_DLLS_REMOVEDLL,164,114,82,14 
END

IDD_LOADORDER DIALOG DISCARDABLE 80, 90, 110, 92
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Bearbeite Überschreibung"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Ladereihenfolge ",IDC_STATIC,8,4,94,66
    CONTROL         "&Builtin (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,16,14,75,10
    CONTROL         "&Native (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,16,24,75,10
    CONTROL         "Bui&ltin dann Native",IDC_RAD_BUILTIN_NATIVE,"Button", BS_AUTORADIOBUTTON,16,34,75,10
    CONTROL         "Nati&ve dann Builtin",IDC_RAD_NATIVE_BUILTIN,"Button", BS_AUTORADIOBUTTON,16,44,75,10
    CONTROL         "&Ausschalten",IDC_RAD_DISABLE,"Button", BS_AUTORADIOBUTTON,16,54,75,10
    DEFPUSHBUTTON   "OK",IDOK,8,74,45,14,WS_GROUP
    PUSHBUTTON      "Abbrechen",IDCANCEL,57,74,45,14,WS_GROUP
END

IDD_DRIVECFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Laufwerkszuordnung ",IDC_STATIC,8,4,244,240
    CONTROL         "Listview",IDC_LIST_DRIVES,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                    LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,18,232,76
    PUSHBUTTON      "&Hinzufügen",IDC_BUTTON_ADD,15,98,41,14
    PUSHBUTTON      "&Entfernen",IDC_BUTTON_REMOVE,60,98,37,14
    PUSHBUTTON      "&Automatisch", IDC_BUTTON_AUTODETECT,197,98,49,14

    /* editing drive details */
    LTEXT           "&Pfad:",IDC_STATIC,15,123,20,9
    EDITTEXT        IDC_EDIT_PATH,41,120,155,13,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Durchsuchen",IDC_BUTTON_BROWSE_PATH,201,120,45,13

    LTEXT           "&Typ:",IDC_STATIC_TYPE,14,138,21,10
    COMBOBOX        IDC_COMBO_TYPE,41,135,77,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Bezeichnung und Seriennummer",IDC_LABELSERIAL_STATIC,15,155,125,10

    PUSHBUTTON      "&Zeige Erweitert",IDC_BUTTON_SHOW_HIDE_ADVANCED,178,136,68,13
    CONTROL         "Automatisch &vom Gerät:",IDC_RADIO_AUTODETECT,"Button",
                    BS_AUTORADIOBUTTON,15,166,93,10
    EDITTEXT        IDC_EDIT_DEVICE,27,176,169,13,ES_AUTOHSCROLL
    PUSHBUTTON      "Durch&suchen",IDC_BUTTON_BROWSE_DEVICE,201,176,45,13
    CONTROL         "&Manuelles  Zuweisen:",IDC_RADIO_ASSIGN,"Button",
                    BS_AUTORADIOBUTTON,15,195,79,10

    LTEXT           "&Bezeichnung:",IDC_STATIC_LABEL,33,208,41,12
    EDITTEXT        IDC_EDIT_LABEL,78,205,78,13,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "S&eriennr:",IDC_STATIC_SERIAL,33,225,41,12
    EDITTEXT        IDC_EDIT_SERIAL,78,221,78,13,ES_AUTOHSCROLL | WS_TABSTOP

    CONTROL         "Zeige Dot-Dateien an",IDC_SHOW_DOT_FILES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,260,230,8
END

IDD_AUDIOCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Treiber Auswahl ",IDC_STATIC,8,4,244,195
    LTEXT           "Wählen Sie einen Sound-Treiber durch ankreuzen des gewünschten Treibers. Ist kein Treiber ausgewählt, wird der Sound deaktiviert. Die Auswahl mehrerer Treiber ist nicht empfohlen. Ein Treiber kann durch Rechtsklicken konfiguriert werden.",IDC_STATIC,15,15,227,35
    CONTROL         "Geräte",IDC_AUDIO_TREE,"SysTreeView32",WS_BORDER | WS_TABSTOP,15,50,140,140
    PUSHBUTTON      "Einstellungen",IDC_AUDIO_CONTROL_PANEL,170,50,59,14
    GROUPBOX        " DirectSound ",IDC_STATIC,8,205,244,60    
    LTEXT           "Hardware-Beschleunigung: ", IDC_STATIC,15,215,90,10
    COMBOBOX        IDC_DSOUND_HW_ACCEL,105,213,140,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Abtastrate:",IDC_STATIC,15,232,70,8
    COMBOBOX        IDC_DSOUND_RATES,90,230,42,76,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Bits pro Abtastung:",IDC_STATIC,137,232,80,8
    COMBOBOX        IDC_DSOUND_BITS,220,230,30,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Treiber-Emulation",IDC_DSOUND_DRV_EMUL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,250,230,10
END

IDD_DESKTOP_INTEGRATION DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
   GROUPBOX        " Darstellung ",IDC_STATIC,8,4,244,106
   LTEXT           "Motiv:",IDC_STATIC,15,16,130,8
   COMBOBOX        IDC_THEME_THEMECOMBO,15,24,130,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
   PUSHBUTTON      "Motiv installieren...",IDC_THEME_INSTALL,152,23,93,14
   LTEXT           "Farbe:",IDC_THEME_COLORTEXT,15,40,112,8
   COMBOBOX        IDC_THEME_COLORCOMBO,15,48,112,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
   LTEXT           "Größe:",IDC_THEME_SIZETEXT,135,40,110,8
   COMBOBOX        IDC_THEME_SIZECOMBO,135,48,110,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Element:",IDC_STATIC,15,64,112,8
    COMBOBOX        IDC_SYSPARAM_COMBO,15,74,112,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | CBS_SORT
    LTEXT           "Farbe:",IDC_SYSPARAM_COLOR_TEXT,135,64,25,8,WS_DISABLED
    PUSHBUTTON      "",IDC_SYSPARAM_COLOR,135,74,25,13,WS_DISABLED | BS_OWNERDRAW
    LTEXT           "Größe:",IDC_SYSPARAM_SIZE_TEXT,166,64,30,8,WS_DISABLED
    EDITTEXT        IDC_SYSPARAM_SIZE,166,74,23,13,ES_AUTOHSCROLL | WS_TABSTOP | WS_DISABLED
    CONTROL         "",IDC_SYSPARAM_SIZE_UD,UPDOWN_CLASS,UDS_SETBUDDYINT | WS_DISABLED,187,74,15,13
    PUSHBUTTON      "Schrift",IDC_SYSPARAM_FONT,208,74,37,13,WS_DISABLED
   GROUPBOX        " Shell-Ordner ",IDC_STATIC,8,114,244,100
   CONTROL         "Listview",IDC_LIST_SFPATHS,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                    LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,126,230,64
   CONTROL         "Verknüpfe:",IDC_LINK_SFPATH,"Button",BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED,15,195,50,13
   EDITTEXT         IDC_EDIT_SFPATH,65,195,145,13,ES_AUTOHSCROLL|WS_TABSTOP|WS_DISABLED
   PUSHBUTTON      "Wählen",IDC_BROWSE_SFPATH,215,195,30,13,WS_DISABLED
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WINE_VERSION        "CVS"
    IDS_TAB_APPLICATIONS    "Anwendungen"
    IDS_TAB_DLLS            "Bibliotheken"
    IDS_TAB_DRIVES          "Laufwerke"
    IDS_CHOOSE_PATH         "Bitte wählen Sie das Ziel-Unix-Verzeichnis."
    IDS_HIDE_ADVANCED       "Verstecke Erweitert"
    IDS_SHOW_ADVANCED       "Zeige Erweitert"
    IDS_NOTHEME             "(Kein Motiv)"
    IDS_TAB_GRAPHICS        "Grafik"
    IDS_TAB_DESKTOP_INTEGRATION "Desktop-Integration"
    IDS_TAB_AUDIO           "Audio"
    IDS_TAB_ABOUT           "Über"
    IDS_WINECFG_TITLE       "Wine-Konfiguration"
    IDS_WINECFG_TITLE_APP   "Wine-Konfiguration für %s"
    IDS_THEMEFILE           "Motiv-Dateien"
    IDS_THEMEFILE_SELECT    "Motiv-Datei auswählen"
    IDS_AUDIO_MISSING       "Zur Zeit ist kein Audio Treiber in der Registry eingetragen.\n\nEin bevorzugter Treiber wurde für Sie ausgewählt.\nSie können diesen Treiber nutzen oder einen anderen verfügbaren Treiber auswählen.\n\nSie müssen auf Anwenden klicken, damit die Änderung übernommen wird."
    IDS_SHELL_FOLDER        "Shell-Ordner"
    IDS_LINKS_TO            "Verknüpft mit"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DLL_WARNING         "Das Ändern der Ladereihenfolge dieser Bibliothek wird nicht empfohlen.\nSind Sie sich sicher, dass Sie dies möchten?"
    IDS_DLL_WARNING_CAPTION "Achtung: Systembibliothek"
    IDS_DLL_NATIVE          "Native (Windows)"
    IDS_DLL_BUILTIN         "Builtin (Wine)"
    IDS_DLL_NATIVE_BUILTIN  "Native, Builtin"
    IDS_DLL_BUILTIN_NATIVE  "Builtin, Native"
    IDS_DLL_DISABLED        "ausgeschaltet"
    IDS_DEFAULT_SETTINGS    "Standardeinstellungen"
    IDS_EXECUTABLE_FILTER   "Wine-Programme (*.exe,*.exe.so)\0*.exe;*.exe.so\0"
    IDS_USE_GLOBAL_SETTINGS "Globale Einstellung benutzen"
    IDS_SELECT_EXECUTABLE   "Ausführbares Programm auswählen"
END 

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SHADER_MODE_HARDWARE    "Hardware"
    IDS_SHADER_MODE_NONE        "Aus"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DRIVE_UNKNOWN           "Automatisch"
    IDS_DRIVE_FIXED             "Lokale Festplatte"
    IDS_DRIVE_REMOTE            "Netzwerkfreigabe"
    IDS_DRIVE_REMOVABLE         "Diskette"
    IDS_DRIVE_CDROM             "CD-ROM"
    IDS_DRIVE_LETTERS_EXCEEDED  "Sie können keine weiteren Laufwerke mehr hinzufügen.\n\nJedes Laufwerk muss einen Buchstaben besitzen, von A bis Z, deshalb können Sie nicht mehr als 26 haben."
    IDS_SYSTEM_DRIVE_LABEL      "Systemlaufwerk"
    IDS_CONFIRM_DELETE_C        "Sind Sie sich sicher, dass Sie Laufwerk C entfernen möchten?\n\nDie meisten Windows-Anwendungen erwarten, dass ein Laufwerk C existiert und funktionieren ohne nicht richtig. Wenn Sie fortfahren, vergessen Sie nicht, Laufwerk C neu zu erstellen!"
    IDS_COL_DRIVELETTER         "Buchst."
    IDS_COL_DRIVEMAPPING        "Zuordnung"
    IDS_NO_DRIVE_C              "Sie haben kein Laufwerk C. Das ist nicht so gut.\n\nVergessen Sie nicht, im Laufwerke-Reiter „Hinzufügen“ zu klicken um eins zu erstellen!\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ACCEL_FULL              "Voll"
    IDS_ACCEL_STANDARD          "Standard"
    IDS_ACCEL_BASIC             "Einfach"
    IDS_ACCEL_EMULATION         "Emulation"
    IDS_DRIVER_ALSA             "ALSA-Treiber"
    IDS_DRIVER_ESOUND           "EsounD-Treiber"
    IDS_DRIVER_OSS              "OSS-Treiber"
    IDS_DRIVER_JACK             "JACK-Treiber"
    IDS_DRIVER_NAS              "NAS-Treiber"
    IDS_DRIVER_AUDIOIO          "Audio-IO-Treiber (Solaris)"
    IDS_DRIVER_COREAUDIO        "CoreAudio-Treiber"
    IDS_OPEN_DRIVER_ERROR       "Konnte %s nicht öffnen!"
    IDS_SOUNDDRIVERS            "Sound_Treiber"
    IDS_DEVICES_WAVEOUT         "Wave-Ausgabe-Geräte"
    IDS_DEVICES_WAVEIN          "Wave-Eingabe-Geräte"
    IDS_DEVICES_MIDIOUT         "MIDI-Ausgabe-Geräte"
    IDS_DEVICES_MIDIIN          "MIDI-Ausgabe-Geräte"
    IDS_DEVICES_AUX             "Aux-Geräte"
    IDS_DEVICES_MIXER           "Mixer-Geräte"
    IDS_UNAVAILABLE_DRIVER      "In der Registry wurde ein Treiber gefunden, der nicht verfügbar ist!\n\nSoll „%s“ aus der Registry entfernt werden?"
    IDS_WARNING                 "Warnung"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDC_SYSPARAMS_BUTTON            "Steuerelementhintergrund"
    IDC_SYSPARAMS_BUTTON_TEXT       "Steuerelementtext"
    IDC_SYSPARAMS_DESKTOP           "Desktop"
    IDC_SYSPARAMS_MENU              "Menühintergrund"
    IDC_SYSPARAMS_MENU_TEXT         "Menütext"
    IDC_SYSPARAMS_SCROLLBAR         "Bildlaufleiste"
    IDC_SYSPARAMS_SELECTION         "Auswahlhintergrund"
    IDC_SYSPARAMS_SELECTION_TEXT    "Auswahltext"
    IDC_SYSPARAMS_TOOLTIP           "ToolTip-Hintergrund"
    IDC_SYSPARAMS_TOOLTIP_TEXT      "ToolTip-Text"
    IDC_SYSPARAMS_WINDOW            "Fensterhintergrund"
    IDC_SYSPARAMS_WINDOW_TEXT       "Fenstertext"
    IDC_SYSPARAMS_ACTIVE_TITLE      "Aktive Titelleiste"
    IDC_SYSPARAMS_ACTIVE_TITLE_TEXT "Aktiver Titelleistentext"
    IDC_SYSPARAMS_INACTIVE_TITLE    "Inaktive Titelleiste"
    IDC_SYSPARAMS_INACTIVE_TITLE_TEXT "Inaktiver Titelleistentext"
END
