/*
 * WineCfg resources
 * Spanish Language Support
 *
 * Copyright 2003 José Manuel Ferrer Ortiz
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 */

LANGUAGE LANG_SPANISH, SUBLANG_DEFAULT

IDD_GENERALCFG DIALOGEX 0, 0, 260, 250
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_WINVER,83,153,158,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_DOSVER,83,172,158,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_WINELOOK,83,190,158,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Versión de Wine:",IDC_STATIC,119,17,45,8
    LTEXT           "CVS",IDC_WINEVER,169,17,56,8
    LTEXT           "Versión de Windows:",IDC_STATIC,17,155,58,8
    LTEXT           "Apariencia de Windows:",IDC_STATIC,17,193,58,8
    LTEXT           "Versión de DOS:",IDC_STATIC,17,173,57,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | 
                    SS_REALSIZEIMAGE | WS_BORDER,15,17,157,111, WS_EX_TRANSPARENT
    LTEXT           "http://www.winehq.com/",IDC_STATIC,119,31,106,8
    GROUPBOX        "Comportamiento por defecto",IDC_STATIC,8,115,244,97
    LTEXT           "Wine permite a las aplicaciones Windows imitar distintas versiones y estilos de Windows",
                    IDC_STATIC,15,128,227,20
    GROUPBOX        "Información",IDC_STATIC,8,4,244,106
    CTEXT           "This library is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.",
                    IDC_STATIC,119,44,124,59
END

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "List2",IDC_LIST_APPS,"SysListView32",LVS_LIST | 
                    LVS_NOLABELWRAP | WS_BORDER | WS_TABSTOP,16,39,226,108
    GROUPBOX        "Configuración específica de aplicaciones",IDC_STATIC,8,4,244,151
    LTEXT           "Esta configuración le permite sobreponerse a la configuración por defecto de Wine (como está especificada en otras pestañas de configuración) para aplicaciones concretas.",
                    IDC_STATIC,15,17,228,20
END

IDD_X11DRVCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_SYSCOLORS,100,41,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Usar mapa de color privado",IDC_PRIVATEMAP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,17,62,91,10
    CONTROL         "Favorecer corrección sobre velocidad",IDC_PERFECTGRAPH,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,17,76,117,10
    CONTROL         "Usar extensión XFree DGA",IDC_XDGA,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,141,62,97,10
    CONTROL         "Usar extensión XFree Shm",IDC_XSHM,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,141,76,96,10
    CONTROL         "Habilitar escritorio Wine",IDC_MANAGED,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,17,143,84,10
    EDITTEXT        IDC_DESKTOP_WIDTH,64,159,40,14,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,117,159,40,14,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    GROUPBOX        "Configuración de renderizado",IDC_STATIC,8,4,244,90
    LTEXT           "La configuración del color y renderizado del driver se utiliza para optimizar el modo en que se muestran los colores y las aplicaciones.",
                    IDC_STATIC,15,17,228,22
    LTEXT           "Colores del sistema alojados:",IDC_STATIC,17,43,76,8
    GROUPBOX        "Escritorio Wine",IDC_STATIC,8,99,244,83
    LTEXT           "Wine puede configurarse para emular un escritorio Windows, o bien puede ejecutarse en modo ""Manejado"" (opción por defecto) donde el gestor/entorno de ventanas por defecto de X11 es el responsable de la colocación de las ventanas.",
                    IDC_STATIC,15,112,228,28
    LTEXT           "Tamaño del escritorio:",IDC_DESKTOP_SIZE,17,161,44,8,WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,108,161,8,8,WS_DISABLED
END

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Estático",IDC_STATIC,8,4,244,157
    CONTROL         "Integrado (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,59,144,57,10
    CONTROL         "Nativo (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,121,144,72,10
    LTEXT           "Las librerías pueden especificarse individualmente para ser integradas o nativas. Una entrada de DLL especificada como ""*"" se refiere a todas las DLL no especificadas explícitamente.",
                    IDC_STATIC,15,17,228,27
    CONTROL         "List3",IDC_LIST_DLLS,"SysListView32",LVS_LIST | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | 
                    WS_TABSTOP,15,47,227,90
    LTEXT           "Orden de carga:",IDC_STATIC,16,144,37,8
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_WINE_VERSION        "CVS"
    IDS_TAB_GENERAL         "General"
    IDS_TAB_DLLS            "Librerías"
    IDS_TAB_DRIVES          "Unidades"
END
