/*
 * WineCfg resources
 * Italian Language Support
 *
 * Copyright 2004 Ivan Leo Pioti
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

IDD_ABOUTCFG DIALOGEX 0, 0, 260, 250
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Versione di Wine:",IDC_STATIC,119,17,55,8
    LTEXT           "CVS",IDC_WINEVER,179,17,56,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | 
                    SS_REALSIZEIMAGE | WS_BORDER,15,17,157,111, WS_EX_TRANSPARENT
    LTEXT           "http://www.winehq.org/",IDC_STATIC,119,31,106,8
    GROUPBOX        "Informazioni",IDC_STATIC,8,4,244,106
    CTEXT           "This library is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.",
                    IDC_STATIC,119,44,124,72
END

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Impostazioni delle applicazioni",IDC_STATIC, 8,4,244,240
    LTEXT           "Wine può simulare diverse versioni e stili di Windows per le applicazioni per Windows",
                    IDC_STATIC,15,20,227,20
    CONTROL         "Applicazioni",IDC_APP_TREEVIEW,"SysTreeView32",WS_BORDER | WS_TABSTOP | TVS_LINESATROOT | TVS_HASLINES | TVS_SHOWSELALWAYS | TVS_HASBUTTONS, 15,40,142,145
    PUSHBUTTON	    "Aggiungi applicazione...",IDC_APP_ADDAPP, 163,40,82,60
    PUSHBUTTON	    "Rimuovi applicazione",IDC_APP_REMOVEAPP, 163,125,82,60
    LTEXT           "Versione di Windows:",IDC_STATIC,17,192,58,8
    LTEXT           "Version del DOS:",IDC_STATIC,17,211,57,8
    COMBOBOX        IDC_WINVER,83,190,158,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_DOSVER,83,208,158,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_GRAPHCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL	    "DirectX può impedira al mouse di lasciare la loro finestra?",IDC_DX_MOUSE_GRAB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,35,230,8
    
    GROUPBOX        " Impostazioni della finestra ",IDC_STATIC,8,25,244,120

    /* FIXME: the wording of this explanation could be a lot better */
    LTEXT           "Puoi emulare il desktop di windows, dove ogni finestra ha il suo schermo virtuale, o puoi avere le finestre sul tuo desktop standard.",
                    IDC_STATIC,15,73,228,28
    LTEXT           "Dimensione del Dektop:",IDC_DESKTOP_SIZE,15,115,44,8,WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,108,115,8,8,WS_DISABLED
    CONTROL         "Emula un desktop virtuale",IDC_ENABLE_DESKTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,100,230,10
		    
    EDITTEXT        IDC_DESKTOP_WIDTH,64,115,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,117,115,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    GROUPBOX        " Screen Resolution ",IDC_STATIC,8,242,244,25
    CONTROL         "", IDC_RES_TRACKBAR, "msctls_trackbar32",WS_TABSTOP,12,250,187,15
    EDITTEXT        IDC_RES_DPIEDIT,204,250,23,13,ES_NUMBER|WS_TABSTOP
    LTEXT           "dpi",IDC_STATIC,235,252,10,8
END

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "DLL Overrides",IDC_STATIC,8,4,244,240
    LTEXT           "Si può specificare per ogni libreria se deve essere builtin o nativa. Una voce specificata come ""*"" si applica a tutte le dll che non hanno un'impostazione specifica."
                    ,  IDC_STATIC,15,17,228,32
    CONTROL         "DLL Overrides", IDC_TREE_DLLS, "SysTreeView32", WS_BORDER | WS_TABSTOP | TVS_LINESATROOT | TVS_HASLINES | TVS_SHOWSELALWAYS | TVS_HASBUTTONS, 15,50,142,187
    LTEXT           "Ordine di caricamento:",IDC_STATIC,163,50,37,8
    CONTROL         "Builtin (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,163,65,75,10
    CONTROL         "Native (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,163,80,75,10
    CONTROL         "Builtin, Native",IDC_RAD_BUILTIN_NATIVE,"Button", BS_AUTORADIOBUTTON,163,95,75,10
    CONTROL         "Native, Builtin",IDC_RAD_NATIVE_BUILTIN,"Button", BS_AUTORADIOBUTTON,163,110,75,10
    CONTROL         "Disabilita",IDC_RAD_DISABLE,"Button", BS_AUTORADIOBUTTON,163,125,75,10
    PUSHBUTTON	    "Aggiungi applicazione...",IDC_DLLS_ADDAPP,163,144,82,14
    PUSHBUTTON	    "Rimuovi applicazione",IDC_DLLS_REMOVEAPP, 163,164,82,14
    PUSHBUTTON	    "Aggiungi DLL override per:",IDC_DLLS_ADDDLL, 163,184,82,14
    COMBOBOX        IDC_DLLLIST,163,204,82,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_SORT | CBS_LOWERCASE
    PUSHBUTTON	    "Rimuovi DLL override",IDC_DLLS_REMOVEDLL,163,224,82,14
END

IDD_SYSTEMCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Drives",IDC_STATIC,8,4,244,120
    LISTBOX         IDC_LIST_DRIVES,15,23,179,90,WS_VSCROLL
    PUSHBUTTON      "&Aggiungi",IDC_DRIVE_ADD,197,22,50,22
    PUSHBUTTON      "&Rimuovi",IDC_DRIVE_REMOVE,197,51,50,22
    PUSHBUTTON      "&Modifica",IDC_DRIVE_EDIT,197,80,50,22
END

IDD_DRIVECFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Altri Drive",IDC_STATIC,7,107,246,112
    LISTBOX         IDC_LIST_DRIVES,14,118,232,76,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Aggiungi...",IDC_BUTTON_ADD,14,199,37,14
    PUSHBUTTON      "Rimuovi",IDC_BUTTON_REMOVE,55,199,37,14
    PUSHBUTTON      "Modifica...",IDC_BUTTON_EDIT,97,199,37,14
    PUSHBUTTON      "Rileva automaticamente...",IDC_BUTTON_AUTODETECT,197,199,49,14
    LTEXT	    "ATTENZIONE: Non è stato definito un driver C. Clicca su 'Aggiungi Driver' per aggiungerne uno.", IDS_DRIVE_NO_C, 7,223,250,110
END

IDD_AUDIOCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT	"Driver audio: ",IDC_STATIC,10,20,60,8
    COMBOBOX	IDC_AUDIO_DRIVER,70,18,85,85,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON	"Rileva automaticamente",IDC_AUDIO_AUTODETECT,170,20,49,14
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WINE_VERSION        "CVS"
    IDS_TAB_GENERAL         "Generale"
    IDS_TAB_DLLS            "Librerie"
    IDS_TAB_DRIVES          "Drive"
END
