/*
 * WineCfg resources
 * Norwegian Bokmål Language Support
 *
 * Copyright 2005-2006 Alexander N. Sørnes <alex@thehandofagony.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL

IDR_WINECFG MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Oppsett", IDC_AUDIO_CONFIGURE
    END
END

IDD_ABOUTCFG DIALOGEX 0, 0, 260, 270
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           PACKAGE_STRING,IDC_STATIC,119,17,120,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP ,15,17,157,111
    LTEXT           "http://www.winehq.org/",IDC_STATIC,119,31,106,8
    LTEXT           "Dette biblioteket er fri programvarer; det kan redistribueres i henhold til vilkårene i GNU Lesser General Public License utgitt av «the Free Software Foundation», enten versjon 2.1 av denne Lisensen, eller (hvis du ønsker det) en nyere versjon.",
                    IDC_STATIC,119,44,124,72
END

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Programminnstillinger ",IDC_STATIC, 8,4,244,240
    LTEXT           "Wine kan herme etter forskjellige Windows-versjoner for hvert program. Denne fanen er koblet med bibliotek- og grafikkfanene, sånn at du kan endre innstillinger for hele systemet eller enkelte program der også.",
                    IDC_STATIC,15,20,227,30
    CONTROL         "Programmer",IDC_APP_LISTVIEW,"SysListView32",WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS,
                    15,50,230,150
    PUSHBUTTON	    "Legg til progr&am . . .",IDC_APP_ADDAPP, 90,204,75,14
    PUSHBUTTON	    "Fje&rn program",IDC_APP_REMOVEAPP, 170,204,75,14
    LTEXT           "&Windows-versjon:",IDC_STATIC,17,226,58,8
    COMBOBOX        IDC_WINVER,83,224,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP    
END

IDD_GRAPHCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Vinduinnstillinger ",IDC_STATIC,8,5,244,180

    CONTROL	    "Tillat DirectX-programmer å hindre musen fra å forlate vinduet",IDC_DX_MOUSE_GRAB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,15,230,8
    LTEXT 	    "Hvis vinduer kontrolleres av din standardvindusbehandler, får de vanlige rammer, og respekterer det virtuelle skrivebordet ditt og vises i vinduslisten.\n\nHvis de er ukontrollerte er de koblet fra vindusbehandleren. Dette betyr at de ikke integreres like godt med skrivebordet ditt, men emuleringen blir mer presis sånn at noen programmer virker bedre.",
		    IDC_STATIC,15,38,228,80
    CONTROL	    "Tillat vindusbehandleren å kontrollere vinduene",IDC_ENABLE_MANAGED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,112,230,8
    
    LTEXT           "Du kan velge å emulere et Windows-skrivebord, der alle vinduene er bundet i en virtuell skjerm, eller du kan få vinduene til å oppføre seg som andre programmer på skrivebordet.",
                    IDC_STATIC,15,126,228,28
    LTEXT           "Skrivebordsstrrelse:",IDC_DESKTOP_SIZE,15,168,44,8,WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,108,168,8,8,WS_DISABLED
    CONTROL         "Emuler et virtuelt skrivebord",IDC_ENABLE_DESKTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,153,230,10
		    
    EDITTEXT        IDC_DESKTOP_WIDTH,64,168,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,117,168,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED

    GROUPBOX        " Direct3D ",IDC_STATIC,8,190,244,50

    LTEXT	    "Verteks-skyggelegging: ",IDC_STATIC,15,200,80,30
    COMBOBOX	    IDC_D3D_VSHADER_MODE,100,198,150,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Tillat piksel-skyggelegger (hvis maskinvaren støtter det)",IDC_D3D_PSHADER_MODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,217,230,10
    GROUPBOX        " Screen Resolution ",IDC_STATIC,8,242,244,25
    CONTROL         "", IDC_RES_TRACKBAR, "msctls_trackbar32",WS_TABSTOP,12,250,187,15
    EDITTEXT        IDC_RES_DPIEDIT,204,250,23,13,ES_NUMBER|WS_TABSTOP
    LTEXT           "dpi",IDC_STATIC,235,252,10,8
END

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " DLL-overstyring ",IDC_STATIC,8,4,244,240
    LTEXT           "Dynamisk koblede biblioteker kan oppgis individuelt til å være enten innebygget (fra Wine) eller innfødt (tatt fra Windows eller gitt av et program)."
                    ,IDC_STATIC,16,16,220,32
    LTEXT           "Ny overstyring for bibliotek:",IDC_STATIC,16,58,100,8
    COMBOBOX        IDC_DLLCOMBO,16,68,140,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_SORT | CBS_LOWERCASE
    PUSHBUTTON      "&Legg til",IDC_DLLS_ADDDLL, 164,68,82,13,BS_DEFPUSHBUTTON 
    LTEXT           "Eksisterende overstyringer:",IDC_STATIC,16,86,100,8
    LISTBOX         IDC_DLLS_LIST,16,96,140,140,WS_BORDER | WS_TABSTOP | WS_VSCROLL
    PUSHBUTTON      "R&ediger",IDC_DLLS_EDITDLL,164,96,82,14
    PUSHBUTTON      "Fje&rn",IDC_DLLS_REMOVEDLL,164,114,82,14 
END

IDD_LOADORDER DIALOG DISCARDABLE 80, 90, 110, 92
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Rediger overstyring"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Lastingsrekkeflge ",IDC_STATIC,8,4,94,66
    CONTROL         "Inne&bygget (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,16,14,75,10
    CONTROL         "I&nnfødt (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,16,24,75,10
    CONTROL         "&Innebygget så innfødt",IDC_RAD_BUILTIN_NATIVE,"Button", BS_AUTORADIOBUTTON,16,34,75,10
    CONTROL         "Innfdø&dt så innebygget",IDC_RAD_NATIVE_BUILTIN,"Button", BS_AUTORADIOBUTTON,16,44,75,10
    CONTROL         "&Deaktiver",IDC_RAD_DISABLE,"Button", BS_AUTORADIOBUTTON,16,54,75,10
    DEFPUSHBUTTON   "OK",IDOK,8,74,45,14,WS_GROUP
    PUSHBUTTON      "Avbryt",IDCANCEL,57,74,45,14,WS_GROUP
END

IDD_DRIVECFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Stasjonkartlegging ",IDC_STATIC,8,4,244,240
    CONTROL         "Listevisning",IDC_LIST_DRIVES,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                    LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,18,232,76
    PUSHBUTTON      "&Legg til . . .",IDC_BUTTON_ADD,15,98,45,14
    PUSHBUTTON      "Fje&rn",IDC_BUTTON_REMOVE,63,98,37,14
    PUSHBUTTON      "&Automatisk . . .",IDC_BUTTON_AUTODETECT,190,98,56,14

    /* editing drive details */
    LTEXT           "&Sti:",IDC_STATIC,15,123,20,9    
    EDITTEXT        IDC_EDIT_PATH,41,120,160,13,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Bla . . .",IDC_BUTTON_BROWSE_PATH,206,120,40,13

    LTEXT           "&Type:",IDC_STATIC_TYPE,15,138,21,10
    COMBOBOX        IDC_COMBO_TYPE,41,135,77,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Volumnavn og serienummer",IDC_LABELSERIAL_STATIC,15,155,95,10

    PUSHBUTTON      "Avan&sert visning",IDC_BUTTON_SHOW_HIDE_ADVANCED,186,136,60,13
    CONTROL         "&Finn automatisk fra enhet:",IDC_RADIO_AUTODETECT,"Button",
                    BS_AUTORADIOBUTTON,15,166,93,10
    EDITTEXT        IDC_EDIT_DEVICE,27,176,174,13,ES_AUTOHSCROLL
    PUSHBUTTON      "&Bla . . .",IDC_BUTTON_BROWSE_DEVICE,206,176,40,13
    CONTROL         "Oppnevn &manuelt:",IDC_RADIO_ASSIGN,"Button",
                    BS_AUTORADIOBUTTON,15,195,69,10

    LTEXT           "Vo&lumnavn:",IDC_STATIC_LABEL,33,208,29,12
    EDITTEXT        IDC_EDIT_LABEL,63,205,78,13,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "S&erienummer:",IDC_STATIC_SERIAL,33,225,29,12
    EDITTEXT        IDC_EDIT_SERIAL,63,221,78,13,ES_AUTOHSCROLL | WS_TABSTOP

    CONTROL         "Vis .-filer",IDC_SHOW_DOT_FILES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,260,230,8
END

IDD_AUDIOCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Valg av driver ",IDC_STATIC,8,4,244,195
    LTEXT           "Velg en lyddriver ved å krysse av i boksen ved siden av den du vil bruke. Deaktiver lyd ved å ikke velge noen. Det anbefales ikke å velge flere drivere. Driverens oppsett kan endres ved å høyreklikke på den.",IDC_STATIC,15,20,227,30
    CONTROL         "Enheter",IDC_AUDIO_TREE,"SysTreeView32",WS_BORDER | WS_TABSTOP,15,50,140,140 
    PUSHBUTTON	    "Kontrollpanel",IDC_AUDIO_CONTROL_PANEL,170,50,59,14
    GROUPBOX        " DirectSound ",IDC_STATIC,8,205,244,60
    LTEXT	 "Maskinvareakselerasjon: ",IDC_STATIC,15,215,90,10
    COMBOBOX	    IDC_DSOUND_HW_ACCEL,100,213,150,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Std. samplingsrate:",IDC_STATIC,15,232,70,8
    COMBOBOX        IDC_DSOUND_RATES,90,230,42,76,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Std. biter per prøve:",IDC_STATIC,137,232,80,8
    COMBOBOX        IDC_DSOUND_BITS,220,230,30,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Driveremulering",IDC_DSOUND_DRV_EMUL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,250,230,10
END

IDD_DESKTOP_INTEGRATION DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Appearance ",IDC_STATIC,8,4,244,106
    LTEXT           "Tema:",IDC_STATIC,15,16,130,8
    COMBOBOX        IDC_THEME_THEMECOMBO,15,24,130,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Installer tema . . .",IDC_THEME_INSTALL,152,23,93,14
    LTEXT           "Farge:",IDC_THEME_COLORTEXT,15,40,112,8
    COMBOBOX        IDC_THEME_COLORCOMBO,15,48,112,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Størrelse:",IDC_THEME_SIZETEXT,135,40,110,8
    COMBOBOX        IDC_THEME_SIZECOMBO,135,48,110,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Element:",IDC_STATIC,15,64,112,8
    COMBOBOX        IDC_SYSPARAM_COMBO,15,74,112,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | CBS_SORT
    LTEXT           "Farge:",IDC_SYSPARAM_COLOR_TEXT,135,64,25,8,WS_DISABLED
    PUSHBUTTON      "",IDC_SYSPARAM_COLOR,135,74,25,13,WS_DISABLED | BS_OWNERDRAW
    LTEXT           "Størrelse:",IDC_SYSPARAM_SIZE_TEXT,166,64,30,8,WS_DISABLED
    EDITTEXT        IDC_SYSPARAM_SIZE,166,74,23,13,ES_AUTOHSCROLL | WS_TABSTOP | WS_DISABLED
    CONTROL         "",IDC_SYSPARAM_SIZE_UD,UPDOWN_CLASS,UDS_SETBUDDYINT | WS_DISABLED,187,74,15,13
    PUSHBUTTON      "Skrift",IDC_SYSPARAM_FONT,208,74,37,13,WS_DISABLED
    GROUPBOX        " Skallkatalog ",IDC_STATIC,8,114,244,100
    CONTROL         "Listevisning",IDC_LIST_SFPATHS,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                     LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,126,230,64
    CONTROL         "Pek til:",IDC_LINK_SFPATH,"Button",BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED,15,195,50,13
    EDITTEXT         IDC_EDIT_SFPATH,65,195,145,13,ES_AUTOHSCROLL|WS_TABSTOP|WS_DISABLED
    PUSHBUTTON      "Bla",IDC_BROWSE_SFPATH,215,195,30,13,WS_DISABLED
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WINE_VERSION        "CVS"
    IDS_TAB_APPLICATIONS    "Programmer"
    IDS_TAB_DLLS            "Biblioteker"
    IDS_TAB_DRIVES          "Stasjoner"
    IDS_CHOOSE_PATH         "Velg Unix-målkatalogen."
    IDS_HIDE_ADVANCED       "Enkel visning"
    IDS_SHOW_ADVANCED       "Avansert visning"
    IDS_NOTHEME             "(Intet tema)"
    IDS_TAB_GRAPHICS        "Grafikk"
    IDS_TAB_DESKTOP_INTEGRATION "Skrivebordsintegrering"
    IDS_TAB_AUDIO           "Lyd"
    IDS_TAB_ABOUT           "Om"
    IDS_WINECFG_TITLE       "Oppsett av Wine"
    IDS_WINECFG_TITLE_APP   "Wine configuration for %s"
    IDS_THEMEFILE           "Temafiler"
    IDS_THEMEFILE_SELECT    "Velg en temafil"
    IDS_AUDIO_MISSING       "Ingen lyddriver er oppgitt i registeret.\n\nEn anbefalt driver er valgt for deg;\nbruk den eller velg en annen,\n\nog trykk «Bruk» for at endringene skal tre i kraft."
    IDS_SHELL_FOLDER        "Skallkatalog"
    IDS_LINKS_TO            "Peker til"
END
    
    STRINGTABLE DISCARDABLE
    BEGIN
    IDS_DLL_WARNING         "Endring av lastingsrekkefølgen for dette biblioteket anbefales ikke.\nEr du sikker på at du vil gjøre det?"
    IDS_DLL_WARNING_CAPTION "Advarsel: systembibliotek"
    IDS_DLL_NATIVE          "innfødt"
    IDS_DLL_BUILTIN         "innebygget"
    IDS_DLL_NATIVE_BUILTIN  "innfødt, innebygget"
    IDS_DLL_BUILTIN_NATIVE  "innebygget, innfødt"
    IDS_DLL_DISABLED        "slått av"
    IDS_DEFAULT_SETTINGS    "Globale innstillinger"
    IDS_EXECUTABLE_FILTER   "Wine-programmer (*.exe,*.exe.so)\0*.exe;*.exe.so\0"
    IDS_USE_GLOBAL_SETTINGS "Bruk globale innstillinger"
    IDS_SELECT_EXECUTABLE   "Velg en programfil"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SHADER_MODE_HARDWARE    "Maskinvare"
    IDS_SHADER_MODE_NONE        "Ingen"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DRIVE_UNKNOWN           "Automatisk"
    IDS_DRIVE_FIXED             "Lokal harddisk"
    IDS_DRIVE_REMOTE            "Nettverksressurs"
    IDS_DRIVE_REMOVABLE         "Diskett"
    IDS_DRIVE_CDROM             "CD-ROM"
    IDS_DRIVE_LETTERS_EXCEEDED  "Du kan ikke legge til flere stasjoner.\n\nHver stasjon må ha en bokstav fra A til Z, så 26 stasjoner er det meste"
    IDS_SYSTEM_DRIVE_LABEL      "Systemstasjon"
    IDS_CONFIRM_DELETE_C        "Vil du virkelig fjerne stasjon C?\n\nDe fleste Windows-programmer forventer at C finnes, og lager bråk hvis den ikke er der. Husk å lage den på nytt hvis du fortsetter."
    IDS_COL_DRIVELETTER         "Bokstav"
    IDS_COL_DRIVEMAPPING        "Peker til"
    IDS_NO_DRIVE_C              "Du har ikke en C-stasjon. Det er ikke så bra..\n\nHusk å trykke «Legg til» i stasjonsfanen for å lage en.\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ACCEL_FULL              "Full"
    IDS_ACCEL_STANDARD          "Standard"
    IDS_ACCEL_BASIC             "Grunnleggende"
    IDS_ACCEL_EMULATION         "Emulering"
    IDS_DRIVER_ALSA             "ALSA-driver"
    IDS_DRIVER_ESOUND           "EsounD-driver"
    IDS_DRIVER_OSS              "OSS-driver"
    IDS_DRIVER_JACK             "JACK-driver"
    IDS_DRIVER_NAS              "NAS-driver"
    IDS_DRIVER_AUDIOIO          "Audio IO (Solaris)-driver"
    IDS_DRIVER_COREAUDIO        "CoreAudio-driver"
    IDS_OPEN_DRIVER_ERROR       "Klarte ikke åpne %s."
    IDS_SOUNDDRIVERS            "Lyddrivere"
    IDS_DEVICES_WAVEOUT         "Lyd ut-enheter"
    IDS_DEVICES_WAVEIN          "Lyd inn-enheter"
    IDS_DEVICES_MIDIOUT         "MIDI ut-enheter"
    IDS_DEVICES_MIDIIN          "MIDI inn-enheter"
    IDS_DEVICES_AUX             "Aux-enheter"
    IDS_DEVICES_MIXER           "Mikserenheter"
    IDS_UNAVAILABLE_DRIVER      "Fant driver i registeret som ikke er tilgjengelig.\n\nFjerne «%s» fra registeret?"
    IDS_WARNING                 "Advarsel"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDC_SYSPARAMS_BUTTON            "Styrer bakgrunnen"
    IDC_SYSPARAMS_BUTTON_TEXT       "Styrer tekst"
    IDC_SYSPARAMS_DESKTOP           "Skrivebord"
    IDC_SYSPARAMS_MENU              "Menybakgrunn"
    IDC_SYSPARAMS_MENU_TEXT         "Menytekst"
    IDC_SYSPARAMS_SCROLLBAR         "Rullefelt"
    IDC_SYSPARAMS_SELECTION         "Bakgrunn for merking"
    IDC_SYSPARAMS_SELECTION_TEXT    "Merket tekst"
    IDC_SYSPARAMS_TOOLTIP           "Bakgrunn for verktøytips"
    IDC_SYSPARAMS_TOOLTIP_TEXT      "Tekst i verktøytips"
    IDC_SYSPARAMS_WINDOW            "Vindubakgrunn"
    IDC_SYSPARAMS_WINDOW_TEXT       "Vinduteksts"
    IDC_SYSPARAMS_ACTIVE_TITLE      "Aktiv tittellinje"
    IDC_SYSPARAMS_ACTIVE_TITLE_TEXT "Aktiv titteltekst"
    IDC_SYSPARAMS_INACTIVE_TITLE    "Inaktiv tittellinje"
    IDC_SYSPARAMS_INACTIVE_TITLE_TEXT "Inaktiv titteltekst"
END
