/*
 * WineCfg resources
 * Polish Language Support
 *
 * Copyright 2002 Jaco Greeff
 * Copyright 2003 Dimitrie O. Paun
 * Copyright 2003-2004 Mike Hearn
 * Copyright 2007 Mikolaj Zalewski
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

IDR_WINECFG MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Konfiguruj", IDC_AUDIO_CONFIGURE
    END
END

IDD_ABOUTCFG DIALOGEX 0, 0, 260, 270
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           PACKAGE_STRING,IDC_STATIC,119,17,120,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP ,15,17,157,111
    LTEXT           "http://www.winehq.org/",IDC_STATIC,119,31,106,8
    LTEXT           "Ta biblioteka jest wolnym oprogramowaniem; mo¿esz j¹ rozpowszechniaæ i/lub modyfikowaæ pod warunkami licencji GNU Lesser General Public License opublikowanej przez Free Software Foundation; licencji w wersji 2.1, lub (wed³ug w³asnego uznania) dowolnej póŸniejszej.",
                    IDC_STATIC,119,44,124,72
END

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Ustawienia aplikacji",IDC_STATIC, 8,4,244,240
    LTEXT           "Wine mo¿e udawaæ ró¿ne wersje Windows dla ró¿nych aplikacji.  Wybór w tej zak³adce jest powi¹zany z zak³adkami Biblioteki i Grafika - ustawienia tam równie¿ dotycz¹ wszystkich aplikacji lub tylko wybranej.",
                    IDC_STATIC,15,20,227,30
    CONTROL         "Aplikacje",IDC_APP_LISTVIEW,"SysListView32",WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS,
                    15,50,230,150
    PUSHBUTTON	    "&Dodaj aplikacjê...",IDC_APP_ADDAPP, 90,204,75,14
    PUSHBUTTON	    "&Usuñ aplikacjê",IDC_APP_REMOVEAPP, 170,204,75,14
    LTEXT           "&Wersja Windows:",IDC_STATIC,17,226,58,8
    COMBOBOX        IDC_WINVER,83,224,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_GRAPHCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Ustawienia okna ",IDC_STATIC,8,4,244,180

    CONTROL	    "Zezwalaj aplikacjom DirectX na zablokowanie opuszczania okna przez kursor myszki",IDC_DX_MOUSE_GRAB,"Button",BS_MULTILINE|BS_AUTOCHECKBOX | WS_TABSTOP,15,14,231,16
    LTEXT 	    "Je¿eli okna s¹ zarz¹dane przez mened¿era okien, to bêd¹ mia³y standardow¹ ramkê, wspó³pracowa³y z wirtualnymi pulpitami i pojawia³y siê na liœcie okien.\n\n\
Je¿eli okna nie s¹ zarz¹dane to nie bêd¹ zauwa¿one przez mened¿era. To znaczy, ¿e okna bêd¹ gorzej wspó³pracowa³y z reszt¹ pulpitu, ale emulacja bêdzie dok³adniejsza.\
Niektórym aplikacjom mo¿e to pomóc w lepszym dzia³aniu.",
		    IDC_STATIC,15,37,228,80
    CONTROL	    "Pozwój mened¿erowi okien zarz¹dzaæ oknami Wine",IDC_ENABLE_MANAGED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,111,230,8

    LTEXT           "Uruchamiane aplikacje Windows mog¹ byæ albo zawarte w jednym okinie, które bêdzie pe³ni³o rolê wirtualnego pulpitu, albo mieæ w³asne okna jak inne aplikacje.",
                    IDC_STATIC,15,125,228,28
    LTEXT           "Rozmiar pulpitu:",IDC_DESKTOP_SIZE,15,167,44,8,WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,108,167,8,8,WS_DISABLED
    CONTROL         "Emuluj wirtualny pulpit",IDC_ENABLE_DESKTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,152,230,10

    EDITTEXT        IDC_DESKTOP_WIDTH,64,167,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,117,167,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED

    GROUPBOX        " Direct3D ",IDC_STATIC,8,189,244,50

    LTEXT	    "Obs³uga Vertex Shader: ",IDC_STATIC,15,199,80,30
    COMBOBOX	    IDC_D3D_VSHADER_MODE,100,197,145,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Obs³uguj Pixel Shader (je¿eli s¹ obs³ugiwane przez kartê graficzn¹)",IDC_D3D_PSHADER_MODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,216,230,10
END

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Regu³y bibliotek DLL ",IDC_STATIC,8,4,244,240
    LTEXT           "Dla ka¿dej biblioteki DLL mo¿na wybraæ czy nale¿y u¿yæ wersji wbudowanej (dostarczonej z Wine) czy zewnêtrzenej (wziêtej z Windows lub dostarczonej wraz z aplikacj¹)."
                    ,IDC_STATIC,16,16,220,32
    LTEXT           "Nowa regu³a dla biblioteki:",IDC_STATIC,16,58,100,8
    COMBOBOX        IDC_DLLCOMBO,16,68,140,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_SORT | CBS_LOWERCASE
    PUSHBUTTON      "&Dodaj",IDC_DLLS_ADDDLL, 164,68,82,13,BS_DEFPUSHBUTTON
    LTEXT           "Instniej¹ce regu³y:",IDC_STATIC,16,86,100,8
    LISTBOX         IDC_DLLS_LIST,16,96,140,140,WS_BORDER | WS_TABSTOP | WS_VSCROLL
    PUSHBUTTON      "&Edycja",IDC_DLLS_EDITDLL,164,96,82,14
    PUSHBUTTON      "&Usuñ",IDC_DLLS_REMOVEDLL,164,114,82,14
END

IDD_LOADORDER DIALOG DISCARDABLE 80, 90, 150, 92
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Edycja regu³y"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Biblioteka ",IDC_STATIC,8,4,134,66
    CONTROL         "Tylko &wbudowana (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,16,14,115,10
    CONTROL         "Tylko &zewnêtrzna (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,16,24,115,10
    CONTROL         "Preferuj w&budowan¹",IDC_RAD_BUILTIN_NATIVE,"Button", BS_AUTORADIOBUTTON,16,34,115,10
    CONTROL         "Preferuj z&ewnêtrzn¹",IDC_RAD_NATIVE_BUILTIN,"Button", BS_AUTORADIOBUTTON,16,44,115,10
    CONTROL         "&Wy³¹cz bibliotekê",IDC_RAD_DISABLE,"Button", BS_AUTORADIOBUTTON,16,54,115,10
    DEFPUSHBUTTON   "&OK",IDOK,18,74,45,14,WS_GROUP
    PUSHBUTTON      "&Anuluj",IDCANCEL,87,74,45,14,WS_GROUP
END

IDD_DRIVECFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Przyporz¹dkowanie dysków ",IDC_STATIC,8,4,244,240
    CONTROL         "Listview",IDC_LIST_DRIVES,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                    LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,18,232,76
    PUSHBUTTON      "&Dodaj...",IDC_BUTTON_ADD,15,98,37,14
    PUSHBUTTON      "&Usuñ",IDC_BUTTON_REMOVE,56,98,37,14
    PUSHBUTTON      "Automatyczne wykrywanie",IDC_BUTTON_AUTODETECT,127,98,119,14

    /* editing drive details */
    LTEXT           "&Œcie¿ka:",IDC_STATIC,15,123,25,9
    EDITTEXT        IDC_EDIT_PATH,46,120,150,13,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Przegl¹daj...",IDC_BUTTON_BROWSE_PATH,201,120,45,13

    LTEXT           "&Typ:",IDC_STATIC_TYPE,15,138,21,10
    COMBOBOX        IDC_COMBO_TYPE,41,135,77,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Etykieta i numer seryjny",IDC_LABELSERIAL_STATIC,15,155,95,10

    PUSHBUTTON      "&Opcje zaawansowane >>",IDC_BUTTON_SHOW_HIDE_ADVANCED,156,136,90,13
    CONTROL         "Odczytaj &z urz¹dzenia:",IDC_RADIO_AUTODETECT,"Button",
                    BS_AUTORADIOBUTTON,15,166,93,10
    EDITTEXT        IDC_EDIT_DEVICE,27,176,169,13,ES_AUTOHSCROLL
    PUSHBUTTON      "Prze&gl¹daj...",IDC_BUTTON_BROWSE_DEVICE,201,176,45,13
    CONTROL         "Prz&yporz¹dkuj rêcznie:",IDC_RADIO_ASSIGN,"Button",
                    BS_AUTORADIOBUTTON,15,195,89,10

    LTEXT           "&Etykieta:",IDC_STATIC_LABEL,33,208,59,12
    EDITTEXT        IDC_EDIT_LABEL,93,205,78,13,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "&Numer seryjny:",IDC_STATIC_SERIAL,33,225,59,12
    EDITTEXT        IDC_EDIT_SERIAL,93,221,78,13,ES_AUTOHSCROLL | WS_TABSTOP

    CONTROL         "Pokazuj pliki zaczynaj¹ce siê od kropki",IDC_SHOW_DOT_FILES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,260,230,8
END

IDD_AUDIOCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Wybór sterownika ",IDC_STATIC,8,4,244,195
    LTEXT           "Wybierz sterownik przez wstawienie krzy¿yka. Je¿eli chcesz wy³¹czyæ dŸwiêk, zostaw wszystkie pola puste. Wybór wielu sterowników na raz nie jest zalecany. Aby skonfigurowaæ sterownik kliknij prawym przyciskiem myszy na nim.",IDC_STATIC,15,20,227,40
    CONTROL         "Urz¹dzenia",IDC_AUDIO_TREE,"SysTreeView32",WS_BORDER | WS_TABSTOP,15,58,140,132
    PUSHBUTTON      "Test dŸwiêku",IDC_AUDIO_TEST,165,58,69,14
    PUSHBUTTON	    "Panel sterowania",IDC_AUDIO_CONTROL_PANEL,165,78,69,14
    GROUPBOX        " DirectSound ",IDC_STATIC,8,205,244,60
    LTEXT	    "Przyœpiesznie sprzêtowe: ",IDC_STATIC,15,215,90,10
    COMBOBOX	    IDC_DSOUND_HW_ACCEL,100,213,150,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Domyœlna czêstoœæ próbkowania:",IDC_STATIC,15,232,105,8
    COMBOBOX        IDC_DSOUND_RATES,121,230,38,76,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Bitów na próbkê:",IDC_STATIC,165,232,55,8
    COMBOBOX        IDC_DSOUND_BITS,223,230,27,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Emulacja sterownika",IDC_DSOUND_DRV_EMUL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,250,230,10
END

IDD_DESKTOP_INTEGRATION DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Wygl¹d ",IDC_STATIC,8,4,244,106
    LTEXT           "Motyw:",IDC_STATIC,15,16,130,8
    COMBOBOX        IDC_THEME_THEMECOMBO,15,24,130,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Zainstaluj motyw...",IDC_THEME_INSTALL,152,23,93,14
    LTEXT           "Kolor:",IDC_THEME_COLORTEXT,15,40,112,8
    COMBOBOX        IDC_THEME_COLORCOMBO,15,48,112,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Wielkoœæ:",IDC_THEME_SIZETEXT,135,40,110,8
    COMBOBOX        IDC_THEME_SIZECOMBO,135,48,110,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Element:",IDC_STATIC,15,64,112,8
    COMBOBOX        IDC_SYSPARAM_COMBO,15,74,112,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | CBS_SORT
    LTEXT           "Kolor:",IDC_SYSPARAM_COLOR_TEXT,135,64,25,8,WS_DISABLED
    PUSHBUTTON      "",IDC_SYSPARAM_COLOR,135,74,25,13,WS_DISABLED | BS_OWNERDRAW
    LTEXT           "Wielkoœæ:",IDC_SYSPARAM_SIZE_TEXT,166,64,30,8,WS_DISABLED
    EDITTEXT        IDC_SYSPARAM_SIZE,166,74,23,13,ES_AUTOHSCROLL | WS_TABSTOP | WS_DISABLED
    CONTROL         "",IDC_SYSPARAM_SIZE_UD,UPDOWN_CLASS,UDS_SETBUDDYINT | WS_DISABLED,187,74,15,13
    PUSHBUTTON      "Czcionka",IDC_SYSPARAM_FONT,208,74,37,13,WS_DISABLED
    GROUPBOX        " Foldery specjalne ",IDC_STATIC,8,114,244,100
    CONTROL         "Listview",IDC_LIST_SFPATHS,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                     LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,126,230,64
    CONTROL         "Dowi¹zany do:",IDC_LINK_SFPATH,"Button",BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED,15,195,70,13
    EDITTEXT         IDC_EDIT_SFPATH,85,195,105,13,ES_AUTOHSCROLL|WS_TABSTOP|WS_DISABLED
    PUSHBUTTON      "Przegl¹daj",IDC_BROWSE_SFPATH,195,195,50,13,WS_DISABLED
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WINE_VERSION        "CVS"
    IDS_TAB_APPLICATIONS    "Aplikacje"
    IDS_TAB_DLLS            "Biblioteki"
    IDS_TAB_DRIVES          "Dyski"
    IDS_CHOOSE_PATH         "Proszê wybraæ docelowy katalog Uniksowy."
    IDS_HIDE_ADVANCED       "Ukryj zaawansowane <<"
    IDS_SHOW_ADVANCED       "Opcje zaawansowane >>"
    IDS_NOTHEME             "(brak motywu)"
    IDS_TAB_GRAPHICS        "Grafika"
    IDS_TAB_DESKTOP_INTEGRATION "Integracja z pulpitem"
    IDS_TAB_AUDIO           "DŸwiêk"
    IDS_TAB_ABOUT           "Informacje"
    IDS_WINECFG_TITLE       "Konfiguracje Wine"
    IDS_WINECFG_TITLE_APP   "Konfiguracje Wine dla %s"
    IDS_THEMEFILE           "Pliki motywu"
    IDS_THEMEFILE_SELECT    "Wybierz plik motywu"
    IDS_AUDIO_MISSING       "Nie wybrano sterownika dŸwiêku.\n\nZalecany sterownik zosta³ w³aœnie zaznaczony.\nMo¿esz go u¿yæ lub wybraæ jakiœ inny.\n\nAby wybór zosta³ zapamiêtany u¿yj 'Zastosuj'."
    IDS_SHELL_FOLDER        "Folder"
    IDS_LINKS_TO            "Dowi¹zany do"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DLL_WARNING         "Zmiana regu³y dla tej biblioteki nie jest zalecana.\nCzy na pewno chcesz to zrobiæ?"
    IDS_DLL_WARNING_CAPTION "Uwaga: biblioteka systemowa"
    IDS_DLL_NATIVE          "zewnêtrzna"
    IDS_DLL_BUILTIN         "wbudowana"
    IDS_DLL_NATIVE_BUILTIN  "zewnêtrzena, wbudowana"
    IDS_DLL_BUILTIN_NATIVE  "wbudowana, zewnêtrzena"
    IDS_DLL_DISABLED        "wy³¹czona"
    IDS_DEFAULT_SETTINGS    "Ustawnienia standardowe"
    IDS_EXECUTABLE_FILTER   "Programy Wine (*.exe,*.exe.so)\0*.exe;*.exe.so\0"
    IDS_USE_GLOBAL_SETTINGS "U¿yj ustawieñ globalnych"
    IDS_SELECT_EXECUTABLE   "Wybierz plik wykonywalny"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SHADER_MODE_HARDWARE    "Sprzêtowa"
    IDS_SHADER_MODE_NONE        "Brak"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DRIVE_UNKNOWN           "Automatyczne wykrywanie"
    IDS_DRIVE_FIXED             "Lokalny dysk twardy"
    IDS_DRIVE_REMOTE            "Zasób sieciowy"
    IDS_DRIVE_REMOVABLE         "Stacja dyskietek"
    IDS_DRIVE_CDROM             "CD-ROM"
    IDS_DRIVE_LETTERS_EXCEEDED  "Nie mo¿esz dodaæ nastêpnego dysku.\n\nKa¿dy dysk musi mieæ literê od A do Z, wiêc nie mo¿e byæ ich wiêcej ni¿ 26"
    IDS_SYSTEM_DRIVE_LABEL      "Dysk systemowy"
    IDS_CONFIRM_DELETE_C        "Czy na pewno chcesz usun¹æ dysk C?\n\nWiêkszoœæ programów dla Windows zak³ada, ¿e taki dysk istnieje i mog¹ nie dzia³aæ bez niego. Je¿eli go skasujesz nie zapomnij go znowu utworzyæ!"
    IDS_COL_DRIVELETTER         "Litera"
    IDS_COL_DRIVEMAPPING        "Przyporz¹dkowany do"
    IDS_NO_DRIVE_C              "Nie masz dysku C. To mo¿e powodowaæ problemy.\n\nNie zapomnij u¿yæ 'Dodaj' w zak³adce 'Dyski', aby go utworzyæ!\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ACCEL_FULL              "Pe³ne"
    IDS_ACCEL_STANDARD          "Standardowe"
    IDS_ACCEL_BASIC             "Podstawowe"
    IDS_ACCEL_EMULATION         "Emulacja"
    IDS_DRIVER_ALSA             "Sterownik ALSA"
    IDS_DRIVER_ESOUND           "Sterownik EsounD"
    IDS_DRIVER_OSS              "Sterownik OSS"
    IDS_DRIVER_JACK             "Sterownik JACK"
    IDS_DRIVER_NAS              "Sterownik NAS"
    IDS_DRIVER_AUDIOIO          "Sterownik Audio IO (Solaris)"
    IDS_DRIVER_COREAUDIO        "Sterownik CoreAudio"
    IDS_OPEN_DRIVER_ERROR       "Nie mogê otworzyæ %s!"
    IDS_SOUNDDRIVERS            "Sterowniki dŸwiêkowe"
    IDS_DEVICES_WAVEOUT         "Urz¹dzenia Wave Out"
    IDS_DEVICES_WAVEIN          "Urz¹dzenia Wave In"
    IDS_DEVICES_MIDIOUT         "Wyjœcia MIDI"
    IDS_DEVICES_MIDIIN          "Wejœcia MIDI"
    IDS_DEVICES_AUX             "Urz¹dzenia Aux"
    IDS_DEVICES_MIXER           "Miksery"
    IDS_UNAVAILABLE_DRIVER      "Sterownik, który jest skonfigurowany w rejestrze jest niedostêpny!\n\nUsun¹æ wpis “%s” z rejestru?"
    IDS_WARNING                 "Ostrze¿enie"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDC_SYSPARAMS_BUTTON            "T³o kontrolek"
    IDC_SYSPARAMS_BUTTON_TEXT       "Tekst kontrolek"
    IDC_SYSPARAMS_DESKTOP           "Pulpit"
    IDC_SYSPARAMS_MENU              "T³o menu"
    IDC_SYSPARAMS_MENU_TEXT         "Tekst menu"
    IDC_SYSPARAMS_SCROLLBAR         "Paskek przewijania"
    IDC_SYSPARAMS_SELECTION         "T³o zaznaczonego obszaru"
    IDC_SYSPARAMS_SELECTION_TEXT    "Zaznaczony tekst"
    IDC_SYSPARAMS_TOOLTIP           "T³o podpowiedzi"
    IDC_SYSPARAMS_TOOLTIP_TEXT      "Tekst podpowiedzi"
    IDC_SYSPARAMS_WINDOW            "T³o okna"
    IDC_SYSPARAMS_WINDOW_TEXT       "Tekst okna"
    IDC_SYSPARAMS_ACTIVE_TITLE      "T³o nag³ówka aktywnego okna"
    IDC_SYSPARAMS_ACTIVE_TITLE_TEXT "Tytu³ aktywnego okna"
    IDC_SYSPARAMS_INACTIVE_TITLE    "T³o nag³ówka nieaktywnego okna"
    IDC_SYSPARAMS_INACTIVE_TITLE_TEXT "Tytu³ nieaktywnego okna"
END
