/*
 * WineCfg resources
 * Portuguese Language Support
 *
 * Copyright 2003 Marcelo Duarte
 * Copyright 2004,2007 Américo José Melo
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_ABOUTCFG DIALOGEX 0, 0, 260, 250
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Versão do Wine:",IDC_STATIC,119,17,55,8
    LTEXT           "CVS",IDC_WINEVER,179,17,56,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | 
                    SS_REALSIZEIMAGE | WS_BORDER,15,17,157,111, WS_EX_TRANSPARENT
    LTEXT           "http://www.winehq.org/",IDC_STATIC,119,31,106,8
    CTEXT           "This library is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.",
                    IDC_STATIC,119,44,124,72
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_ABOUTCFG DIALOGEX 0, 0, 260, 250
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Versão Wine:",IDC_STATIC,119,17,55,8
    LTEXT           "CVS",IDC_WINEVER,179,17,56,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE |
                    SS_REALSIZEIMAGE | WS_BORDER,15,17,157,111, WS_EX_TRANSPARENT
    LTEXT           "http://www.winehq.org/",IDC_STATIC,119,31,106,8
    CTEXT           "Esta biblioteca é 'software' livre; pode-a redistribuir e/ou modificar nos termos da Licença Pública Geral Lesser GNU como publicada pela Fundação de 'Software' Livre; tanto a versão 2.1 da licença, ou (conforme a sua opinião) qualquer versão poetrior.",
                    IDC_STATIC,119,44,124,72
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Configurações da aplicação ",IDC_STATIC, 8,4,244,240
    LTEXT           "Wine pode imitar vários estilos e versões do Windows para cada aplicação",
                    IDC_STATIC,15,20,227,20
    CONTROL         "Aplicações",IDC_APP_LISTVIEW,"SysListView32",WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS,
                    15,40,230,140
    PUSHBUTTON	    "Adiconar aplicação...",IDC_APP_ADDAPP, 90,184,75,14
    PUSHBUTTON	    "Remover aplicação",IDC_APP_REMOVEAPP, 170,184,75,14
    LTEXT           "Versão do Windows:",IDC_STATIC,17,204,58,8
    COMBOBOX        IDC_WINVER,83,202,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP    
    LTEXT           "Versão do DOS:",IDC_STATIC,17,223,57,8
    COMBOBOX        IDC_DOSVER,83,224,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Configurações da aplicação ",IDC_STATIC, 8,4,244,240
    LTEXT           "O Wine pode imitar vários estilos e versões do Windows para cada aplicação",
                    IDC_STATIC,15,20,227,20
    CONTROL         "Aplicações",IDC_APP_LISTVIEW,"SysListView32",WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS,
                    15,40,230,140
    PUSHBUTTON	    "Adiconar aplicação...",IDC_APP_ADDAPP, 90,184,75,14
    PUSHBUTTON	    "Remover aplicação",IDC_APP_REMOVEAPP, 170,184,75,14
    LTEXT           "Versão Windows:",IDC_STATIC,17,204,58,8
    COMBOBOX        IDC_WINVER,83,202,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Versão DOS:",IDC_STATIC,17,223,57,8
    COMBOBOX        IDC_DOSVER,83,224,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_GRAPHCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL	    "Programas DirectX podem impedir que o mouse deixe a janela?",IDC_DX_MOUSE_GRAB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,35,230,8
    
    GROUPBOX        " Configurações de janela ",IDC_STATIC,8,25,244,120

    /* FIXME: the wording of this explanation could be a lot better */
    LTEXT           "Você pode escolher emulatar uma área de trabalho, onde todas as janelas são confinadas em uma 'tela virtual', ou pode ter uma janela colocada na sua área de trabalho padrão.",
                    IDC_STATIC,15,73,228,28
    LTEXT           "Tamanho da área de trabalho:",IDC_DESKTOP_SIZE,15,115,100,8,WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,164,115,8,8,WS_DISABLED
    CONTROL         "Emular uma área de trabalho virtual",IDC_ENABLE_DESKTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,100,228,10
		    
    EDITTEXT        IDC_DESKTOP_WIDTH,120,115,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,173,115,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    GROUPBOX        " Screen Resolution ",IDC_STATIC,8,242,244,25
    CONTROL         "", IDC_RES_TRACKBAR, "msctls_trackbar32",WS_TABSTOP,12,250,187,15
    EDITTEXT        IDC_RES_DPIEDIT,204,250,23,13,ES_NUMBER|WS_TABSTOP
    LTEXT           "dpi",IDC_STATIC,235,252,10,8
		    
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_GRAPHCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL	    "Os programas DirectX podem impedir que o rato deixe a janela?",IDC_DX_MOUSE_GRAB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,35,230,8
    
    GROUPBOX        " Configurações de janela ",IDC_STATIC,8,25,244,120

    /* FIXME: the wording of this explanation could be a lot better */
    LTEXT           "Pode escolher emular um ecrã, onde todas as janelas são confinadas a um 'ecrã virtual', ou pode ter uma janela colocada no seu ecrã predefinido.",
                    IDC_STATIC,15,73,228,28
    LTEXT           "Tamanho do ecrã:",IDC_DESKTOP_SIZE,15,115,100,8,WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,164,115,8,8,WS_DISABLED
    CONTROL         "Emular um ecrã virtual",IDC_ENABLE_DESKTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,100,228,10
		    
    EDITTEXT        IDC_DESKTOP_WIDTH,120,115,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,173,115,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
		    
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Sobreescrever DLLs",IDC_STATIC,8,4,244,240
    LTEXT           "Bibliotecas podem ser especificadas individualmente como 'builtin' ou 'native'. Uma entrada DLL como ""*"" é pertinente a todas as DLLs não especificadas explicitamente."
                    ,  IDC_STATIC,15,17,228,32
    CONTROL         "Sobreescrever DLLs", IDC_TREE_DLLS, "SysTreeView32", WS_BORDER | WS_TABSTOP | TVS_LINESATROOT | TVS_HASLINES | TVS_SHOWSELALWAYS | TVS_HASBUTTONS, 15,50,142,187
    LTEXT           "Ordem de carga:",IDC_STATIC,163,50,60,8
    CONTROL         "Builtin (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,163,65,75,10
    CONTROL         "Native (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,163,80,75,10
    CONTROL         "Builtin, Native",IDC_RAD_BUILTIN_NATIVE,"Button", BS_AUTORADIOBUTTON,163,95,75,10
    CONTROL         "Native, Builtin",IDC_RAD_NATIVE_BUILTIN,"Button", BS_AUTORADIOBUTTON,163,110,75,10
    CONTROL         "Desabilitada",IDC_RAD_DISABLE,"Button", BS_AUTORADIOBUTTON,163,125,75,10
    PUSHBUTTON	    "Adicionar aplicação...",IDC_DLLS_ADDAPP,163,144,82,14
    PUSHBUTTON	    "Remover aplicação",IDC_DLLS_REMOVEAPP, 163,164,82,14
    PUSHBUTTON	    "Adicionar carga de DLL:",IDC_DLLS_ADDDLL, 163,184,82,14
    COMBOBOX        IDC_DLLLIST,163,204,82,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_SORT | CBS_LOWERCASE
    PUSHBUTTON	    "Remover carga de DLL",IDC_DLLS_REMOVEDLL,163,224,82,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Substituição de DLLs",IDC_STATIC,8,4,244,240
    LTEXT           "As bibliotecas de ligações dinâmicas podem ser especificadas individualmente para serem embutidas (providenciadas pelo Wine) ou nativas (tiradas do Windows ou providenciadas pela aplicação)."
                    ,  IDC_STATIC,15,17,228,32
    CONTROL         "Substituir DLLs", IDC_TREE_DLLS, "SysTreeView32", WS_BORDER | WS_TABSTOP | TVS_LINESATROOT | TVS_HASLINES | TVS_SHOWSELALWAYS | TVS_HASBUTTONS, 15,50,142,187
    LTEXT           "Ordem de carga:",IDC_STATIC,163,50,60,8
    CONTROL         "Builtin (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,163,65,75,10
    CONTROL         "Nativas (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,163,80,75,10
    CONTROL         "Embutidas, Nativas",IDC_RAD_BUILTIN_NATIVE,"Button", BS_AUTORADIOBUTTON,163,95,75,10
    CONTROL         "Nativas, Embutidas",IDC_RAD_NATIVE_BUILTIN,"Button", BS_AUTORADIOBUTTON,163,110,75,10
    CONTROL         "Desactivada",IDC_RAD_DISABLE,"Button", BS_AUTORADIOBUTTON,163,125,75,10
    PUSHBUTTON	    "Adicionar aplicação...",IDC_DLLS_ADDAPP,163,144,82,14
    PUSHBUTTON	    "Remover aplicação",IDC_DLLS_REMOVEAPP, 163,164,82,14
    PUSHBUTTON	    "Adicionar carga DLL:",IDC_DLLS_ADDDLL, 163,184,82,14
    COMBOBOX        IDC_DLLLIST,163,204,82,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_SORT | CBS_LOWERCASE
    PUSHBUTTON	    "Remover carga de DLL",IDC_DLLS_REMOVEDLL,163,224,82,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

IDD_SYSTEMCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Unidades",IDC_STATIC,8,4,244,120
    LISTBOX         IDC_LIST_DRIVES,15,23,179,90,WS_VSCROLL
    PUSHBUTTON      "&Adicionar",IDC_DRIVE_ADD,197,22,50,22
    PUSHBUTTON      "&Remover",IDC_DRIVE_REMOVE,197,51,50,22
    PUSHBUTTON      "&Editar",IDC_DRIVE_EDIT,197,80,50,22
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_DRIVECFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Outras unidades",IDC_STATIC,7,107,246,112
    LISTBOX         IDC_LIST_DRIVES,14,118,232,76,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Adicionar...",IDC_BUTTON_ADD,14,199,37,14
    PUSHBUTTON      "Remover",IDC_BUTTON_REMOVE,55,199,37,14
    PUSHBUTTON      "Editar...",IDC_BUTTON_EDIT,97,199,37,14
    PUSHBUTTON      "Autodetectar...",IDC_BUTTON_AUTODETECT,197,199,49,14
    LTEXT	    "AVISO: Parece que você não tem uma unidade C definida. Clique em 'Adicionar' para adicionar uma.", IDS_DRIVE_NO_C, 7,223,250,110
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_DRIVECFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Outras unidades",IDC_STATIC,7,107,246,112
    LISTBOX         IDC_LIST_DRIVES,14,118,232,76,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Adicionar...",IDC_BUTTON_ADD,14,199,37,14
    PUSHBUTTON      "Remover",IDC_BUTTON_REMOVE,55,199,37,14
    PUSHBUTTON      "Editar...",IDC_BUTTON_EDIT,97,199,37,14
    PUSHBUTTON      "Autodetectar...",IDC_BUTTON_AUTODETECT,197,199,49,14
    LTEXT	    "AVISO: Parece que não tem uma unidade C definida. Clique em 'Adicionar' para adicionar uma.", IDS_DRIVE_NO_C, 7,223,250,110
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_AUDIOCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT	"Driver de áudio: ",IDC_STATIC,10,20,60,8
    COMBOBOX	IDC_AUDIO_DRIVER,70,18,85,85,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON	"Autodetectar",IDC_AUDIO_AUTODETECT,170,20,49,14
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

IDD_AUDIOCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT	"Controlador áudio: ",IDC_STATIC,10,20,60,8
    COMBOBOX	IDC_AUDIO_DRIVER,70,18,85,85,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON	"Autodetectar",IDC_AUDIO_AUTODETECT,170,20,49,14
END


LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_WINE_VERSION        "CVS"
    IDS_TAB_GENERAL         "Geral"
    IDS_TAB_DLLS            "Bibliotecas"
    IDS_TAB_DRIVES          "Unidades"
END
