/*
 * WineCfg resources
 * Swedish Language Support
 *
 * Copyright 2007 Daniel Nylander <po@danielnylander.se>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT

IDR_WINECFG MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Konfigurera", IDC_AUDIO_CONFIGURE
    END
END

IDD_ABOUTCFG DIALOGEX 0, 0, 260, 270
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           PACKAGE_STRING,IDC_STATIC,119,17,120,8
    CONTROL         IDB_WINE,IDC_STATIC,"Static",SS_BITMAP ,15,17,157,111
    LTEXT           "http://www.winehq.org/",IDC_STATIC,119,31,106,8
    LTEXT           "Detta bibliotek är fri programvara. Du kan distribuera det och/eller modifiera det under villkoren i GNU Lesser General Public License, publicerad av Free Software Foundation, antingen version 2.1 eller (om du så vill) någon senare version.",
                    IDC_STATIC,119,44,124,72
END

IDD_APPCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Programinställningar ",IDC_STATIC, 8,4,244,240
    LTEXT           "Wine kan imitera olika Windows-versioner för varje program.  Den här fliken är länkad till flikarna Bibliotek och Grafik för att låta dig ändra inställningar i de flikarna också, antingen systembreda eller per program.",
                    IDC_STATIC,15,20,227,30
    CONTROL         "Program",IDC_APP_LISTVIEW,"SysListView32",WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS,
                    15,50,230,150
    PUSHBUTTON	    "&Lägg till program",IDC_APP_ADDAPP, 90,204,75,14
    PUSHBUTTON	    "&Ta bort program",IDC_APP_REMOVEAPP, 170,204,75,14
    LTEXT           "&Windows-version:",IDC_STATIC,17,226,58,8
    COMBOBOX        IDC_WINVER,83,224,163,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_GRAPHCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Fönsterinställningar ",IDC_STATIC,8,4,244,184

    CONTROL         "Tillåt DirectX-program att stoppa &musen som lämnar dess fönster",IDC_DX_MOUSE_GRAB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,19,230,8

    CONTROL	        "Tillåt &fönsterhanteraren att styra fönstren",IDC_ENABLE_MANAGED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,40,230,8
    LTEXT           "Om fönster hanteras av din fönsterhanterare så kommer de att ha standardramar, de kommer att respektera ditt virtuella skrivbord och visas i din fönsterlista. \n\nOm fönstren inte hanteras kommer de att kopplas från din fönsterhanterare. Det här betyder att fönstren inte integreras så nära med ditt skrivbord, men emuleringen kommer att vara mer precis så den kan hjälpa vissa program att fungera bättre.",
		           IDC_STATIC,19,51,225,80

    CONTROL         "Emulera ett virtuellt skriv&bord",IDC_ENABLE_DESKTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,128,230,10
    LTEXT           "Du kan antingen välja att ha alla Windows-program förpassade till ett enda fönster, som fungerar som ett virtuellt skrivbord, eller få dem att uppträda som dina andra program.",
                    IDC_STATIC,19,138,225,28
    LTEXT           "Storlek på &skrivbord:",IDC_DESKTOP_SIZE,15,168,44,8,WS_DISABLED
    LTEXT           "X",IDC_DESKTOP_BY,109,168,8,8,WS_DISABLED
    EDITTEXT        IDC_DESKTOP_WIDTH,64,166,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    EDITTEXT        IDC_DESKTOP_HEIGHT,117,166,40,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED

    GROUPBOX        " Direct3D ",IDC_STATIC,8,190,244,48

    LTEXT           "Stöd för &Vertex Shader: ",IDC_STATIC,15,203,80,32
    COMBOBOX        IDC_D3D_VSHADER_MODE,100,201,145,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Tillåt &Pixel Shader (om hårdvaran stöds)",IDC_D3D_PSHADER_MODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,219,230,10
    GROUPBOX        " Skärm&upplösning ",IDC_STATIC,8,242,244,25
    CONTROL         "", IDC_RES_TRACKBAR, "msctls_trackbar32",WS_TABSTOP,12,250,187,15
    EDITTEXT        IDC_RES_DPIEDIT,204,250,23,13,ES_NUMBER|WS_TABSTOP
    LTEXT           "dpi",IDC_STATIC,235,252,10,8
END

IDD_DLLCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " DLL-åsidosättningar ",IDC_STATIC,8,4,244,240
    LTEXT           "Dynamic Link Libraries kan anges individuellt att vara antingen inbyggda (tillhandahålls av Wine) eller ursprungliga (tagna från Windows eller tillhandahålls av programmet)."
                    ,IDC_STATIC,16,16,220,32
    LTEXT           "&Ny åsidosättning för bibliotek:",IDC_STATIC,16,58,100,8
    COMBOBOX        IDC_DLLCOMBO,16,68,140,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_SORT | CBS_LOWERCASE
    PUSHBUTTON      "&Lägg till",IDC_DLLS_ADDDLL, 164,68,82,13,BS_DEFPUSHBUTTON
    LTEXT           "Befintliga &åsidosättningar:",IDC_STATIC,16,86,100,8
    LISTBOX         IDC_DLLS_LIST,16,96,140,140,WS_BORDER | WS_TABSTOP | WS_VSCROLL
    PUSHBUTTON      "R&edigera",IDC_DLLS_EDITDLL,164,96,82,14
    PUSHBUTTON      "&Ta bort",IDC_DLLS_REMOVEDLL,164,114,82,14
END

IDD_LOADORDER DIALOG DISCARDABLE 80, 90, 110, 92
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Redigera åsidosättning"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Inläsningsordning ",IDC_STATIC,8,4,94,66
    CONTROL         "&Inbyggd (Wine)",IDC_RAD_BUILTIN,"Button", BS_AUTORADIOBUTTON | WS_GROUP,16,14,75,10
    CONTROL         "&Ursprunglig (Windows)",IDC_RAD_NATIVE,"Button", BS_AUTORADIOBUTTON,16,24,75,10
    CONTROL         "Inb&yggd sedan Ursprunglig",IDC_RAD_BUILTIN_NATIVE,"Button", BS_AUTORADIOBUTTON,16,34,75,10
    CONTROL         "Urs&prunglig sedan Inbyggd",IDC_RAD_NATIVE_BUILTIN,"Button", BS_AUTORADIOBUTTON,16,44,75,10
    CONTROL         "&Inaktivera",IDC_RAD_DISABLE,"Button", BS_AUTORADIOBUTTON,16,54,75,10
    DEFPUSHBUTTON   "OK",IDOK,8,74,45,14,WS_GROUP
    PUSHBUTTON      "Avbryt",IDCANCEL,57,74,45,14,WS_GROUP
END

IDD_DRIVECFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Enhets&mappningar ",IDC_STATIC,8,4,244,240
    CONTROL         "Listvy",IDC_LIST_DRIVES,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                    LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,18,232,76
    PUSHBUTTON      "&Lägg till...",IDC_BUTTON_ADD,15,98,37,14
    PUSHBUTTON      "&Ta bort",IDC_BUTTON_REMOVE,56,98,37,14
    PUSHBUTTON      "Auto&detect...",IDC_BUTTON_AUTODETECT,197,98,49,14

    /* editing drive details */
    LTEXT           "&Sökväg:",IDC_STATIC,15,123,20,9
    EDITTEXT        IDC_EDIT_PATH,41,120,160,13,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Bläddra...",IDC_BUTTON_BROWSE_PATH,206,120,40,13

    LTEXT           "&Typ:",IDC_STATIC_TYPE,15,138,21,10
    COMBOBOX        IDC_COMBO_TYPE,41,135,77,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Etikett och serienummer",IDC_LABELSERIAL_STATIC,15,155,95,10

    PUSHBUTTON      "Visa &avancerat",IDC_BUTTON_SHOW_HIDE_ADVANCED,186,136,60,13
    CONTROL         "Identifiera automatiskt &från enhet:",IDC_RADIO_AUTODETECT,"Button",
                    BS_AUTORADIOBUTTON,15,166,93,10
    EDITTEXT        IDC_EDIT_DEVICE,27,176,174,13,ES_AUTOHSCROLL
    PUSHBUTTON      "Bro&wse...",IDC_BUTTON_BROWSE_DEVICE,206,176,40,13
    CONTROL         "Tilldela &manuellt:",IDC_RADIO_ASSIGN,"Button",
                    BS_AUTORADIOBUTTON,15,195,69,10

    LTEXT           "&Etikett:",IDC_STATIC_LABEL,33,208,29,12
    EDITTEXT        IDC_EDIT_LABEL,63,205,78,13,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "S&erienr:",IDC_STATIC_SERIAL,33,225,29,12
    EDITTEXT        IDC_EDIT_SERIAL,63,221,78,13,ES_AUTOHSCROLL | WS_TABSTOP

    CONTROL         "Visa &punktfiler",IDC_SHOW_DOT_FILES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,260,230,8
END

IDD_AUDIOCFG DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Enhetsval ",IDC_STATIC,8,4,244,195
    LTEXT           "Välj en ljuddrivrutin genom att kryssa i rutan för den önskade drivrutinen.  Inaktivera ljud genom att inte välja någon drivrutin. Val av flera drivrutiner rekommenderas inte. Konfigurera en drivrutin genom att högerklicka på den.",IDC_STATIC,15,20,227,30
    CONTROL         "Enheter",IDC_AUDIO_TREE,"SysTreeView32",WS_BORDER | WS_TABSTOP,15,50,140,140
    PUSHBUTTON      "&Testa ljud",IDC_AUDIO_TEST,170,50,59,14
    PUSHBUTTON	    "&Kontrollpanel",IDC_AUDIO_CONTROL_PANEL,170,70,59,14
    GROUPBOX        " DirectSound ",IDC_STATIC,8,205,244,60
    LTEXT	    "&Hårdvaruaccelerering: ",IDC_STATIC,15,215,90,10
    COMBOBOX	    IDC_DSOUND_HW_ACCEL,100,213,150,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Samplingsfrekvens som standard:",IDC_STATIC,15,232,70,8
    COMBOBOX        IDC_DSOUND_RATES,90,230,42,76,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Bitar per sampling som standard:",IDC_STATIC,137,232,80,8
    COMBOBOX        IDC_DSOUND_BITS,220,230,30,56,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Drivrutins&emulering",IDC_DSOUND_DRV_EMUL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,250,230,10
END

IDD_DESKTOP_INTEGRATION DIALOG DISCARDABLE  0, 0, 260, 250
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Utseende ",IDC_STATIC,8,4,244,106
    LTEXT           "&Tema:",IDC_STATIC,15,16,130,8
    COMBOBOX        IDC_THEME_THEMECOMBO,15,24,130,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Installera tema...",IDC_THEME_INSTALL,152,23,93,14
    LTEXT           "&Färg:",IDC_THEME_COLORTEXT,15,40,112,8
    COMBOBOX        IDC_THEME_COLORCOMBO,15,48,112,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Storlek:",IDC_THEME_SIZETEXT,135,40,110,8
    COMBOBOX        IDC_THEME_SIZECOMBO,135,48,110,14,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Ob&jekt:",IDC_STATIC,15,64,112,8
    COMBOBOX        IDC_SYSPARAM_COMBO,15,74,112,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | CBS_SORT
    LTEXT           "Fä&rg:",IDC_SYSPARAM_COLOR_TEXT,135,64,25,8,WS_DISABLED
    PUSHBUTTON      "",IDC_SYSPARAM_COLOR,135,74,25,13,WS_DISABLED | BS_OWNERDRAW
    LTEXT           "St&orlek:",IDC_SYSPARAM_SIZE_TEXT,166,64,30,8,WS_DISABLED
    EDITTEXT        IDC_SYSPARAM_SIZE,166,74,23,13,ES_AUTOHSCROLL | WS_TABSTOP | WS_DISABLED
    CONTROL         "",IDC_SYSPARAM_SIZE_UD,UPDOWN_CLASS,UDS_SETBUDDYINT | WS_DISABLED,187,74,15,13
    PUSHBUTTON      "&Typsnitt",IDC_SYSPARAM_FONT,208,74,37,13,WS_DISABLED
    GROUPBOX        " S&hell-mapp ",IDC_STATIC,8,114,244,100
    CONTROL         "Listvy",IDC_LIST_SFPATHS,"SysListView32",LVS_REPORT | LVS_AUTOARRANGE | LVS_ALIGNLEFT |
                     LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 15,126,230,64
    CONTROL         "&Länka till:",IDC_LINK_SFPATH,"Button",BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED,15,195,50,13
    EDITTEXT         IDC_EDIT_SFPATH,65,195,145,13,ES_AUTOHSCROLL|WS_TABSTOP|WS_DISABLED
    PUSHBUTTON      "B&läddra",IDC_BROWSE_SFPATH,215,195,30,13,WS_DISABLED
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_TAB_APPLICATIONS    "Program"
    IDS_TAB_DLLS            "Bibliotek"
    IDS_TAB_DRIVES          "Enheter"
    IDS_CHOOSE_PATH         "Välj unix-målkatalog, tack."
    IDS_HIDE_ADVANCED       "Dölj &avancerat"
    IDS_SHOW_ADVANCED       "Visa &avancerat"
    IDS_NOTHEME             "(Inget tema)"
    IDS_TAB_GRAPHICS        "Grafik"
    IDS_TAB_DESKTOP_INTEGRATION "Skrivbordsintegration"
    IDS_TAB_AUDIO           "Ljud"
    IDS_TAB_ABOUT           "Om"
    IDS_WINECFG_TITLE       "Konfiguration av Wine"
    IDS_WINECFG_TITLE_APP   "Wine-konfiguration för %s"
    IDS_THEMEFILE           "Temafiler"
    IDS_THEMEFILE_SELECT    "Välj en temafil"
    IDS_AUDIO_MISSING       "Det finns ingen ljuddrivrutin för närvarande angiven i registret.\n\nEn rekommenderad drivrutin har valts åt dig.\nDu kan använda denna drivrutin eller välja en annan tillgänglig drivrutin.\n\nDu måste klicka på Verkställ för att valet ska börja gälla."
    IDS_SHELL_FOLDER        "Shell-mapp"
    IDS_LINKS_TO            "Länkar till"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DLL_WARNING         "Ändring av inläsningsordningen för detta bibliotek rekommenderas inte.\nÄr du säker på att du vill göra detta?"
    IDS_DLL_WARNING_CAPTION "Varning: systembibliotek"
    IDS_DLL_NATIVE          "ursprunglig"
    IDS_DLL_BUILTIN         "inbyggd"
    IDS_DLL_NATIVE_BUILTIN  "ursprunglig, inbyggd"
    IDS_DLL_BUILTIN_NATIVE  "inbyggd, ursprunglig"
    IDS_DLL_DISABLED        "inaktiverad"
    IDS_DEFAULT_SETTINGS    "Standardinställningar"
    IDS_EXECUTABLE_FILTER   "Wine-program (*.exe,*.exe.so)\0*.exe;*.exe.so\0"
    IDS_USE_GLOBAL_SETTINGS "Använd globala inställningar"
    IDS_SELECT_EXECUTABLE   "Välj en körbar fil"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SHADER_MODE_HARDWARE    "Hårdvara"
    IDS_SHADER_MODE_NONE        "Ingen"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DRIVE_UNKNOWN           "Autodetect"
    IDS_DRIVE_FIXED             "Lokal hårddisk"
    IDS_DRIVE_REMOTE            "Nätverksutdelning"
    IDS_DRIVE_REMOVABLE         "Diskett"
    IDS_DRIVE_CDROM             "Cd-rom"
    IDS_DRIVE_LETTERS_EXCEEDED  "Du kan inte lägga till fler enheter.\n\nVarje enhet måste ha en bokstav, från A till Z, så du kan inte ha fler än 26"
    IDS_SYSTEM_DRIVE_LABEL      "Systemenhet"
    IDS_CONFIRM_DELETE_C        "Är du säker på att du vill ta bort enheten C?\n\nDe flesta Windows-program förväntar att enhet C finns, och kommer att dö om den inte finns. Om du fortsätter bör du komma ihåg att återskapa den!"
    IDS_COL_DRIVELETTER         "Bokstav"
    IDS_COL_DRIVEMAPPING        "Enhetsmappning"
    IDS_NO_DRIVE_C              "Du saknar enhet C. Det här är inte så bra.\n\nKom ihåg att klicka på ‘Lägg till’ i fliken Enheter för att skapa en!\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ACCEL_FULL              "Fullständig"
    IDS_ACCEL_STANDARD          "Standard"
    IDS_ACCEL_BASIC             "Grundläggande"
    IDS_ACCEL_EMULATION         "Emulering"
    IDS_DRIVER_ALSA             "ALSA-drivrutin"
    IDS_DRIVER_ESOUND           "EsounD-drivrutin"
    IDS_DRIVER_OSS              "OSS-drivrutin"
    IDS_DRIVER_JACK             "JACK-drivrutin"
    IDS_DRIVER_NAS              "NAS-drivrutin"
    IDS_DRIVER_AUDIOIO          "Audio IO-drivrutin (Solaris)"
    IDS_DRIVER_COREAUDIO        "CoreAudio Driver"
    IDS_OPEN_DRIVER_ERROR       "Kunde inte öppna %s!"
    IDS_SOUNDDRIVERS            "Ljuddrivrutiner"
    IDS_DEVICES_WAVEOUT         "Wave Out-enheter"
    IDS_DEVICES_WAVEIN          "Wave In-enheter"
    IDS_DEVICES_MIDIOUT         "MIDI Out-enheter"
    IDS_DEVICES_MIDIIN          "MIDI In-enheter"
    IDS_DEVICES_AUX             "Aux-enheter"
    IDS_DEVICES_MIXER           "Mixerenheter"
    IDS_UNAVAILABLE_DRIVER      "Hittade drivrutin i registret som inte finns tillgänglig!\n\nTa bort “%s” från registret?"
    IDS_WARNING                 "Varning"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDC_SYSPARAMS_BUTTON            "Controls Background"
    IDC_SYSPARAMS_BUTTON_TEXT       "Controls Text"
    IDC_SYSPARAMS_DESKTOP           "Skrivbord"
    IDC_SYSPARAMS_MENU              "Menybakgrund"
    IDC_SYSPARAMS_MENU_TEXT         "Menytext"
    IDC_SYSPARAMS_SCROLLBAR         "Scrollbar"
    IDC_SYSPARAMS_SELECTION         "Selection Background"
    IDC_SYSPARAMS_SELECTION_TEXT    "Selection Text"
    IDC_SYSPARAMS_TOOLTIP           "ToolTip Background"
    IDC_SYSPARAMS_TOOLTIP_TEXT      "ToolTip Text"
    IDC_SYSPARAMS_WINDOW            "Window Background"
    IDC_SYSPARAMS_WINDOW_TEXT       "Window Text"
    IDC_SYSPARAMS_ACTIVE_TITLE      "Active Title Bar"
    IDC_SYSPARAMS_ACTIVE_TITLE_TEXT "Active Title Text"
    IDC_SYSPARAMS_INACTIVE_TITLE    "Inactive Title Bar"
    IDC_SYSPARAMS_INACTIVE_TITLE_TEXT "Inactive Title Text"
    IDC_SYSPARAMS_MSGBOX_TEXT       "Message Box Text"
END
