/*
 * Help Viewer
 *
 * Copyright 1996 Ulrich Schmid
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Menu */

MAIN_MENU MENU LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
{
 POPUP "&File" {
  MENUITEM "&Open", 0x101
  MENUITEM SEPARATOR
  MENUITEM "&Print", 0x104
  MENUITEM "Printer &setup...", 0x106
   MENUITEM SEPARATOR
  MENUITEM "&Exit", 0x108
 }
 POPUP "&Edit" {
   MENUITEM "&Copy...", 0x10A
   MENUITEM SEPARATOR
   MENUITEM "&Annotate...", 0x10C
 }
 POPUP "&Bookmark" {
   MENUITEM "&Define...", 0x10E
 }
 POPUP "&Help" {
   MENUITEM "Help &on help", 0x110
   MENUITEM "Always on &top", 0x111
   MENUITEM SEPARATOR
   MENUITEM "&Info...", 0x113
#ifdef WINELIB
   MENUITEM "&About WINE", 0x114
#endif
 }
}

/* Strings */
STRINGTABLE DISCARDABLE LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
{
WINE_HELP, 		"WINE Help"
WHERROR, 		"ERROR"
WARNING,  		"WARNING"
INFO,  			"Information"
NOT_IMPLEMENTED, 	"Not implemented"
HLPFILE_ERROR_s, 	"Error while reading the help file `%s'"
CONTENTS, 		"&Contents"
SEARCH, 		"&Search"
BACK, 			"&Back"
HISTORY, 		"&History"
ALL_FILES, 		"All files (*.*)"
HELP_FILES_HLP, 	"Help files (*.hlp)"
}
