/*
 * Help Viewer
 *
 * Copyright 1996 Ulrich Schmid
 * Finnish language by Jussi Tirkkonen <jt@modeemi.cs.tut.fi>
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Menu */

MAIN_MENU MENU LANGUAGE LANG_FINNISH, SUBLANG_NEUTRAL
{
 POPUP "&Tiedosto" {
  MENUITEM "&Avaa...", 0x101
  MENUITEM SEPARATOR   
  MENUITEM "&Tulosta", 0x104
  MENUITEM "&Kirjoittimen asetukset...", 0x106
   MENUITEM SEPARATOR   
  MENUITEM "&Lopeta", 0x108
 }
 POPUP "&Muokkaa" {
   MENUITEM "&Kopioi...", 0x10A
   MENUITEM SEPARATOR   
   MENUITEM "&Huomautus...", 0x10C
 }
 POPUP "&Kirjanmerkki" {
   MENUITEM "&Aseta...", 0x10E
 }
 POPUP "&Ohje" {
   MENUITEM "&Ohjeen käyttö", 0x110
   MENUITEM "&Aina päällimmäisenä", 0x111
   MENUITEM SEPARATOR   
   MENUITEM "T&ietoja...", 0x113
#ifdef WINELIB
   MENUITEM "&Tietoja WINEstä", 0x114
#endif
 }
}

/* Strings */

STRINGTABLE DISCARDABLE LANGUAGE LANG_FINNISH, SUBLANG_NEUTRAL
{
WINE_HELP, 		"WINE Ohje"
WHERROR, 		"VIRHE"
WARNING,  		"VAROITUS"
INFO,  			"Tietoja"
NOT_IMPLEMENTED, 	"Ei käytettävissä"
HLPFILE_ERROR_s, 	"Virhe luettaessa ohjetiedostoa `%s'"
CONTENTS, 		"&Sisällys"
SEARCH, 		"&Etsi"
BACK, 			"&Takaisin"
HISTORY, 		"&Luetut"
ALL_FILES, 		"Kaikki tiedostot (*.*)"
HELP_FILES_HLP, 	"Ohjetiedostot (*.hlp)"
}
