/*
 * Help Viewer
 *
 * Copyright 1996 Ulrich Schmid
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Menu */

MAIN_MENU MENU LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
{
 POPUP "&Fichier" {
  MENUITEM "&Ouvrir", 0x101
  MENUITEM SEPARATOR
  MENUITEM "Im&primer", 0x104
  MENUITEM "&Configuration de l'imprimante...", 0x106
   MENUITEM SEPARATOR
  MENUITEM "&Quitter", 0x108
 }
 POPUP "&Edition" {
   MENUITEM "&Copier...", 0x10A
   MENUITEM SEPARATOR
   MENUITEM "&Annotation...", 0x10C
 }
 POPUP "&Signet" {
   MENUITEM "&Définir...", 0x10E
 }
 POPUP "&?" {
   MENUITEM "&Utiliser l'aide", 0x110
   MENUITEM "&Toujours visible", 0x111
   MENUITEM SEPARATOR
   MENUITEM "&Info...", 0x113
#ifdef WINELIB
   MENUITEM "&A propos de WINE", 0x114
#endif
 }
}

/* Strings */

STRINGTABLE DISCARDABLE LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
{
WINE_HELP, 		"Aide de WINE"
WHERROR, 		"ERREUR"
WARNING,  		"ATTENTION"
INFO,  			"Information"
NOT_IMPLEMENTED, 	"Non implementé"
HLPFILE_ERROR_s, 	"Une erreur est survenue en lisant le fichier d'aide `%s'"
CONTENTS, 		"&Index"
SEARCH, 		"&Rechercher"
BACK, 			"&Précédent"
HISTORY, 		"&Historique"
ALL_FILES, 		"Tout fichier (*.*)"
HELP_FILES_HLP, 	"Fichiers d'aide (*.hlp)"
}
