/*
 * Help Viewer
 *
 * Copyright 1996 Ulrich Schmid
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Menu */

MAIN_MENU MENU LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
{
 POPUP "&File" {
  MENUITEM "&Megnyitás...", 0x101
  MENUITEM SEPARATOR   
  MENUITEM "&Nyomtatás", 0x104
  MENUITEM "Nyomtató &beállítás...", 0x106
   MENUITEM SEPARATOR   
  MENUITEM "&Kilépés", 0x108
 }
 POPUP "&Szerkesztés" {
   MENUITEM "&Másolás...", 0x10A
   MENUITEM SEPARATOR   
   MENUITEM "&Annotate...", 0x10C
 }
 POPUP "&Könyvjelzõ" {
   MENUITEM "&Definiálás...", 0x10E
 }
 POPUP "&Segítség" {
   MENUITEM "Segítség &a segítségrõl", 0x110
   MENUITEM "Mindig &legfelül", 0x111
   MENUITEM SEPARATOR   
   MENUITEM "&Információ...", 0x113
#ifdef WINELIB
   MENUITEM "&&A WINE-ról", 0x114
#endif
 }
}

/* Strings */

STRINGTABLE DISCARDABLE LANGUAGE LANG_HUNGARIAN, SUBLANG_NEUTRAL
{
WINE_HELP, 		"WINE segítség"
WHERROR, 		"HIBA"
WARNING,  		"FIGYELMEZTETÉS"
INFO,  			"Információ"
NOT_IMPLEMENTED, 	"Nincs implementálva"
HLPFILE_ERROR_s, 	"Hiba a `%s' file olvasásakor"
CONTENTS, 		"&Tartalom"
SEARCH, 		"&Keresés"
BACK, 			"&Vissza"
HISTORY, 		"&History"
ALL_FILES, 		"Minden file (*.*)"
HELP_FILES_HLP, 	"Segítség file-ok (*.hlp)"
}
