/*
 * Help Viewer
 *
 * Copyright 1996 Ulrich Schmid
 */

/* This file is not yet complete !! */

#define LANGUAGE_ID                  Hu
#define LANGUAGE_NUMBER              7

/* Menu */

#define MENU_FILE                    "&File"
#define MENU_FILE_OPEN               "&Megnyitás..."
#define MENU_FILE_PRINT              "&Nyomtatás"
#define MENU_FILE_PRINTER_SETUP      "Nyomtató &beállítás..."
#define MENU_FILE_EXIT               "&Kilépés"

#define MENU_EDIT                    "&Szerkesztés"
#define MENU_EDIT_COPY_DIALOG        "&Másolás..."
#define MENU_EDIT_ANNOTATE           "&Annotate..."

#define MENU_BOOKMARK                "&Könyvjelzõ"
#define MENU_BOOKMARK_DEFINE         "&Definiálás..."

#define MENU_HELP                    "&Segítség"
#define MENU_HELP_ON_HELP            "Segítség &a segítségrõl"
#define MENU_HELP_ON_TOP             "Mindig &legfelül"
#define MENU_HELP_INFO               "&Információ..."
#define MENU_HELP_ABOUT_WINE         "&A WINE-ról"

/* Strings */

#define STRING_WINE_HELP             "WINE segítség"
#define STRING_ERROR                 "HIBA"
#define STRING_WARNING               "FIGYELMEZTETÉS"
#define STRING_INFO                  "Információ"
#define STRING_NOT_IMPLEMENTED       "Nincs implementálva"
#define STRING_HLPFILE_ERROR_s       "Hiba a `%s' file olvasásakor"
#define STRING_CONTENTS              "&Tartalom"
#define STRING_SEARCH                "&Keresés"
#define STRING_BACK                  "&Vissza"
#define STRING_HISTORY               "&History"
#define STRING_ALL_FILES             "Minden file (*.*)"
#define STRING_HELP_FILES_HLP        "Segítség file-ok (*.hlp)"

#include "Xx.rc"
