/*
 * Help Viewer
 *
 * Copyright 1996 Ulrich Schmid
 * Copyright 1999 Pablo Saratxaga
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Menu */

MAIN_MENU MENU LANGUAGE LANG_WALON, SUBLANG_NEUTRAL
{
 POPUP "&Fitchî" {
  MENUITEM "&Drovî...", 0x101
  MENUITEM SEPARATOR   
  MENUITEM "&Rexhe", 0x104
  MENUITEM "&Apontiaedje del scrirece...", 0x106
   MENUITEM SEPARATOR   
  MENUITEM "Moussî &Foû", 0x108
 }
 POPUP "&Candjî" {
   MENUITEM "&Copyî...", 0x10A
   MENUITEM SEPARATOR   
   MENUITEM "&Sicrîre...", 0x10C
 }
 POPUP "&Rimårkes" {
   MENUITEM "&Defini...", 0x10E
 }
 POPUP "&Aide" {
   MENUITEM "&Aide so l' Aide", 0x110
   MENUITEM "Todi &Visibe", 0x111
   MENUITEM SEPARATOR   
   MENUITEM "&Informåcion...", 0x113
#ifdef WINELIB
   MENUITEM "Å &dfait di WINEE", 0x114
#endif
 }
}

/* Strings */

STRINGTABLE DISCARDABLE LANGUAGE LANG_WALON, SUBLANG_NEUTRAL
{
WINE_HELP, 		"Aidance di WINE"
WHERROR, 		"AROKE"
WARNING,  		"ADVERTIXHMINT"
INFO,  			"Informåcion"
NOT_IMPLEMENTED, 	"Nén co possibe"
HLPFILE_ERROR_s, 	"Yåk n' a nén stî å moumint di lere li fitchî d' aide `%s'"
CONTENTS, 		"Å&dvins"
SEARCH, 		"C&werî"
BACK, 			"Èn &Erî"
HISTORY, 		"&Istwere"
ALL_FILES, 		"Tos les fitchîs (*.*)"
HELP_FILES_HLP, 	"Fitchîs d' aide (*.hlp)"
}
