/*
 * crypt32 dll resources
 *
 * Copyright (C) 2006 Juan Lang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "cryptres.h"

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_AUTHORITY_KEY_ID "認証局鍵識別子"
    IDS_KEY_ATTRIBUTES "鍵の属性"
    IDS_KEY_USAGE_RESTRICTION "鍵の利用制限"
    IDS_SUBJECT_ALT_NAME "サブジェクト代替名"
    IDS_ISSUER_ALT_NAME "発行者代替名"
    IDS_BASIC_CONSTRAINTS "基本制約"
    IDS_KEY_USAGE "鍵の使用法"
    IDS_CERT_POLICIES "証明書ポリシー"
    IDS_SUBJECT_KEY_IDENTIFIER "サブジェクト鍵識別子"
    IDS_CRL_REASON_CODE "CRL 原因コード"
    IDS_CRL_DIST_POINTS "CRL 配布先"
    IDS_ENHANCED_KEY_USAGE "拡張鍵の使用法"
    IDS_AUTHORITY_INFO_ACCESS "認証局情報へのアクセス"
    IDS_CERT_EXTENSIONS "証明書の拡張"
    IDS_NEXT_UPDATE_LOCATION "次回更新場所"
    IDS_YES_OR_NO_TRUST "Yes or No Trust"
    IDS_EMAIL_ADDRESS "電子メール アドレス"
    IDS_UNSTRUCTURED_NAME "構造化されていない名前"
    IDS_CONTENT_TYPE "内容の種類"
    IDS_MESSAGE_DIGEST "メッセージ ダイジェスト"
    IDS_SIGNING_TIME "署名時刻"
    IDS_COUNTER_SIGN "カウンタ署名"
    IDS_CHALLENGE_PASSWORD "チャレンジ パスワード"
    IDS_UNSTRUCTURED_ADDRESS "構造化されていない住所"
    IDS_SMIME_CAPABILITIES "S/MIME機能"
    IDS_PREFER_SIGNED_DATA "Prefer Signed Data"
    IDS_CPS "CPS"
    IDS_USER_NOTICE "User Notice"
    IDS_OCSP "On-line Certificate Status Protocol"
    IDS_CA_ISSUER "認証局の発行者"
    IDS_CERT_TEMPLATE_NAME "証明書のテンプレート名"
    IDS_CERT_TYPE "証明書の種類"
    IDS_CERT_MANIFOLD "証明書の分岐"
    IDS_NETSCAPE_CERT_TYPE "Netscape 証明書の種類"
    IDS_NETSCAPE_BASE_URL "Netscape ベース URL"
    IDS_NETSCAPE_REVOCATION_URL "Netscape 失効 URL"
    IDS_NETSCAPE_CA_REVOCATION_URL "Netscape 認証局失効 URL"
    IDS_NETSCAPE_CERT_RENEWAL_URL "Netscape 証明書更新 URL"
    IDS_NETSCAPE_CA_POLICY_URL "Netscape 認証局ポリシー URL"
    IDS_NETSCAPE_SSL_SERVER_NAME "Netscape SSL サーバ名"
    IDS_NETSCAPE_COMMENT "Netscape コメント"
    IDS_SPC_SP_AGENCY_INFO "SpcSpAgencyInfo"
    IDS_SPC_FINANCIAL_CRITERIA "SpcFinancialCriteria"
    IDS_SPC_MINIMAL_CRITERIA "SpcMinimalCriteria"
    IDS_COUNTRY "Country/Region"
    IDS_ORGANIZATION "Organization"
    IDS_ORGANIZATIONAL_UNIT "Organizational Unit"
    IDS_COMMON_NAME "Common Name"
    IDS_LOCALITY "Locality"
    IDS_STATE_OR_PROVINCE "State or Province"
    IDS_TITLE "Title"
    IDS_GIVEN_NAME "Given Name"
    IDS_INITIALS "Initials"
    IDS_SUR_NAME "Sur Name"
    IDS_DOMAIN_COMPONENT "Domain Component"
    IDS_STREET_ADDRESS "Street Address"
    IDS_SERIAL_NUMBER "Serial Number"
    IDS_CA_VERSION "CA Version"
    IDS_CROSS_CA_VERSION "Cross CA Version"
    IDS_SERIALIZED_SIG_SERIAL_NUMBER "Serialized Signature Serial Number"
    IDS_PRINCIPAL_NAME "Principal Name"
    IDS_WINDOWS_PRODUCT_UPDATE "Windows Product Update"
    IDS_ENROLLMENT_NAME_VALUE_PAIR "Enrollment Name Value Pair"
    IDS_OS_VERSION "OS Version"
    IDS_ENROLLMENT_CSP "Enrollment CSP"
    IDS_CRL_NUMBER "CRL Number"
    IDS_DELTA_CRL_INDICATOR "Delta CRL Indicator"
    IDS_ISSUING_DIST_POINT "Issuing Distribution Point"
    IDS_FRESHEST_CRL "Freshest CRL"
    IDS_NAME_CONSTRAINTS "Name Constraints"
    IDS_POLICY_MAPPINGS "Policy Mappings"
    IDS_POLICY_CONSTRAINTS "Policy Constraints"
    IDS_CROSS_CERT_DIST_POINTS "Cross-Certificate Distribution Points"
    IDS_APPLICATION_POLICIES "Application Policies"
    IDS_APPLICATION_POLICY_MAPPINGS "Application Policy Mappings"
    IDS_APPLICATION_POLICY_CONSTRAINTS "Application Policy Constraints"
    IDS_CMC_DATA "CMC Data"
    IDS_CMC_RESPONSE "CMC Response"
    IDS_UNSIGNED_CMC_REQUEST "Unsigned CMC Request"
    IDS_CMC_STATUS_INFO "CMC Status Info"
    IDS_CMC_EXTENSIONS "CMC Extensions"
    IDS_CMC_ATTRIBUTES "CMC Attributes"
    IDS_PKCS_7_DATA "PKCS 7 Data"
    IDS_PKCS_7_SIGNED "PKCS 7 Signed"
    IDS_PKCS_7_ENVELOPED "PKCS 7 Enveloped"
    IDS_PKCS_7_SIGNED_ENVELOPED "PKCS 7 Signed Enveloped"
    IDS_PKCS_7_DIGESTED "PKCS 7 Digested"
    IDS_PKCS_7_ENCRYPTED "PKCS 7 Encrypted"
    IDS_PREVIOUS_CA_CERT_HASH "Previous CA Certificate Hash"
    IDS_CRL_VIRTUAL_BASE "Virtual Base CRL Number"
    IDS_CRL_NEXT_PUBLISH "Next CRL Publish"
    IDS_CA_EXCHANGE "CA Encryption Certificate"
    IDS_KEY_RECOVERY_AGENT "Key Recovery Agent"
    IDS_CERTIFICATE_TEMPLATE "Certificate Template Information"
    IDS_ENTERPRISE_ROOT_OID "Enterprise Root OID"
    IDS_RDN_DUMMY_SIGNER "Dummy Signer"
    IDS_ARCHIVED_KEY_ATTR "Encrypted Private Key"
    IDS_CRL_SELF_CDP "Published CRL Locations"
    IDS_REQUIRE_CERT_CHAIN_POLICY "Enforce Certificate Chain Policy"
    IDS_TRANSACTION_ID "Transaction Id"
    IDS_SENDER_NONCE "Sender Nonce"
    IDS_RECIPIENT_NONCE "Recipient Nonce"
    IDS_REG_INFO "Reg Info"
    IDS_GET_CERTIFICATE "Get Certificate"
    IDS_GET_CRL "Get CRL"
    IDS_REVOKE_REQUEST "Revoke Request"
    IDS_QUERY_PENDING "Query Pending"
    IDS_SORTED_CTL "Certificate Trust List"
    IDS_ARCHIVED_KEY_CERT_HASH "Archived Key Certificate Hash"
    IDS_PRIVATE_KEY_USAGE_PERIOD "Private Key Usage Period"
    IDS_CLIENT_INFORMATION "Client Information"
    IDS_SERVER_AUTHENTICATION "サーバ認証"
    IDS_CLIENT_AUTHENTICATION "クライアント認証"
    IDS_CODE_SIGNING "コード署名"
    IDS_SECURE_EMAIL "安全な電子メール"
    IDS_TIME_STAMPING "タイム スタンプ"
    IDS_MICROSOFT_TRUST_LIST_SIGNING "Microsoft 信頼リストの署名"
    IDS_MICROSOFT_TIME_STAMPING "Microsoft タイム スタンプ"
    IDS_IPSEC_END_SYSTEM "IPsec エンド システム"
    IDS_IPSEC_TUNNEL "IPsec トンネル終端"
    IDS_IPSEC_USER "IPsec ユーザ"
    IDS_EFS "ファイル システムの暗号化"
    IDS_WHQL_CRYPTO "Windows ハードウェア ドライバの検証"
    IDS_NT5_CRYPTO "Windows システム コンポーネントの検証"
    IDS_OEM_WHQL_CRYPTO "OEM Windows システム コンポーネントの検証"
    IDS_EMBEDDED_NT_CRYPTO "Embedded Windows システム コンポーネントの検証"
    IDS_KEY_PACK_LICENSES "キー パック ライセンス"
    IDS_LICENSE_SERVER "ライセンス サーバの検証"
    IDS_SMART_CARD_LOGON "スマート カード ログオン"
    IDS_DIGITAL_RIGHTS "デジタル著作権管理"
    IDS_QUALIFIED_SUBORDINATION "限定従属"
    IDS_KEY_RECOVERY "鍵の回復"
    IDS_DOCUMENT_SIGNING "ドキュメントの署名"
    IDS_IPSEC_IKE_INTERMEDIATE "IPsec IKE 中間"
    IDS_FILE_RECOVERY "ファイル回復"
    IDS_ROOT_LIST_SIGNER "ルート一覧の署名"
    IDS_ANY_APPLICATION_POLICIES "すべてのアプリケーション ポリシー"
    IDS_DS_EMAIL_REPLICATION "ディレクトリ サービス電子メール レプリケーション"
    IDS_ENROLLMENT_AGENT "証明書要求エージェント"
    IDS_LIFETIME_SIGNING "ライフタイム署名"
    IDS_ANY_CERT_POLICY "任意のポリシー"
}

STRINGTABLE
{
    IDS_LOCALIZEDNAME_ROOT "信頼するルート認証局"
    IDS_LOCALIZEDNAME_MY "個人"
    IDS_LOCALIZEDNAME_CA "中間認証局"
    IDS_LOCALIZEDNAME_ADDRESSBOOK "ほかの人"
    IDS_LOCALIZEDNAME_TRUSTEDPUBLISHER "信頼する発行元"
    IDS_LOCALIZEDNAME_DISALLOWED "信頼しない証明書"
}

STRINGTABLE
{
    IDS_KEY_ID "KeyID="
    IDS_CERT_ISSUER "Certificate Issuer"
    IDS_CERT_SERIAL_NUMBER "Certificate Serial Number="
    IDS_ALT_NAME_OTHER_NAME "Other Name="
    IDS_ALT_NAME_RFC822_NAME "Email Address="
    IDS_ALT_NAME_DNS_NAME "DNS Name="
    IDS_ALT_NAME_DIRECTORY_NAME "Directory Address"
    IDS_ALT_NAME_URL "URL="
    IDS_ALT_NAME_IP_ADDRESS "IP Address="
    IDS_ALT_NAME_MASK "Mask="
    IDS_ALT_NAME_REGISTERED_ID "Registered ID="
    IDS_USAGE_UNKNOWN "Unknown Key Usage"
    IDS_SUBJECT_TYPE "Subject Type="
    IDS_SUBJECT_TYPE_CA "CA"
    IDS_SUBJECT_TYPE_END_CERT "End Entity"
    IDS_PATH_LENGTH "Path Length Constraint="
    IDS_PATH_LENGTH_NONE "None"
    IDS_INFO_NOT_AVAILABLE "Information Not Available"
    IDS_AIA "Authority Info Access"
    IDS_ACCESS_METHOD "Access Method="
    IDS_ACCESS_METHOD_OCSP "OCSP"
    IDS_ACCESS_METHOD_CA_ISSUERS "CA Issuers"
    IDS_ACCESS_METHOD_UNKNOWN "Unknown Access Method"
    IDS_ACCESS_LOCATION "Alternative Name"
    IDS_CRL_DIST_POINT "CRL Distribution Point"
    IDS_CRL_DIST_POINT_NAME "Distribution Point Name"
    IDS_CRL_DIST_POINT_FULL_NAME "Full Name"
    IDS_CRL_DIST_POINT_RDN_NAME "RDN Name"
    IDS_CRL_DIST_POINT_REASON "CRL Reason="
    IDS_CRL_DIST_POINT_ISSUER "CRL Issuer"
    IDS_REASON_KEY_COMPROMISE "Key Compromise"
    IDS_REASON_CA_COMPROMISE "CA Compromise"
    IDS_REASON_AFFILIATION_CHANGED "Affiliation Changed"
    IDS_REASON_SUPERSEDED "Superseded"
    IDS_REASON_CESSATION_OF_OPERATION "Operation Ceased"
    IDS_REASON_CERTIFICATE_HOLD "Certificate Hold"
    IDS_FINANCIAL_CRITERIA "Financial Information="
    IDS_FINANCIAL_CRITERIA_AVAILABLE "Available"
    IDS_FINANCIAL_CRITERIA_NOT_AVAILABLE "Not Available"
    IDS_FINANCIAL_CRITERIA_MEETS_CRITERIA "Meets Criteria="
    IDS_YES "Yes"
    IDS_NO "No"
    IDS_DIGITAL_SIGNATURE "デジタル署名"
    IDS_NON_REPUDIATION "否認防止"
    IDS_KEY_ENCIPHERMENT "鍵の暗号化"
    IDS_DATA_ENCIPHERMENT "データの暗号化"
    IDS_KEY_AGREEMENT "鍵交換"
    IDS_CERT_SIGN "証明書の署名"
    IDS_OFFLINE_CRL_SIGN "オフライン CRL 署名"
    IDS_CRL_SIGN "CRL 署名"
    IDS_ENCIPHER_ONLY "暗号化のみ"
    IDS_DECIPHER_ONLY "復号化のみ"
    IDS_NETSCAPE_SSL_CLIENT "SSL クライアント認証"
    IDS_NETSCAPE_SSL_SERVER "SSL サーバ認証"
    IDS_NETSCAPE_SMIME "S/MIME"
    IDS_NETSCAPE_SIGN "署名"
    IDS_NETSCAPE_SSL_CA "SSL 認証局"
    IDS_NETSCAPE_SMIME_CA "S/MIME 認証局"
    IDS_NETSCAPE_SIGN_CA "署名認証局"
}
