/*
 * crypt32 dll resources
 *
 * Copyright (C) 2007 Daniel Nylander
 * Copyright (C) 2010 Anders Jonsson
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "cryptres.h"

#pragma code_page(65001)

LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL

STRINGTABLE
{
    IDS_AUTHORITY_KEY_ID "Authority Key Identifier"
    IDS_KEY_ATTRIBUTES "Nyckelattribut"
    IDS_KEY_USAGE_RESTRICTION "Nyckelanvändningsbegränsning"
    IDS_SUBJECT_ALT_NAME "Subject Alternative Name"
    IDS_ISSUER_ALT_NAME "Issuer Alternative Name"
    IDS_BASIC_CONSTRAINTS "Grundläggande begränsningar"
    IDS_KEY_USAGE "Nyckelanvändning"
    IDS_CERT_POLICIES "Certifikatpolicyer"
    IDS_SUBJECT_KEY_IDENTIFIER "Subject Key Identifier"
    IDS_CRL_REASON_CODE "CRL-orsakskod"
    IDS_CRL_DIST_POINTS "CRL-distributionspunkter"
    IDS_ENHANCED_KEY_USAGE "Utökad nyckelanvändning"
    IDS_AUTHORITY_INFO_ACCESS "Authority Information Access"
    IDS_CERT_EXTENSIONS "Certifikattillägg"
    IDS_NEXT_UPDATE_LOCATION "Next Update Location"
    IDS_YES_OR_NO_TRUST "Yes or No Trust"
    IDS_EMAIL_ADDRESS "E-postadress"
    IDS_UNSTRUCTURED_NAME "Ostrukturerat namn"
    IDS_CONTENT_TYPE "Innehållstyp"
    IDS_MESSAGE_DIGEST "Message Digest"
    IDS_SIGNING_TIME "Signeringstid"
    IDS_COUNTER_SIGN "Counter Sign"
    IDS_CHALLENGE_PASSWORD "Challenge Password"
    IDS_UNSTRUCTURED_ADDRESS "Ostrukturerad adress"
    IDS_SMIME_CAPABILITIES "SMIME Capabilities"
    IDS_PREFER_SIGNED_DATA "Föredra signerat data"
    IDS_CPS "CPS"
    IDS_USER_NOTICE "Användarmeddelande"
    IDS_OCSP "On-line Certificate Status Protocol"
    IDS_CA_ISSUER "Certifikatauktoritetsutfärdare"
    IDS_CERT_TEMPLATE_NAME "Certification Template Name"
    IDS_CERT_TYPE "Certifikattyp"
    IDS_CERT_MANIFOLD "Certificate Manifold"
    IDS_NETSCAPE_CERT_TYPE "Netscape Cert Type"
    IDS_NETSCAPE_BASE_URL "Netscape Base URL"
    IDS_NETSCAPE_REVOCATION_URL "Netscape Revocation URL"
    IDS_NETSCAPE_CA_REVOCATION_URL "Netscape CA Revocation URL"
    IDS_NETSCAPE_CERT_RENEWAL_URL "Netscape Cert Renewal URL"
    IDS_NETSCAPE_CA_POLICY_URL "Netscape CA Policy URL"
    IDS_NETSCAPE_SSL_SERVER_NAME "Netscape SSL ServerName"
    IDS_NETSCAPE_COMMENT "Netscape-kommentar"
    IDS_SPC_SP_AGENCY_INFO "SpcSpAgencyInfo"
    IDS_SPC_FINANCIAL_CRITERIA "SpcFinancialCriteria"
    IDS_SPC_MINIMAL_CRITERIA "SpcMinimalCriteria"
    IDS_COUNTRY "Land/Region"
    IDS_ORGANIZATION "Organisation"
    IDS_ORGANIZATIONAL_UNIT "Organisationsenhet"
    IDS_COMMON_NAME "Common Name"
    IDS_LOCALITY "Plats"
    IDS_STATE_OR_PROVINCE "Län eller region"
    IDS_TITLE "Titel"
    IDS_GIVEN_NAME "Förnamn"
    IDS_INITIALS "Initialer"
    IDS_SUR_NAME "Efternamn"
    IDS_DOMAIN_COMPONENT "Domänkomponent"
    IDS_STREET_ADDRESS "Postadress"
    IDS_SERIAL_NUMBER "Serienummer"
    IDS_CA_VERSION "CA-version"
    IDS_CROSS_CA_VERSION "Cross CA Version"
    IDS_SERIALIZED_SIG_SERIAL_NUMBER "Serialized Signature Serial Number"
    IDS_PRINCIPAL_NAME "Principalnamn"
    IDS_WINDOWS_PRODUCT_UPDATE "Windows produktuppdatering"
    IDS_ENROLLMENT_NAME_VALUE_PAIR "Enrollment Name Value Pair"
    IDS_OS_VERSION "OS-version"
    IDS_ENROLLMENT_CSP "Enrollment CSP"
    IDS_CRL_NUMBER "CRL-nummer"
    IDS_DELTA_CRL_INDICATOR "Delta CRL Indicator"
    IDS_ISSUING_DIST_POINT "Issuing Distribution Point"
    IDS_FRESHEST_CRL "Nyaste CRL"
    IDS_NAME_CONSTRAINTS "Namnbegränsningar"
    IDS_POLICY_MAPPINGS "Policymappningar"
    IDS_POLICY_CONSTRAINTS "Policybegränsningar"
    IDS_CROSS_CERT_DIST_POINTS "Cross-Certificate Distribution Points"
    IDS_APPLICATION_POLICIES "Policyer för program"
    IDS_APPLICATION_POLICY_MAPPINGS "Policymappningar för program"
    IDS_APPLICATION_POLICY_CONSTRAINTS "Policybegränsningar för program"
    IDS_CMC_DATA "CMC-data"
    IDS_CMC_RESPONSE "CMC-svar"
    IDS_UNSIGNED_CMC_REQUEST "Osignerad CMC-förfrågan"
    IDS_CMC_STATUS_INFO "CMC-statusinfo"
    IDS_CMC_EXTENSIONS "CMC-tillägg"
    IDS_CMC_ATTRIBUTES "CMC-attribut"
    IDS_PKCS_7_DATA "PKCS 7 Data"
    IDS_PKCS_7_SIGNED "PKCS 7 Signed"
    IDS_PKCS_7_ENVELOPED "PKCS 7 Enveloped"
    IDS_PKCS_7_SIGNED_ENVELOPED "PKCS 7 Signed Enveloped"
    IDS_PKCS_7_DIGESTED "PKCS 7 Digested"
    IDS_PKCS_7_ENCRYPTED "PKCS 7 Encrypted"
    IDS_PREVIOUS_CA_CERT_HASH "Previous CA Certificate Hash"
    IDS_CRL_VIRTUAL_BASE "Virtual Base CRL Number"
    IDS_CRL_NEXT_PUBLISH "Next CRL Publish"
    IDS_CA_EXCHANGE "CA-krypteringscertifikat"
    IDS_KEY_RECOVERY_AGENT "Agent för nyckelåterställande"
    IDS_CERTIFICATE_TEMPLATE "Certificate Template Information"
    IDS_ENTERPRISE_ROOT_OID "Enterprise Root OID"
    IDS_RDN_DUMMY_SIGNER "Dummy Signer"
    IDS_ARCHIVED_KEY_ATTR "Krypterad privat nyckel"
    IDS_CRL_SELF_CDP "Publicerade CRL-platser"
    IDS_REQUIRE_CERT_CHAIN_POLICY "Enforce Certificate Chain Policy"
    IDS_TRANSACTION_ID "Transaktions-Id"
    IDS_SENDER_NONCE "Sender Nonce"
    IDS_RECIPIENT_NONCE "Recipient Nonce"
    IDS_REG_INFO "Reg-info"
    IDS_GET_CERTIFICATE "Hämta certifikat"
    IDS_GET_CRL "Hämta CRL"
    IDS_REVOKE_REQUEST "Revoke Request"
    IDS_QUERY_PENDING "Query Pending"
    IDS_SORTED_CTL "Lista över betrodda certifikat"
    IDS_ARCHIVED_KEY_CERT_HASH "Archived Key Certificate Hash"
    IDS_PRIVATE_KEY_USAGE_PERIOD "Private Key Usage Period"
    IDS_CLIENT_INFORMATION "Klientinformation"
    IDS_SERVER_AUTHENTICATION "Autentisering av server"
    IDS_CLIENT_AUTHENTICATION "Autentisering av klient"
    IDS_CODE_SIGNING "Kodsignering"
    IDS_SECURE_EMAIL "Säker e-post"
    IDS_TIME_STAMPING "Tidsstämpling"
    IDS_MICROSOFT_TRUST_LIST_SIGNING "Microsoft Trust List Signing"
    IDS_MICROSOFT_TIME_STAMPING "Microsoft Time Stamping"
    IDS_IPSEC_END_SYSTEM "IP security end system"
    IDS_IPSEC_TUNNEL "IP security tunnel termination"
    IDS_IPSEC_USER "IP security user"
    IDS_EFS "Krypterar filsystem"
    IDS_WHQL_CRYPTO "Verifiering av Windows-hårdvarudrivrutin"
    IDS_NT5_CRYPTO "Verifiering av Windows-systemkomponent"
    IDS_OEM_WHQL_CRYPTO "Verifiering av OEM Windows-systemkomponent"
    IDS_EMBEDDED_NT_CRYPTO "Verifiering av inbäddad Windows-systemkomponent"
    IDS_KEY_PACK_LICENSES "Key Pack Licenses"
    IDS_LICENSE_SERVER "Licensserververifikation"
    IDS_SMART_CARD_LOGON "Smart Card-inloggning"
    IDS_DIGITAL_RIGHTS "Digitala rättigher"
    IDS_QUALIFIED_SUBORDINATION "Kvalificerad underordning"
    IDS_KEY_RECOVERY "Nyckelåterskapande"
    IDS_DOCUMENT_SIGNING "Dokumentsignering"
    IDS_IPSEC_IKE_INTERMEDIATE "IP security IKE intermediate"
    IDS_FILE_RECOVERY "Filåterskapande"
    IDS_ROOT_LIST_SIGNER "Rotlistesignerare"
    IDS_ANY_APPLICATION_POLICIES "Alla policyer för program"
    IDS_DS_EMAIL_REPLICATION "Kopiering av e-post från katalogtjänster"
    IDS_ENROLLMENT_AGENT "Certifikatförfrågningsagent"
    IDS_LIFETIME_SIGNING "Livstidssignering"
    IDS_ANY_CERT_POLICY "Alla utfärdandepolicyer"
}

STRINGTABLE
{
    IDS_LOCALIZEDNAME_ROOT "Betrodda rot-certifieringsauktoriteter"
    IDS_LOCALIZEDNAME_MY "Personligt"
    IDS_LOCALIZEDNAME_CA "Mellanliggande certifieringsauktoriteter"
    IDS_LOCALIZEDNAME_ADDRESSBOOK "Andra personer"
    IDS_LOCALIZEDNAME_TRUSTEDPUBLISHER "Betrodda utgivare"
    IDS_LOCALIZEDNAME_DISALLOWED "Ej betrodda certifikat"
}

STRINGTABLE
{
    IDS_KEY_ID "Nyckel-ID="
    IDS_CERT_ISSUER "Certifikatutfärdare"
    IDS_CERT_SERIAL_NUMBER "Serienummer för certifikat="
    IDS_ALT_NAME_OTHER_NAME "Annat namn="
    IDS_ALT_NAME_RFC822_NAME "E-postadress="
    IDS_ALT_NAME_DNS_NAME "DNS-namn="
    IDS_ALT_NAME_DIRECTORY_NAME "Katalogadress"
    IDS_ALT_NAME_URL "URL="
    IDS_ALT_NAME_IP_ADDRESS "IP-adress="
    IDS_ALT_NAME_MASK "Mask="
    IDS_ALT_NAME_REGISTERED_ID "Registrerat ID="
    IDS_USAGE_UNKNOWN "Okänd nyckelanvändning"
    IDS_SUBJECT_TYPE "Subject Type="
    IDS_SUBJECT_TYPE_CA "CA"
    IDS_SUBJECT_TYPE_END_CERT "Slutentitet"
    IDS_PATH_LENGTH "Längdbegränsning för sökväg="
    IDS_PATH_LENGTH_NONE "Ingen"
    IDS_INFO_NOT_AVAILABLE "Information ej tillgänglig"
    IDS_AIA "Åtkomst av auktoritetsinformation"
    IDS_ACCESS_METHOD "Åtkomstmetod="
    IDS_ACCESS_METHOD_OCSP "OCSP"
    IDS_ACCESS_METHOD_CA_ISSUERS "CA-utfärdare"
    IDS_ACCESS_METHOD_UNKNOWN "Okänd åtkomstmetod"
    IDS_ACCESS_LOCATION "Alternativt namn"
    IDS_CRL_DIST_POINT "Distributionspunkt för CRL"
    IDS_CRL_DIST_POINT_NAME "Distributionspunktsnamn"
    IDS_CRL_DIST_POINT_FULL_NAME "Fullständigt namn"
    IDS_CRL_DIST_POINT_RDN_NAME "RDN-namn"
    IDS_CRL_DIST_POINT_REASON "CRL-orsak="
    IDS_CRL_DIST_POINT_ISSUER "CRL-utfärdare"
    IDS_REASON_KEY_COMPROMISE "Nyckel komprometterad"
    IDS_REASON_CA_COMPROMISE "CA komprometterad"
    IDS_REASON_AFFILIATION_CHANGED "Anknytning ändrades"
    IDS_REASON_SUPERSEDED "Ersatt"
    IDS_REASON_CESSATION_OF_OPERATION "Verksamhet avslutad"
    IDS_REASON_CERTIFICATE_HOLD "Certifikat temporärt återkallat"
    IDS_FINANCIAL_CRITERIA "Finansiell information="
    IDS_FINANCIAL_CRITERIA_AVAILABLE "Tillgänglig"
    IDS_FINANCIAL_CRITERIA_NOT_AVAILABLE "Ej tillgänglig"
    IDS_FINANCIAL_CRITERIA_MEETS_CRITERIA "Uppfyller kriterier="
    IDS_YES "Ja"
    IDS_NO "Nej"
    IDS_DIGITAL_SIGNATURE "Digital signatur"
    IDS_NON_REPUDIATION "Ickeförkastande"
    IDS_KEY_ENCIPHERMENT "Nyckelchiffrering"
    IDS_DATA_ENCIPHERMENT "Datachiffrering"
    IDS_KEY_AGREEMENT "Nyckelavtal"
    IDS_CERT_SIGN "Certifikatsignering"
    IDS_OFFLINE_CRL_SIGN "Offline CRL-signering"
    IDS_CRL_SIGN "CRL-signering"
    IDS_ENCIPHER_ONLY "Endast chiffrering"
    IDS_DECIPHER_ONLY "Endast dechiffrering"
    IDS_NETSCAPE_SSL_CLIENT "Autentisering av SSL-klient"
    IDS_NETSCAPE_SSL_SERVER "Autentisering av SSL-server"
    IDS_NETSCAPE_SMIME "S/MIME"
    IDS_NETSCAPE_SIGN "Signatur"
    IDS_NETSCAPE_SSL_CA "SSL CA"
    IDS_NETSCAPE_SMIME_CA "S/MIME CA"
    IDS_NETSCAPE_SIGN_CA "Signature CA"
}
