/Makedll.rules
/Makeimplib.rules
/Maketest.rules
/avifile.dll16
/comm.drv16
/commdlg.dll16
/compobj.dll16
/ctl3d.dll16
/ctl3dv2.dll16
/ddeml.dll16
/dispdib.dll16
/display.drv16
/gdi.exe16
/imm.dll16
/keyboard.drv16
/krnl386.exe16
/libgdi32.def
/libkernel32.def
/libuser32.def
/libwinspool.def
/lzexpand.dll16
/mmsystem.dll16
/mouse.drv16
/msacm.dll16
/msvideo.dll16
/ole2.dll16
/ole2conv.dll16
/ole2disp.dll16
/ole2nls.dll16
/ole2prox.dll16
/ole2thk.dll16
/olecli.dll16
/olesvr.dll16
/rasapi16.dll16
/setupx.dll16
/shell.dll16
/sound.drv16
/storage.dll16
/stress.dll16
/system.drv16
/toolhelp.dll16
/twain.dll16
/typelib.dll16
/user.exe16
/ver.dll16
/w32sys.dll16
/win32s16.dll16
/win87em.dll16
/winaspi.dll16
/windebug.dll16
/wineps16.drv16
/wing.dll16
/winnls.dll16
/winsock.dll16
/wintab.dll16
/wprocs.dll16
