Makedll.rules
Makefile
Makeimplib.rules
Maketest.rules
libcomdlg32.def
libctl3d32.def
libgdi32.def
libkernel32.def
liblz32.def
libmsacm32.def
libmsvfw32.def
libolesvr32.def
libuser32.def
libw32skrnl.def
libwinnls32.def
libwnaspi32.def
libws2_32.def
