/activscp.h
/amstream.h
/amvideo.h
/austream.h
/comcat.h
/config.h
/control.h
/ddstream.h
/dispex.h
/docobj.h
/downloadmgr.h
/exdisp.h
/hlink.h
/htiframe.h
/iads.h
/indexsvr.h
/mediaobj.h
/mimeinfo.h
/mlang.h
/mmstream.h
/mshtmhst.h
/mshtml.h
/msxml.h
/msxml2.h
/oaidl.h
/objidl.h
/objsafe.h
/ocidl.h
/oleidl.h
/optary.h
/propidl.h
/pstore.h
/richole.h
/sensevts.h
/servprov.h
/shldisp.h
/shobjidl.h
/shtypes.h
/strmif.h
/unknwn.h
/urlmon.h
/wtypes.h
/xmldom.h
/xmldso.h
