/*
 * Wine command prompt
 * Czech Language Support
 *
 * Copyright (C) 1999 D A Pickles
 * Copyright (C) 2004 David Kredba
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

STRINGTABLE
{
  WCMD_ATTRIB, "Nápovìda k ATTRIB\n"
  WCMD_CALL,
"CALL <dávkový soubor> je u¾íván ke spu¹tìní pøíkazù\n\
z jiného dávkového souboru. Kdy¾ se bìh volaného dávkového souboru ukonèí, kontrola se vrátí\n\
volajícímu souboru. Pøíkaz CALL mù¾e pøedávat parametry\n\
volané proceduøe.\n\
\n\
Zmìny v defaultním adresáøi, promìnných prostøedí atd., udìlané\n\
volanou procedurou jsou zdìdìny volajícím.\n"

  WCMD_CD,     "Nápovìda k CD\n"
  WCMD_CHDIR,  "Nápovìda k CHDIR\n"

  WCMD_CLS,    "CLS vyma¾e obrazovku terminálu\n"

  WCMD_COPY,   "Nápovìda k COPY\n"
  WCMD_CTTY,   "Nápovìda k CTTY\n"
  WCMD_DATE,   "Nápovìda k DATE\n"
  WCMD_DEL,    "Nápovìda k DEL\n"
  WCMD_DIR,    "Nápovìda k DIR\n"

  WCMD_ECHO,
"ECHO <øetìzec> zobrazí <øetìzec> na pou¾ívaném terminálovém zaøízení.\n\
\n\
ECHO ON zpùsobí, ¾e v¹echny následující pøíkazy v dávkovém souboru budou\n\
zobrazeny na terminálovém zaøízení pøed svým spu¹tìním.\n\
\n\
ECHO OFF vypisování pøíkazù zaká¾e (ECHO je OFF defaultnì.\n\
Pøedsadí-li se pøíkazu ECHO OFF @ nebude pøíkaz ECHO OFF vypsán\n\
na terminálové zaøízení.\n"

  WCMD_ERASE,  "Nápovìda k ERASE\n"

  WCMD_FOR,
"Pøíkaz FOR vykoná zadanou akci pro ka¾dý ze zadané skupiny souborù.\n\
\n\
Syntaxe: FOR %promìnná IN (skupina souborù) DO akce\n\
\n\
V programu wcmd není tøeba zdvojovat znak % pøed promìnnou pøi pou¾ití pøíkazu\n\ FOR v dávkovém souboru.\n"

  WCMD_GOTO,
"Pøíkaz GOTO pøedá výkon na jiné místo\n\
v dávkovém souboru.\n\
\n\
Návì¹tí, kterým se oznaèuje cíl skoku GOTO mù¾e být a¾ 255 znakù\n\
dlouhé. Nesmí v¹ak obsahovat mezery (odli¹né chování od jiných operaèních\n\
systémù). Existují-li dvì nebo více stejných návì¹tí v jednom dávkovém\n\
souboru, pak první bude vykonáno. Skok GOTO na neexistující návì¹tí\n\
ukonèí výkon dávkového souboru.\n\
\n\
GOTO se nedá pou¾ít interaktivnì.\n"

  WCMD_HELP,   "Nápovìda k HELP\n"

  WCMD_IF,
"IF slou¾í k podmínìnému výkonu pøíkazù.\n\
\n\
Syntaxe: IF [NOT] EXIST soubor pøíkaz\n\
	 IF [NOT] øetìzec1==øetìzec2 pøíkaz\n\
	 IF [NOT] ERRORLEVEL èíslo pøíkaz\n\
\n\
Ve druhé formì pøíkazu musí být øetìzec1 a øetìzec2 uzavøeny v dvojitých\n\
uvozovkách. Srovnání není citlivé na velikost písmen.\n"

  WCMD_LABEL,  "LABEL nastavuje jmenovku svazku-disku.  \n\
\n\
Syntaxe: LABEL [disk:]\n\
Budete vyzváni k zadání jmenovky.\n\
Jmenovku si mù¾ete zobrazit pøíkazem VOL.\n"

  WCMD_MD,     "Nápovìda k MD\n"
  WCMD_MKDIR,  "Nápovìda k MKDIR\n"
  WCMD_MOVE,
"MOVE pøesune soubor èi adresáø na jiné místo v souborovém systému.\n\
\n\
Je-li pøesouván adresáø, jsou pøesunuty v¹echny jeho podadresáøe a soubory.\n\
\n\
MOVE sel¾e jsou-li zdrojová a cílová oblast na jednotkách s jinými DOS písmeny diskù.\n"

  WCMD_PATH,
"PATH zobrazí èi zmìní cesty, v nich¾ wcmd hledá soubory.\n\
\n\
PATH bez argumentù zobrazí momentálnì platné nastavení (pøed první zmìnou\n\
je to hodnota pøevzatá ze souboru wine.conf). Ke zmìnì pøipojte k pøíkazu\n\
PATH novou cestu.\n\
\n\
Je takté¾ mo¾né zmìnit PATH pou¾itím promìnné prostøedí PATH,\n\
napøíklad:\n\
		PATH %PATH%;c:\\temp \n"

  WCMD_PAUSE,
"PAUSE zobrazí na obrazovce text 'Press Return key to continue'\n\
a vyèká, dokud u¾ivatel nestiskne klávesu Enter. Je to u¾iteèné hlavnì\n\
proto, aby si u¾ivatel mohl pøeèíst výstup z výkonu pøedcházejích pøíkazù,\n\
ne¾ se tyto odrolují z obrazovky.\n"

  WCMD_PROMPT,
"PROMPT nastaví výzvu pøíkazového øádku.\n\
\n\
Øetìzec za pøíkazem PROMPT (a mezerou bezprostøednì za PROMPT)\n\
se zobrazí na zaèátku ka¾dé nové pøíkazové øádky.\n\
\n\
Tyto znaky mají v øetìzcích speciální význam:\n\
\n\
$$    Znak dolaru         $_    Odøádkování         $b    Znak roury (|)\n\
$d    Datum               $e    Escape              $g    Znaménko vìt¹í ne¾\n\
$l    Znaménko men¹í ne¾  $n    Písmeno disku       $p    Cesta\n\
$q    Rovnítko            $t    Èas                 $v    Verze wcmd\n\
\n\
PROMPT bez parametrù resetuje prompt na defaultní,\n\
který je slo¾en z cesty k souèasnému adresáøi (vèetnì písmena disku\n\
) a znaménka  vìt¹í ne¾ (>).\n\
(jako je v DOS-u PROMPT $p$g).\n\
\n\
Prompt mù¾e být zmìnìn i zmìnou promìnné prostøedí PROMPT,\n\
èili pøíkaz 'SET PROMPT=text' má tentý¾ efekt jako 'PROMPT text'\n"

  WCMD_REM,
"Øádky zaèínající REM (následovaným mezerou)\n\
nejsou vykonány. REM je proto pou¾íván jako komentáøový pøíkaz.\n"

  WCMD_REN,    "Nápovìda k REN\n"
  WCMD_RENAME, "Nápovìda k RENAME\n"
  WCMD_RD,     "Nápovìda k RD\n"
  WCMD_RMDIR,  "Nápovìda k RMDIR\n"

  WCMD_SET,
"SET zobrazí nebo zmìní promìnné prostøedí wcmd.\n\
\n\
SET bez argumentù uká¾e souèasné nastavení prostøedí.\n\
\n\
Syntaxe pro nastavení a zmìnu promìnné prostøedí je:\n\
\n\
      SET <promìnná>=<hodnota>\n\
      \n\
      kde <promìnná> a <hodnota> musí být prosta mezer\n\
      a speciálních znakù a mezi <promìnná> rovnítko <hodnota>\n\
      nesmí být mezery.\n\
      \n\
      Ve Wine jsou viditelné promìnné prostøedí operaèního\n\
      systému, ve kterém je Wine spu¹tìn. Proto uvidíte mnohem víc promìnných\n\
      prostøedí, ne¾ u nativní Win32 implementace. Není mo¾né\n\
      mìnit promìnné prostøedí hostitelského operaèního systému z wcmd.\n"
  
  WCMD_SHIFT,
"SHIFT u¾íván v dávkových souborech k odstranìní jednoho parametru ze zaèátku\n\
jejich seznamu, tak¾e parametr 2 se stane parametrem 1 atd. Nemá ¾ádný\n\
efekt, je-li zadán na pøíkazovou øádku.\n"

  WCMD_TIME,   "Nápovìda k TIME\n"

  WCMD_TITLE,  "Nastaví titulek okna wcmd, syntaxe TITLE [øetìzec]\n"

  WCMD_TYPE,
"TYPE <soubor> vypí¹e <soubor> na konzolové zaøízení (nebo jinam,\n\
je-li výstup pøemìrován). Není zji¹»ováno, bude-li vypsán èitelný text.\n"

  WCMD_VERIFY,
"VERIFY je pou¾íván k nastavení nebo zji¹tìní stavu pøíznaku verify.\n\
Syntaxe:\n\
\n\
VERIFY ON	Nastaví pøíznak\n\
VERIFY OFF	Zru¹í pøíznak\n\
VERIFY		Zobrazí aktuální stav.\n\
\n\
Pøíznak verify nemá ve Wine ¾ádnou funkci.\n"

  WCMD_VER,
"VER zobrazí verzi spu¹tìného programu wcmd.\n"

  WCMD_VOL,    "Nápovìda k VOL\n"

  WCMD_EXIT,
"EXIT ukonèí bì¾ící sezení a vrátí kontrolu\n\
operaènímu systému nebo pøíkazovému interpretu,\n\
ze kterého byl wcmd spu¹tìn.\n"

  1000, "Vestavìné pøíkazy WCMD jsou:\n\
ATTRIB\t\tZobrazí nebo nastaví DOS-ovské souborové attributy\n\
CALL\t\tZavolá dávkový soubor z jiného\n\
CD (CHDIR)\tZmìní pracovní adresáø\n\
CLS\t\tVyma¾e okno terminálu\n\
COPY\t\tKopíruje soubory\n\
CTTY\t\tZmìní vstupnì/výstupní zaøízení\n\
DATE\t\tUká¾e nebo nastaví systémové datum\n\
DEL (ERASE)\tSma¾e jeden nebo více souborù\n\
DIR\t\tVypí¹e obsah adresáøe\n\
ECHO\t\tVypí¹e text na terminál\n\
HELP\t\tZobrazí detailní nápovìdu k tématu\n\
MD (MKDIR)\tVytvoøí adresáø\n\
MOVE\t\tPøesune soubor, skupinu souborù nebo adresáøový strom\n\
PATH\t\tNastaví nebo uká¾e prohledávané cesty\n\
PROMPT\t\tZmìní výzvu pøíkazového øádku\n\
REN (RENAME)\tPøejmenuje soubor\n\
RD (RMDIR)\tSma¾e adresáø\n\
SET\t\tNastaví nebo zobrazí promìnnou prostøedí\n\
TIME\t\tUká¾e èi nastaví systémový èas\n\
TITLE\t\tNastaví titulek okna bì¾ící WCMD instance\n\
TYPE\t\tVypí¹e obsah textového souboru\n\
VER\t\tZobrazí verzi WCMD\n\
VOL\t\tUká¾e jmenovku disku\n\
EXIT\t\tUkonèí WCMD\n\n\
Zadejte HELP <pøíkaz> pro podrobnìj¹í informace o nìkterém z vý¹e uvedených pøíkazù\n"
}
