/*
 * Wine command prompt (Russian resources)
 *
 * Copyright 2003 Igor Stepin
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
{
  WCMD_ATTRIB, "Справка об ATTRIB\n"
  WCMD_CALL,
"CALL <имя bat-файла> используется в bat-файлах для запуска команд\n\
из другого bat-файла. When the batch file exits, control returns to\n\
the file which called it. The CALL command may supply parameters to the\n\
called procedure.\n\
\n\
Changes to default directory, environment variables etc made within a\n\
called procedure are inherited by the caller.\n"

  WCMD_CD,     "Справка о CD\n"
  WCMD_CHDIR,  "Справка о CHDIR\n"

  WCMD_CLS,    "CLS очищает экран консоли\n"

  WCMD_COPY,   "Справка о COPY\n"
  WCMD_CTTY,   "Справка о CTTY\n"
  WCMD_DATE,   "Справка о DATE\n"
  WCMD_DEL,    "Справка о DEL\n"
  WCMD_DIR,    "Справка о DIR\n"

  WCMD_ECHO,
"ECHO <строка> отображает <строку> на текущем терминальном утройстве.\n\
\n\
ECHO ON causes all subsequent commands in a batch file to be displayed\n\
on the terminal device before they are executed.\n\
\n\
ECHO OFF reverses the effect of a previous ECHO ON (ECHO is OFF by\n\
default). The ECHO OFF command can be prevented from displaying by\n\
preceding it with an @ sign.\n"

  WCMD_ERASE,  "Справка об ERASE\n"

  WCMD_FOR,
"The FOR command is used to execute a command for each of a set of files.\n\
\n\
Syntax: FOR %variable IN (set) DO command\n\
\n\
The requirement to double the % sign when using FOR in a batch file does\n\
not exist in wcmd.\n"

  WCMD_GOTO,
"The GOTO command transfers execution to another statement within a\n\
batch file.\n\
\n\
The label which is the target of a GOTO may be up to 255 characters\n\
long but may not include spaces (this is different from other operating\n\
systems). If two or more identical labels exist in a batch file the\n\
first one will always be executed. Attempting to GOTO a nonexistent\n\
label terminates the batch file execution.\n\
\n\
GOTO has no effect when used interactively.\n"

  WCMD_HELP,   "Справка о HELP\n"

  WCMD_IF,
"IF is used to conditionally execute a command.\n\
\n\
Syntax:	IF [NOT] EXIST filename command\n\
	IF [NOT] string1==string2 command\n\
	IF [NOT] ERRORLEVEL number command\n\
\n\
In the second form of the command, string1 and string2 must be in double\n\
quotes. The comparison is not case-sensitive.\n"

  WCMD_LABEL,  "LABEL is used to set a disk volume label.  \n\
\n\
Syntax: LABEL [drive:]\n\
The command will prompt you for the new volume label for the given drive.\n\
You can display the disk volume label with the VOL command.\n"

  WCMD_MD,     "Справка о MD\n"
  WCMD_MKDIR,  "Справка о MKDIR\n"
  WCMD_MOVE,
"MOVE relocates a file or directory to a new point within the file system.\n\
\n\
If the item being moved is a directory then all the files and subdirectories\n\
below the item are moved as well.\n\
\n\
MOVE fails if the old and new locations are on different DOS drive letters.\n"

  WCMD_PATH,
"PATH displays or changes the wcmd search path.\n\
\n\
Entering PATH will display the current PATH setting (initially this is\n\
the value given in your wine.conf file). To change the setting follow the\n\
PATH command with the new value.\n\
\n\
It is also possible to modify the PATH by using the PATH environment\n\
variable, for example:\n\
		PATH %PATH%;c:\\temp \n"

  WCMD_PAUSE,
"PAUSE displays a message on the screen 'Press Return key to continue'\n\
and waits for the user to press the Return key. It is mainly useful in\n\
batch files to allow the user to read the output of a previous command\n\
before it scrolls off the screen.\n"

  WCMD_PROMPT,
"PROMPT sets the command-line prompt.\n\
\n\
The string following the PROMPT command (and the space immediately after)\n\
appears at the beginning of the line when wcmd is waiting for input.\n\
\n\
The following character strings have the special meaning shown:\n\
\n\
$$    Знак доллара        $_    Linefeed            $b    Знак Pipe (|)\n\
$d    Текущая дата        $e    Escape              $g    Знак >\n\
$l    Знак <              $n    Текущий диск        $p    Текущий путь\n\
$q    Знак равно          $t    Текущее время       $v    Версия wcmd\n\
\n\
Note that entering the PROMPT command without a prompt-string resets the\n\
prompt to the default, which is the current drive letter followed by its\n\
current directory and a greater-than (>) sign.\n\
(like a command PROMPT $p$g).\n\
\n\
The prompt can also be changed by altering the PROMPT environment variable,\n\
so the command 'SET PROMPT=text' has the same effect as 'PROMPT text'\n"

  WCMD_REM,
"Командная трока, начинающаяся с REM (с последующим пробелом) не выполняет\n\
никаких действий и следовательно используется для комментариев в bat-файлах.\n"

  WCMD_REN,    "Справка о REN\n"
  WCMD_RENAME, "Справка о RENAME\n"
  WCMD_RD,     "Справка о RD\n"
  WCMD_RMDIR,  "Справка о RMDIR\n"

  WCMD_SET,
"SET показывает или изменяет переменные окружения wcmd.\n\
\n\
SET без параметров показывает всё текущее окружение.\n\
\n\
Для создания или изменения переменной окружения используйте:\n\
\n\
      SET <пекременная>=<значение>\n\
\n\
где <переменная> и <занчение> являются символьными строками. There must be no\n\
spaces before the equals sign, nor can the variable name\n\
have embedded spaces.\n\
\n\
Under Wine, the environment of the underlying operating system is\n\
included into the Win32 environment, there will generally therefore be\n\
many more values than in a native Win32 implementation. Note that it is\n\
not possible to affect the operating system environment from within wcmd.\n"

  WCMD_SHIFT,
"SHIFT is used in a batch file to remove one parameter from the head of\n\
the list, so parameter 2 becomes parameter 1 and so on. It has no effect\n\
if called from the command line.\n"

  WCMD_TIME,   "Справка о TIME\n"

  WCMD_TITLE,  "Устанавливает заголовок окна wcmd для текущей сессии,\n синтаксис: TITLE [строка]\n"

  WCMD_TYPE,
"TYPE <filename> copies <filename> to the console device (or elsewhere\n\
if redirected). No check is made that the file is readable text.\n"

  WCMD_VERIFY,
"VERIFY is used to set, clear or test the verify flag. Valid forms are:\n\
\n\
VERIFY ON	Установить флаг\n\
VERIFY OFF	Сбросить флаг\n\
VERIFY		Displays ON or OFF as appropriate.\n\
\n\
Флаг verify не используется Wine.\n"

  WCMD_VER,
"VER отображает версию запущенного wcmd\n"

  WCMD_VOL,    "Справка о VOL\n"

  WCMD_EXIT,
"EXIT завершает текущую командную сессию в возвращает\n\
в операционную систему или оболочку из которой был запущен wcmd.\n"

  1000, "Встроенные команды WCMD:\n\
ATTRIB\t\tПоказать или изменить DOS-аттрибуты файла\n\
CALL\t\tЗапустить bat-файл из другого bat-файла\n\
CD (CHDIR)\tСменить текущую папку\n\
CLS\t\tОчистить экран консоли\n\
COPY\t\tСкопировать файл\n\
CTTY\t\tСменить устройство ввода/вывода\n\
DATE\t\tПоказать или изменить системную дату\n\
DEL (ERASE)\tУдалить файл или набор файлов\n\
DIR\t\tПоказать содержание папки\n\
ECHO\t\tСкопировать текст прямо на выход консоли\n\
HELP\t\tПоказать крадкую подсказку по команде\n\
MD (MKDIR)\tСоздать папку\n\
MOVE\t\tПереместить файл, набор файлов или дерево папок\n\
PATH\t\tПоказать или изменить путь поиска программ\n\
PROMPT\t\tИзменить приглашение командной строки\n\
REN (RENAME)\tПереименовать файл\n\
RD (RMDIR)\tУдалить папку\n\
SET\t\tПоказать или изменить переменные окружения\n\
TIME\t\tПоказать или изменить текущее системное время\n\
TITLE\t\tУстанавить заголовок окна wcmd для текущей сессии\n\
TYPE\t\tВывести содержание текстового файла\n\
VER\t\tПоказать текущую версию WCMD\n\
VOL\t\tПоказать метку тома дискового устройства\n\
EXIT\t\tВыйти из WCMD\n\n\
Выполните HELP <команда> для дополнительной информации по перечисленным выше командам.\n"
}
