/*
 * Regedit resources
 *
 * Copyright 2003,2004,2007 José Manuel Ferrer Ortiz
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

/*
 * Menu
 */

IDC_REGEDIT MENU DISCARDABLE
BEGIN
    POPUP "&Archivo"
    BEGIN
        MENUITEM "&Salir",                      ID_REGISTRY_EXIT
    END
    POPUP "A&yuda"
    BEGIN
        MENUITEM "&Acerca de...",               ID_HELP_ABOUT
    END
END

IDR_REGEDIT_MENU MENU DISCARDABLE
BEGIN
    POPUP "&Registro"
    BEGIN
        MENUITEM "&Importar archivo de registro...", ID_REGISTRY_IMPORTREGISTRYFILE
        MENUITEM "&Exportar archivo de registro...", ID_REGISTRY_EXPORTREGISTRYFILE
        MENUITEM SEPARATOR
        MENUITEM "&Conectar registro de red...", ID_REGISTRY_CONNECTNETWORKREGISTRY, GRAYED
        MENUITEM "&Desconectar registro de red...", ID_REGISTRY_DISCONNECTNETWORKREGISTRY, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Im&primir\tCtrl+P",           ID_REGISTRY_PRINT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "S&alir",                      ID_REGISTRY_EXIT
    END
    POPUP "&Editar"
    BEGIN
        MENUITEM "&Modificar",                  ID_EDIT_MODIFY
        MENUITEM SEPARATOR
        POPUP "&Nuevo"
        BEGIN
            MENUITEM "&Clave",                      ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "Valor de c&adena",            ID_EDIT_NEW_STRINGVALUE
            MENUITEM "Valor &binario",              ID_EDIT_NEW_BINARYVALUE
            MENUITEM "Valor &DWORD",                ID_EDIT_NEW_DWORDVALUE
            MENUITEM "Valor de cadena &múltiple",   ID_EDIT_NEW_MULTI_STRINGVALUE
        END
        MENUITEM SEPARATOR
        MENUITEM "&Eliminar\tDel",              ID_EDIT_DELETE
        MENUITEM "&Renombrar\tF2",              ID_EDIT_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Copiar nombre de la clave",  ID_EDIT_COPYKEYNAME
        MENUITEM SEPARATOR
        MENUITEM "&Buscar\tCtrl+F",             ID_EDIT_FIND, GRAYED
        MENUITEM "Buscar &siguiente\tF3",       ID_EDIT_FINDNEXT, GRAYED
    END
    POPUP "&Ver"
    BEGIN
        MENUITEM "&Barra de estado",            ID_VIEW_STATUSBAR
        MENUITEM SEPARATOR
        MENUITEM "&Separar",                    ID_VIEW_SPLIT
        MENUITEM SEPARATOR
        MENUITEM "&Actualizar\tF5",             ID_VIEW_REFRESH
    END
    POPUP "&Favoritos"
    BEGIN
        MENUITEM "&Añadir a favoritos",         ID_FAVORITES_ADDTOFAVORITES
        MENUITEM "&Eliminar favorito",          ID_FAVORITES_REMOVEFAVORITE
    END
    POPUP "A&yuda"
    BEGIN
        MENUITEM "&Temas de ayuda\tF1",         ID_HELP_HELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Acerca del Editor del registro", ID_HELP_ABOUT
    END
END

IDR_POPUP_MENUS MENU DISCARDABLE
BEGIN
  POPUP ""
  BEGIN
	MENUITEM "&Modificar"                   ID_EDIT_MODIFY
	MENUITEM "Modificar datos binarios",    ID_EDIT_MODIFY_BIN
	MENUITEM SEPARATOR
	MENUITEM "&Eliminar\tDel",              ID_EDIT_DELETE
	MENUITEM "&Renombrar",                  ID_EDIT_RENAME
  END
  POPUP ""
  BEGIN
        POPUP "&Nuevo"
        BEGIN
            MENUITEM "&Clave",              ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "Valor de &cadena",    ID_EDIT_NEW_STRINGVALUE
            MENUITEM "Valor &binario",      ID_EDIT_NEW_BINARYVALUE
            MENUITEM "Valor &DWORD",        ID_EDIT_NEW_DWORDVALUE
            MENUITEM "Valor de cadena &múltiple", ID_EDIT_NEW_MULTI_STRINGVALUE
        END
        MENUITEM SEPARATOR
        MENUITEM "&Eliminar\tDel",              ID_EDIT_DELETE
        MENUITEM "&Renombrar\tF2",              ID_EDIT_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Copiar nombre de la clave",  ID_EDIT_COPYKEYNAME
        MENUITEM SEPARATOR
        MENUITEM "&Buscar\tCtrl+F",             ID_EDIT_FIND, GRAYED
  END
END


/*
 * Dialog
 */

IDD_EXPORT_TEMPLATE DIALOG DISCARDABLE  50, 50, 278, 54
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS |
    WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Exportar registro", IDC_EXPORT_BASE, 6, 6, 266, 42, WS_GROUP
    AUTORADIOBUTTON "&Todo", IDC_EXPORT_ALL, 12, 15, 244, 12
    AUTORADIOBUTTON "&Rama seleccionada:", IDC_EXPORT_SELECTED, 12, 30, 70, 12
    EDITTEXT IDC_EXPORT_PATH, 82, 30, 184, 12
END

IDD_FIND DIALOG DISCARDABLE  22, 17, 210, 85
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Buscar"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Buscar:",IDC_STATIC,5,7,119,8
    EDITTEXT        IDC_VALUE_NAME,40,5,125,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT           "Buscar en:",IDC_STATIC,5, 22, 119, 8
    CHECKBOX        "Claves", IDC_FIND_KEYS, 5, 34, 90, 10, WS_TABSTOP | WS_GROUP | BS_AUTOCHECKBOX
    CHECKBOX        "Nombre de valores", IDC_FIND_VALUES, 5, 46, 90, 10, WS_TABSTOP | BS_AUTOCHECKBOX
    CHECKBOX        "Contenido de valores", IDC_FIND_CONTENT, 5, 58, 90, 10, WS_TABSTOP | BS_AUTOCHECKBOX
    CHECKBOX        "Sólo cadena completa", IDC_FIND_WHOLE, 5, 70, 90, 10, WS_TABSTOP | BS_AUTOCHECKBOX
    DEFPUSHBUTTON   "Buscar",IDOK,175,5,30,11,WS_GROUP
    PUSHBUTTON      "Cerrar",IDCANCEL,175,22,30,11, WS_GROUP
END

IDD_ADDFAVORITE DIALOG DISCARDABLE  22, 17, 210, 55
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Añadir favorito"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nombre:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP |
     ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Aceptar",IDOK,140,40,30,11,WS_GROUP
    PUSHBUTTON      "Cancelar",IDCANCEL,175,40,30,11, WS_GROUP
END

IDD_DELFAVORITE DIALOG DISCARDABLE  22, 17, 210, 90
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Eliminar favorito"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nombre:",IDC_STATIC,5,5,119,8
    LISTBOX         IDC_NAME_LIST,5,15,200,52, WS_BORDER | WS_TABSTOP | LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL
    DEFPUSHBUTTON   "Aceptar",IDOK,140,73,30,11,WS_GROUP
    PUSHBUTTON      "Cancelar",IDCANCEL,175,73,30,11, WS_GROUP
END

IDD_EDIT_STRING DIALOG DISCARDABLE  22, 17, 210, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Editar cadena"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nombre del valor:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | WS_DISABLED
    LTEXT           "Datos del valor:",IDC_STATIC,5,30,119,8
    EDITTEXT        IDC_VALUE_DATA,5,40,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Aceptar",IDOK,140,60,30,11,WS_GROUP
    PUSHBUTTON   "Cancelar",IDCANCEL,175,60,30,11,WS_GROUP
END

IDD_EDIT_DWORD DIALOG DISCARDABLE  22, 17, 210, 100
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_CAPTION | WS_SYSMENU
CAPTION "Editar DWORD"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nombre del valor:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL| WS_DISABLED
    LTEXT           "Datos del valor:",IDC_STATIC,5,30,90,8
    EDITTEXT        IDC_VALUE_DATA,5,40,90,12, WS_BORDER | WS_TABSTOP
    GROUPBOX        "Base", IDC_DWORD_BASE, 120, 30, 85, 37, BS_GROUPBOX
    AUTORADIOBUTTON "Hexadecimal", IDC_DWORD_HEX, 130, 40, 60, 10, WS_TABSTOP
    AUTORADIOBUTTON "Decimal", IDC_DWORD_DEC, 130, 52, 60, 10, WS_TABSTOP
    DEFPUSHBUTTON   "Aceptar",IDOK,140,80,30,11,WS_GROUP
    PUSHBUTTON   "Cancelar",IDCANCEL,175,80,30,11,WS_GROUP
END

IDD_EDIT_BINARY DIALOG DISCARDABLE  22, 17, 210, 100
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_CAPTION | WS_SYSMENU
CAPTION "Editar binario"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nombre del valor:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP |
     ES_AUTOHSCROLL| WS_DISABLED
    LTEXT           "Datos del valor:",IDC_STATIC,5,30,90,8
    CONTROL         "",IDC_VALUE_DATA,"HexEdit",WS_TABSTOP,4,40,160,40
    DEFPUSHBUTTON   "Aceptar",IDOK,140,80,30,11,WS_GROUP
    PUSHBUTTON   "Cancelar",IDCANCEL,175,80,30,11,WS_GROUP
END

IDD_EDIT_MULTI_STRING DIALOG DISCARDABLE  22, 17, 210, 175
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Editar cadena múltiple"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nombre del valor:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL| WS_DISABLED
    LTEXT           "Datos del valor:",IDC_STATIC,5,30,119,8
    EDITTEXT        IDC_VALUE_DATA,5,40,200,112, WS_BORDER | WS_TABSTOP | WS_HSCROLL | WS_VSCROLL | ES_MULTILINE | ES_WANTRETURN
    DEFPUSHBUTTON   "Aceptar",IDOK,140,160,30,11,WS_GROUP
    PUSHBUTTON   "Cancelar",IDCANCEL,175,160,30,11,WS_GROUP
END

/*
 * String Table
 */

STRINGTABLE DISCARDABLE
BEGIN
    IDS_LIST_COLUMN_NAME    "Nombre"
    IDS_LIST_COLUMN_TYPE    "Tipo"
    IDS_LIST_COLUMN_DATA    "Datos"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_TITLE           "Editor del registro"
    IDC_REGEDIT             "REGEDIT"
    IDC_REGEDIT_FRAME       "REGEDIT_FRAME"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_REGISTRY_MENU        "Contiene comandos para trabajar con el registro completo"
    ID_EDIT_MENU            "Contiene comandos para editar valores o claves"
    ID_VIEW_MENU            "Contiene comandos para personalizar la ventana de registro"
    ID_FAVORITES_MENU       "Contiene comandos para acceder a claves usadas frecuentemente"
    ID_HELP_MENU            "Contiene comandos para mostrar ayuda e información sobre el editor de registro"
    ID_EDIT_NEW_MENU        "Contiene comandos para crear nuevas claves o valores"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_EDIT_MODIFY          "Modifica los datos del valor"
    ID_EDIT_NEW_KEY         "Añade una nueva clave"
    ID_EDIT_NEW_STRINGVALUE "Añade un nuevo valor de cadena"
    ID_EDIT_NEW_BINARYVALUE "Añade un nuevo valor binario"
    ID_EDIT_NEW_DWORDVALUE  "Añade un nuevo valor de doble palabra"
    ID_EDIT_NEW_MULTI_STRINGVALUE "Añade un nuevo valor de cadena múltiple"
    ID_REGISTRY_IMPORTREGISTRYFILE "Importa un archivo de texto al registro"
    ID_REGISTRY_EXPORTREGISTRYFILE
                            "Exporta todo o parte del registro a un archivo de texto"
    ID_REGISTRY_CONNECTNETWORKREGISTRY
                            "Se conecta al registro de un ordenador remoto"
    ID_REGISTRY_DISCONNECTNETWORKREGISTRY
                            "Se desconecta del registro de un ordenador remoto"
    ID_REGISTRY_PRINT       "Imprime todo o parte del registro"
/*    ID_HELP_HELPTOPICS      "Abre la ayuda del Editor del registro" */
    ID_HELP_ABOUT           "Muestra información del programa, número de versión y derechos de autor"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_REGISTRY_EXIT        "Sale del editor de registro"
    ID_FAVORITES_ADDTOFAVORITES "Añade claves a la lista de favoritos"
    ID_FAVORITES_REMOVEFAVORITE "Elimina claves de la lista de favoritos"
    ID_VIEW_STATUSBAR       "Muestra u oculta la barra de estado"
    ID_VIEW_SPLIT           "Cambia la posición del separador entre dos paneles"
    ID_VIEW_REFRESH         "Actualiza la ventana"
    ID_EDIT_DELETE          "Elimina la selección"
    ID_EDIT_RENAME          "Renombra la selección"
    ID_EDIT_COPYKEYNAME     "Copia el nombre de la clave seleccionada al portapapeles"
    ID_EDIT_FIND            "Busca una cadena de texto en una clave, valor o datos"
    ID_EDIT_FINDNEXT        "Busca la siguiente ocurrencia del texto especificado en la búsqueda anterior"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ERROR               "Error"
    IDS_BAD_KEY             "No se puede consultar la clave '%s'"
    IDS_BAD_VALUE           "No se puede consultar el valor '%s'"
    IDS_UNSUPPORTED_TYPE    "No se pueden editar claves de este tipo (%ld)"
    IDS_TOO_BIG_VALUE       "El valor es demasiado grande (%ld)"
    IDS_DELETE_BOX_TITLE    "Confirmar eliminación de valor"
    IDS_DELETE_BOX_TEXT     "¿Seguro que desea eliminar el valor '%s'?"
    IDS_NEWKEY              "Nueva clave #%d"
    IDS_NEWVALUE            "Nuevo valor #%d"
    IDS_NOTFOUND            "Cadena de búsqueda '%s' no encontrada"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_FILEDIALOG_IMPORT_TITLE   "Importar archivo de registro"
    IDS_FILEDIALOG_EXPORT_TITLE   "Exportar arvhivo de registro"
    IDS_FILEDIALOG_FILTER         "Archivos de registro\0*.reg\0Archivos de registro de Win9x/NT4 (REGEDIT4)\0*.reg\0Todos los archivos (*.*)\0*.*\0\0"
END

STRINGTABLE DISCARDABLE
 BEGIN
    IDS_REGISTRY_ROOT_NAME           "Mi PC"
    IDS_REGISTRY_DEFAULT_VALUE       "(Por defecto)"
    IDS_REGISTRY_VALUE_NOT_SET       "(valor no puesto)"
    IDS_REGISTRY_VALUE_CANT_DISPLAY  "(no se puede mostrar valor)"
    IDS_REGISTRY_UNKNOWN_TYPE        "(desconocido %d)"
END

/*****************************************************************/

/*
 * TEXTINCLUDE
 */

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource.h\0"
END



/*
 * String Table
 */

/*
 *STRINGTABLE DISCARDABLE
 *BEGIN
 *    ID_HELP_HELPTOPICS      "Opens Registry Editor Help."
 *    ID_HELP_ABOUT           "Displays program information, version number, and copyright."
 *END
 */

/*****************************************************************/
