/*
 * Regedit resources
 *
 * Copyright 2002 Robert Dickenson
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

/*
 * Menu
 */

IDC_REGEDIT MENU DISCARDABLE
BEGIN
    POPUP "&Plik"
    BEGIN
        MENUITEM "Za&koñcz",                       ID_REGISTRY_EXIT
    END
    POPUP "&Pomoc"
    BEGIN
        MENUITEM "&O programie...",                  ID_HELP_ABOUT
    END
END

IDR_REGEDIT_MENU MENU DISCARDABLE
BEGIN
    POPUP "&Rejestr"
    BEGIN
        MENUITEM "&Importuj rejestr...",        ID_REGISTRY_IMPORTREGISTRYFILE
        MENUITEM "&Eksportuj rejestr...",       ID_REGISTRY_EXPORTREGISTRYFILE
        MENUITEM SEPARATOR
        MENUITEM "&Pod³¹cz rejestr sieciowy...",ID_REGISTRY_CONNECTNETWORKREGISTRY, GRAYED
        MENUITEM "&Od³¹cz rejestr sieciowy...", ID_REGISTRY_DISCONNECTNETWORKREGISTRY, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Drukuj\tCtrl+P",             ID_REGISTRY_PRINT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Za&koñcz",                    ID_REGISTRY_EXIT
    END
    POPUP "&Edycja"
    BEGIN
        MENUITEM "&Modyfikuj",                  ID_EDIT_MODIFY
        MENUITEM SEPARATOR
        POPUP "&Nowy"
        BEGIN
            MENUITEM "&Klucz",                  ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "&Dana tekstowa",       ID_EDIT_NEW_STRINGVALUE
            MENUITEM "&Dana binarna",        ID_EDIT_NEW_BINARYVALUE
            MENUITEM "&Dana liczbowa (DWORD)",ID_EDIT_NEW_DWORDVALUE
            MENUITEM "&Dana wielotekstowa (MULTISZ)",ID_EDIT_NEW_MULTI_STRINGVALUE
        END
        MENUITEM SEPARATOR
        MENUITEM "U&suñ\tDel",                  ID_EDIT_DELETE
        MENUITEM "Z&mieñ nazwê\tF2",          ID_EDIT_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Kopiuj nazwê klucza",         ID_EDIT_COPYKEYNAME
        MENUITEM SEPARATOR
        MENUITEM "&ZnajdŸ...\tCtrl+F",          ID_EDIT_FIND, GRAYED
        MENUITEM "Zn&ajdŸ nastêpny\tF3",        ID_EDIT_FINDNEXT, GRAYED
    END
    POPUP "&Widok"
    BEGIN
        MENUITEM "&Pasek stanu",                ID_VIEW_STATUSBAR
        MENUITEM SEPARATOR
        MENUITEM "Po&dziel",                    ID_VIEW_SPLIT
        MENUITEM SEPARATOR
        MENUITEM "&Odœwie¿\tF5",                ID_VIEW_REFRESH
    END
    POPUP "&Ulubione"
    BEGIN
        MENUITEM "&Dodaj do ulubionych",        ID_FAVORITES_ADDTOFAVORITES
        MENUITEM "&Usuñ ulubiony",              ID_FAVORITES_REMOVEFAVORITE
    END
    POPUP "Pomo&c"
    BEGIN
        MENUITEM "&Tematy Pomocy\tF1",          ID_HELP_HELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "Edytor rejestru - i&nformacje",ID_HELP_ABOUT
    END
END

IDR_POPUP_MENUS MENU DISCARDABLE
BEGIN
  POPUP ""
  BEGIN
	MENUITEM "&Modyfikuj",                     ID_EDIT_MODIFY
	MENUITEM "Modyfikuj dane binarne",         ID_EDIT_MODIFY_BIN
	MENUITEM SEPARATOR
	MENUITEM "&Usuñ\tDel",                     ID_EDIT_DELETE
	MENUITEM "&Zmieñ nazwê",                   ID_EDIT_RENAME
  END
  POPUP ""
  BEGIN
        POPUP "&Nowy"
        BEGIN
            MENUITEM "&Klucz",                ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "&Dana tekstowa",        ID_EDIT_NEW_STRINGVALUE
            MENUITEM "&Dana binarna",         ID_EDIT_NEW_BINARYVALUE
            MENUITEM "&Dana liczbowa (DWORD)",ID_EDIT_NEW_DWORDVALUE
            MENUITEM "&Dana wielotekstowa (MULTISZ)",ID_EDIT_NEW_MULTI_STRINGVALUE
        END
        MENUITEM SEPARATOR
        MENUITEM "U&suñ\tDel",                  ID_EDIT_DELETE
        MENUITEM "Z&mieñ nazwê\tF2",          ID_EDIT_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Kopiuj nazwê klucza",         ID_EDIT_COPYKEYNAME
        MENUITEM SEPARATOR
        MENUITEM "&ZnajdŸ...\tCtrl+F",          ID_EDIT_FIND, GRAYED
  END
END


/*
 * Dialog
 */

IDD_EXPORT_TEMPLATE DIALOG DISCARDABLE  50, 50, 278, 54
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS |
    WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "&Eksportuj registr", IDC_EXPORT_BASE, 6, 6, 266, 42, WS_GROUP
    AUTORADIOBUTTON "&Ca³y rejestr", IDC_EXPORT_ALL, 12, 15, 244, 12
    AUTORADIOBUTTON "&Wybran¹ ga³¹Ÿ:", IDC_EXPORT_SELECTED, 12, 30, 70, 12
    EDITTEXT IDC_EXPORT_PATH, 82, 30, 184, 12
END

IDD_FIND DIALOG DISCARDABLE  22, 17, 210, 85
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Wyszukaj w rejestrze"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "ZnajdŸ:",IDC_STATIC,5,7,119,8
    EDITTEXT        IDC_VALUE_NAME,40,5,125,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT           "Szukaj w:",IDC_STATIC,5, 22, 119, 8
    CHECKBOX        "Kluczach", IDC_FIND_KEYS, 5, 34, 90, 10, WS_TABSTOP | WS_GROUP | BS_AUTOCHECKBOX
    CHECKBOX        "Nazwach wartoœci", IDC_FIND_VALUES, 5, 46, 90, 10, WS_TABSTOP | BS_AUTOCHECKBOX
    CHECKBOX        "Treœci wartoœci", IDC_FIND_CONTENT, 5, 58, 90, 10, WS_TABSTOP | BS_AUTOCHECKBOX
    CHECKBOX        "Tylko pe³ne dopasowanie", IDC_FIND_WHOLE, 5, 70, 120, 10, WS_TABSTOP | BS_AUTOCHECKBOX
    DEFPUSHBUTTON   "ZnajdŸ",IDOK,175,5,30,11,WS_GROUP
    PUSHBUTTON      "Zamknij",IDCANCEL,175,22,30,11, WS_GROUP
END

IDD_ADDFAVORITE DIALOG DISCARDABLE  22, 17, 210, 55
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Dodaj do ulubionych"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nazwa:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,140,40,30,11,WS_GROUP
    PUSHBUTTON      "Anuluj",IDCANCEL,175,40,30,11, WS_GROUP
END

IDD_DELFAVORITE DIALOG DISCARDABLE  22, 17, 210, 90
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Usuñ ulubiony"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nazwa:",IDC_STATIC,5,5,119,8
    LISTBOX         IDC_NAME_LIST,5,15,200,52, WS_BORDER | WS_TABSTOP | LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL
    DEFPUSHBUTTON   "OK",IDOK,140,73,30,11,WS_GROUP
    PUSHBUTTON      "Anuluj",IDCANCEL,175,73,30,11, WS_GROUP
END

IDD_EDIT_STRING DIALOG DISCARDABLE  22, 17, 210, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Edycja danej tekstowej"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nazwa:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | WS_DISABLED
    LTEXT           "Wartoœæ:",IDC_STATIC,5,30,119,8
    EDITTEXT        IDC_VALUE_DATA,5,40,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,140,60,30,11,WS_GROUP
    PUSHBUTTON   "Anuluj",IDCANCEL,175,60,30,11,WS_GROUP
END

IDD_EDIT_DWORD DIALOG DISCARDABLE  22, 17, 210, 100
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_CAPTION | WS_SYSMENU
CAPTION "Edycja danej liczbowej (DWORD)"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nazwa:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | WS_DISABLED
    LTEXT           "Wartoœæ:",IDC_STATIC,5,30,90,8
    EDITTEXT        IDC_VALUE_DATA,5,40,90,12, WS_BORDER | WS_TABSTOP
    GROUPBOX        "System", IDC_DWORD_BASE, 120, 30, 85, 37, BS_GROUPBOX
    AUTORADIOBUTTON "Szesnastkowy", IDC_DWORD_HEX, 130, 40, 60, 10, WS_TABSTOP
    AUTORADIOBUTTON "Dziesiêtny", IDC_DWORD_DEC, 130, 52, 60, 10, WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,140,80,30,11,WS_GROUP
    PUSHBUTTON   "Anuluj",IDCANCEL,175,80,30,11,WS_GROUP
END

IDD_EDIT_BINARY DIALOG DISCARDABLE  22, 17, 210, 100
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_CAPTION | WS_SYSMENU
CAPTION "Edycja danej binarnej"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nazwa:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL| WS_DISABLED
    LTEXT           "Wartoœæ:",IDC_STATIC,5,30,90,8
    CONTROL         "",IDC_VALUE_DATA,"HexEdit",WS_TABSTOP,4,40,160,40
    DEFPUSHBUTTON   "OK",IDOK,140,80,30,11,WS_GROUP
    PUSHBUTTON   "Anuluj",IDCANCEL,175,80,30,11,WS_GROUP
END

IDD_EDIT_MULTI_STRING DIALOG DISCARDABLE  22, 17, 210, 175
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Edycja danej wielotekstowej"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nazwa:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL| WS_DISABLED
    LTEXT           "Wartoœæ:",IDC_STATIC,5,30,119,8
    EDITTEXT        IDC_VALUE_DATA,5,40,200,112, WS_BORDER | WS_TABSTOP | WS_HSCROLL | WS_VSCROLL | ES_MULTILINE | ES_WANTRETURN
    DEFPUSHBUTTON   "OK",IDOK,140,160,30,11,WS_GROUP
    PUSHBUTTON   "Anuluj",IDCANCEL,175,160,30,11,WS_GROUP
END

/*
 * String Table
 */

STRINGTABLE DISCARDABLE
BEGIN
    IDS_LIST_COLUMN_NAME    "Nazwa"
    IDS_LIST_COLUMN_TYPE    "Typ"
    IDS_LIST_COLUMN_DATA    "Wartoœæ"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_TITLE           "Edytor rejestru"
    IDC_REGEDIT             "REGEDIT"
    IDC_REGEDIT_FRAME       "REGEDIT_FRAME"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_REGISTRY_MENU        "Zawiera polecenia operuj¹ce na ca³ym rejestrze"
    ID_EDIT_MENU            "Zawiera polecenia dotycz¹ce edycji kluczy i danych"
    ID_VIEW_MENU            "Zawiera polecenia dotycz¹ce wygl¹du programu"
    ID_FAVORITES_MENU       "Zawiera polecenia dotycz¹ce skrótów do kluczy rejestru"
    ID_HELP_MENU            "Zawiera polecenia wyœwietlaj¹ce informacje o programie"
    ID_EDIT_NEW_MENU        "Zawiera polecenia tworz¹ce nowe klucze i dane"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_EDIT_MODIFY          "Pozwala zmodyfikowaæ wartoœæ danej"
    ID_EDIT_NEW_KEY         "Dodaje nowy klucz"
    ID_EDIT_NEW_STRINGVALUE "Dodaje now¹ dan¹ tekstow¹"
    ID_EDIT_NEW_BINARYVALUE "Dodaje now¹ dan¹ binarn¹"
    ID_EDIT_NEW_DWORDVALUE  "Dodaje now¹ dan¹ liczbow¹"
    ID_EDIT_NEW_MULTI_STRINGVALUE "Dodaj now¹ dan¹ wielotekstow¹ (MULTISZ)"
    ID_REGISTRY_IMPORTREGISTRYFILE "Importuje plik tekstowy do rejestru"
    ID_REGISTRY_EXPORTREGISTRYFILE
                            "Eksportuje czêœæ lub ca³oœæ rejestru do pliku tekstowego"
    ID_REGISTRY_CONNECTNETWORKREGISTRY
                            "£¹czy siê do rejestru innego komputera"
    ID_REGISTRY_DISCONNECTNETWORKREGISTRY
                            "Od³¹cza siê od rejestru innego komputera"
    ID_REGISTRY_PRINT       "Drukuje ca³oœæ lub czêœæ rejestru"
/*    ID_HELP_HELPTOPICS      "Opens registry editor help" */
    ID_HELP_ABOUT           "Wyœwietla informacjê o programie, numerze wersji i prawach autorskich"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_REGISTRY_EXIT        "Koñczy dzia³anie edytora rejestru"
    ID_FAVORITES_ADDTOFAVORITES "Dodaje klucze do listy ulubionych"
    ID_FAVORITES_REMOVEFAVORITE "Usuwa klucze z listy ulubionych"
    ID_VIEW_STATUSBAR       "Wyœwietla lub ukrywa pasek stanu"
    ID_VIEW_SPLIT           "Zmienia proporcje szerokoœci paneli"
    ID_VIEW_REFRESH         "Odœwie¿a zawartoœæ okien"
    ID_EDIT_DELETE          "Kasuje zaznaczony obiekt"
    ID_EDIT_RENAME          "Zmienia nazwê zaznaczonego obiektu"
    ID_EDIT_COPYKEYNAME     "Kopiuje nazwê zaznaczonego klucza do schowka"
    ID_EDIT_FIND            "Znajduje ci¹g znaków w kluczu lub danej"
    ID_EDIT_FINDNEXT        "Znajduje nastêpne wyst¹pienie ostatnio szukanego ci¹gu"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ERROR		    "B³¹d"
    IDS_BAD_KEY		    "Nie uda³o sie przeczytaæ klucza '%s'"
    IDS_BAD_VALUE           "Nie uda³o sie przeczytaæ danej '%s'"
    IDS_UNSUPPORTED_TYPE    "Nie da siê modyfikowaæ kluczy tego typu (%ld)"
    IDS_TOO_BIG_VALUE       "Wartoœæ jest zbyt du¿a (%ld)"
    IDS_DELETE_BOX_TITLE    "Potwierdzenie kasowania"
    IDS_DELETE_BOX_TEXT     "Jesteœ pewien, ¿e chcesz usun¹æ dan¹ '%s'?"
    IDS_NEWKEY              "Nowy klucz #%d"
    IDS_NEWVALUE            "Nowa dana #%d"
    IDS_NOTFOUND            "Nie uda³o siê wyszukaæ ci¹gu '%s'"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_FILEDIALOG_IMPORT_TITLE   "Importuj plik rejestrów"
    IDS_FILEDIALOG_EXPORT_TITLE   "Eksportuj plik rejestrów"
    IDS_FILEDIALOG_FILTER         "Pliki rejestrów\0*.reg\0Pliki rejestrów Win9x/NT4 (REGEDIT4)\0*.reg\0Wszystkie pliki (*.*)\0*.*\0\0"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_REGISTRY_ROOT_NAME        "Mój komputer"
    IDS_REGISTRY_DEFAULT_VALUE    "(Domyœlna)"
    IDS_REGISTRY_VALUE_NOT_SET       "(wartoœæ nie ustalona)"
    IDS_REGISTRY_VALUE_CANT_DISPLAY  "(nie mogê wyœwietliæ wartoœci)"
    IDS_REGISTRY_UNKNOWN_TYPE        "(nieznany: %d)"
END

/*****************************************************************/

/*
 * TEXTINCLUDE
 */

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource.h\0"
END



/*
 * String Table
 */

/*
 *STRINGTABLE DISCARDABLE
 *BEGIN
 *    ID_HELP_HELPTOPICS      "Opens Registry Editor Help."
 *    ID_HELP_ABOUT           "Displays program information, version number, and copyright."
 *END
 */
