/*
 * Regedit Swedish resources
 *
 * Copyright 2009 Anders Jonsson
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resource.h"

LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL

/*
 * Menu
 */

IDR_REGEDIT_MENU MENU
BEGIN
    POPUP "&Register"
    BEGIN
        MENUITEM "&Importera Registerfil...",    ID_REGISTRY_IMPORTREGISTRYFILE
        MENUITEM "&Exportera Registerfil...",    ID_REGISTRY_EXPORTREGISTRYFILE
        MENUITEM SEPARATOR
        MENUITEM "&Anslut till Nätverksregister...", ID_REGISTRY_CONNECTNETWORKREGISTRY, GRAYED
        MENUITEM "&Koppla ner från Nätverksregister...", ID_REGISTRY_DISCONNECTNETWORKREGISTRY, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Skriv ut\tCtrl+P",                ID_REGISTRY_PRINT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "A&vsluta",                         ID_REGISTRY_EXIT
    END
    POPUP "R&edigera"
    BEGIN
        MENUITEM "&Ändra",                     ID_EDIT_MODIFY
        MENUITEM SEPARATOR
        POPUP "&Ny"
        BEGIN
            MENUITEM "&Nyckel",                        ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "&Strängvärde",                   ID_EDIT_NEW_STRINGVALUE
            MENUITEM "&Binärt Värde",                  ID_EDIT_NEW_BINARYVALUE
            MENUITEM "&DWORD-värde",                   ID_EDIT_NEW_DWORDVALUE
            MENUITEM "&Flersträngsvärde",              ID_EDIT_NEW_MULTI_STRINGVALUE
        END
        MENUITEM SEPARATOR
        MENUITEM "&Ta bort\tDel",                ID_EDIT_DELETE
        MENUITEM "&Byt namn\tF2",                ID_EDIT_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Kopiera Nyckelnamn",          ID_EDIT_COPYKEYNAME
        MENUITEM SEPARATOR
        MENUITEM "&Sök\tCtrl+F",                 ID_EDIT_FIND, GRAYED
        MENUITEM "Sök &Nästa\tF3",               ID_EDIT_FINDNEXT, GRAYED
    END
    POPUP "&Visa"
    BEGIN
        MENUITEM "&Statusrad",                 ID_VIEW_STATUSBAR
        MENUITEM SEPARATOR
        MENUITEM "&Dela upp",                  ID_VIEW_SPLIT
        MENUITEM SEPARATOR
        MENUITEM "&Uppdatera\tF5",             ID_VIEW_REFRESH
    END
    POPUP "&Favoriter"
    BEGIN
        MENUITEM "&Lägg till i favoriter...",       ID_FAVORITES_ADDTOFAVORITES
        MENUITEM "&Ta bort favorit...",             ID_FAVORITES_REMOVEFAVORITE
    END
    POPUP "&Hjälp"
    BEGIN
        MENUITEM "Ämnen i &hjälp\tF1",         ID_HELP_HELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Om Registereditorn",        ID_HELP_ABOUT
    END
END

IDR_POPUP_MENUS MENU
BEGIN
  POPUP ""
  BEGIN
	MENUITEM "&Ändra",                    ID_EDIT_MODIFY
	MENUITEM "Ändra binärt data",         ID_EDIT_MODIFY_BIN
	MENUITEM SEPARATOR
	MENUITEM "&Ta bort\tDel",             ID_EDIT_DELETE
	MENUITEM "&Byt namn",                 ID_EDIT_RENAME
  END
  POPUP ""
  BEGIN
        POPUP "&Ny"
        BEGIN
            MENUITEM "Ny&ckel",                       ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "&Strängvärde",                  ID_EDIT_NEW_STRINGVALUE
            MENUITEM "&Binärt värde",                 ID_EDIT_NEW_BINARYVALUE
            MENUITEM "&DWORD-värde",                  ID_EDIT_NEW_DWORDVALUE
            MENUITEM "&Flersträngsvärde",             ID_EDIT_NEW_MULTI_STRINGVALUE
        END
        MENUITEM SEPARATOR
        MENUITEM "&Ta bort\tDel",                ID_EDIT_DELETE
        MENUITEM "&Byt namn\tF2",                ID_EDIT_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Exportera...",                ID_EDIT_EXPORT
        MENUITEM "&Kopiera nyckelnamn",          ID_EDIT_COPYKEYNAME
        MENUITEM SEPARATOR
        MENUITEM "&Sök\tCtrl+F",                 ID_EDIT_FIND, GRAYED
  END
END


/*
 * Dialog
 */

IDD_EXPORT_TEMPLATE DIALOG  50, 50, 278, 54
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS |
    WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "&Exportera register", IDC_EXPORT_BASE, 6, 6, 266, 42, WS_GROUP
    AUTORADIOBUTTON "&Allt", IDC_EXPORT_ALL, 12, 15, 244, 12
    AUTORADIOBUTTON "&Markerad del:", IDC_EXPORT_SELECTED, 12, 30, 70, 12
    EDITTEXT IDC_EXPORT_PATH, 82, 30, 184, 12
END

IDD_FIND DIALOG  22, 17, 220, 85
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Sök"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Sök:",IDC_STATIC,5,7,119,8
EDITTEXT        IDC_VALUE_NAME,40,5,125,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
LTEXT           "Sök i:",IDC_STATIC,5, 22, 119, 8
CHECKBOX        "Nycklar", IDC_FIND_KEYS, 5, 34, 90, 10, WS_TABSTOP | WS_GROUP | BS_AUTOCHECKBOX
CHECKBOX        "Värdenamn", IDC_FIND_VALUES, 5, 46, 90, 10, WS_TABSTOP | BS_AUTOCHECKBOX
CHECKBOX        "Värdeinnehåll", IDC_FIND_CONTENT, 5, 58, 90, 10, WS_TABSTOP | BS_AUTOCHECKBOX
CHECKBOX        "Enbart hela strängar", IDC_FIND_WHOLE, 5, 70, 90, 10, WS_TABSTOP | BS_AUTOCHECKBOX
DEFPUSHBUTTON   "Sök",IDOK,175,5,40,15,WS_GROUP
PUSHBUTTON      "Stäng",IDCANCEL,175,24,40,15, WS_GROUP
END

IDD_ADDFAVORITE DIALOG  22, 17, 210, 55
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Lägg till favorit"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Namn:",IDC_STATIC,5,5,119,8
EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
DEFPUSHBUTTON   "OK",IDOK,120,36,40,15,WS_GROUP
PUSHBUTTON      "Avbryt",IDCANCEL,165,36,40,15,WS_GROUP
END

IDD_DELFAVORITE DIALOG  22, 17, 210, 90
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Ta bort favorit"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Namn:",IDC_STATIC,5,5,119,8
LISTBOX         IDC_NAME_LIST,5,15,200,52, WS_BORDER | WS_TABSTOP | LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL
DEFPUSHBUTTON   "OK",IDOK,120,72,40,15,WS_GROUP
PUSHBUTTON      "Avbryt",IDCANCEL,165,72,40,15,WS_GROUP
END

IDD_EDIT_STRING DIALOG  22, 17, 210, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Redigera sträng"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Värdenamn:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Värdedata:",IDC_STATIC,5,30,119,8
    EDITTEXT        IDC_VALUE_DATA,5,40,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,120,56,40,15,WS_GROUP
    PUSHBUTTON      "Avbryt",IDCANCEL,165,56,40,15,WS_GROUP
END

IDD_EDIT_DWORD DIALOG  22, 17, 210, 100
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_CAPTION | WS_SYSMENU
CAPTION "Redigera DWORD"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Värdenamn:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Värdedata:",IDC_STATIC,5,30,90,8
    EDITTEXT        IDC_VALUE_DATA,5,40,90,12, WS_BORDER | WS_TABSTOP
    GROUPBOX        "Bas", IDC_DWORD_BASE, 120, 30, 85, 37, BS_GROUPBOX
    AUTORADIOBUTTON "Hexadecimal", IDC_DWORD_HEX, 130, 40, 60, 10, WS_TABSTOP
    AUTORADIOBUTTON "Decimal", IDC_DWORD_DEC, 130, 52, 60, 10, WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,120,78,40,15,WS_GROUP
    PUSHBUTTON   "Avbryt",IDCANCEL,165,78,40,15,WS_GROUP
END

IDD_EDIT_BINARY DIALOG  22, 17, 170, 100
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_CAPTION | WS_SYSMENU
CAPTION "Redigera binär"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Värdenamn:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,160,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Värdedata:",IDC_STATIC,5,30,90,8
    CONTROL         "",IDC_VALUE_DATA,"HexEdit",WS_TABSTOP,5,40,160,40
    DEFPUSHBUTTON   "OK",IDOK,80,83,40,15,WS_GROUP
    PUSHBUTTON   "Avbryt",IDCANCEL,125,83,40,15,WS_GROUP
END

IDD_EDIT_MULTI_STRING DIALOG  22, 17, 210, 175
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Redigera flersträng"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Värdenamn:",IDC_STATIC,5,5,119,8
    EDITTEXT        IDC_VALUE_NAME,5,15,200,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL| WS_DISABLED
    LTEXT           "Värdedata:",IDC_STATIC,5,30,119,8
    EDITTEXT        IDC_VALUE_DATA,5,40,200,112, WS_BORDER | WS_TABSTOP | WS_HSCROLL | WS_VSCROLL | ES_MULTILINE | ES_WANTRETURN
    DEFPUSHBUTTON   "OK",IDOK,120,156,40,15,WS_GROUP
    PUSHBUTTON   "Avbryt",IDCANCEL,165,156,40,15,WS_GROUP
END

/*
 * String Table
 */

STRINGTABLE
BEGIN
    IDS_LIST_COLUMN_NAME    "Namn"
    IDS_LIST_COLUMN_TYPE    "Typ"
    IDS_LIST_COLUMN_DATA    "Data"
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Registereditorn"
END

STRINGTABLE
BEGIN
    ID_REGISTRY_MENU        "Innehåller kommandon för att arbeta med hela registret"
    ID_EDIT_MENU            "Innehåller kommandon för att redigera värden och nycklar"
    ID_VIEW_MENU            "Innehåller kommandon för att anpassa registerfönstret"
    ID_FAVORITES_MENU       "Innehåller kommandon för att få tillgång till nycklar som används ofta"
    ID_HELP_MENU            "Innehåller kommandon för att visa hjälp och information om Registerredigering"
    ID_EDIT_NEW_MENU        "Innehåller kommandon för att skapa nya nycklar eller värden"
END

STRINGTABLE
BEGIN
    ID_EDIT_MODIFY          "Ändrar värdets data"
    ID_EDIT_NEW_KEY         "Lägger till en ny nyckel"
    ID_EDIT_NEW_STRINGVALUE "Lägger till ett nytt strängvärde"
    ID_EDIT_NEW_BINARYVALUE "Lägger till ett nytt binärt värde"
    ID_EDIT_NEW_DWORDVALUE  "Lägger till ett nytt dubbelords-värde"
    ID_EDIT_NEW_MULTI_STRINGVALUE "Lägger till ett nytt flersträngsvärde"
    ID_REGISTRY_IMPORTREGISTRYFILE "Importerar en textfil till registret"
    ID_REGISTRY_EXPORTREGISTRYFILE
                            "Exporterar hela eller delar av registret till en textfil"
    ID_REGISTRY_CONNECTNETWORKREGISTRY
                            "Ansluter till registret på en annan dator"
    ID_REGISTRY_DISCONNECTNETWORKREGISTRY
                            "Kopplar ner från registret på en annan dator"
    ID_REGISTRY_PRINT       "Skriver ut hela eller delar av registret"
/*    ID_HELP_HELPTOPICS      "Visar hjälp för Registerredigering" */
    ID_HELP_ABOUT           "Visar programinformation, versionsnummer samt copyright"
END

STRINGTABLE
BEGIN
    ID_REGISTRY_EXIT        "Avslutar Registereditorn"
    ID_FAVORITES_ADDTOFAVORITES "Lägger till nycklar i favoritlistan"
    ID_FAVORITES_REMOVEFAVORITE "Tar bort nycklar från favoritlistan"
    ID_VIEW_STATUSBAR       "Visar eller döljer statusraden"
    ID_VIEW_SPLIT           "Ändrar position för avdelaren mellan de två rutorna"
    ID_VIEW_REFRESH         "Uppdaterar fönstret"
    ID_EDIT_DELETE          "Tar bort markerat data"
    ID_EDIT_RENAME          "Byter namn på markerat data"
    ID_EDIT_COPYKEYNAME     "Kopierar namnet på den valda nyckeln till utklipp"
    ID_EDIT_FIND            "Söker en textsträng i nyckel, värde eller data"
    ID_EDIT_FINDNEXT        "Söker nästa träff till texten specificerad i föregående sökning"
    ID_EDIT_EXPORT          "Exporterar vald gren av registret till en textfil"
END

STRINGTABLE
BEGIN
    IDS_ERROR		    "Fel"
    IDS_BAD_KEY		    "Kunde inte läsa nyckeln «%s»"
    IDS_BAD_VALUE           "Kunde inte läsa värdet «%s»"
    IDS_UNSUPPORTED_TYPE    "Kan inte redigera nyckler av typen «%u»"
    IDS_TOO_BIG_VALUE       "Värdet är for stort (%u)"
    IDS_DELETE_BOX_TITLE    "Bekräfta borttagning av värde"
    IDS_DELETE_BOX_TEXT     "Vill du verkligen ta bort värdet «%s»?"
    IDS_DELETE_BOX_TEXT_MULTIPLE "Vill du verkligen ta bort dessa värden?"
    IDS_NEWKEY              "Ny nyckel #%d"
    IDS_NEWVALUE            "Nytt värde #%d"
    IDS_NOTFOUND            "Hittade inte den sökta strängen «%s»"
END

STRINGTABLE
BEGIN
    IDS_FILEDIALOG_IMPORT_TITLE   "Importera registerfil"
    IDS_FILEDIALOG_EXPORT_TITLE   "Exportera registerfil"
    IDS_FILEDIALOG_FILTER         "Registerfiler\0*.reg\0Win9x-/NT4-registerfiler (REGEDIT4)\0*.reg\0Alla filer (*.*)\0*.*\0\0"
END

STRINGTABLE
BEGIN
    IDS_REGISTRY_ROOT_NAME           "Min dator"
    IDS_REGISTRY_DEFAULT_VALUE       "(Standard)"
    IDS_REGISTRY_VALUE_NOT_SET       "(värde ej angivet)"
    IDS_REGISTRY_VALUE_CANT_DISPLAY  "(kunde inte visa värde)"
    IDS_REGISTRY_UNKNOWN_TYPE        "(okänt %d)"
END

/*****************************************************************/

/*
 * TEXTINCLUDE
 */

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

/*****************************************************************/
